h2.title {
  margin-bottom: 0.00em;
}

h4.subtitle {
  margin-top:    0.00em;
  margin-bottom: 0.00em;
  color:         grey;
}

p.ru {
  text-indent:   5%;
  margin-top:    0.25em;
  margin-bottom: 0.00em;
}

p.sig {
  text-align:    right;
  margin-top:    0.25em;
  margin-bottom: 0.00em;
}

p.footnote {
  text-align:    5%;
  margin-top:    0.25em;
  margin-bottom: 0.00em;
  font-size:     10pt;
}

img {
  border-radius: 10px;
}

figure.image {
  width:         38%;
  margin-top:    1em;
  margin-bottom: 0em;
  margin-left:   1em;
  margin-right:  1em;
}

figure.imagecentre {
  display:       block;
  width:         62%;
  margin-top:    1em;
  margin-bottom: 0em;
  margin-left:   auto;
  margin-right:  auto;
}

figure.epigraph {
  font:          400 14px/1.5 "PT Serif", serif;
  display:       block;
  margin-top:    1em;
  margin-bottom: 1em;
  margin-left:   45%;
  margin-right:  15%;
}

figure.poem {
  display:       block;
  margin-top:    1em;
  margin-bottom: 1em;
  margin-left:   20%;
  margin-right:  20%;
}

figure.video {
  display:       block;
  margin-top:    1em;
  margin-bottom: 1em;
  width:         100%;
  text-align:    center;
}

figcaption {
  margin-top: 0.5em;
}

dl {
  display:       block;
  margin-top:    1em;
  margin-bottom: 1em;
  margin-left:   0;
  margin-right:  0;
}

dt {
  display:     block;
  font-weight: bold;
}

dd {
  display:       block;
  margin-left:   7.5%;
  margin-bottom: 0.5em;
}

blockquote {
  font:         400 16px/1.5 "PT Serif", serif;
  color:       #111;
  border-left:  none;
  margin-left:  5%;
  margin-right: 5%;
}

span.red {
  color: red;
}
