---
layout: default
title:  Дневник
order:  11
---

<script type="text/javascript">
<!--
  function toggle_visibility(id) {
    var e = document.getElementById(id);
    if (e.style.display == 'block')
      e.style.display = 'none';
    else
      e.style.display = 'block';
  }
//-->
</script>

<div class="blog">

<a href="#contents" onclick="toggle_visibility('contents');"><h2>Содержание&nbsp;<i style="text-indent: 0;" class="fa fa-angle-double-right" aria-hidden="true"></i></h2></a>

<div id="contents" style="display: none;">
  <ol reversed>
  <!-- print year as header (group posts by year) -->
  {% assign year0  = 1982 %}
  {% for post in site.posts %}
    {% assign year1 = post.date | date: "%Y" %}
    {% if year0 != year1 %}
      <h3 style="margin-top: 1.5em;">{{ year1 }}</h3>
      {% assign year0 = year1 %}
    {% endif %}
    <li>

    <!-- compose post title: title and subtitle -->
    {% capture title %}
      {% if post.subtitle %}
        {{ post.title }}, {{ post.subtitle }}
      {% else %}
        {{ post.title }}
      {% endif %}
    {% endcapture %}

    <!-- compose date -->
    {% assign day = post.date | date: "%-d" %}
    {% assign no  = post.date | date: "%-m" %}
    {% case no %}
      {% when  '1' %}{% assign month = "января"   %}
      {% when  '2' %}{% assign month = "февраля"  %}
      {% when  '3' %}{% assign month = "марта"    %}
      {% when  '4' %}{% assign month = "апреля"   %}
      {% when  '5' %}{% assign month = "мая"      %}
      {% when  '6' %}{% assign month = "июня"     %}
      {% when  '7' %}{% assign month = "июля"     %}
      {% when  '8' %}{% assign month = "августа"  %}
      {% when  '9' %}{% assign month = "сентября" %}
      {% when '10' %}{% assign month = "октября"  %}
      {% when '11' %}{% assign month = "ноября"   %}
      {% when '12' %}{% assign month = "декабря"  %}
    {% endcase %}

    <!-- print contents item -->
    <a href="{{ post.url }}">{{ title }} ({{ day }} {{ month }})</a>
    </li>
  {% endfor %}
  </ol>
</div>

<ul class="post-list">
  <!-- For each post in paginator -->
  {% for post in paginator.posts %}
    <li>
	<!-- Display post title -->
	<h2 class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
	<!-- Display post subtitle -->
	{% if post.subtitle %}
	  <h4 class="subtitle">{{ post.subtitle | escape }}</h4>
	{% endif %}
	<!-- Display excerpt -->
	{% if post.content contains site.excerpt_separator %}
	  {{ post.excerpt }}
	  <p class="ru"><a href="{{ post.url | relative_url }}">Продолжить чтение&nbsp;<i style="text-indent: 0" class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
	{% else %}
	  {{ post.content }}
	{% endif %}
    </li>
  {% endfor %}
</ul>

<!-- Pagination links -->
<div class="pagination" align="center">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
  {% else %}
    <span class="previous"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></span>
  {% endif %}
  <span class="page_number">Страница {{ paginator.page }} из {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
  {% else %}
    <span class="next"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
  {% endif %}
</div>

<p class="rss-subscribe"><a href="{{ "/feed.xml" | relative_url }}"><i class="fa fa-rss" aria-hidden="true"></i>&nbsp;Подписаться на обновления</a>.</p>

</div>
