<style>
  .reverse {
    unicode-bidi: bidi-override;
    direction:    rtl;
  }
</style>

<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
	    <li><i class="fa fa-envelope" aria-hidden="true"></i> <span class="reverse">{{ site.email }}<span></li>
            {% endif %}
            {% if site.phone %}
            <li><i class="fa fa-phone" aria-hidden="true"></i> <span class="reverse">{{ site.phone }}</span></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <table class="social-media-list">
	  {% if site.gitlab_username %}
	  <tr>
	    <td style="text-align:center"><i class="fab fa-gitlab" aria-hidden="true"></i></td>
	    <td><a href="https://gitlab.com/{{ site.gitlab_username }}">GitLab</a></td>
          </tr>
	  {% endif %}
	  {% if site.bitbucket_username %}
          <tr>
	    <td style="text-align:center"><i class="fab fa-bitbucket" aria-hidden="true"></i></td>
            <td><a href="https://bitbucket.org/{{ site.bitbucket_username }}">BitBucket</a></td>
	  </tr>
	  {% endif %}
	  {% if site.github_username %}
          <tr>
	    <td style="text-align:center"><i class="fab fa-github"></i></td>
	    <td><a href="https://github.com/{{ site.github_username }}">GitHub</a></td>
	  </tr>
	  {% endif %}
	  {% if site.linkedin_username %}
          <tr>
	    <td style="text-align:center"><i class="fab fa-linkedin"></i></td>
	    <td><a href="https://linkedin.com/in/{{ site.linkedin_username }}">LinkedIn</a></td>
          </tr>
	  {% endif %}
	  {% if site.stackoverflow_username %}
          <tr>
	    <td style="text-align:center"><i class="fab fa-stack-overflow"></i></td>
	    <td><a href="https://stackoverflow.com/users/2800329/{{ site.stackoverflow_username }}">StackOverflow</a></td>
	  </tr>
	  {% endif %}
	  {% if site.publons_username %}
          <tr>
            <td style="text-align:center">
	      <span class="icon">{% include icon-publons.svg %}</span>
	    </td>
	    <td><a href="https://publons.com/researcher/1439967/{{ site.publons_username }}">Publons</a></td>
	  </tr>
	  {% endif %}
        </table>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
