---
layout:      post
title:      "Суперобщительность"
date:        2010-10-10, 01:03:00 +0000
alpha2:      gb
location:   "Манчестер, Великобритания"
categories: [дневник, Манчестер, программирование, шахматы]
---

<figure class="image" style="float: left">
  <a href="https://ru.wikipedia.org/wiki/Сумо">
    <img src="{{ site.url }}/assets/photo/sumo-fighters.jpg" alt="Мы&mdash;борцы сумо"></a>
  <figcaption><cite>Мы&mdash;борцы сумо</cite></figcaption>
</figure>

<p class="ru">Всю последнюю неделю я&nbsp;занимался подготовкой плаката
к&nbsp;внутренней институтской конференции. Я&nbsp;увлечённо работал
с&nbsp;утра до&nbsp;вечера без долгих перерывов. Плакат получился отменный.
По&nbsp;совету друзей, я&nbsp;даже использовал <a href="http://www.artlebedev.ru/kovodstvo/sections/120/">висячую пунктуацию</a>, так сильно
пропагандируемую <a href="http://www.artlebedev.ru/">Артемием Лебедевым</a>. Мне очень нравится работать
с&nbsp;текстом, символами, схемами и&nbsp;графикой. Используйте <a href="http://ru.wikipedia.org/wiki/LaTeX">LaTeX</a>
[Лэй-ТэК]! Время пролетело незаметно. В&nbsp;результате я&nbsp;превзошёл самого
себя, нынешний плакат вышел гораздо лучше предыдущего. Хочется выиграть приз
за&nbsp;лучшую работу, но&nbsp;для себя я&nbsp;его уже получил.</p>

<!--more-->

<p class="ru">В&nbsp;офисе жарко. <a href="http://www.cs.man.ac.uk/~fumie">Хуми</a> держит калорифер включённым.
Но&nbsp;я&nbsp;не&nbsp;в&nbsp;обиде. Сидеть рядом с&nbsp;ней для меня большая
честь. Я&nbsp;многому у&nbsp;неё учусь. Она заряжает усердием
и&nbsp;трудолюбием. Атмосфера домашняя. Захотел&mdash;вскипятил чайник,
захотел&mdash;вышел проветриться и&nbsp;пройтись несколько кругов вокруг
здания.</p>

<p class="ru">Вроде&nbsp;бы выздоровел, но&nbsp;ни&nbsp;на&nbsp;тренировки
по&nbsp;плаванию, ни&nbsp;по&nbsp;настольному теннису ещё не&nbsp;ходил.
Накапливаю энергию. В&nbsp;последнее время, навёрстываю упущенное во&nbsp;время
болезни&mdash;почти каждый вечер выхожу в&nbsp;люди, общаюсь в&nbsp;интенсивном
режиме. В&nbsp;среду в&nbsp;обед мы&nbsp;посещали Tai&nbsp;Wu, китайский
ресторан с&nbsp;кантонской кухней. Говорят, в&nbsp;выходные днём, когда меньше
клиентов, в&nbsp;маленьких тележках там развозят Дим Сам&mdash;разнообразные
закуски, подаваемые в&nbsp;круглых соломенных лукошках. Это гонконгская
традиция. Я&nbsp;сразу вспомнил этот город&mdash;смог, шум воды, звёздные
паромы, тощие двухэтажные трамваи, ипподром и&nbsp;главное огни, огни ночного
города. Ночные запахи, и&nbsp;оживлённость, и&nbsp;настоящую лёгкость
путешественника.</p>

<p class="ru">В&nbsp;четверг вечером общество студентов-электротехников
приглашало на&nbsp;индиское карри, и&nbsp;я&nbsp;познакомился
с&nbsp;Францом&mdash;взрослым студентом магистратуры. Он&nbsp;плотный австриец,
носит очки и&nbsp;входит в&nbsp;число 120 лучших игроков в&nbsp;<a href="http://ru.wikipedia.org/wiki/Сквош">сквош</a>
по&nbsp;всей стране. &laquo;Ни&nbsp;одна австрийка не&nbsp;может меня
победить&raquo;. А&nbsp;потом мы&nbsp;прогуливались по&nbsp;<i>Индийской миле</i> (Curry Mile), ели
<i>джалэби</i>&mdash;индийскую сладость, пахучую, толстую, жареную в&nbsp;масле
оранжевую вермишель и&nbsp;<i>пан</i>&mdash;индийскую закуску, завёрнутые
в&nbsp;большой лист мяты специи и&nbsp;сладости, по&nbsp;вкусу чем-то похожие
на&nbsp;зубную пасту.</p>

<p class="ru">Вчера мы&nbsp;ездили в&nbsp;Тимперли, деревушку
на&nbsp;юго-западе от&nbsp;Манчестера, к&nbsp;моему китайскому коллеге
на&nbsp;ужин. Они только что купили новый дом, <a href="http://dic.academic.ru/dic.nsf/enc2p/359790">стелют</a> тёмный древесный пол
и&nbsp;красят в&nbsp;белый цвет стены. Мы&nbsp;ели большие пельмени
с&nbsp;начинкой из&nbsp;баранины и&nbsp;абрикосов в&nbsp;толстых конвертиках
теста. Это блюдо популярно в&nbsp;северном Китае. А&nbsp;потом играли
в&nbsp;шахматы, и&nbsp;я&nbsp;выиграл обе партии. Странно, я&nbsp;никогда
не&nbsp;считал себя хорошим шахматистом, и&nbsp;мне ещё ни&nbsp;разу
не&nbsp;удавалось обыграть отца (и&nbsp;вряд&nbsp;ли удастся). Великодушие
победителя. Главное идти вперёд, стоять на&nbsp;своём и&nbsp;никогда
не&nbsp;сдаваться. Шахматы&mdash;это маленькая жизнь. Кажется, я&nbsp;научился
побеждать скромно. Очень важно не&nbsp;обидеть и&nbsp;не&nbsp;унизить победой
соперника.</p>

<p class="ru">А&nbsp;ещё я&nbsp;подзадорил двоих студентов докторантуры, коллег
из&nbsp;своего офиса, и&nbsp;ночью мы&nbsp;подали заявку на&nbsp;участие
в&nbsp;двадцати четырёх часовом <a href="http://www.ieee.org/membership_services/membership/students/competitions/xtreme/index.html">соревновании по&nbsp;программированию</a>.
В&nbsp;субботу, ровно через две недели, мы&nbsp;втроём будем биться
не&nbsp;на&nbsp;жизнь, а&nbsp;насмерть против стрелки часов. Нужно будет решить
около 16&nbsp;задач разной степени сложности. Сначала я&nbsp;был очень уверен
в&nbsp;себе и&nbsp;своих силах, но&nbsp;после того как я&nbsp;просмотрел
задания и&nbsp;узнал, что разрешено писать программы только на&nbsp;С,
С++&nbsp;и&nbsp;Java. Засомневался. Но&nbsp;мы&nbsp;не&nbsp;сдаёмся. Пока
не&nbsp;знаю, как это будет выглядеть, кто в&nbsp;нашей команде будет чем
заниматься, но&nbsp;завтра пойду в&nbsp;библиотеку, занимать книги
по&nbsp;алгоритмам и&nbsp;справочники по&nbsp;С и&nbsp;Java. Не&nbsp;решил, что
выбрать&nbsp;С или Java. Ведь я&nbsp;до&nbsp;мозга костей <a href="http://ru.wikipedia.org/wiki/Фортран">Фортрановый</a> мальчик.
Соревнования очень заразительны, в&nbsp;офисе мы&nbsp;оживлённо
переговаривались, отвлекались, нервно смеялись. Никогда не&nbsp;думал, что
во&nbsp;мне так силён дух соперничества. Помню первую школьную олимпиаду:
мы&nbsp;писали на&nbsp;<a href="http://ru.wikipedia.org/wiki/Borland_Pascal">Паскале</a> и&nbsp;я&nbsp;тогда ничего не&nbsp;решил.
А&nbsp;мой друг составил программу короче и&nbsp;быстрее, чем сами организаторы
соревнований. Другой мой одноклассник, просто вбил ответы в&nbsp;программу.
Алгоритма не&nbsp;было. Если введёшь заданные в&nbsp;примере параметры,
получишь указанный в&nbsp;примере ответ. В&nbsp;остальных случаях код выдаст
ошибку. А&nbsp;теперь мне нравится программировать, и&nbsp;особенно придумывать
алгоритмы.</p>

<p class="ru">Утром я&nbsp;наводил порядок в&nbsp;бумагах.
А&nbsp;в&nbsp;полдень мы&nbsp;устроили чемпионат по&nbsp;сумо: расстелили
в&nbsp;парке ринг и&nbsp;около трёх часов боролись друг с&nbsp;другом
во&nbsp;взятых напрокат надувных костюмах. Мальчики против девочек
и&nbsp;победители на&nbsp;вылет. Невероятно смешно падать, пыхтеть, толкаться,
просто отодвигаться в&nbsp;сторону, чтобы твой противник сам выбежал
за&nbsp;ринг. В&nbsp;резиновых скафандрах жарко. Нелёгкая это работа, быть
настоящим борцом сумо.</p>

<p class="ru">В&nbsp;Манчестере туманно, город в&nbsp;автомобилях, пробках
и&nbsp;выхлопах. Но&nbsp;ещё не&nbsp;холодно. Город в&nbsp;студентах. Кажется,
отрабатывая кризис и&nbsp;нехватку финансирования, Университет принял
в&nbsp;этом году в&nbsp;три раза больше студентов. В&nbsp;обед толпы идут
по&nbsp;тротуарам, толпы кричат, толпы радуются, толпы обучаются разным наукам.
Как-то поздно вечером я&nbsp;гулял по&nbsp;главной улице. Обычный рабочий день,
но&nbsp;музыка разносится из&nbsp;каждого маленького бара, веселье
первокурсников рвётся из&nbsp;полуподвальных окон. Автобусы привозят всё новых
и&nbsp;новых гуляк. Девочки в&nbsp;платьях из&nbsp;тысячи крошечных блёсток,
китайские студентки с&nbsp;фотоаппаратами, английские студентки бегущие
на&nbsp;вечеринку. Город дышит ночью, он&nbsp;ночью живёт.</p>
