---
layout:      post
title:      "Невыносимая лёгкость бытия"
date:        2010-09-29, 13:14:00 +0000
alpha2:      gb
location:   "Манчестер, Великобритания"
categories: [Декстер, дневник, Дрэппер, математика, поэзия, путешествия, студенты, Хаус]
---

<script type="text/javascript">
<!--
  function toggle_visibility(id) {
    var e = document.getElementById(id);
    if (e.style.display == 'block')
      e.style.display = 'none';
    else
      e.style.display = 'block';
  }
//-->
</script>

<figure class="image" style="float: left">
  <img src="{{ site.url }}/assets/photo/snowdon-betws-y-coed.jpg" alt="...">
  <figcaption><cite>
    Площадка для гольфа</br>Беттис-и-Койд&nbsp;(2010)
  </cite></figcaption>
</figure>

<p class="ru">На&nbsp;выходных я&nbsp;снова играл в&nbsp;крепких Британцев. Прогуливался
без свитера, без куртки. Теперь расплачиваюсь. Стоит только представить, что
ты&nbsp;&laquo;железный человек&raquo; с&nbsp;развитой мускулатурой
и&nbsp;нервами на&nbsp;пружинах, как тебя накрывает одним махом простуда. Дома
невесело, особенно вечерами. Мои герои и&nbsp;собеседники расслабляются
по&nbsp;разному: <a href="http://www.imdb.com/title/tt0412142/">Хаус</a> таблетками викодина, резкими шутками и&nbsp;гонками
на&nbsp;мотоцикле; <a href="http://www.imdb.com/title/tt0773262/">Декстер</a> убивает людей душными майамскими вечерами, под
текилу, под теплый ветер; а&nbsp;<a href="http://www.imdb.com/title/tt0804503/">Дрэппер</a> просто изменяет жене.
А&nbsp;с&nbsp;кем ему поделиться? Разве такая молоденькая жена его поймёт?</p>

<p class="ru">Не&nbsp;считая простуды у&nbsp;меня отличная жизнь. Я&nbsp;переехал
в&nbsp;новое общежитие, в&nbsp;восьми минутах ходьбы от&nbsp;офиса и&nbsp;двух
от&nbsp;бассейна. Я&nbsp;разменял персональный туалет и&nbsp;душ
на&nbsp;немного тишины и&nbsp;еду собственного приготовления. Да, здесь больше
работы и&nbsp;нет ночного портье. Теперь у&nbsp;меня семьдесят пионеров под
присмотром. Команда пионервожатых прекрасная. Люди дружные и&nbsp;готовы
помочь. Первые недели было ощущение лёгкости и&nbsp;азарта. Всё происходило
словно в&nbsp;отпуске. Я&nbsp;драил мебель, раскладывал вещи и&nbsp;выдирал
гвозди из&nbsp;стен и&nbsp;потолка. А&nbsp;вечерами мы&nbsp;играли
в&nbsp;настольный теннис. Я&nbsp;даже купил профессиональную ракетку, прочитав
перед этим всю страницу немецкой википедии о&nbsp;<a href="http://de.wikipedia.org/wiki/Tischtennisschläger">битах</a>. Мы&nbsp;принимали
студентов, четыре напряжённых дня, мы&nbsp;готовили друг другу чай
с&nbsp;молоком, подбадривали устававших. Я&nbsp;тысячу раз объяснял
новоприбывшим китайским девочкам, как пользоваться магнитной картой,
открывающей ворота и&nbsp;двери. Носил чёрную майку с&nbsp;лихой биркой
&laquo;Максим&raquo;. А&nbsp;в&nbsp;приёмной у&nbsp;нас беспорядок
и&nbsp;ажиотаж. Разбросанные вещи постоянно напоминают о&nbsp;летнем
лагере.</p>

<p class="ru">Всё возвращается на&nbsp;круги своя. Кончаются английские приключения.
Манчестер, пора прощаться. Я&nbsp;переместился обратно, в&nbsp;маленькую
комнату с&nbsp;двумя окнами. Снова пошёл на&nbsp;плавание. В&nbsp;субботу
пылесосил компьютер и&nbsp;переносил вещи к&nbsp;Хуми в&nbsp;офис, туда, где
три года назад начинал заниматься докторской.</p>

<p class="ru">Только что читал <a href="http://ru.wikipedia.org/wiki/Чакс,_Александр">Александра Чака</a>. Это наш Маяковский.
Латышский&mdash;изумительный язык. Особенно у&nbsp;Чака:</p>

<figure class="poem">
<p>Uz&nbsp;Ģertrūdes ielas,<br />
pie Mi&scaron;kinska mēbeļu fabrikas,<br />
ejot pilns sāpju,<br />
es&nbsp;panācu<br />
pusmūža vīrieti &mdash;<br />
kādu zemāku ierēdni<br />
vai kāda veikala komiju,<br />
jo&nbsp;bija jau septiņiem pāri<br />
un&nbsp;saule zeltīja palodas<a href="#poem" onclick="toggle_visibility('poem');">...&nbsp;<i style="text-indent: 0" class="fa fa-angle-double-right" aria-hidden="true"></i>
</a></p>

<div id="poem" style="display: none;">
<p>Sejs<br />
nopietns bij tam<br />
līdz drūmumam,<br />
kā&nbsp;kasierim miljonus noskaitot,<br />
kā&nbsp;griezienu ķirurgam iesākot.<br />
Un&nbsp;gāja viņ&scaron;<br />
lēnām,<br />
kā&nbsp;noguris,<br />
as&nbsp;siļķēm un&nbsp;mārciņu cukura,<br />
jo&nbsp;nāca jau ceturtā nedēļa,<br />
kop&scaron; sieva bij viņam mirusi:<br />
sieva &mdash;<br />
mīļā kā&nbsp;saule,<br />
ar&nbsp;matiem<br />
kā&nbsp;kļavu rudeņa lapas<br />
gai&scaron;dzeltēniem,<br />
kop&scaron; bij viņam dzīvoklis<br />
neuzposts,<br />
tuk&scaron;s,<br />
ar&nbsp;durvīm vaļā uz&nbsp;virtuvi,<br />
jo&nbsp;nāca jau ceturtā nedēļa,<br />
kop&scaron; gāja viņ&scaron;<br />
lēnām,<br />
kā&nbsp;noguris,<br />
un&nbsp;nesa,<br />
ar&nbsp;roku atbalstot,<br />
uz&nbsp;labā pleca vēl puisīti,<br />
nesa<br />
kā&nbsp;Kristus Nācarietis<br />
krustu<br />
uz&nbsp;Golgātu.</p>
</div>
</figure>

<p class="ru">Потянуло домой, на&nbsp;Северо-Восток. Потом занимался математикой
и&nbsp;вникал в&nbsp;метод конечных разностей в&nbsp;частотной области
(по&nbsp;английски известный как <a href="http://en.wikipedia.org/wiki/Fdfd">Finite-Difference Frequency-Domain&nbsp;[FDFD]</a>).
В&nbsp;третьей главе великолепно доступной <a href="http://purl.fcla.edu/fcla/etd/CFE0001159">докторской</a> Рампф Реймонд разбирает
алгоритм на&nbsp;части. Радостно читать человека так свободно владеющим языком
математики. Разве не&nbsp;изумительно написать: &laquo;Когда материалы
однородны, уравнение волны сводится к&nbsp;прославленному уравнению
<a href="http://en.wikipedia.org/wiki/Helmholtz_equation">Гельмгольца</a>&raquo;?</p>

$$
\begin{equation}
  \nabla^2 \vec{E} - k_0^2 \epsilon_r \vec{E}= 0
\end{equation}
$$

<p class="ru">В&nbsp;воскресенье мы&nbsp;ездили на&nbsp;гору Сноудон в&nbsp;Уэльсе. День
был солнечный, теплый, но&nbsp;пахло уже по&nbsp;осеннему. В&nbsp;группе
на&nbsp;удивление было много европейцев и&nbsp;особенно немцев и&nbsp;испанцев.
Полдороги я&nbsp;освежал свои знания немецкого. А&nbsp;на&nbsp;экскурсии меня
поразила площадка для гольфа: идиллическое спокойствие, солнце в&nbsp;лицо,
а&nbsp;вокруг горы покрытые лесом, голубое небо и&nbsp;внизу маленькая фигурка
гольфиста с&nbsp;циллиндриком клюшек.</p>
