---
layout:      post
title:      "FreeBSD 8.1"
date:        2010-11-30, 21:03:00 +0000
alpha2:      gb
location:   "Манчестер, Великобритания"
categories: [Android, FreeBSD, UNIX]
---

<p class="ru">Сегодня утром с&nbsp;третьей попытки мне наконец-то удалось
установить последнюю версию <a href="https://www.freebsd.org">FreeBSD 8.1</a>&nbsp;с
<a href="https://www.x.org/wiki/">Xorg&nbsp;7.5</a>
и&nbsp;<a href="https://kde.org">KDE 4.4.5</a>. Это долгая история. Однажды
я&nbsp;заметил, что мой ноутбук перегревается, вентилятор постоянно работает
в&nbsp;полную силу, а&nbsp;температура процессора не&nbsp;двигается
с&nbsp;отметки 78. Тогда я&nbsp;начал отключать графические эффекты в&nbsp;<a href="https://kde.org">KDE</a>.
Убрал <a href="http://www.compiz.org">Compiz</a>. Но&nbsp;это не&nbsp;помогло. Параллельно этим событиям <a href="https://www.opensuse.org">openSUSE</a>
разрастался в&nbsp;размерах и&nbsp;требованиях к&nbsp;ресурсам. Плюс настало
время более детально изучить <a href="https://www.opengroup.org/membership/forums/platform/unix">UNIX</a>. Ещё несколько недель назад у&nbsp;меня
появился <a href="https://en.wikipedia.org/wiki/HTC_Touch_HD">HTC&nbsp;Blackstone</a>. Чтобы разблокировать телефон и&nbsp;установить
<a href="https://www.android.com">Android</a>, понадобился <a href="https://en.wikipedia.org/wiki/Windows_XP">Windows&nbsp;XP</a>. Всё это привело к&nbsp;испытаниям <a href="https://www.freebsd.org">FreeBSD</a>. <a href="https://en.wikipedia.org/wiki/HTC_Touch_HD">HTC</a>
я&nbsp;раскодировал и&nbsp;записал <a href="https://www.android.com">Android</a> и&nbsp;даже перенёс на&nbsp;него все
контакты. Но&nbsp;настроить его дальше, пока нет времени.</p>
