---
layout:      post
title:      "Подводный мир"
date:        2010-10-17, 00:59:00 +0000
alpha2:      gb
location:   "Манчестер, Великобритания"
categories: [дневник, карьера, покупки, программирование, gnuplot, MATLAB]
---

<figure class="imagecentre">
  <img src="http://1.bp.blogspot.com/_5RKCuHh96m8/TLo5gfDqiKI/AAAAAAAAACs/nRd0YiLx71c/s320/swimming_pool_underwater.jpg" alt="Фото: бассейн под водой">
  <figcaption><cite>
    Бассейн под водой
  </cite></figcaption>
</figure>

<p class="ru">Неделя прошла незаметно. Хотя далась нелегко. Я&nbsp;работал
из&nbsp;под палки, уговаривал себя, боролся с&nbsp;собой, словно под водой.
Неясные доносились звуки, кружилась голова и&nbsp;движения были медленные как
во&nbsp;сне. Красные глаза. Жёлтое лицо. Однажды, когда Хуми разговаривала
с&nbsp;дочерью по&nbsp;телефону, я&nbsp;подумал, неужели я&nbsp;перестал
понимать английский, и&nbsp;теперь любая речь будет звучать как японский?</p>

<!--more-->

<p class="ru">Мне снилось, что у&nbsp;нас уже во&nbsp;второй раз угнали
машину&mdash;новый чёрный джип BMW. Было очень обидно, я&nbsp;волновался
и&nbsp;явственно помнил, как мне нравился этот элегантный автомобиль. Как мягка
была любая поездка. Все лампочки, все дворники, блеск вымытого капота, тиканье
часов, рычажки, регуляторы радио и&nbsp;зелёная подсветка. Было лето. Тихо
склонялись над детской площадкой ивы. По&nbsp;рельсам вдали кто-то шёл
с&nbsp;озера. Нужно было забираться на&nbsp;вагоны и&nbsp;спрыгивать, чтобы
пройти сквозь длинные годами ночевавшие здесь составы. А&nbsp;во&nbsp;дворе
в&nbsp;темноте стояли ребята в&nbsp;кожаных куртках, курили и&nbsp;сплёвывали
на&nbsp;асфальт.  Я&nbsp;мог быть одним из&nbsp;них, но&nbsp;не&nbsp;стал.</p>

<figure class="video">
<iframe width="560" height="315"
	src="https://www.youtube.com/embed/MfsSHLINzW8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</figure>

<p class="ru">Я&nbsp;планировал эксперименты, исчертил десятки альбомных
листов. Создавал и&nbsp;запускал новые среды для распространения
электромагнитных волн. Занял все возможные компьютеры под тесты. А&nbsp;вчера
допоздна пытался рисовать в&nbsp;<a href="http://www.mathworks.com/products/matlab/">MATLAB</a>&rsquo;е графики. Но&nbsp;матричная
лаборатория мне не&nbsp;подходит. Абсолютно невозможно отображать текст
в&nbsp;<a href="http://www.latex-project.org/">LaTeX</a>&rsquo;е.  Я&nbsp;сдался, в&nbsp;неравной битве <a href="http://www.gnuplot.info/">gnuplot</a>&rsquo;а
против MATLAB&rsquo;а победил маленький, но&nbsp;крепкий gplot.</p>

<p class="ru">В&nbsp;четверг в&nbsp;институте информатики я&nbsp;посетил первую
в&nbsp;этом году карьерную ярмарку. Компаний было не&nbsp;больше пятнадцати,
и&nbsp;в&nbsp;основном банки. Банки нанимают! Следующие выводы: приходить нужно
к&nbsp;началу, желательно не&nbsp;позднее получаса после начала, одеваться
солидно, улыбаться, пожимать руку при знакомстве и&nbsp;главное,
не&nbsp;задавать технических вопросов девочкам. У&nbsp;стендов девочки стоят
не&nbsp;для того, чтобы общаться. CV&nbsp;давно не&nbsp;в&nbsp;моде.
&laquo;Заходите на&nbsp;наш сайт и&nbsp;подавайте заявки через онлайн
систему&raquo;. Большим компаниям человек не&nbsp;интересен. Ты&nbsp;пешка,
оранжевый курносый утёнок, которого посадят на&nbsp;пронумерованную жёрдочку
и&nbsp;станут ждать приплода, каждый день с&nbsp;девяти до&nbsp;пяти.
В&nbsp;который раз приходит мысль, надо самому набирать утят
и&nbsp;командовать. Запомнились только две фирмы&mdash;<a href="http://www.barclays.co.uk/">Barclays</a>
и&nbsp;<a href="http://www.bloomberg.com/">Bloomberg</a>, людьми у&nbsp;стоек и&nbsp;творческим подходом
к&nbsp;оформлению рекламных брошюр. Например, в&nbsp;буклете Barclays стояло
&laquo;новые ощущения&raquo; (feels different), и&nbsp;была вставлена страница
с&nbsp;замшевой аппликацией. А&nbsp;ещё помимо Индии у&nbsp;Barclays есть офис
в&nbsp;Литве с&nbsp;тремястами программистами. Латвия осталась
не&nbsp;у&nbsp;дел.</p>

<p class="ru">Вчера в&nbsp;исследовательской группе был международный день еды. Каждый
готовил национальное блюдо своей страны. Из&nbsp;шестидесяти шести студентов
докторантуры у&nbsp;нас только двое англичан. Выбор был широк. Мой китайский
коллега преподнёс курицу тушёную в&nbsp;Кока-Коле.</p>

<p class="ru">Сегодня я&nbsp;готовился к&nbsp;олимпиаде по&nbsp;программированию, решал
прошлогодние задания. Закончил только шесть упражнений из&nbsp;семнадцати. Буду
писать на&nbsp;Jav&rsquo;e. В&nbsp;обед бродил сомнамбулой по&nbsp;центру, всё
искал вязаный свитер в&nbsp;орнаментах восьмидесятых, но&nbsp;так
и&nbsp;не&nbsp;нашёл. Купил чай в&nbsp;железных баночках, миниатюрные шахматы
на&nbsp;магнитах, продукты питания, фрукты и&nbsp;лезвия. Город бурлит. Дан
старт рождественской лихорадке. День солнечный. Человек-оркестр играет блюз,
футболисты-виртуозы жонглируют мячом, наседают гитары, из&nbsp;каждого магазина
разносится музыка, бабушки пританцовывая делают покупки. Интересно,
к&nbsp;<a href="http://ru.wikipedia.org/wiki/2050_год">2050-му году</a> из-за перенаселённости ходить по&nbsp;магазинам станет уже
невозможно. Мы&nbsp;будем выбирать вещи в&nbsp;интернете, в&nbsp;трёхмерном
изображении, пробуя их&nbsp;наощупь в&nbsp;тактильных перчатках, под лёгкий
комментарий индивидуальных электронных ассистентов. Доставка городским
авиакурьером в&nbsp;течение часа.</p>

<p class="ru">Прочёл первую книгу комиксов про студентов докторантуры <a href="http://www.phdcomics.com/">Piled Higher and Deeper</a> и&nbsp;нашёл удивительную программу для красивой печати веб-страниц <a href="http://princexml.com/">Prince XML</a>.</p>
