---
layout:      post
title:      "Sega Mega Drive"
date:        2010-11-07, 13:30:00 +0000
alpha2:      gb
location:   "Манчестер, Великобритания"
categories: [видеоигры, программирование]
---

<figure class="image" style="float: left">
  <img src="{{ site.url }}/assets/photo/sega-mega-drive.jpg"
       alt="Приставка Sega Mega Drive">
  <figcaption><cite>Приставка Sega Mega Drive.</cite></figcaption>
</figure>

<p class="ru">Несколько дней назад были опубликованы <a href="https://ieeextreme.org/ieeextreme-13-0-global-ranking/">официальные результаты</a>
победителей олимпиады по&nbsp;программированию. Хочется поздравить соседей
с&nbsp;победой&mdash;команды <a href="http://www.bsu.by/">Белорусского государственного университета</a> заняли
первое и&nbsp;девятнадцатое места! А&nbsp;четыре эстонские команды
из&nbsp;<a href="http://ut.ee/">Тартусского университета</a> попали в&nbsp;первую десятку! Молодцы ребята.
Я&nbsp;горд. Наше место пока под вопросом. Судьи ещё не&nbsp;добрались
до&nbsp;трёхсот.</p>

<!--more-->

<p class="ru">Мне очень нравятся названия эстонцев: <a href="http://ru.wikipedia.org/wiki/Sega_Mega_Drive">Sega Mega Drive</a>
и&nbsp;<a href="http://ru.wikipedia.org/wiki/Nintendo_64">Nintendo&nbsp;64</a>. Помните эти приставки? Sega чёрная
с&nbsp;параболическими джойстиками с&nbsp;крупными синими кнопками.
А&nbsp;потом появились новые шестикнопочные джойстики, маленькие аккуратные
с&nbsp;серыми &lsquo;XYZ&rsquo; в&nbsp;верхнем ряду. Никак было
не&nbsp;допроситься у&nbsp;родителей купить Сэгу. Приходилось одалживать
у&nbsp;друзей на&nbsp;два&mdash;три дня или бегать в&nbsp;&laquo;прокат&raquo;
и&nbsp;платить за&nbsp;мигом пролетавший час игр.</p>

<p class="ru">Прокат был маленькой студией, в&nbsp;которой двое делали бизнес:
предприниматель и&nbsp;техник. В&nbsp;комнате стояли шесть телевизоров
с&nbsp;приставками. Можно было арендовать приставку с&nbsp;игрой
на&nbsp;определённое время: полчаса, час, два, три. Ещё картриджи сдавались
в&nbsp;прокат на&nbsp;сутки, двое, неделю. А&nbsp;Лёша, высококвалифицированный
электрик, руководил ребятами. Сам он&nbsp;никогда не&nbsp;играл.
Я&nbsp;не&nbsp;видел. Но&nbsp;главное, ему не&nbsp;было равных в&nbsp;починке
приставок. А&nbsp;однажды он&nbsp;спаял свой собственный джойстик: палочка
с&nbsp;двумя круглыми красными кнопками на&nbsp;прозрачной подставке. Джойстик
был как у&nbsp;настоящих игральных автоматов! Мой друг проводил в&nbsp;прокате
всё своё свободное время. Иногда ему и&nbsp;другим приближённым разрешалось
играть бесплатно. Он&nbsp;знал все спецприёмы и&nbsp;раздачи каждым игроком
в&nbsp;<a href="http://ru.wikipedia.org/wiki/Mortal_Kombat_%28серия_игр%29">Mortal Kombat</a>, а&nbsp;позднее и&nbsp;в&nbsp;<a href="http://ru.wikipedia.org/wiki/Tekken_%28серия_игр%29">Tekken</a>. Чтобы достичь такого
уровня нужна была сноровка и&nbsp;долгие ежедневные тренировки.
Мы&nbsp;покупали списки коронных ударов и&nbsp;кодов. Большие примятые
по&nbsp;краям листы, плохо скопированные из&nbsp;заграничных журналов. Едва
можно было разобрать английский текст. До&nbsp;сих пор помню, как двоюродный
брат привёл меня туда, и&nbsp;мы&nbsp;в&nbsp;первый раз играли в&nbsp;<a href="http://ru.wikipedia.org/wiki/FIFA_%28серия_игр%29">FIFA 94</a>.
А&nbsp;на&nbsp;Nintendo был самый лучший Mortal Kombat
II&nbsp;и&nbsp;превосходный <a href="http://ru.wikipedia.org/wiki/Super_Mario_64">Super Mario&nbsp;64</a>.</p>

<p class="ru">Как-то сразу в&nbsp;одно лето опустел наш двор. Мы&nbsp;перестали
делать круги и&nbsp;квадраты по&nbsp;району на&nbsp;велосипедах. Мы&nbsp;больше
не&nbsp;катались на&nbsp;узких советских четырёхколёсных досках, на&nbsp;Рипах.
Мы&nbsp;забросили футбол и&nbsp;бесподобные картонные планеры
&laquo;утки&raquo;. Какой изящный плавный полёт! Поднимется
на&nbsp;максимальную высоту, застынет на&nbsp;долю секунды и&nbsp;лёгкой
спиралью закружит вниз. А&nbsp;когда-то по&nbsp;двадцать человек собиралось
каждый вечер до&nbsp;слепящей темноты гонять мяч. И&nbsp;была звенящая гибкая
уверенность, что завтра во&nbsp;дворе в&nbsp;тоже время снова будет футбол.
Мы&nbsp;будем играть в&nbsp;одной команде. У&nbsp;нас с&nbsp;братом было
удивительно счастливое детство.</p>

<p class="ru">Вскоре мы&nbsp;пошли на&nbsp;первые компьютерные курсы.
Но&nbsp;вместо программирования играли в&nbsp;<a href="http://ru.wikipedia.org/wiki/Civilization">Цивилизацию</a>, <a href="http://ru.wikipedia.org/wiki/Wolfenstein_3D">Wolfenstein 3D</a>&nbsp;и&nbsp;<a href="https://ru.wikipedia.org/wiki/Doom_(серия_игр)">Doom</a>. Потом появился ноутбук у&nbsp;моего дяди
и&nbsp;мы&nbsp;надоедали ему по&nbsp;выходным, просиживая целые дни
за&nbsp;играми в&nbsp;<a href="http://ru.wikipedia.org/wiki/Dune">Dune</a>, <a href="http://ru.wikipedia.org/wiki/Duke_Nukem_3D">Duke Nukem&nbsp;3D</a>, <a href="http://ru.wikipedia.org/wiki/Transport_Tycoon">Transport Tycoon</a>. Год спустя,
23&nbsp;февраля 1998&nbsp;года, следуя упорным уговорам, второй большой
покупкой после стиральной машины в&nbsp;нашем доме появился первый настоящий
компьютер. Intel Pentium II, 350MHz. Первый компьютер стоил 955&nbsp;долларов.
Когда мы&nbsp;его покупали, я&nbsp;сильно кашлял от&nbsp;волнения и&nbsp;всё
никак не&nbsp;мог остановиться. Был тёмный снежный вечер. В&nbsp;то&nbsp;время
мы&nbsp;уже ходили на&nbsp;серьёзные курсы Fortech и&nbsp;действительно учили
<a href="http://ru.wikipedia.org/wiki/Turbo_Pascal">Borland Pascal&nbsp;7.0</a>. Была короткая мания <a href="http://ru.wikipedia.org/wiki/Heroes_of_Might_and_Magic_III">Heroes of&nbsp;Might and Magic&nbsp;III</a>, и&nbsp;долгая <a href="http://ru.wikipedia.org/wiki/Fallout">Fallout</a> и&nbsp;<a href="http://ru.wikipedia.org/wiki/Fallout_2">Fallout&nbsp;2</a>. Fallout 2&nbsp;до&nbsp;сих
пор остаётся моей самой любимой игрой. Сколько времени и&nbsp;денег было
потрачено на&nbsp;компьютерные игры! Но&nbsp;сколько радости они приносили!
Странно, но&nbsp;где-то в&nbsp;20&nbsp;лет я&nbsp;совсем перестал играть.</p>

<p class="ru">Какая твоя любимая игра?</p>
