---
layout:      post
title:      "Почему у тебя ничего не выходит?"
date:        2010-11-30, 20:55:00 +0000
alpha2:      gb
location:   "Манчестер, Великобритания"
categories: [джаз, Пегги Ли, BBC]
---

<p class="ru">Я&nbsp;пропал на&nbsp;три недели из-за беспрерывных путешествий
на&nbsp;выходных. О&nbsp;них позже. Вчера вечером на&nbsp;<a href="http://www.bbc.co.uk/radio2/">BBC Radio&nbsp;2</a>&nbsp;я
случайно наткнулся на&nbsp;удивительный живой <a href="http://www.bbc.co.uk/iplayer/episode/b00w6ds5/Big_Band_Special_29_11_2010/">джазовый концерт</a> посвящённый
<a href="https://ru.wikipedia.org/wiki/Гудмен,_Бенни">Бенни Гудмену</a>. Особенно меня поразила композиция <a href="https://ru.wikipedia.org/wiki/Пегги_Ли">Пегги Ли</a>&nbsp;&laquo;Почему у&nbsp;тебя ничего не&nbsp;выходит?&raquo; (Peggy Lee &lsquo;<a href="https://www.youtube.com/watch?v=4uTcw_A80Bo">Why don&rsquo;t
you do&nbsp;right</a>&rsquo;). BBC&mdash;это знак качества, тщательная подготовка
и&nbsp;изумительное исполнение.</p>
