---
layout:      post
title:      "Финансовые времена"
date:        2010-10-02, 01:03:00 +0000
alpha2:      gb
location:   "Манчестер, Великобритания"
categories: [дневник, новости, Турция, эмиграция]
---

<figure class="image" style="float: left">
  <img src="{{ site.url }}/assets/photo/financial-times-logo.jpg" alt="Логотип газеты Финансовые времена (Financial Times)">
  <figcaption><cite>
    Логотип газеты Финансовые времена (Financial Times)
  </cite></figcaption>
</figure>

<p class="ru">Спал всего четыре часа. Не&nbsp;мог уснуть и&nbsp;читал избранные
статьи из&nbsp;вчерашней <a href="http://www.ft.com/home/uk">Financial Times</a> об&nbsp;увольнении Лужкова, мера
Москвы (сможет&nbsp;ли теперь Медведев найти и&nbsp;назначить достойного
преемника?) и&nbsp;двойственном состоянии Евросоюза: Франция против открытия
границ и&nbsp;свободного перемещения еврожителей, а&nbsp;Германия наоборот
собирается въезд рабочих разрешить. За&nbsp;2009 год в&nbsp;Германию приехало
2,5 миллиона человек, в&nbsp;Испанию&nbsp;2,3, в&nbsp;Великобританию&nbsp;1,8
и&nbsp;во&nbsp;Францию&nbsp;1,3. По&nbsp;количеству эмигрантов лидируют Румыния
(1,9&nbsp;миллиона), Италия (1,2), Польша (925&nbsp;тысяч) и&nbsp;Португалия
(911&nbsp;тысяч). Жаль, что Лондон мало интересуется Прибалтикой, про нас
данных нет, да&nbsp;и&nbsp;нас всего 6,4&nbsp;миллиона.</p>

<!--more-->

<p class="ru">День выдался продуктивный. Утром мы&nbsp;проводили тренировочные
пожарные эвакуации. Я&nbsp;безжалостно будил студентов, молотил
в&nbsp;их&nbsp;комнатки крепкими красными костяшками. Починил компьютер
в&nbsp;офисе (перегорел блок питания и&nbsp;выбил пробки). Немного изменил
программу, чтобы извлекать данные <a href="https://ru.wikipedia.org/wiki/Магнитно-резонансная_томография">МРТ</a> и&nbsp;делал трёхмерные изображения
человеческого тела в&nbsp;<a href="http://www.mathworks.com/products/matlab/">MATLAB</a>&rsquo;е. Идёт подготовка к&nbsp;плакату
форматом А0. В&nbsp;понедельник к&nbsp;пяти нужно кровь из&nbsp;носа сдать.
Честно работал с&nbsp;девяти до&nbsp;пяти, а&nbsp;потом мы&nbsp;ужинали
с&nbsp;моим новым турецким знакомым. А&nbsp;я&nbsp;задавал вопросы про ислам,
про роль женщины в&nbsp;семье, про геноцид армян. В&nbsp;Турции
30&nbsp;процентов атеистов, жизнь налаживается, общество богатеет,
ортодоксальный ислам отступает. За&nbsp;последние 10&nbsp;лет ВВП вырос
в&nbsp;три раза. Люди могут позволить себе путешествовать и&nbsp;больше
не&nbsp;проводят отпуск в&nbsp;родных городах. Родители уже не&nbsp;так властны
и&nbsp;влиятельны над детьми. А&nbsp;браки создаются по&nbsp;любви
и&nbsp;по&nbsp;обоюдному согласию молодожёнов.</p>
