---
layout:      post
title:      "Печальный герой"
date:        2010-10-19, 20:00:00 +0000
alpha2:      gb
location:   "Манчестер, Великобритания"
categories: [Дрэппер, кадр, композиция]
---

<figure class="imagecentre">
  <img src="{{ site.url }}/assets/photo/drapper-office.jpg" alt="Дон Дрэппер в офисе">
  <figcaption><cite>
    Дон Дрэппер в офисе, кадр из фильма.
  </cite></figcaption>
</figure>

<p class="ru">Обратите внимание на&nbsp;изумительную композицию кадра. Картина
мрачна. Вечер обычного рабочего дня. Бокал виски. Не&nbsp;последний сегодня.
На&nbsp;душе скребут кошки. Симметрия настольных ламп. Только одна из&nbsp;них
зажжена и&nbsp;освещает лицо героя. Всё выдержано в&nbsp;бежевых
и&nbsp;коричневых тонах. Кофейные занавеси тянутся к&nbsp;потолку. Мягкий
кожаный диван. Небрежно разложенные газеты. Беглый обзор в&nbsp;перерывах между
встречами. Огромная пепельница и&nbsp;приготовленные к&nbsp;уходу шляпа,
пальто, чемодан. День кончился уже давно. Дон Дрэппер сидит, пьёт, думает. Дома
его не&nbsp;ждёт никто. Торопиться некуда. В&nbsp;небытие, в&nbsp;неизбежности,
в&nbsp;разломанности жизни. Как всё это починишь? Весь задний фон, сквозь
жалюзи занимает город, нависает Нью-Йорк&mdash;офисные здания в&nbsp;кремовых
квадратах окон. Сколько жертв пришлось принести, чтобы наслаждаться таким
видом?</p>
