---
layout:      post
title:      "Адаптивное предпринимательство по-техасски"
date:        2010-10-01, 00:09:00 +0000
alpha2:      gb
location:   "Манчестер, Великобритания"
categories: [бизнес, Декстер, дневник]
---

<figure class="image" style="float: left">
  <img src="{{ site.url }}/assets/photo/flag-of-texas.png" alt="Флаг Техаса">
  <figcaption><cite>
    Флаг Техаса
  </cite></figcaption>
</figure>

<p class="ru">В&nbsp;Майами облачно и&nbsp;влажно, ветер северо-западный,
6&nbsp;метров в&nbsp;секунду, температура воздуха 21&nbsp;градус цельсия.
Декстер в&nbsp;порядке, отрастил небольшую бородку и&nbsp;слегка отпустил
волосы. Я&nbsp;сказал, что ему идёт. Он&nbsp;лишь слегка улыбнулся
и&nbsp;кивнул. Небоскрёбы на&nbsp;фоне залива. Атлантический океан.
На&nbsp;свежем морском воздухе лучше думается. Полный вперёд. Нам есть куда
ехать. Но&nbsp;о&nbsp;Майами я&nbsp;расскажу вам завтра. А&nbsp;сегодня
мы&nbsp;отправимся в&nbsp;Техас и&nbsp;его столицу, город Остин.</p>

<!--more-->

<p class="ru">Из&nbsp;Остина к&nbsp;нам приезжал <a href="https://entrepreneurthearts.wordpress.com/about-the-authors/tommy-darwin/">Томми Дарвин</a>, чтобы провести
двухчасовой семинар об&nbsp;адаптивном предпринимательстве. Человек скромный,
мягко двигающийся, с&nbsp;круглым лицом, короткой стрижкой, в&nbsp;синей
клетчатой рубашке. После небольшого вступления участники коротко представлялись
и&nbsp;называли свои идеи.</p>

<p class="ru">Первый вопрос который должен задать себе начинающий
предприниматель: что изменит мой продукт или сервис? Томми советовал
тренироваться составлять бизнес планы, составлять как метод, чтобы глубже понять своё
дело. Что&nbsp;же главное в&nbsp;предпринимательстве? Создание дополнительной
ценности, возможность изменить мир, устоявшийся порядок вещей. Дарвин
подчеркивал две основные особенности современного бизнеса: способность
к&nbsp;адаптации и&nbsp;целеустремлённость. &laquo;Умница адаптируется, тупица
идёт напролом&raquo;.</p>

<p class="ru">Культурные нововведения, намеренное сотрудничество
и&nbsp;решительность действий&mdash;три основные аспекта для начала любого
нового дела. Поговорим о&nbsp;каждом в&nbsp;отдельности. Инновации несут
за&nbsp;собой серьёзные изменения в&nbsp;каждодневной жизни, в&nbsp;том как
мы&nbsp;делаем определённые вещи. Самый простой пример&mdash;тактильный экран
iPod Touch. Как&nbsp;же стать новатором? Наблюдать за&nbsp;людьми, смотреть как
они живут и&nbsp;поступают ежедневно. Создавать потребность. А&nbsp;ещё лучше
находить решения уже существующих задач. &laquo;Было&nbsp;бы прекрасно,
если&nbsp;бы мы&nbsp;только могли сделать...&raquo; Многие советуют мыслить
нестандартно, творчески подходить к&nbsp;вопросу, &laquo;думать вне
коробки&raquo;. Но&nbsp;прежде всего стоит задуматься, а&nbsp;что ещё можно
сделать со&nbsp;старой доброй коробкой: поставить одну на&nbsp;другую, согнуть,
перекрасить, скруглить углы?</p>

<p class="ru">Томми настаивал на&nbsp;намеренном сотрудничестве. Нужно
проанализировать себя и&nbsp;выявить свои сильные и&nbsp;слабые стороны.
А&nbsp;потом искать партнёров, которые смогут дополнить недостающие качества.
Когда хорошие футбольные команды готовятся к&nbsp;игре, они просматривают все
предыдущие матчи противника, смотрят, как использовать слабости оппонента.
Лучшие команды всегда начинают с&nbsp;себя, анализируют, как они сами ведут
себя в&nbsp;определённых ситуациях. Основная идея в&nbsp;том, чтобы досконально
знать себя, своё поведение и&nbsp;реакции, чтобы использовать их&nbsp;наиболее
эффективно. Особенно мне понравилась мысль о&nbsp;проектной работе: нужна
группа хорошо знакомых людей, занятых в&nbsp;разных областях деятельности.
Время от&nbsp;времени эта группа собирается и&nbsp;качественно выполняет
проект. Дальше все снова занимаются своим основным делом. Возникает
возможность, новая потребность и&nbsp;группа снова сплачивается для очередного
проекта. Никто ничем не&nbsp;связан. &laquo;Абсолютно верен я&nbsp;только своей
жене, со&nbsp;всеми остальными я&mdash;на&nbsp;свидании&raquo;.</p>

<p class="ru">Решительность действий и&nbsp;целеустремлённость держат работу
на&nbsp;плаву. Здесь всё просто: не&nbsp;сдаваться, лавировать, извиваться,
пусть мелкими шагами, но&nbsp;неуклонно идти вперёд. &laquo;Это словно нести
ведро до&nbsp;краёв наполненное водой через базар в&nbsp;разгар
торговли&raquo;. Оценивайте происходящее, взвешивайте, принимайте его
и&nbsp;идите дальше, наставлял Томми. При этом не&nbsp;забывайте
импровизировать. Немного джаза? Да! Говорят, есть такая передача в&nbsp;Америке
про профессиональных поваров. Они приходят в&nbsp;обычный американский дом
и&nbsp;готовят пятизвёздочные блюда только из&nbsp;того, что нашлось
в&nbsp;холодильнике: банка красных бобов, сельдерей, ореховое масло, кусочек
сыра...</p>

<p class="ru">Не&nbsp;переставайте учиться, учитесь на&nbsp;лету, учитесь
на&nbsp;своих ошибках. Не&nbsp;бойтесь показать свою страсть и&nbsp;выглядеть
слишком увлечённым. В&nbsp;конце концов это ваш бизнес. А&nbsp;как&nbsp;же
обстоит дело с&nbsp;конкурентами? Если их&nbsp;слишком много?
Конкуренты&mdash;это хороший знак того, что область востребована,
изучайте&nbsp;их, сотрудничайте с&nbsp;ними, разбирайте
их&nbsp;на&nbsp;молекулы, чтобы понять, как они работают. Потом Том отвечал
на&nbsp;вопросы слушателей и&nbsp;напоследок, на&nbsp;двадцать шестом часу
своего рабочего дня, посоветовал к&nbsp;прочтению пять книг:</p>

<p><ol>
  <li><a href="http://www.amazon.co.uk/Outside-Innovation-Customers-Co-Design-Companys/dp/0061135909/ref=sr_1_1?s=books&ie=UTF8&qid=1285883702&sr=1-1">Outside Innovation: How Your Customers Will Co-Design Your Company’s Future</a>, Patricia B.&nbsp;Seybold</li>
  <li><a href="http://www.amazon.co.uk/Art-Start-Guy-Kawasaki/dp/1591840562/ref=sr_1_1?s=books&ie=UTF8&qid=1285883813&sr=1-1">The Art of the Start</a>, Guy Kawasaki</li>
  <li><a href="http://www.amazon.co.uk/Ten-Faces-Innovation-Strategies-Heightening/dp/184668031X/ref=sr_1_1?s=books&ie=UTF8&qid=1285883896&sr=1-1">The Ten Faces of Innovation: Strategies for Heightening Creativity</a>, Tom Kelley</li>
  <li><a href="http://www.amazon.co.uk/Plenitude-Creativity-Innovation-Making-Stuff/dp/0262072890/ref=sr_1_4?s=books&ie=UTF8&qid=1285883941&sr=1-4">The Plenitude Creativity, Innovation and Making Stuff: Creativity, Innovation, and Making Stuff (Simplicity: Design, Technology, Business, Life)</a>, Rich Gold</li>
  <li><a href="http://www.amazon.co.uk/Power-Positive-Deviance-Innovators-Leardership/dp/1422110664/ref=sr_1_1?s=books&ie=UTF8&qid=1285884016&sr=1-1">The Power of Positive Deviance: How Unlikely Innovators Solve the World’s Toughest Problems (Leadership Common Good)</a>, Richard Pascale, Jerry Sternin, Monique Sternin</li>
</ol></p>

<p class="ru">Вот и&nbsp;всё ребята! Вы&nbsp;спросите, а&nbsp;как&nbsp;же
Остин? В&nbsp;Остине жарко, жизнь неспешная. Вокруг горы и&nbsp;небольшое
озеро. <a href="http://www.ece.utexas.edu">Факультет электротехники</a> в&nbsp;Техасском университете в&nbsp;Остине
один из&nbsp;лучших в&nbsp;округе. Добро пожаловать, только вы&nbsp;должны
любить жару.</p>
