---
layout:      post
title:      "Простая жизнь"
date:        2010-11-01, 20:38:00 +0000
alpha2:      gb
location:   "Манчестер, Великобритания"
categories: [Жозе Моуриньо, цитаты]
---

<blockquote>
<p class="ru">Если&nbsp;бы мне нужна была простая жизнь, я&nbsp;бы остался
в&nbsp;&ldquo;Порту&rdquo;: красивое голубое кресло, постоянное участие
в&nbsp;Лиге чемпионов, бог и&nbsp;сразу после него&mdash;я.</p>
</blockquote>

<figcaption align="right">
  <cite>Жозе Моуриньо, футбольный тренер, 47&nbsp;лет, Мадрид.</br>
	Русский Esquire, октябрь 2010, Правила Жизни, стр.&nbsp;152.</cite>
</figcaption>
