---
layout:      post
title:      "Всё хорошо. Шато Марго."
date:        2010-10-31, 00:42:00 +0000
alpha2:      gb
location:   "Манчестер, Великобритания"
categories: [дневник, Дрэппер, интересы, Манчестер, Фитцджеральд]
---

<figure class="image" style="float: left">
  <img src="{{ site.url }}/assets/photo/keira-knightley-coco-mademoiselle.jpg" alt="Рекламный плакат Chanel Coco Mademoiselle с Кейрой Найтли.">
  <figcaption><cite>Рекламный плакат Chanel Coco Mademoiselle с Кейрой Найтли.</cite></figcaption>
</figure>

<p class="ru">Всё хорошо. <a href="http://ru.wikipedia.org/wiki/Шато_Марго">Шато Марго</a>. В&nbsp;среду я&nbsp;разбил устоявшийся
распорядок дня: подъём в&nbsp;девять и&nbsp;долгое раскачивание
до&nbsp;полудня. Теперь я&nbsp;встаю в&nbsp;восемь. Делаю одно упражнение
по&nbsp;Jav&rsquo;е и&nbsp;иду в&nbsp;офис. Уже прошёл три с&nbsp;половиной
лабораторные работы. Через неделю начинаем преподавать. Исследования идут очень
хорошо и&nbsp;дают надежды на&nbsp;скорую публикацию. Я&nbsp;не&nbsp;перестаю
рассказывать об&nbsp;этой работе. Но&nbsp;сейчас (наконец-то) она кажется
реальной, как никогда. Веду плотную переписку с&nbsp;Беренджером. Опять начал
плавать, медленно, всего по&nbsp;тысяче двести метров,
но&nbsp;я&nbsp;возвращаюсь. У&nbsp;меня миллион интересов, занятий
и&nbsp;хобби. Я&nbsp;многое пробую впервые и&nbsp;многое бросаю через несколько
недель. Таков бич современного общества. По&nbsp;сравнению с&nbsp;шестидесятыми
(Дрэппер) скорость жизнь увеличилась в&nbsp;десятки раз. Беги,
не&nbsp;оглядываясь, будь эффективным, успешным и&nbsp;при этом не&nbsp;забывай
надышаться, наслаждаться жизнью. Хватай на&nbsp;лету, как бегуны
на&nbsp;длинные дистанции берут мочалки и&nbsp;пластиковые бутылки с&nbsp;водой
с&nbsp;маленьких стендов на&nbsp;поворотах. Но&nbsp;я&nbsp;выявил один
проверенный способ, как выбрать действительно стоящие занятия. Каждый раз
несмотря на&nbsp;скорость и&nbsp;обилие интересов, я&nbsp;возвращаюсь
к&nbsp;настоящему: к&nbsp;книгам, к&nbsp;плаванию, к&nbsp;письму. Это они
и&nbsp;есть.</p>

<!--more-->

<p class="ru">Кончился четвёртый сезон Безумцев. Дрэппер уже такого там
навертел. Не&nbsp;знаю радоваться теперь или переживать. В&nbsp;одном
я&nbsp;абсолютно уверен, никто из&nbsp;зрителей не&nbsp;одобряет, его интриг
с&nbsp;доктором Миллером. Она неестественна во&nbsp;всём, начиная
от&nbsp;крашеных белых волос.</p>

<p class="ru">Сегодня мы&nbsp;устраивали званый ужин в&nbsp;честь успешной
защиты докторской моего друга, пионервожатого со&nbsp;стажем, Кристофера
Ричардсона. Было очень приятно собраться вместе со&nbsp;старой компанией,
наготовить еды и&nbsp;просто пообщаться. Я&nbsp;испытал новый рецепт блюда под
названием &laquo;<a href="http://en.wikipedia.org/wiki/Gratin">Гратин</a>&raquo; пришедший в&nbsp;Англию из&nbsp;Франции
(от&nbsp;французского gratter, скоблить, тереть). По-русски кулинарная техника
запекания для придания блюду толстой хрустящей корки зовётся
&laquo;колерование&raquo;. Интересно, что слово &laquo;гратин&raquo; также
используется для обозначения высшего слоя парижского общества.</p>

<p class="ru">По&nbsp;вечерам перед сном я&nbsp;читаю <a href="http://ru.wikipedia.org/wiki/Фицджеральд,_Фрэнсис_Скотт">Френсиса Скотта
Фитцджеральда</a>. <a href="http://lib.ru/INPROZ/FITSDZHERALD/">Короткие рассказы и&nbsp;эссе</a>. Фитцджеральд очень сильный
романист. Его романы гораздо интереснее и&nbsp;живее рассказов. Но&nbsp;больше
всего меня поразили его документальные работы, его эссе. Как мастерски
он&nbsp;обращается с&nbsp;языком, как правдиво и&nbsp;ярко пишет. Решено,
в&nbsp;новый год будем искать полное собрание сочинений.</p>

<p class="ru">Есть свои преимущества в&nbsp;жизни в&nbsp;центре: каждый вечер
я&nbsp;иду на&nbsp;прогулку по&nbsp;старому тихому городу. У&nbsp;меня свой
маршрут, который занимает всего сорок минут и&nbsp;включает в&nbsp;себя мои
самые любимые места: арт-хаус кинотеатр Корнерхаус (кирпичное красное здание),
массивные офисные здания конца девятнадцатого столетия в&nbsp;окончании Оксфорд
Роуд, итальянский ресторан Дон Джиованни, Лайбрари Театр, ратуша
и&nbsp;ратушная площадь (башенки, памятники) и&nbsp;завиток дороги перед
площадью, Брайзенноуз Стрит (улица зазнаек, вздёрнутых или медных носов), тихий
сквер у&nbsp;памятника Аврааму Линкольну, старая библиотека Джона Райланда
(мрачный крупный бордовый камень), прямо по&nbsp;Динсгейт, мимо баров
и&nbsp;пабов с&nbsp;лысыми головами и&nbsp;красными лицами и&nbsp;ушами
постояльцев. Шатающихся, медленных, с&nbsp;резким северным произношением
вытянутых слов. Случайные парочки, крики, шустрые такси в&nbsp;руках азиатских
шофёров. Мимо Дома Фрейзера, в&nbsp;лёгком розовом свете, первого универмага
Европы, с&nbsp;подземным туннелем, мимо книжного Блэквеллс. На&nbsp;каждом углу
с&nbsp;плакатов на&nbsp;меня смотрит <a href="http://www.imdb.com/name/nm0461136/">Кейра Найтли</a>, куда&nbsp;бы
я&nbsp;ни&nbsp;свернул. И&nbsp;взгляд её&nbsp;плавит медные носы зазнаек
и&nbsp;обрывает грубый акцент. Но&nbsp;мне дальше направо, поспешу
по&nbsp;королевской улице к&nbsp;уютной церкви Святой Анны, мимо фонтана
и&nbsp;памятника павшим солдатам в&nbsp;боях первой и&nbsp;второй мировых войн.
Навытяжку смирно с&nbsp;винтовкой прижатой к&nbsp;груди стоит медный воин.
Снова направо, немного глазения на&nbsp;витрины по&nbsp;Базарной улице
и&nbsp;прямиком, сквозь Сады Пиккадилли на&nbsp;Портланд стрит и&nbsp;обратно
на&nbsp;Оксфорд. А&nbsp;там быстрым шагом домой. Сорокаминутный Манчестер.</p>
