---
layout:      post
title:      "Опустошённость"
date:        2010-10-24, 20:57:00 +0000
alpha2:      gb
location:   "Манчестер, Великобритания"
categories: [недостаток сна, программирование, соревнование]
---

<figure class="video">
<iframe width="560" height="315"
	src="https://www.youtube.com/embed/vXZZr_rqdTc" frameborder="0"
	allow="accelerometer; autoplay; encrypted-media; gyroscope;
picture-in-picture" allowfullscreen></iframe>
</figure>

<p class="ru">Вечером спать я&nbsp;не&nbsp;мог, просто лежал в&nbsp;темноте
и&nbsp;смотрел в&nbsp;потолок. По&nbsp;пути в&nbsp;компьютерный класс, где
проходило соревнование мы&nbsp;купили бутерброды, колу и&nbsp;шоколад. Город
в&nbsp;пятницу вечером необыкновенно оживлён. Всё гудит. Горбы такси. Раздетые
люди. Очереди к&nbsp;автоматам с&nbsp;наличными. Розовые вывески. Музыка.
Северный акцент охранников на&nbsp;дверях. Мелкий дождик и&nbsp;лужи
не&nbsp;остановят запланированного веселья.</p>

<!--more-->

<p class="ru">Мы&nbsp;пришли и&nbsp;выкатили компьютерные кресла из&nbsp;зала.
Остались только наши сиденья и&nbsp;вещи. Компьютеры в&nbsp;классе хорошие,
новые. Всё чёрное. Широкие мониторы удобней глазу. Кнопки на&nbsp;клавиатурах
нажимаются упруго, твёрдо. Университет сотрудничает с&nbsp;Dell&rsquo;ом.
Но&nbsp;техника неухоженная, парты пыльные и&nbsp;мониторы в&nbsp;отпечатках
пальцев. Еду&mdash;в холодильник. Цветные фломастеры и&nbsp;бумагу для
решений&mdash;на парты. Я&nbsp;разложил свою походную библиотеку
на&nbsp;соседнем столе.  Интересно, спортсмены берут с&nbsp;собой снаряжение,
а&nbsp;я&nbsp;полный рюкзак книг и&nbsp;спальный мешок. Десять минут
до&nbsp;начала. Мы&nbsp;очень нервничаем словно перед двадцати четырёх часовым
боксёрским матчем.  Фотографируемся. Взвешиваемся. Подпрыгиваем
в&nbsp;возбуждении. В&nbsp;нашей команде Мохамед, студент второго курса,
проходящий практику в&nbsp;IBM, и&nbsp;Ану индийская девушка. Соревнование
началось в&nbsp;час ночи. Первое задание решено в&nbsp;два тридцать шесть. Мою
лицо холодной водой. Я&nbsp;иду на&nbsp;прогулку. Настроение оптимистическое.
Ещё две задачи уже почти сданы.  Кричащая публика рассаживается по&nbsp;такси,
едет домой.</p>

<p class="ru">К&nbsp;шести у&nbsp;меня уже сильно болит голова. Пол таблетки
парацетамола и&nbsp;двухчасовой сон (с&nbsp;семи до&nbsp;девяти) на&nbsp;мягких
креслах в&nbsp;клубной комнате. Укрываюсь спальником. Уже на&nbsp;последней
грани.  Голова не&nbsp;проходит. Тошнит. Ещё одна таблетка. Даю себе срок
до&nbsp;двенадцати. Алгоритм, который я&nbsp;разработал, описывает
только&nbsp;60% возможных случаев. Решаем ещё. В&nbsp;целом на&nbsp;этот вопрос
ушло десять часов. Задания не&nbsp;очень сложные и&nbsp;выкладываются
на&nbsp;сайт каждые пять&mdash;шесть часов, по&nbsp;четыре за&nbsp;раз.
Но&nbsp;нужно знать структуры данных: деревья, графы. На&nbsp;них
мы&nbsp;срезались. За&nbsp;сутки мы&nbsp;сдали шесть решений
из&nbsp;семнадцати. Начали ещё четыре, но&nbsp;не&nbsp;успели довести
до&nbsp;конца. Программировать нужно было очень быстро и&nbsp;без ошибок. Мои
навыки Jav&rsquo;ы просто смешны. Поэтому я&nbsp;только писал решения
на&nbsp;бумаге и&nbsp;проверял логику кода Мохамеда, наблюдая через плечо.
В&nbsp;голове всего две мысли: &laquo;главное продержаться&raquo;
и&nbsp;&laquo;больше никогда&raquo;. Уходить нельзя. Очень тяжело оставаться
на&nbsp;ногах двадцать четыре часа.</p>

<p class="ru">Мы&nbsp;ничего не&nbsp;едим. Только сладкие батончики
прессованных мюсли и&nbsp;пьём воду. За&nbsp;шесть часов до&nbsp;конца
в&nbsp;голове туман, отрешённость, полное опустошение. Удовольствие? Дух
соревнований? Кажется, кроме компьютерного класса больше нечего нет.
На&nbsp;прочтение новых заданий уходят драгоценные минуты. Въедаюсь
в&nbsp;текст. По&nbsp;десять раз проскакиваю каждое предложение вопроса.
На&nbsp;сообщения не&nbsp;отвечаем.  В&nbsp;интерактивной таблице на&nbsp;сайте
мы&nbsp;бьёмся за&nbsp;то, чтобы оставаться в&nbsp;первых трёх ста командах.
Идём голова к&nbsp;голове.  Мы&nbsp;решение, соперники решение. Так
и&nbsp;финишировали двести восемьдесят шестыми из&nbsp;девятисот семидесяти
одной (286/971). Первые места решили всё за&nbsp;минимальное количество
времени. Эти люди наверняка тренируются хотя&nbsp;бы один раз в&nbsp;неделю.
Главное, что мы&nbsp;продержались и&nbsp;не&nbsp;сдались. Это не&nbsp;идеальный
старт, это не&nbsp;плачевное поражение, это крепкая заявка на&nbsp;будущее.
У&nbsp;меня теперь план: час в&nbsp;день посвящаю Jav&rsquo;e. Новые ощущения
смутные. Голова ещё кружится.  Я&nbsp;всю ещё люблю программировать.</p>
