---
layout:      post
title:      "До свидания, Манчестер!"
date:        2011-12-29, 11:32:00 +0000
alpha2:      lv
location:   "Юрмала, Латвия"
categories: [будущее, друзья, Манчестер]
---

<p class="ru">Последние две недели перед отъездом я&nbsp;встречался
с&nbsp;друзьями и&nbsp;дорогими мне людьми. Никогда ещё отъезд не&nbsp;был так
близок. Но&nbsp;до&nbsp;самого последнего дня я&nbsp;не&nbsp;верил, что уезжаю.
И&nbsp;не&nbsp;было сильного чувства, что надо ехать. Такого чувства, как
летом, когда я&nbsp;не&nbsp;видел конца своей диссертации и&nbsp;хотел как
можно быстрее покинуть этот университет и&nbsp;этот город. За&nbsp;две недели
праздников, встреч и&nbsp;званых ужинов я&nbsp;почти не&nbsp;работал.</p>

<!--more-->

<p class="ru">На&nbsp;церемонию награждения приехала вся моя семья. Я&nbsp;был
очень рад показать им&nbsp;Манчестер, но&nbsp;было холодно,
и&nbsp;мы&nbsp;не&nbsp;могли долго гулять. В&nbsp;Лондон решили не&nbsp;ехать
из-за большого расстояния. Зато были в&nbsp;Йорке и&nbsp;пили вечерний
английский чай в&nbsp;старинном кафе &laquo;у&nbsp;Бетти&raquo;. Серебряный
треножник с&nbsp;миниатюрными сандвичами и&nbsp;скоунами со&nbsp;взбитым кремом
и&nbsp;варением. В&nbsp;мыслях я&nbsp;часто отвлекался и&nbsp;вместо того чтобы
рассказывать о&nbsp;достопримечательностях, я&nbsp;думал о&nbsp;людях, которых
оставлю.</p>

<p class="ru">Весь день церемонии я&nbsp;носил мантию и&nbsp;позировал для
фотографий. Я&nbsp;до&nbsp;сих пор не&nbsp;осознал произошедшего. Да, теперь
я&nbsp;доктор философии. Меня окружали родители, брат и&nbsp;друзья. Весь день
был похож на&nbsp;день рождения. Мне дарили подарки, открытки и&nbsp;даже
цветы. И&nbsp;я&nbsp;не&nbsp;знал, что сказать. Меня переполняло чувство
благодарности.</p>

<p class="ru">Потом был ужин у&nbsp;Тарлы и&nbsp;Аиды, и&nbsp;я&nbsp;старался
быть собой, но&nbsp;уже не&nbsp;был. За&nbsp;последние дни я&nbsp;эмоционально
повзрослел на&nbsp;несколько лет. Уезжать было очень тяжело. Я&nbsp;рубил
неокрепшие корни молодого деревца. Вот только приехал, только обосновался,
узнал эту страну, завёл друзей, как-то наладил жизнь и&nbsp;вдруг уезжать.
Откладывать принятие решения было нельзя, а&nbsp;принять его за&nbsp;меня никто
не&nbsp;мог. Сколько ещё таких переездов ждёт меня? Сколько таких переездов
я&nbsp;ещё смогу вынести? Как в&nbsp;тумане в&nbsp;полдня мы&nbsp;запаковали
всю мою квартиру в&nbsp;банановые ящики и&nbsp;снялись с&nbsp;якоря.</p>

<p class="ru">Время двигаться дальше. На&nbsp;данный момент работы
по&nbsp;моему профилю в&nbsp;Манчестере нет. Нет сложных развивающих проектов.
А&nbsp;при всём моём уважении работа для меня<span class="red">&mdash;</span>самое главное.
До&nbsp;свидания, Манчестер!</p>
