---
layout:      post
title:      "Муза"
date:        2011-12-30, 09:52:00 +0000
alpha2:      lv
location:   "Юрмала, Латвия"
categories: [Манчестер, проза]
---

<p class="ru">Мне снится Манчестер. Стройки и&nbsp;полузаброшенные здания
совсем недалеко от&nbsp;центра. С&nbsp;грохотом прямо передо мной упал
строительный кран. Поднялась пыль. Я&nbsp;вызываю службу спасения,
но&nbsp;никак не&nbsp;могу назвать точный адрес. Таблички с&nbsp;названиями
улиц сильно истёрты, замазаны. В&nbsp;одном из&nbsp;таких забытых зданий
в&nbsp;полутёмном подвале я&nbsp;сижу на&nbsp;грязных ящиках, рассованных
по&nbsp;углам. Тусклый свет и&nbsp;горячие споры. Повсюду молодёжь, бездомная,
но&nbsp;предприимчивая, весёлая. В&nbsp;углу играет гитара. Кто-то страстно
доказывает, что любви нет, счастья нет и&nbsp;надо просто идти и&nbsp;брать
своё. Постоянно входят всё новые люди.</p>

<!--more-->

<p class="ru">Ты&nbsp;сидишь у&nbsp;меня на&nbsp;коленях. Ярко-красная помада
и&nbsp;распущенные волосы. Вязаные перчатки с&nbsp;открытыми пальцами
и&nbsp;пар изо рта. Ты&nbsp;рассказываешь мне про свою мать, про учёбу
в&nbsp;школе. Я&nbsp;понимаю, что сделало тебя такой. Какой? Мне очень хочется
тебя поцеловать. Но&nbsp;начинается музыка, ты&nbsp;встаёшь и&nbsp;берёшь меня
за&nbsp;руку. До&nbsp;утра мы&nbsp;будем танцевать, изгибаясь и&nbsp;прыгая под
энергичные ритмы 90-ых. А&nbsp;в&nbsp;самом конце ночи заиграет тихая музыка.
Почему меня всегда обнимают&nbsp;те, кого я&nbsp;не&nbsp;хочу обнимать? Почему
тебя всегда обнимают&nbsp;те, кого я&nbsp;не&nbsp;хочу обнимать? Такая тихая
музыка. Відпусти.</p>
