---
layout:      post
title:      "О романе «И восходит солнце (Фиеста)» Эрнеста Хемингуэя"
date:        2012-01-07, 11:45:00 +0000
alpha2:      lv
location:   "Юрмала, Латвия"
categories: [фиеста, Хемингуэй, эссе]
---

<p class="footnote" id="par1">Записать текст эссе&nbsp;<a href="{{ site.url }}/assets/abalenkovs--fiesta_essay.pdf"><i class="fa fa-download" aria-hidden="true"></i> (pdf)</a></p>

<figure class="epigraph">
<p>Зачем топтать мою любовь?</br>
Её&nbsp;и&nbsp;так почти не&nbsp;стало.</br>
Я&nbsp;разбиваю руки в&nbsp;кровь,</br>
Я&nbsp;не&nbsp;сошёл с&nbsp;ума, так надо!</p>
<figcaption align="right">
  <cite>
    <a href="https://music.yandex.ua/track/590606">Зачем топтать мою любовь?</a></br>
    <a href="http://sgband.ru">Сергей Бобунец</a>&nbsp;(2001)
  </cite>
</figcaption>
</figure>

<p class="ru">Фиеста&mdash;идеальный роман. Определим составляющие успеха
книги: много действующих лиц и&nbsp;среди них настоящие джентльмены, познавшие
жизнь и&nbsp;слегка разочарованные ею&nbsp;иммигранты, которых никто
не&nbsp;понимает, обилие диалогов и&nbsp;действия, искренность путевых заметок,
многогранность любви, бокс, точность и&nbsp;истинно испанская страстность
корриды, прохлада старинных церквей в&nbsp;жаркие дни, горе неизлечимой
болезни, и&nbsp;тяжесть ночного одиночества, сидение на&nbsp;кровати,
и&nbsp;трагизм, сумасшествие и&nbsp;вседозволенность праздничного марафона,
открытые автомобили, и&nbsp;рядом у&nbsp;горизонта или где-то в&nbsp;воздухе
море:</p>

<!--more-->

<blockquote>
<p class="ru">Мы&nbsp;выехали на&nbsp;дорогу и&nbsp;отправились вдоль
побережья. Там была зелень мысов, белые виллы с&nbsp;красными крышами,
лоскутами леса, и&nbsp;океаном очень синим с&nbsp;отливом и&nbsp;водой
пенящейся далеко от&nbsp;пляжа. Мы&nbsp;проехали через Сен-Жан-де-Люз
и&nbsp;мимо прибрежных деревень. Позади холмистой местности, через которую
мы&nbsp;ехали, мы&nbsp;видели горы, которые мы&nbsp;пересекли, на&nbsp;пути
из&nbsp;Памплоны. Дорога шла дальше вперёд. Билл посмотрел на&nbsp;часы.
Наступило время возвращаться. Он&nbsp;постучал по&nbsp;стеклу и&nbsp;попросил
водителя развернуться. Водитель сдал машину назад, выехав на&nbsp;траву чтобы
повернуть. Позади нас были леса, внизу полоса лугов, и&nbsp;потом море<sup><a href="#quote">1</a></sup>.</p>
</blockquote>

<p class="ru">Эта книга успешна не&nbsp;потому, что она написана в&nbsp;эпоху
джаза и&nbsp;не&nbsp;потому, что в&nbsp;ней мы&nbsp;видим представителей
потерянного поколения. Фиеста&mdash;первый роман Хемингуэя. Благодаря обширной
журналистской практике в&nbsp;нём мало исканий. Автор знает, о&nbsp;чём
он&nbsp;пишет и&nbsp;что он&nbsp;хочет сказать. Как и&nbsp;большинство первых
романов Фиеста автобиографична. Это история небольшой группы друзей, выходцев
из&nbsp;Америки и&nbsp;Великобритании, покинувших родину и&nbsp;живущих
в&nbsp;Париже. Книга делится на&nbsp;три неравных части: журналистские будни
в&nbsp;Париже, путешествие на&nbsp;фиесту в&nbsp;Памплону, составляющее
основную часть романа, которая может рассматриваться и&nbsp;как повествование
об&nbsp;особенно запомнившемся лете, проведённом с&nbsp;друзьями, короткий
эпилог, в&nbsp;котором действие происходит на&nbsp;границе между Францией
и&nbsp;Испанией. В&nbsp;этот момент главный герой тоже находится
на&nbsp;границе лета, на&nbsp;границе праздника и&nbsp;обыденности,
и&nbsp;главное на&nbsp;границе любви. Ещё несколько шагов и&nbsp;может быть ему
удастся заглушить своё бедное разбитое сердце.</p>

<p class="ru">Хемингуэй избрал не&nbsp;описывать героев,
он&nbsp;не&nbsp;рассказывает об&nbsp;их&nbsp;внешнем виде
и&nbsp;об&nbsp;их&nbsp;поведении. Об&nbsp;этом читатель узнаёт
из&nbsp;диалогов. Повествование ведётся от&nbsp;лица главного героя
американского журналиста и&nbsp;писателя, Джейка Барнса. Популярность романа
не&nbsp;возможна без обилия и&nbsp;колоритности других героев. Роберт
Кон&mdash;худощавый еврей, конечно выпускник Принстона, конечно
закомплексованный, и&nbsp;поэтому боксёр, всё ещё одевающийся как студент,
и&nbsp;тоже писатель. Неудачник в&nbsp;любовных отношениях, терпеливо сносящий
унижения от&nbsp;женщин ему близких, немного угловатый в&nbsp;своей манере
держаться и&nbsp;говорить, словно баскетболист вынужденный постоянно нагибаться
при входе в&nbsp;двери.</p>

<p class="ru">Весельчак и&nbsp;пьяница Билл Гортон, ещё один американец
и&nbsp;ещё один писатель, увлекающийся боксёрскими поединками и&nbsp;женщинами.
Билл сетует на&nbsp;поступок Бретт:</p>

<blockquote>
<p class="ru">&laquo;Какие необъяснимые глупости делают люди. Почему она
не&nbsp;уехала с&nbsp;кем-нибудь из&nbsp;своих друзей? Например,
с&nbsp;тобой&raquo;?&mdash;он опустил эту тему&mdash;&laquo;или со&nbsp;мной? Да,
почему не&nbsp;со&nbsp;мной&raquo;? Он&nbsp;внимательно осмотрел своё лицо
в&nbsp;зеркале, положил крупный мазок пены на&nbsp;каждую скулу. &laquo;Это
честное лицо. Лицо с&nbsp;которым любая женщина могла&nbsp;бы чувствовать себя
в&nbsp;безопасности&raquo;.</p>

<p class="ru">&laquo;Она никогда его не&nbsp;видела&raquo;.</p>

<p class="ru">&laquo;А&nbsp;ей&nbsp;бы не&nbsp;помешало. Каждая женщина должна
увидеть это лицо. Это лицо должно быть напечатано на&nbsp;каждом плакате
в&nbsp;стране. Каждой женщине нужно вручать копию этого лица, когда она
покидает алтарь. Матери должны рассказывать дочерям об&nbsp;этом лице. Сын
мой&raquo;&mdash;он наставил на&nbsp;меня свою бритву&mdash;&laquo;иди
на&nbsp;запад и&nbsp;возмужай вместе с&nbsp;этой страной&raquo;.</p>
</blockquote>

<p class="ru">Леди Бретт Эшли, необыкновенно красивая femme fatale,
в&nbsp;которую поминутно влюбляются мужчины, включая всех главных героев.
Но&nbsp;в&nbsp;ней надрыв, неисправность. Кажется нужно только правильно
поддеть пинцетом, и&nbsp;все пружины заработают ладно. В&nbsp;чём
её&nbsp;слабость: несчастный брак, разочарованность в&nbsp;высшем обществе,
лёгкость успеха у&nbsp;мужчин, слагающих перед ней свои копья, неблагоприятная
среда или психологическая травма оставшаяся со&nbsp;времён войны?
Одобряет&nbsp;ли читатель её&nbsp;поведение, её&nbsp;метания, её&nbsp;поступки?
Пусть решит сам читатель.</p>

<p class="ru">Майк Кэмпбелл, жених Бретт, славный и&nbsp;добрый шотландец,
честный, горячий на&nbsp;язык, неизменный банкрот, которого знают в&nbsp;любом
более или менее крупном городе на&nbsp;французско&mdash;испанской ривьере.</p>

<p class="ru">Джейк любит Бретт. Бретт любит Джейка. Они не&nbsp;могут быть
вместе. Джейк страдает от&nbsp;мужской болезни. Бретт ищет счастья
на&nbsp;стороне. Разве так важны плотские отношения? На&nbsp;это ответит
читатель.</p>

<p class="ru">Любовь Джейка проходит тонкой нитью через всё произведение.
Но&nbsp;он&nbsp;никому не&nbsp;рассказывает о&nbsp;своей любви. Мужчины
предпочитают не&nbsp;распространяться о&nbsp;своих чувствах. Они страдают
в&nbsp;одиночестве. Джейк много размышляет о&nbsp;своей болезни,
он&nbsp;не&nbsp;спит, он&nbsp;ненавидит Бретт за&nbsp;её&nbsp;поведение,
но&nbsp;не&nbsp;может не&nbsp;любить&nbsp;её.</p>

<p class="ru">Его любовь всеобъемлюща и&nbsp;всепрощающа. Чувство Джейка
гораздо выше юношеского любовного восхищения Кона, сильнее страданий ревности
Майка и&nbsp;даже глубже пылающей и&nbsp;элегантной любви Педро Ромеро. Тройная
вероника, полувероника. Даже с&nbsp;головной болью и&nbsp;после бессонной ночи
Джейк держит слово. Он&nbsp;сделает, что обещал. Вот только выпьет крепкий кофе
и&nbsp;пролистает утренние газеты. Он&nbsp;хорошо выглядит и&nbsp;редко
торопится. Настоящий мужчина разбирается в&nbsp;напитках и&nbsp;еде,
он&nbsp;любит рыбалку, путешествия, спорт, хорошую литературу, своих друзей,
и&nbsp;конечно превыше всего он&nbsp;ценит настоящих женщин. Настоящие мужчины
останавливаются в&nbsp;комфортных отелях и&nbsp;свободно говорят
на&nbsp;нескольких языках. Настоящий мужчина немногословен и&nbsp;умеет себя
вести в&nbsp;любом обществе. Иногда он&nbsp;может напиться. Но&nbsp;даже сильно
пьян и&nbsp;сильно болен, его бойцовский дух не&nbsp;сломлен и&nbsp;его вера
в&nbsp;себя и&nbsp;целеустремлённость всегда с&nbsp;ним. Стоит&nbsp;ли быть
таким мужчиной? Стоит&nbsp;ли быть с&nbsp;таким мужчиной? На&nbsp;это ответит
читатель.</p>

<p class="ru">Джейк разбирается в&nbsp;спорте, он&nbsp;ревностный поклонник боя
быков. Он&nbsp;состоит в&nbsp;негласном и&nbsp;незримом братстве фанатов:</p>

<blockquote>
<p class="ru">Мы&nbsp;часто разговаривали о&nbsp;быках и&nbsp;матадорах.
Я&nbsp;останавливался у&nbsp;Монтойи несколько лет подряд. Мы&nbsp;никогда
не&nbsp;говорили подолгу за&nbsp;раз. Нашим маленьким удовольствием было
узнать, что каждый из&nbsp;нас чувствовал. Мужчины приходили из&nbsp;далёких
городов, и&nbsp;прежде чем покинуть Памплону, останавливались на&nbsp;несколько
минут у&nbsp;Монтойи и&nbsp;разговаривали с&nbsp;ним о&nbsp;быках. Эти мужчины
были aficionados. Настоящие aficionados всегда могли получить номер, даже когда
отель был полон. Монтойя представлял меня некоторым из&nbsp;них. Они всегда
были очень вежливы, и&nbsp;их&nbsp;очень развлекало, то&nbsp;что я&nbsp;был
американцем. Почему-то считалось, что американец не&nbsp;может испытывать
aficion. Он&nbsp;мог его симулировать или путать с&nbsp;возбуждением,
но&nbsp;он&nbsp;не&nbsp;мог переживать его по-настоящему. Когда они видели, что
я&nbsp;обладал aficion, и&nbsp;не&nbsp;было пароля, не&nbsp;было особых
вопросов, которые могли это выявить, скорее это был устный экзамен
с&nbsp;вопросами слегка сдержанными и&nbsp;никогда очевидными, в&nbsp;конце они
стеснительно клали руку мне на&nbsp;плечо или говорили &laquo;Buen
hombre&raquo;. Но&nbsp;почти всегда было именно прикосновение. Казалось, будто
они хотели дотронуться до&nbsp;тебя, чтобы убедиться наверняка.</p>
</blockquote>

<p class="ru">Джейк делится знаниями о&nbsp;корриде с&nbsp;Бретт.
Он&nbsp;подробно объясняет ей&nbsp;как смотреть, на&nbsp;что обратить внимание
и&nbsp;в&nbsp;какой момент лучше отвернуться. Сколько любви в&nbsp;его
рассказе! Как ещё может он&nbsp;показать свою любовь? Сколько раз читатель был
на&nbsp;его месте?</p>

<p class="ru">Многое знает Джейк о&nbsp;корриде. Он&nbsp;знает, как губительны
для молодых матадоров женщины вроде Бретт. Но&nbsp;несмотря ни&nbsp;на&nbsp;что
он&nbsp;представляет Ромеро Бретт. Джейк потеряет свое особое место
в&nbsp;братстве, но&nbsp;ему уже всё равно. Безразличие и&nbsp;вседозволенность
любви. Вероятно, он&nbsp;больше не&nbsp;приедет в&nbsp;Памплону. Владелец отеля
Монтойя теперь только кивает при встрече, он&nbsp;больше не&nbsp;улыбается
и&nbsp;не&nbsp;знакомит Джейка со&nbsp;знаменитыми матадорами.</p>

<p class="ru">Хемингуэй выводит Монтойю тихо, также незаметно уезжает Ромеро,
но&nbsp;Кон уходит со&nbsp;скандалом, с&nbsp;кулачным боем, со&nbsp;звоном
в&nbsp;голове и&nbsp;неизбежными мольбами о&nbsp;прощении и&nbsp;рукопожатии.
Это&nbsp;же Роберт Кон! Медленно бредёт через площадь Джейк после драки
с&nbsp;Коном, он&nbsp;немного пьян, и&nbsp;его костюм измят:</p>

<blockquote>
<p class="ru">Всё выглядело новым и&nbsp;изменившимся, когда я&nbsp;шёл через
площадь к&nbsp;отелю. Я&nbsp;никогда раньше не&nbsp;замечал деревьев.
Я&nbsp;никогда раньше не&nbsp;видел ни&nbsp;флагштоков, ни&nbsp;фасада театра.
Всё выглядело по-другому. Я&nbsp;чувствовал себя также, как однажды чувствовал
возвращаясь домой после загородного футбольного матча. Я&nbsp;нёс сумку
со&nbsp;своей футбольной формой, и&nbsp;я&nbsp;шёл по&nbsp;улице
от&nbsp;станции в&nbsp;город, в&nbsp;котором я&nbsp;прожил всю свою жизнь,
и&nbsp;всё выглядело по-новому. Они сгребали с&nbsp;газонов листья и&nbsp;жгли
их&nbsp;на&nbsp;дороге, и&nbsp;я&nbsp;долго стоял и&nbsp;смотрел. Всё было так
странно. Потом я&nbsp;пошёл дальше, и&nbsp;мои ноги казались очень далёкими,
и&nbsp;казалось, что всё происходит вдалеке, и&nbsp;я&nbsp;слышал звук своих
шагов издалека. Меня ударили по&nbsp;голове в&nbsp;начале игры. Таким&nbsp;же
я&nbsp;пересекал площадь. Таким&nbsp;же я&nbsp;поднимался по&nbsp;лестнице
в&nbsp;отеле. Подъём по&nbsp;лестнице занял много времени, и&nbsp;у&nbsp;меня
было такое чувство будто я&nbsp;нёс свою сумку.</p>
</blockquote>

<p class="ru">Ромеро выигрывающий неравный бой с&nbsp;Коном, непоколебимый
Ромеро. Настоящий мужчина выходит победителем в&nbsp;драке даже оказавшись
избитым и&nbsp;брошенным на&nbsp;пол:</p>

<blockquote>
<p class="ru">&laquo;Вроде&nbsp;бы мальчишка-матадор сидел на&nbsp;кровати. Его
сбивали с&nbsp;ног уже пятнадцать раз, но&nbsp;он&nbsp;хотел драться ещё. Бретт
держала его, не&nbsp;давая ему подняться. Он&nbsp;был очень слаб, но&nbsp;Бретт
не&nbsp;могла его удержать, и&nbsp;он&nbsp;встал. Тогда Кон сказал, что
не&nbsp;сможет ударить его снова. Сказал, что просто не&nbsp;может этого
сделать. Сказал, это было&nbsp;бы отвратительно. Тогда парень-матадор шатаясь
опёрся на&nbsp;него. Кон отступил к&nbsp;стене.</p>
<p class="ru">&ldquo;Так ты&nbsp;не&nbsp;ударишь
меня&rdquo;?</p>
<p class="ru">&ldquo;Нет&rdquo;, сказал Кон,
&ldquo;Мне было&nbsp;бы стыдно&rdquo;.</p>
<p class="ru">Тогда парень-матадор бьёт его изо всех сил в&nbsp;лицо
и&nbsp;садится на&nbsp;пол. Он&nbsp;больше не&nbsp;мог подняться, рассказывала
Бретт. Кон хотел взять его и&nbsp;отнести на&nbsp;кровать.
Но&nbsp;он&nbsp;сказал, если Кон поможет ему, он&nbsp;его убьёт, он&nbsp;всё
равно убьёт его утром, если Кон не&nbsp;уберётся из&nbsp;города. Кон плакал,
и&nbsp;Бретт кричала на&nbsp;него, и&nbsp;он&nbsp;хотел пожать всем руки.
Но&nbsp;я&nbsp;уже рассказывал тебе это&raquo;.</p>
</blockquote>

<p class="ru">Прирождённый матадор Педро Ромеро ещё совсем молод.
Он&nbsp;великолепен на&nbsp;ринге, шёпотом он&nbsp;заколдовывает быков перед
тем как нанести смертельный удар. Тихий зов, пыль на&nbsp;сапогах, напряжённый
взгляд и&nbsp;вот сабля торчит в&nbsp;холке, между позвонков, бык медленно
оседает на&nbsp;землю, безжизненно высунутый язык. На&nbsp;ринге Ромеро
поглощён боем, он&nbsp;не&nbsp;смотрит на&nbsp;Бретт, не&nbsp;ищет
её&nbsp;одобрения, хотя и&nbsp;убивает этого быка для неё. Как часто читатель
торопливо взглядывал на&nbsp;свою возлюбленную после удачной шутки?</p>

<blockquote>
<p class="ru">В&nbsp;Педро Ромеро было величие. Он&nbsp;любил корриду,
и&nbsp;я&nbsp;думаю он&nbsp;любил быков, и&nbsp;я&nbsp;думаю он&nbsp;любил
Бретт. Везде, где он&nbsp;мог выбирать позицию, он&nbsp;становился перед ней
весь день. Ни&nbsp;разу не&nbsp;взглянул он&nbsp;вверх. От&nbsp;этого бой
становился сильнее, он&nbsp;сражался для себя также как и&nbsp;для неё. Из-за
того, что он&nbsp;не&nbsp;смотрел вверх, узнать доставляло&nbsp;ли это
удовольствие, внутри он&nbsp;боролся для себя, и&nbsp;это укрепляло его,
и&nbsp;всё&nbsp;же он&nbsp;бился и&nbsp;ради неё. Но&nbsp;он&nbsp;дрался ради
неё ничего не&nbsp;теряя для себя. Он&nbsp;только выигрывал от&nbsp;этого целый
день.</p>
</blockquote>

<p class="ru">В&nbsp;романе, написанном в&nbsp;первой четверти двадцатого века,
Хемингуэй испытывает новые приёмы. Замечательна рекурсия повествования
и&nbsp;приём постепенного удаление от&nbsp;малого к&nbsp;большому:</p>

<blockquote>
<p class="ru">Быка, который убил Винсенте Хиронеса, звали Чёрноротый,
он&nbsp;шёл под номером 118&nbsp;на скотоводческой ферме Таверна Санчеса
и&nbsp;был третьим быком, которого убил Педро Ромеро в&nbsp;тот полдень. Его
ухо было отрезано под шумные крики толпы и&nbsp;отдано Педро Ромеро, который
в&nbsp;свою очередь, отдал его Бретт, которая завернула его в&nbsp;мой носовой
платок и&nbsp;оставила и&nbsp;ухо и&nbsp;платок вместе с&nbsp;несколькими
окурками сигарет Муратти, задвинутыми далеко в&nbsp;шкафчик прикроватного
столика, что стоял у&nbsp;её&nbsp;кровати в&nbsp;отеле Мотойя,
в&nbsp;Памплоне.</p>
</blockquote>

<p class="ru">Смешно выглядят тоненькие велосипедисты по&nbsp;сравнению
с&nbsp;искусными матадорами. Разве можно поставить увеселительные велогонки
наравне с&nbsp;опасностью и&nbsp;трагизмом смертельного боя со&nbsp;зверем?
Хорошая история всегда трагична. Ещё одним нововведением является диалог
переданный от&nbsp;третьего лица:</p>

<blockquote>
<p class="ru">Я&nbsp;пил кофе на&nbsp;террасе с&nbsp;управляющим командой
одного из&nbsp;больших велосипедных производителей. Он&nbsp;говорил это была
очень приятная гонка, и&nbsp;была&nbsp;бы достойной просмотра, если&nbsp;бы
Боттекия не&nbsp;сошёл с&nbsp;дистанции в&nbsp;Памплоне. Пыль была сильной,
но&nbsp;в&nbsp;Испании дороги были лучше, чем во&nbsp;Франции. Он&nbsp;уверял,
велосипедные гонки были единственным спортом в&nbsp;мире. Следил&nbsp;ли
я&nbsp;когда нибудь за&nbsp;Tour de&nbsp;France? Только по&nbsp;газетам. Tour
de&nbsp;France был величайшим спортивным событием в&nbsp;мире. Сопровождение
и&nbsp;организация дорожных гонок позволили ему узнать Францию. Немногие знают
Францию. Всю весну и&nbsp;всё лето и&nbsp;всю осень он&nbsp;проводил
в&nbsp;дороге с&nbsp;велосипедными гонщиками. Посмотрел&nbsp;бы я&nbsp;сейчас
на&nbsp;количество автомобилей, которые следовали за&nbsp;гонщиками
из&nbsp;города в&nbsp;город в&nbsp;дорожной гонке. Это была богатая страна
и&nbsp;всё более <i>sportif</i> с&nbsp;каждым годом. Это будет самая <i>sportif</i> страна
в&nbsp;мире. Всё благодаря велогонкам. Гонкам и&nbsp;футболу. Он&nbsp;знал
Францию. <i>La&nbsp;France Sportive.</i> Он&nbsp;знал дорожные гонки. Он&nbsp;пил
коньяк. Хотя после всего этого было неплохо вернуться в&nbsp;Париж. Был всего
один Панам. Только он&nbsp;один во&nbsp;всём мире. Париж&mdash;самый <i>sportif</i>
город в&nbsp;мире. Знал&nbsp;ли я&nbsp;<i>Chope de&nbsp;N&eacute;gre?</i> Неужели
нет? Мы&nbsp;могли&nbsp;бы там увидеться. Непременно. Мы&nbsp;выпьем ещё один
<i>fine</i> вместе. Обязательно выпьем. Они стартуют без четверти шесть утра.
Смогу&nbsp;ли я&nbsp;встать к&nbsp;отправлению? Я&nbsp;обязательно постараюсь.
Не&nbsp;желал&nbsp;бы я, чтобы он&nbsp;мне позвонил? Это будет захватывающее
зрелище. Я&nbsp;спрошу меня разбудить у&nbsp;стойки администратора. Ему совсем
несложно мне позвонить. Я&nbsp;не&nbsp;мог позволить ему беспокоиться.
Я&nbsp;попрошу администрацию. Мы&nbsp;попрощались до&nbsp;следующего утра.
Утром, когда я&nbsp;проснулся, велосипедные гонщики и&nbsp;их&nbsp;машины
сопровождения были в&nbsp;пути уже три часа.</p>
</blockquote>

<p class="ru">Кончается безумная фиеста. Разъезжаются добрые друзья
и&nbsp;наступает недолгая передышка:</p>

<blockquote>
<p class="ru">Через некоторое время Билл сказал: &laquo;Да, это была отменная фиеста&raquo;.<br />
&laquo;Да&raquo;, ответил&nbsp;я; &laquo;мы&nbsp;постоянно были заняты&raquo;.<br />
&laquo;В&nbsp;неё не&nbsp;возможно поверить. Она пролетела как волшебный кошмар&raquo;.<br />
&laquo;Конечно&raquo;, сказал&nbsp;я. &laquo;Я&nbsp;бы поверил во&nbsp;что угодно. Включая кошмары&raquo;.<br />
&laquo;В&nbsp;чём дело? Тебе тоскливо&raquo;?<br />
&laquo;Чертовски тоскливо&raquo;.<br />
&laquo;Возьми ещё один абсент. Официант, сюда! Ещё один абсент для этого сеньора&raquo;.<br />
&laquo;Я&nbsp;чувствую себя как в&nbsp;аду&raquo;, сказал&nbsp;я.<br />
&laquo;Выпей это&raquo;, ответил Билл. &laquo;Только пей медленно&raquo;.</p>
</blockquote>

<p class="ru">Освежающее одиночество Сан-Себастьяна со&nbsp;светлым песком
пляжа, разноцветными кабинами раздевалок. Небольшой уютный отель с&nbsp;резными
балкончиками, номер с&nbsp;видом на&nbsp;коричневые крыши и&nbsp;зеленеющие
холмы вдали. Книжная полка у&nbsp;изголовья кровати и&nbsp;неспешность
телеграмм. Аккуратными буквами нужно заполнить жёлтый листок бланка,
прогуляться до&nbsp;почты, думая о&nbsp;получателе, и&nbsp;вернуться домой
с&nbsp;чувством выполненного дела, после длинного виски в&nbsp;ресторанчике
на&nbsp;углу:</p>

<blockquote>
<p class="ru">Он&nbsp;принёс его, и&nbsp;я&nbsp;вынул свою авторучку
и&nbsp;вывел:</p>

<figure class="poem">
<p class="ru">ЛЕДИ ЭШЛИ ОТЕЛЬ МОНТАНА МАДРИД ПРИБЫВАЮ ЮЖНЫМ ЭКСПРЕССОМ ЗАВТРА
ЛЮБЛЮ ДЖЕЙК.</p>
</figure>

<p class="ru">Это всё решало. Вот и&nbsp;всё. Отправь девушку с&nbsp;одним
мужчиной. Представь её&nbsp;другому, с&nbsp;которым она могла&nbsp;бы сбежать.
А&nbsp;теперь пойди и&nbsp;забери её&nbsp;домой. И&nbsp;подпиши телеграмму
с&nbsp;любовью. Теперь всё было правильно. Я&nbsp;отправился внутрь
обедать.</p>
</blockquote>

<p class="ru">Хемингуэй географичен. И&nbsp;если в&nbsp;первой парижской части
романа бросается в&nbsp;глаза некоторая механичность действий и&nbsp;описаний,
во&nbsp;второй, как только друзья отправляются в&nbsp;путешествие, виден яркий
талант военного корреспондента и&nbsp;наблюдательность опытного путешественника
Хемингуэя. Множество сочинительных союзов &laquo;и&raquo; создаёт впечатление
движения и&nbsp;панорамности пейзажа.</p>

<blockquote>
<p class="ru">Машина стояла на&nbsp;улице. Шофёр погрузил и&nbsp;привязал
чемоданы на&nbsp;крыше автомобиля и&nbsp;положил их&nbsp;рядом с&nbsp;собой
на&nbsp;переднее сидение, и&nbsp;мы&nbsp;забрались внутрь. Автомобиль выехал
с&nbsp;площади, и&nbsp;по&nbsp;боковым улицам, и&nbsp;под деревьями и&nbsp;вниз
с&nbsp;холма и&nbsp;вдаль от&nbsp;Памплоны. Поездка оказалась совсем
не&nbsp;длинной. У&nbsp;Майка была бутылка Фундадора. Я&nbsp;выпил всего
несколько глотков. Мы&nbsp;пересекли горы, и&nbsp;удалялись из&nbsp;Испании,
и&nbsp;вниз по&nbsp;белым дорогам, и&nbsp;через богатую листвой, влажную,
зелёную Страну Басков, и&nbsp;в&nbsp;конце концов въехали в&nbsp;Байонну.</p>
</blockquote>

<p class="ru">Единственный раз, в&nbsp;самом конце книги, Джейк и&nbsp;Бретт
проводят время по-настоящему вдвоём. Они на&nbsp;свидании, их&nbsp;никто
не&nbsp;отвлекает и&nbsp;никто не&nbsp;зовёт. Джейк в&nbsp;хорошем настроении
и&nbsp;это заметно по&nbsp;его прекрасному аппетиту. Но&nbsp;вспомнив сложность
ситуации он&nbsp;старается забыться в&nbsp;вине. Для героев романа характерна
частая смена настроений. Бретт, словно прося прощения, нежно останавливает
его:</p>

<blockquote>
<p class="ru">&laquo;Не&nbsp;напивайся, Джейк&raquo;, сказала она.
&laquo;Не&nbsp;нужно&raquo;.</p>
</blockquote>

<p class="ru">Они едут маленькой автомобильной экскурсией сквозь Мадрид. Финал
кинематографичен: жаркий город, повсюду ослепительно белые дома, окна открыты,
лёгкий ветерок треплет волосы мужчины и&nbsp;женщины. Неспешность такси
прерывается нежным толчком, и&nbsp;Бретт оказывается в&nbsp;объятиях
Джейка:</p>

<blockquote>
<p class="ru">&laquo;Мы&nbsp;с&nbsp;тобой были&nbsp;бы отличной парой&raquo;.<br />
&laquo;Да&raquo;, ответил&nbsp;я. &laquo;Разве не&nbsp;прекрасно об&nbsp;этом думать&raquo;?</p>
</blockquote>

<p class="ru">Такси едет по центральной улице всё дальше и дальше, исчезая,
превращаясь в маленькую точку. Заиграет джаз и медленно поплывут титры.</p>

<p class="footnote" id="quote"><sup>1</sup>&nbsp;В&nbsp;тексте эссе использованы цитаты
из&nbsp;романа &laquo;И&nbsp;восходит солнце (Фиеста)&raquo; Эрнеста Хемингуэя
публикуемые по&nbsp;изданию Ernest Miller Hemingway. The Essential Hemingway.
Arrow Books, The Random House Group Limited, 20&nbsp;Vauxhall Bridge Road,
London, SW1V 2SA, 2004. ISBN: 9780099339311. Перевод с&nbsp;английского Максима
Абаленкова.&nbsp;<a href="#par1"><i class="fas fa-angle-double-up"></i></a></p>
