---
layout:      post
title:      "Осло мне очень понравился..."
date:        2012-02-04, 09:11:00 +0000
alpha2:      lv
location:   "Юрмала, Латвия"
categories: [дневник, карьера]
---

<p class="ru">Осло мне очень понравился. Город небольшой, аккуратный
и&nbsp;ухоженный. Зима в&nbsp;Норвегии длится полгода. Всюду снег,
но&nbsp;благодаря Гольфстриму температура держится около
&minus;5&deg;&nbsp;C. Вместо песка и&nbsp;соли норвежцы посыпают тротуары
кусочками гравия. Норвежцы блондины, часто рыжие, с&nbsp;весёлыми взглядами.
Как только узнают, что мы&nbsp;туристы говорят: &laquo;Добро пожаловать
в&nbsp;Норвегию&raquo;. В&nbsp;городе метро, центральная улица
с&nbsp;магазинами в&nbsp;старинных домах с&nbsp;башенками. Все главные
достопримечательности можно обойти за&nbsp;два дня. На&nbsp;главной улице
и&nbsp;здание парламента и&nbsp;университет и&nbsp;национальный театр
и&nbsp;королевский дворец. Всюду кафе, где заваривают свежий кофе и&nbsp;чай.
Больше всего запомнилось чувство Норвегии, ощущение северной страны,
спокойствие, уют и&nbsp;ладность. Цены очень высокие. Десять лат&mdash;это
минимальная разменная купюра, на&nbsp;которую можно купить два кофе
и&nbsp;слегка перекусить. По&nbsp;виду город похож на&nbsp;немецкие
и&nbsp;нидерландские города средней величины. Но&nbsp;конечно без обилия
немецкой технологичности и&nbsp;комфорта.</p>

<!--more-->

<p class="ru">У&nbsp;меня хорошие новости, в&nbsp;моей почте два предложения
о&nbsp;работе. Одно в&nbsp;академической, а&nbsp;другое в&nbsp;промышленной
среде. Оба в&nbsp;моей области, оба с&nbsp;перспективами роста, оба
с&nbsp;сильными руководителями. Я&nbsp;в&nbsp;растерянности
и&nbsp;не&nbsp;знаю, какое принять. Долго читал статьи в&nbsp;интернете,
сравнивающие науку и&nbsp;промышленность. Каждый кулик своё болото хвалит.
Но&nbsp;все мои друзья говорят: &laquo;иди в&nbsp;промышленность&raquo;.
Ни&nbsp;один не&nbsp;сказал: &laquo;Оставайся в&nbsp;науке&raquo;. Даже
из&nbsp;тех кто сами в&nbsp;науке много лет.</p>

<p class="ru">На&nbsp;улице очень холодно. Температура за&nbsp;бортом
&minus;24,4&deg;&nbsp;С. Свежий снег не&nbsp;выпадает. Пробовал бегать при
&minus;17&deg;&nbsp;C. Пришлось закрывать одной рукой рот и&nbsp;шею. Было очень тяжело
вдыхать обжигающе холодный воздух. Теперь я&nbsp;отжимаюсь дома и&nbsp;жду
когда спадёт мороз.</p>

<p class="ru">Я&nbsp;перестал читать и&nbsp;смотреть фильмы и&nbsp;ничего
не&nbsp;пишу. Даже без основной работы, я&nbsp;всё время занят. Я&nbsp;отвечаю
на&nbsp;письма, подаю заявления, убираю, готовлю. Кулинария меня успокаивает.
В&nbsp;Норвегии я&nbsp;наткнулся на&nbsp;телевизионное кулинарное шоу под
названием &laquo;<a href="https://www.bravotv.com/chef-academy">Chef Academy</a>&raquo;. Известный французский шеф-повар
<a href="https://en.wikipedia.org/wiki/Jean-Christophe_Novelli">Жан-Кристоф Новелли</a> открыл кулинарную академию. В&nbsp;школе девять
претендентов, из&nbsp;них только трое занимаются кулинарией профессионально.
За&nbsp;рецептами уследить очень сложно. Главное в&nbsp;шоу&mdash;это
психологическое развитие группы и&nbsp;поведение каждого из&nbsp;участников.
Но&nbsp;можно заметить общие правила: как держать нож, как резать чеснок, как
украшать блюда. Рецепты со&nbsp;всеми ингредиентами и&nbsp;их&nbsp;количеством
доступны на&nbsp;<a href="https://en.wikipedia.org/wiki/Jean-Christophe_Novelli">сайте</a>.</p>
