---
layout:      post
title:      "Жизнь набирает скорость"
date:        2012-01-25, 10:58:00 +0000
alpha2:      lv
location:   "Юрмала, Латвия"
categories: [дневник, карьера, Кашкин, кино, Набоков, пианисты, Хемингуэй, чтецы]
---

<figure class="imagecentre">
  <img src="{{ site.url }}/assets/photo/absolute-giganten.png" alt="Настоящие гиганты (кадр из фильма)">
  <figcaption><cite>
    Настоящие гиганты (кадр из фильма) 1999&nbsp;г.
  </cite></figcaption>
</figure>

<p class="ru">Я&nbsp;обретаю землю под ногами. Жизнь набирает скорость.
В&nbsp;рабочие дни я&nbsp;почти не&nbsp;выхожу из&nbsp;дома. Дни провожу
за&nbsp;компьютерами. Долго падает мелкий снег. Мягким ковром лёг
он&nbsp;на&nbsp;дороги и&nbsp;тротуары, на&nbsp;крыши домов и&nbsp;ветви
деревьев. Каждый вечер я&nbsp;иду на&nbsp;станцию, встречать поезд. Длинной
змеёй выворачивает он&nbsp;из-за поворота. Ревёт и&nbsp;светит на&nbsp;тебя
маленького на&nbsp;перроне. Затягивает в&nbsp;поток яркого белого света так,
что не&nbsp;возможно оторваться и&nbsp;не&nbsp;видно ничего вокруг. Прожектор
божественного правосудия. Недолгая остановка, и&nbsp;пассажиры уже бегут
подпрыгивая, спеша перейти пути, до&nbsp;того как тронется поезд. Змея
с&nbsp;налипшими под брюхом сосулями уносится оставляя за&nbsp;собой вихрь
снега.</p>

<!--more-->

<p class="ru">Поиски работы продолжаются. Процесс похож на&nbsp;рыбную ловлю.
Сначала долго проверяешь снасти. Не&nbsp;подведёт&nbsp;ли удило
в&nbsp;ответственный момент? Потом прикармливаешь место. Ждёшь нужной погоды
и&nbsp;ветра и&nbsp;времени суток. Вот забросил, подвигал чуть-чуть
в&nbsp;стороны. Любовно посмотрел на&nbsp;кивающий поплавок, на&nbsp;рябь
на&nbsp;воде. Посидел и&nbsp;покурил. Пора собираться на&nbsp;другой берег
озера, ловить там. Это ещё что, главное не&nbsp;сплоховать, когда станет
клевать, не&nbsp;дёргать, не&nbsp;дать рыбе сорваться с&nbsp;крючка.
За&nbsp;последнюю неделю я&nbsp;отправил свои документы в&nbsp;Делфт, Ильменау,
Калгари, Москву, <s>Пуллман</s>, <s>Торонто</s>, <s>Альбукерке</s>,
<s><b>Брест</b></s>, <s>Ниццу</s>, Лимож, <s><b>Манчестер</b></s>, Мадисон,
<s>Стейт Колледж</s>, <b>Дармштадт</b>, <b>Бёблинген</b>, Питтсбург
и&nbsp;<s>Сейнт Пол</s>.</p>

<p class="ru">В&nbsp;понедельник на&nbsp;прошлой неделе у&nbsp;нас отключилось
электричество. Ты&nbsp;не&nbsp;обижен, ты&nbsp;идёшь на&nbsp;балкон искать
по&nbsp;шкафчикам свечи, оставшиеся с&nbsp;лета. И&nbsp;вдруг замечаешь, света
нет ни&nbsp;в&nbsp;одном соседнем окне. И&nbsp;вдруг понимаешь, как сильно
мы&nbsp;современные люди зависим от&nbsp;электроэнергии. Компания
&laquo;<a href="https://www.sadalestikls.lv">Sadales tīkls</a>&raquo; сработала очень профессионально. Через три минуты
на&nbsp;мобильный пришло сообщение: извините за&nbsp;предоставленные
неудобства, поломка линии электропередач, на&nbsp;объекте (ваш точный адрес)
возможны перебои питания, ожидаемое время починки 20:00. В&nbsp;18:00
электричество вернулось и&nbsp;было подтверждено новым сообщением: неполадки
устранены, в&nbsp;случае отсутствия электричества, пожалуйста звонить
по&nbsp;следующему номеру. Я&nbsp;снимаю шляпу. В&nbsp;компании работают очень
грамотные высококвалифицированные люди. К&nbsp;такому сервису нужно стремиться
всем.</p>

<p class="ru">Во&nbsp;вторник я&nbsp;навестил своего друга и&nbsp;старшего
наставника сценариста, театрального режиссёра и&nbsp;актёра. Он&nbsp;читал мне
<a href="https://ru.wikisource.org/wiki/Флейта-позвоночник_(Маяковский)">Флейту-позвоночник</a> <a href="https://ru.wikipedia.org/wiki/Маяковский,_Владимир_Владимирович">Маяковского</a>. Читал и&nbsp;рассказывал о&nbsp;ней так, что
я&nbsp;застыл с&nbsp;поднятой ложкой супа, заулыбался, и&nbsp;время
остановилось. Он&nbsp;переплёл сиддур моего прадеда, 1906&nbsp;года, изданный
в&nbsp;Варшаве, и&nbsp;порекомендовал чтецов (<a href="https://ru.wikipedia.org/wiki/Яхонтов,_Владимир_Николаевич">Владимира Яхонтова</a>, <a href="https://ru.wikipedia.org/wiki/Смоленский,_Яков_Михайлович">Якова
Смоленского</a>, <a href="https://ru.wikipedia.org/wiki/Кочарян,_Сурен_Акимович">Сурена Кочаряна</a>, <a href="https://ru.wikipedia.org/wiki/Ильинский,_Игорь_Владимирович">Игоря Ильинского</a>, <a href="https://ru.wikipedia.org/wiki/Юрский,_Сергей_Юрьевич">Сергея Юрского</a>, <a href="https://ru.wikipedia.org/wiki/Андроников,_Ираклий_Луарсабович">Ираклия
Андроникова</a>), пианистов (<a href="https://ru.wikipedia.org/wiki/Рубинштейн,_Артур">Артура Рубинштейна</a>, <a href="https://ru.wikipedia.org/wiki/Цимерман,_Крыстиан">Крыстиана Цимермана</a>, <a href="https://ru.wikipedia.org/wiki/Горовиц,_Владимир_Самойлович">Владимира
Горовица</a>, <a href="https://ru.wikipedia.org/wiki/Софроницкий,_Владимир_Владимирович">Владимира Софроницкого</a>, <a href="https://ru.wikipedia.org/wiki/Ашкенази,_Владимир_Давидович">Владимира Ашкенази</a>, <a href="https://ru.wikipedia.org/wiki/Аррау,_Клаудио">Клаудио Аррау</a>, <a href="https://ru.wikipedia.org/wiki/Клиберн,_Ван">Ван
Клиберна</a>, <a href="https://ru.wikipedia.org/wiki/Петров,_Николай_Арнольдович">Николая Петрова</a>, <a href="https://ru.wikipedia.org/wiki/Мацуев,_Денис_Леонидович">Дениса Мацуева</a>) и&nbsp;скрипача (<a href="https://ru.wikipedia.org/wiki/Коган,_Леонид_Борисович">Леонида Когана</a>).
Художественное самообразование.</p>

<p class="ru">Я&nbsp;читаю биографический очерк <a href="https://ru.wikipedia.org/wiki/Кашкин,_Иван_Александрович">Ивана Кашкина</a>&nbsp;(1899&ndash;1963)
о&nbsp;жизни <a href="https://ru.wikipedia.org/wiki/Хемингуэй,_Эрнест">Эрнеста Хемингуэя</a>. Случайно наткнулся на&nbsp;эту работу
в&nbsp;советском литературном альманахе Прометей 1966 года издания. Очерк
обширный в&nbsp;сто страниц. Да, есть ложки дёгтя с&nbsp;коммунистической
интерпретацией, но&nbsp;если на&nbsp;них не&nbsp;обращать внимания,
то&nbsp;работа очень сильная. Интересно, что <a href="https://ru.wikipedia.org/wiki/Хемингуэй,_Эрнест">Хемингуэй</a>, <a href="https://ru.wikipedia.org/wiki/Набоков,_Владимир_Владимирович">Набоков</a> и&nbsp;сам
<a href="https://ru.wikipedia.org/wiki/Кашкин,_Иван_Александрович">Кашкин</a> все родились в&nbsp;один год&mdash;1899. Год талантливых
людей.</p>

<p class="ru">Из&nbsp;фильмов мы&nbsp;посмотрели <a href="https://www.kinopoisk.ru/film/1548">Настоящих гигантов</a>&nbsp;(1999)
<a href="https://www.kinopoisk.ru/name/26398">Себастьяна Шиппера</a> и&nbsp;<a href="https://www.kinopoisk.ru/film/395369">Потомков</a>&nbsp;(2011) <a href="https://www.kinopoisk.ru/name/38566">Александра Пэйна</a>. Ни&nbsp;один
из&nbsp;них к&nbsp;просмотру посоветовать не&nbsp;могу. Запомнилась грустная
музыка из&nbsp;Гигантов и&nbsp;кадры трёх друзей. Они сидят на&nbsp;балконе
девятиэтажного дома в&nbsp;бедном районе Гамбурга. Один открывает бутылки
с&nbsp;пивом, пробует каждую и&nbsp;передаёт другу. Они отдыхают после дворовой
игры в&nbsp;футбол на&nbsp;грязном поле с&nbsp;лужами, без травы. Они сидят
в&nbsp;мокрой форме и&nbsp;молча пьют пиво. Главный герой только что рассказал
своим лучшим друзьям: утром он&nbsp;уходит на&nbsp;сухогрузе в&nbsp;Кейптаун.
Медленно вечереет, и&nbsp;с&nbsp;балкона, с&nbsp;ящиков на&nbsp;которых сидят
герои, открывается замечательная панорама Гамбурга, загораются огни, начинается
ночная жизнь. И&nbsp;я&nbsp;думаю: &laquo;Хорошо быть немцем
в&nbsp;Германии&raquo;.</p>
