---
layout:      post
title:      "Кончились мои скитания, и я переселился в квартиру..."
date:        2012-06-17, 21:13:00 +0000
alpha2:      de
location:   "Энинген, Германия"
categories: [Броуди, Бунин, дневник, Манчестер, математика]
---

<p class="ru">Кончились мои скитания, и&nbsp;я&nbsp;переселился в&nbsp;квартиру:
две маленькие комнаты, много окон и&nbsp;разноцветные стены. По&nbsp;утрам
я&nbsp;делаю зарядку на&nbsp;балконе и&nbsp;наслаждаюсь видом сосен.
В&nbsp;пяти минутах ходьбы ржаные поля и&nbsp;&laquo;Ранчо старого
Вильямса&raquo;. Говорят, где-то можно купить свежие хлеб, молоко, яйца,
огурцы, клубнику. Но&nbsp;я&nbsp;пока не&nbsp;нашёл возможности.</p>

<!--more-->

<p class="ru">Вступил в&nbsp;плавательный клуб и&nbsp;по&nbsp;понедельникам,
средам и&nbsp;пятницам занимаюсь в&nbsp;бассейне в&nbsp;старшей группе.
Кажется, я&nbsp;самый старший в&nbsp;команде после тренера. По&nbsp;вторникам
езжу в&nbsp;соседний городок Зиндельфинген на&nbsp;уроки игры на&nbsp;гитаре.
Сорок минут в&nbsp;одну сторону на&nbsp;велосипеде. А&nbsp;в&nbsp;субботу бегаю
и&nbsp;учу китайский. &laquo;А&nbsp;по&nbsp;воскресеньям я&nbsp;пишу отличные
песни.&raquo; Всё также работаю, стараюсь влиться в&nbsp;десятичасовой рабочий
график. Очень устают глаза. Утро в&nbsp;офисе начинается с&nbsp;одночасового
урока по&nbsp;математическому анализу. Учу сам по&nbsp;справочникам
Бронштейна и&nbsp;Выгодского.</p>

<p class="ru">Интернета у&nbsp;меня нет, и&nbsp;я&nbsp;намеренно его
не&nbsp;подключаю. Стал заметно больше читать. Из&nbsp;последнего хочется
отметить: &laquo;Деревню&raquo;, &laquo;Суходол&raquo;, &laquo;Смерть
пророка&raquo;, &laquo;Снежного быка&raquo;, &laquo;Сверчка&raquo;,
&laquo;Ночной разговор&raquo; и&nbsp;&laquo;Захара Воробьёва&raquo; Бунина. Эти
повести и&nbsp;рассказы написаны автором почти сто лет назад. Они истинно
русские, хотя и&nbsp;создавались на&nbsp;Капри. Как раньше люди глубоко
чувствовали, пропускали всё через себя, проникались! Какими были настоящими!
А&nbsp;кто мы&nbsp;теперь? Чёрствые, бездушные компьютеры, каждый день,
с&nbsp;восьми до&nbsp;шести.</p>

<p class="ru">Из&nbsp;новых фильмов мне понравились &laquo;Учитель
на&nbsp;замену&raquo; с&nbsp;Эдриеном Броуди и&nbsp;&laquo;Лампедуза&raquo;
итальянского режиссёра Эмануэле Криалезе. Глубины человеческой доброты
в&nbsp;учителе и&nbsp;совсем физические ощущения морской воды, ветра, запаха
песка в&nbsp;разогретых волосах, прикосновения рук матери к&nbsp;детской груди
в&nbsp;Лампедузе. Необыкновенные отношения между матерью
и&nbsp;её&nbsp;сыновьями.</p>

<p class="ru">Месяц назад целых четыре дня я&nbsp;провёл в&nbsp;Манчестере. Это
было восхитительное время: погода тёплая, солнечная, истинно калифорнийская,
добрые друзья... Я&nbsp;повидал всех, кого хотел. Я&nbsp;мало спал, поздно
ложился и&nbsp;рано вставал. И&nbsp;несмотря ни&nbsp;на&nbsp;что я&nbsp;был
полон энергии. Я&nbsp;был абсолютно счастлив. Маленькая комнатка
в&nbsp;собственном доме. Чаепития на&nbsp;улице, смех, барбекю, шутливый
футбол, лёгкость движений, хорошее настроение, праздничная одежда, бадминтон.
Детский скрипичный концерт в&nbsp;средней школе в&nbsp;Чорлтоне, в&nbsp;уютном
патио, чем-то напомнившим Майами и&nbsp;Декстера, а&nbsp;за&nbsp;деревянными
столиками родители, планирующие летние каникулы в&nbsp;кемпингах. Летнее утро,
и&nbsp;разговоры по&nbsp;мобильному телефону на&nbsp;автостоянке сидя
на&nbsp;корточках на&nbsp;поребрике: &laquo;Привет! Ты&nbsp;можешь сейчас
говорить? ... Пусть никогда я&nbsp;не&nbsp;был на&nbsp;Босфоре, я&nbsp;тебе
придумаю о&nbsp;нем, я&nbsp;в&nbsp;твоих глазах увидел море, полыхающее голубым
огнём.&raquo; Всё слилось в&nbsp;один длинный день и&nbsp;было такое чувство,
что я&nbsp;спортсмен, только что завоевавший золото на&nbsp;олимпийских играх.
Я&nbsp;был сильным и&nbsp;ловким, на&nbsp;пружинящих ногах лучшим
из&nbsp;лучших. Когда я&nbsp;вышел из&nbsp;аэропорта и&nbsp;потом ехал
по&nbsp;ночному Манчестеру, мне казалось, что всё это время я&nbsp;спал
и&nbsp;вот только сейчас, наконец проснулся. А&nbsp;на&nbsp;обратном пути всю
дорогу домой, я&nbsp;около пяти часов записывал свои впечатления
в&nbsp;дневник, и&nbsp;этого времени было мало.</p>
