---
layout:      post
title:      "В четверг я начал работать..."
date:        2012-03-04, 21:19:00 +0000
alpha2:      de
location:   "Штутгарт, Германия"
categories: [братья по оружию, война, дневник, карьера, Кашкин, кино, Хемингуэй]
---

<p class="ru">В&nbsp;четверг я&nbsp;начал работать. Теперь я&nbsp;веду чистую
жизнь: ложусь рано, встаю тоже рано. Кажется, я&nbsp;снова стал школьником.
Подъём по&nbsp;двум будильникам, приготовление бутербродов, скорый чай, чтение
в&nbsp;электричке. Утренние сумерки в&nbsp;шумных трамваях, а&nbsp;вокруг меня
сонные ученики с&nbsp;яркими прямоугольными рюкзаками и&nbsp;сеточками
со&nbsp;сменной обувью и&nbsp;завёрнутым в&nbsp;бумагу обедом. Девять часов
в&nbsp;офисе дисциплинируют: автоматически отметаешь всё второстепенное,
лишнее. Переводы на&nbsp;английский язык, лекции по&nbsp;искусственному
интеллекту... Всерьёз хочу заняться изучением антенн и&nbsp;основами
их&nbsp;создания.</p>

<!--more-->

<p class="ru">Коллеги у&nbsp;меня хорошие, приятные люди. Днём мы&nbsp;ходим
обедать в&nbsp;заводскую столовую Даймлера. Я&nbsp;сильно устаю, но&nbsp;это
с&nbsp;непривычки. Жизнь налаживается очень медленно. Поиски квартиры
продолжаются: то&nbsp;квартиры в&nbsp;плачевном состоянии, то&nbsp;находятся
слишком далеко за&nbsp;городом. Вчера посетил пять. Сегодня выбрал одиннадцать
для просмотра на&nbsp;следующей неделе.</p>

<p class="ru">За&nbsp;последнее время я&nbsp;прочитал рассказы <a href="https://ru.wikipedia.org/wiki/Хемингуэй,_Эрнест">Хемингуэя</a>
&laquo;<a href="https://ru.wikipedia.org/wiki/Недолгое_счастье_Фрэнсиса_Макомбера">Недолгое счастье Фрэнсиса Макомбера</a>&raquo;, &laquo;<a href="https://ru.wikipedia.org/wiki/Снега_Килиманджаро_(рассказ)">Снега Килиманджаро</a>&raquo; и&nbsp;эпилог к&nbsp;роману &laquo;<a href="https://ru.wikipedia.org/wiki/Смерть_после_полудня">Смерть после
полудня</a>&raquo;. Этими произведениями закончился опрятный томик Хемингуэя,
который я&nbsp;купил в&nbsp;книжном магазинчике (в&nbsp;конце улицы Стоунгейт
возле самого <a href="https://ru.wikipedia.org/wiki/Йоркский_собор">Минстера</a>) в&nbsp;свою последнюю поездку в&nbsp;Йорк. Редактор
сборника постарался на&nbsp;славу. Эти короткие повести являются настоящими
шедеврами автора. &laquo;Макомбер&raquo; настолько смел, жизнен
и&nbsp;драматичен. Героев видишь и&nbsp;слышишь в&nbsp;живую, будто сидишь
с&nbsp;ними в&nbsp;одном джипе. А&nbsp;как страстен, сердечен и&nbsp;тёпел
эпилог! Любовь к&nbsp;Испании, к&nbsp;&laquo;старым добрым временам&raquo;, к&nbsp;тем людям,
к&nbsp;тем местам, которые уже конечно совсем не&nbsp;те&nbsp;сейчас, льётся
через край каждой страницы.</p>

<p class="ru">На&nbsp;выходных я&nbsp;также прочёл и&nbsp;короткую редакцию
критического эссе о&nbsp;Хемингуэе <a href="https://ru.wikipedia.org/wiki/Кашкин,_Иван_Александрович">Ивана Кашкина</a>. В&nbsp;работе были затронуты
новые интересные моменты биографии писателя, но&nbsp;в&nbsp;общем и&nbsp;целом
эссе сильно отравлено коммунистическими отступлениями. В&nbsp;нём совсем мало
настоящей любви критика к&nbsp;творчеству писателя. Как вообще можно
критиковать Хемингуэя? Любого автора нужно критиковать очень осторожно.
Отзываться о&nbsp;чьей либо работе можно только имея большой опыт. Всегда
хочется спросить разудалых критиков: &laquo;А&nbsp;что собственно
вы&nbsp;написали?&raquo; Читатель, только читатель может и&nbsp;должен решать,
что ему нравится в&nbsp;данном произведении и&nbsp;у&nbsp;данного автора.</p>

<p class="ru">Вечерами после работы я&nbsp;смотрел сериал &laquo;<a href="https://ru.wikipedia.org/wiki/Братья_по_оружию_(телесериал)">Братья
по&nbsp;оружию</a>&raquo; (Band of&nbsp;Brothers) рассказывающий о&nbsp;высадке
американских десантников в&nbsp;Нормандии и&nbsp;об&nbsp;открытии западного
фронта. Было интересно почувствовать себя с&nbsp;другой стороны. Фильм
заслуживает высокой оценки только потому, что он&nbsp;действительно показывает
насколько ужасна война. Как страшно, когда умирают твои друзья, братья
по&nbsp;оружию, умирают совсем молодыми, умирают в&nbsp;муках, безвозвратно
и&nbsp;навсегда. Героям веришь. В&nbsp;работе напрочь отсутствует приторный
патриотизм, который сейчас так характерен многим российским фильмам
о&nbsp;Великой Отечественной Войне. Каждая серия начинается
с&nbsp;монологов-воспоминаний американских ветеранов. &laquo;&mdash;Дедушка,
а&nbsp;ты&nbsp;был героем на&nbsp;той войне? &mdash;Нет, но&nbsp;я&nbsp;нёс
службу с&nbsp;героями.&raquo;</p>

<p class="ru">Мне снится Манчестер и&nbsp;мои друзья.</p>
