---
layout:      post
title:      "Планы на 2012"
date:        2012-01-04, 09:34:00 +0000
alpha2:      lv
location:   "Юрмала, Латвия"
categories: [планы]
---

<ul>
  <li><s>Найти работу в&nbsp;области прикладной математики при университете или компании. Работа должна быть интересной, сложной, развивающей, полезной и&nbsp;перспективной.</s></li>
  <li>Написать сильную научную статью.</li>
  <li>Запрограммировать одномерный метод Решёток Гюйгенса заново и&nbsp;поэкспериментировать с&nbsp;границей раздела.</li>
  <li>Разобрать методы конечных элементов и&nbsp;моментов.</li>
  <li>Написать короткие тестовые программы на&nbsp;Chapel, Fortress и&nbsp;CUDA.</li>
</ul>

<!--more-->

<ul>
  <li><s>Разработать и&nbsp;провести <a href="{{ site.url }}/latex">курс по&nbsp;Лейтеку</a>.</s></li>
  <li>Освежить и&nbsp;укрепить знания по&nbsp;высшей математике (анализ, алгебра, дифференциальные уравнения).</li>
  <li>Заниматься плаванием и&nbsp;бегом (три раза в&nbsp;неделю).</li>
  <li><s>Читать художественную литературу</s> (из&nbsp;курса Набокова по&nbsp;зарубежной литературе, по&nbsp;одной книге в&nbsp;месяц).</li>
  <li>Писать в&nbsp;блог (один раз в&nbsp;неделю).</li>
  <li><s>Заниматься творческим письмом</s> (по&nbsp;одному рассказу в&nbsp;месяц).</li>
  <li>Прочитать Тору.</li>
  <li>Посещать театр (один раз в&nbsp;месяц).</li>
  <li><s>Путешествовать (Манчестер,</s> Канны, Монако).</li>
  <li><s>Продолжать учиться играть на&nbsp;гитаре (занятия с&nbsp;учителем и&nbsp;самостоятельные упражнения).</s></li>
  <li>Разобраться с&nbsp;настройками и&nbsp;режимами съёмки цифрового фотоаппарата.</li>
  <li>Сделать свой сайт.</li>
  <li>Снять видеоролик.</li>
</ul>
