---
layout:      post
title:      "Итоги 2011"
date:        2012-01-01, 23:17:00 +0000
alpha2:      lv
location:   "Юрмала, Латвия"
categories: [итоги]
---

<p class="ru"><p>Новый год! Значит будем привыкать к&nbsp;цифре 2012. Она мне
нравится. В&nbsp;ней столько симметрии, лаконичности и&nbsp;футуризма. Это
будет очень хороший год. Нам всегда кажется, что прошлый год был самым тяжёлым,
и&nbsp;мы&nbsp;надеемся, звеня бокалами и&nbsp;глядя друг другу в&nbsp;глаза,
что следующий будет легче и&nbsp;успешнее. За&nbsp;один день
мы&nbsp;с&nbsp;братом убрали всю квартиру и&nbsp;приготовили три салата.
Командная игра. Но&nbsp;к&nbsp;вечеру я&nbsp;так устал, что завершил праздник
уже в&nbsp;12:30.</p>

<!--more-->

<p>А&nbsp;сегодня я&nbsp;подводил итоги года:</p>

<ul>
  <li>Написал <a href="{{ site.url }}/assets/abalenkovs--hsg-fd-fdtd-v1.2.pdf">докторскую диссертацию</a> в&nbsp;12&nbsp;глав. На&nbsp;неё ушло 7&nbsp;месяцев работы. Каждая из&nbsp;ключевых глав пережила 4&nbsp;редакции.</li>
  <li>Написал первую настоящую научную статью. На&nbsp;это потребовалось 3&nbsp;месяца работы. Нам пришлось ответить на&nbsp;54&nbsp;замечания обозревателя.</li>
  <li>Отпраздновал день рождения на&nbsp;льду в&nbsp;кругу очень хороших друзей.</li>
  <li>На&nbsp;Пасху посетил Германию и&nbsp;ещё раз убедился в&nbsp;том что она&nbsp;&mdash; Земля Обетованная.</li>
  <li>Купил походные ботинки и&nbsp;ходил в&nbsp;двадцати пятикилометровый поход в&nbsp;&laquo;<a href="https://ru.wikipedia.org/wiki/Пик-Дистрикт">Край вершин</a>&raquo; (Peak District).</li>
  <li>Слушал семинары по&nbsp;прикладной математике и&nbsp;окончательно утвердился в&nbsp;решении заниматься численными методами в&nbsp;своей дальнейшей профессии.</li>
  <li>Прошёл два однодневных курса по&nbsp;<a href="https://www.khronos.org/opencl/">OpenCL</a>.</li>
  <li>Благодаря Залми стал чуть больше иудеем.</li>
  <li>Починил электрогитару и&nbsp;начал учиться на&nbsp;ней играть.</li>
  <li>Побывал в&nbsp;кафе &laquo;<a href="https://cloud23bar.com">Облако&nbsp;23</a>&raquo; на&nbsp;двадцать третьем этаже <a href="http://www.beethamtower.org/manchester/beetham-tower-manchester.html">Битэм Тауэр</a>, самого высокого здания в&nbsp;Англии за&nbsp;пределами Лондона.</li>
  <li>Ходил на&nbsp;спектакль <a href="https://ru.wikipedia.org/wiki/Миллер,_Артур">Артура Миллера</a> &laquo;<a href="https://ru.wikipedia.org/wiki/Вид_с_моста_(пьеса)">Вид с&nbsp;моста</a>&raquo;.</li>
  <li>Был на&nbsp;экскурсии на&nbsp;стадионе <a href="https://en.wikipedia.org/wiki/Old_Trafford">Old Trafford</a> и&nbsp;в&nbsp;музее <a href="https://www.manutd.com/en">Manchester United</a>.</li>
  <li>Был свидетелем на&nbsp;истинно английской свадьбе. Носил &laquo;<a href="https://ru.wikipedia.org/wiki/Визитка_(одежда)">визитку</a>&raquo; и&nbsp;заведовал гостями.</li>
  <li>Целую неделю следил за&nbsp;выступлением молодых скрипачей на&nbsp;международном конкурсе и&nbsp;открыл таких скрипачей-виртуозов как <a href="https://ru.wikipedia.org/wiki/Изаи,_Эжен">Эжен Изаи</a> и&nbsp;<a href="https://ru.wikipedia.org/wiki/Паганини,_Никколо">Никколо Паганини</a>.</li>
  <li>Закончил интернет-курс по&nbsp;искусственному интеллекту от&nbsp;<a href="https://www.stanford.edu">Стэнфордского университета</a>.</li>
  <li>Получил диплом на&nbsp;церемонии награждения. Год работы за&nbsp;каждую букву а&nbsp;слове &laquo;PhD&raquo; и&nbsp;ещё год за&nbsp;точку.</li>
  <li>Две недели прощался с&nbsp;друзьями в&nbsp;Манчестере и&nbsp;покинул этот город. Я&nbsp;прожил в&nbsp;Манчестере 5&nbsp;лет и&nbsp;3&nbsp;месяца.</li>
  <li>И&nbsp;было ещё хорошее, но&nbsp;о&nbsp;нём я&nbsp;пока не&nbsp;могу говорить.</li>
</ul>
