---
layout:      post
title:      "На этой неделе я ходил к гомеопату..."
date:        2012-02-19, 09:10:00 +0000
alpha2:      lv
location:   "Юрмала, Латвия"
categories: [дневник, Хемингуэй]
---

<p class="ru">На&nbsp;этой неделе я&nbsp;ходил к&nbsp;гомеопату. Врач мужчина
средних лет, коротко стриженный, ухоженный. Говорит медленно, вдумчиво
и&nbsp;в&nbsp;тоже время ласково, с&nbsp;пониманием.</p>

<p class="ru">Я&nbsp;пишу письма, очень много писем. Кажется, я&nbsp;больше
времени провожу общаясь с&nbsp;друзьями в&nbsp;письмах и&nbsp;через интернет,
чем встречаясь и&nbsp;разговаривая по-настоящему.</p>

<!--more-->

<p class="ru">Последние три дня мы&nbsp;провели на&nbsp;центральном
базаре&mdash;разбиваем палеты, строим полки, возим тачки, в&nbsp;двух словах
перевозим склад.</p>

<p class="ru">Читаю мало. То&nbsp;что можно успеть за&nbsp;двадцать пять минут
пути в&nbsp;электричке. Из&nbsp;последнего запомнились рассказы Хемингуэя
&laquo;Чемпион&raquo;, &laquo;Очень короткий рассказ&raquo;,
&laquo;Дома&raquo;, &laquo;Революционер&raquo;, &laquo;Мой старик&raquo;
из&nbsp;сборника &laquo;В&nbsp;наше время&raquo; и&nbsp;рассказ
&laquo;В&nbsp;чужой стране&raquo; из&nbsp;книги &laquo;Мужчины без
женщин&raquo;. &laquo;Мой старик&raquo; самый лучший рассказ первой книги.</p>

<p class="ru">С&nbsp;трудом мне удалось достать билет на&nbsp;рейс
в&nbsp;среду. Для этого пришлось ехать в&nbsp;аэропорт&mdash;меньше чем
за&nbsp;неделю до&nbsp;вылета билеты продают только в&nbsp;кассе авиакомпании.
Такое ограничение ввели из-за большого количества попыток расплатиться чужими
(крадеными) картами.  В&nbsp;Литве это ограничение действует за&nbsp;пять,
а&nbsp;в&nbsp;Эстонии за&nbsp;три дня до&nbsp;вылета. Скоро в&nbsp;бой,
а&nbsp;вроде только начал привыкать к&nbsp;своей стране.</p>
