---
layout:      post
title:      "Последняя неделя была очень насыщенной..."
date:        2012-02-25, 19:26:00 +0000
alpha2:      de
location:   "Штутгарт, Германия"
categories: [дневник, карьера, квартира, коллеги, Штутгарт]
---

<p class="ru">Последняя неделя была очень насыщенной. Понедельник
и&nbsp;вторник мы&nbsp;провели в&nbsp;Юрмале в&nbsp;гостинице: парились
в&nbsp;банях, купались в&nbsp;бассейнах, сидели в&nbsp;джакузи и&nbsp;спали
в&nbsp;лежаках. В&nbsp;гостиницу мы&nbsp;шли по&nbsp;заснеженному залитому
солнцем пляжу, ступая друг за&nbsp;другом по&nbsp;плохо расчищенной
и&nbsp;не&nbsp;растоптанной дорожке. Было тепло и&nbsp;безветренно.
В&nbsp;среду утром я&nbsp;вернулся на&nbsp;землю обетованную. В&nbsp;Германию
уже вступила весна, и&nbsp;опять можно ходить в&nbsp;куртке нараспашку. Утро
четверга я&nbsp;провёл в&nbsp;спешном разборе своих вещей из&nbsp;Манчестера.
Полуразобранные банановые ящики с&nbsp;разинутыми пастями в&nbsp;коридоре.
А&nbsp;в&nbsp;полдесятого вечера по&nbsp;длинному тоннелю мы&nbsp;въехали
в&nbsp;Штутгарт.</p>

<!--more-->

<p class="ru">Первые два дня я&nbsp;жил в&nbsp;небольшой гостинице
на&nbsp;Ольгином углу (Olgaeck). Лёки&nbsp;&mdash; пожилая женщина
в&nbsp;приёмной оказалось очень приятной женщиной. Она долгое время жила
в&nbsp;Америке и&nbsp;разговаривает на&nbsp;прекрасном английском. Мы&nbsp;друг
друга поняли с&nbsp;полуслова. Благодаря её&nbsp;стараниям сегодня утром
я&nbsp;снял крошечную комнату на&nbsp;самом верхнем этаже другой гостиницы
в&nbsp;южном Штутгарте. Теперь я&nbsp;живу как Раскольников. Владелица, миссис
Чанг, молодая китаянка тоже была ко&nbsp;мне очень добра. Мне везёт: меня
окружают замечательные люди.</p>

<p class="ru">В&nbsp;пятницу я&nbsp;весь день провёл на&nbsp;новом месте работы
в&nbsp;Бёблингене, маленьком городке в&nbsp;двадцати километрах
от&nbsp;Штутгарта. Я&nbsp;познакомился со&nbsp;своим новым шефом и&nbsp;новыми
коллегами. Все они молодые и&nbsp;энергичные люди. Я&nbsp;буду делить офис
с&nbsp;двумя другими разработчиками, и&nbsp;мое рабочее место снова будет
у&nbsp;двери, вдали от&nbsp;окна. Моего ближайшего коллегу зовут Эван. Шесть
месяцев назад он&nbsp;переехал сюда из&nbsp;Южной Африки. Лицо у&nbsp;него
веснушчатое с&nbsp;добрыми голубыми глазами и&nbsp;широкой улыбкой. Короткие
светлые волосы. Маленькая серебристая серьга в&nbsp;левом ухе.</p>

<p class="ru">Я&nbsp;упорно ищу квартиру по&nbsp;сайтам и&nbsp;секретным
спискам арендодателей, доставшихся от&nbsp;сотрудников IBM. Эван научил меня
представляться как &laquo;доктор Абаленков&raquo;. Говорит пожилые дамы,
а&nbsp;их&nbsp;большинство среди хозяек квартир, любят докторов. Доктора
внушают доверие. Одна женщина даже предложила мне скидку с&nbsp;арендной платы
в&nbsp;десять евро. Элементарно, Ватсон. Вчера я&nbsp;прогуливался
по&nbsp;старому городу. Центр Штутгарта небольшой и&nbsp;с&nbsp;трёх сторон
окружён холмами. Поезда и&nbsp;автострады входят в&nbsp;город через тоннели.
Центр разрезает усаженная платанами и&nbsp;усеянная магазинами Королевская
улица (K&ouml;nigstra&szlig;e). В&nbsp;старом городе много величественных
старинных зданий. Реки в&nbsp;городе нет, но&nbsp;есть правильной формы пруд.
Недалеко несколько церквей. Сразу узнаётся немецкий градостроительный стиль:
на&nbsp;маленькой площади церковь, которую хорошо видно с&nbsp;любого конца
всех примыкающих улиц. Несмотря на&nbsp;вторую мировую войну в&nbsp;Штутгарте
сохранилось много старинных жилых домов. Лучшие квартиры расположены
на&nbsp;склонах холмов, откуда открывается удивительный вид на&nbsp;город.
Географически Штутгарт похож на&nbsp;Вупперталь и&nbsp;немного
на&nbsp;Висбаден. Всюду лесенки, всюду покоряющие горы домики. Но&nbsp;несмотря
ни&nbsp;на&nbsp;что Дюссельдорф остаётся для меня самым любимым городом
Германии.</p>

<p class="ru">Днём я&nbsp;посетил две квартиры: состояние их&nbsp;не&nbsp;самое
лучшее. А&nbsp;соседи&nbsp;&mdash; люди с&nbsp;разбитыми костяшками пальцев,
в&nbsp;измазанных джинсах, говорят громко, шаркают, лузгают семечки. Шелуха
падает на&nbsp;тротуар. И&nbsp;вид из&nbsp;окна совсем невесёлый. Только что
оплатил первую неделю проживания. Отдуваясь Миссис Чанг носит огромные блюда
с&nbsp;китайскими яствами к&nbsp;единственному занятому столику
в&nbsp;ресторане. Она прислуживает четырём плотным мужчинам в&nbsp;чёрных
кожаных куртках с&nbsp;чёрными влажными волосами. Они кивают и&nbsp;протяжно
восхищаются каждому новому подносу. И&nbsp;всё это немного напоминает ранние
гонконгские фильмы с&nbsp;молодым Джеки Чаном в&nbsp;главной роли.</p>
