---
layout:      post
title:      "Сегодня я хорошо выспался..."
date:        2012-03-17, 16:25:00 +0000
alpha2:      de
location:   "Штутгарт, Германия"
categories: [дневник, карьера, квартира, Хайам]
---

<p class="ru">Сегодня я&nbsp;хорошо выспался. Встал в&nbsp;семь, принял
лекарства, помылся, побрился, наскоро позавтракал, сдал одежду в&nbsp;стирку
(есть свои преимущества у&nbsp;жизни в&nbsp;гостинице), навёл порядок
в&nbsp;бумагах, разобрался с&nbsp;головной болью (два раза по&nbsp;полтаблетки
Парацетамола) и&nbsp;посмотрел одну квартиру.</p>

<!--more-->

<p class="ru">Дни летят, как листки отрывного календаря. Фронт работы начинает
расти, а&nbsp;задачи проясняться. Постепенно я&nbsp;привыкаю к&nbsp;нагрузке.
Вчера, впервые за&nbsp;весь этот год, я&nbsp;программировал на&nbsp;Фортране.
Для разминки написал функцию для расчёта <a href="https://ru.wikipedia.org/wiki/Пи_(число)">числа&nbsp;Пи</a> по&nbsp;одночленным
и&nbsp;двучленным формулам английского астронома и&nbsp;математика <a href="https://en.wikipedia.org/wiki/John_Machin">Джона Мэчина</a>
(1680&ndash;1751). Осталось добавить разновидности с&nbsp;тремя, четырьмя
и&nbsp;шестью членами. О&nbsp;пятичленных формулах, к&nbsp;сожалению, ничего
не&nbsp;известно. Самая эффективная разновидность с&nbsp;точки зрения
вычислений&mdash;<a href="https://journals.math.tku.edu.tw/index.php/TKJM/article/view/189">шестичленный ряд Чиен-ли Хванга (Hwang Chien-lih)</a>, открытый
в&nbsp;1997 году (Вайсштайн 2012).</p>

<p class="ru">В&nbsp;прошлые выходные я&nbsp;был на&nbsp;свадьбе кузины.
Приятно было посетить Висбаден после долгого отсутствия, побывать в&nbsp;кругу
близких.</p>

<p class="ru">В&nbsp;недавнее время я&nbsp;прочитал сборник
&laquo;<a href="http://lib.ru/HAJAM/hajam2.txt">Рубайат</a>&raquo; <a href="https://ru.wikipedia.org/wiki/Омар_Хайям">Омара Хайама</a> в&nbsp;переводе <a href="https://ru.wikipedia.org/wiki/Плисецкий,_Герман_Борисович">Германа Плисецкого</a>. Хайам
призывает нас грешных не&nbsp;заноситься, не&nbsp;роптать
и&nbsp;довольствоваться малым, делать всё самим и&nbsp;не&nbsp;сильно
прислушиваться к&nbsp;мнению окружающих, бороться, если есть силы, радоваться
мгновению, видеть красоту в&nbsp;мелочах, забывать свою спесь, быть скромными,
уметь расслабляться и&nbsp;веселиться, мыслить локально, абстрагироваться,
мыслить глобально, ибо выше всего и&nbsp;конец всему смерть, смерть которая
всех рассудит.</p>
