---
layout:      post
title:      "Родина"
date:        2012-01-15, 12:54:00 +0000
alpha2:      lv
location:   "Юрмала, Латвия"
categories: [дневник, родина]
---

<figure class="epigraph">
<p>О, Mamma Mia, тебя искал какой-то матрос,</br>
Он&nbsp;был неделю не&nbsp;выбрит, был оборван и&nbsp;бос,</br>
Он&nbsp;перебил всю посуду,</br>
Он&nbsp;искал тебя, Mamma Mia.</p>
<figcaption align="right"><cite><a href="https://splean.ru/music/album/9/#">Мамма Миа</a>, <a href="http://www.splean.ru">Александр Васильев</a>&nbsp;(2007)</cite></figcaption>
</figure>

<p class="ru">Сегодня ночью будет ровно месяц с&nbsp;тех пор как
я&nbsp;вернулся &laquo;домой&raquo;. Я&nbsp;до&nbsp;сих пор не&nbsp;могу
привыкнуть. Я&nbsp;зажат, я&nbsp;скрываюсь в&nbsp;своём панцире,
я&nbsp;опасливо озираюсь по&nbsp;сторонам на&nbsp;улице, я&nbsp;жду подвоха,
я&nbsp;не&nbsp;готов к&nbsp;защите. Физически, я&nbsp;может быть
и&nbsp;в&nbsp;Латвии, но&nbsp;духовно я&nbsp;всё ещё в&nbsp;Великобритании. Мои
друзья, моя работа, мои хорошие впечатления, моя любовь, моя жизнь, мой твёрдый
уверенный шаг остались в&nbsp;Манчестере. Тяжело без работы.</p>

<!--more-->

<p class="ru">Здесь необыкновенно тихо по&nbsp;ночам. Особенно
по&nbsp;сравнению со&nbsp;студенческим общежитием, когда тебя постоянно будит
возвращающаяся с&nbsp;ночной вечеринки молодёжь. Здесь широкие улицы
и&nbsp;много пространства между домами. Воздух необычайно свежий, и&nbsp;даже
в&nbsp;центре города пахнет соснами и&nbsp;морем. Спальные районы совсем
износились. Хмуро смотрят серые девятиэтажки. Стены, подъезды, лифты исписаны.
Мало светится окон. И&nbsp;мне кажется, что все крест-накрест заклеили окна,
собрали нехитрый скарб, закрыли свои квартиры и&nbsp;уехали искать счастья
и&nbsp;успеха заграницей. В&nbsp;редких окнах горит свет и&nbsp;видны
новогодние гирлянды. В&nbsp;заставленной вещами гостиной, в&nbsp;тёплых углах
люди пьют чай, осияненные синими экранами телевизоров, &laquo;диктор читает
новости&raquo;.</p>

<p class="ru">Меня кажется отправили в&nbsp;ссылку, как Пушкина. Мне снятся
смиренные верные жёны, последовавшие в&nbsp;Сибирь за&nbsp;декабристами.
Засыпая, я&nbsp;вспоминаю стихи Блока:</p>

<figure class="poem">
<p>О&nbsp;доблестях, о&nbsp;подвигах, о&nbsp;славе</br>
Я&nbsp;забывал на&nbsp;горестной земле,</br>
Когда твоё лицо в&nbsp;простой оправе</br>
Передо мной сияло на&nbsp;столе.</p>
</figure>

<p class="ru">Отсюда далеко до&nbsp;центра мира, до&nbsp;места, где движение
не&nbsp;прекращается ни&nbsp;на&nbsp;минуту, где люди с&nbsp;закатанными
рукавами и&nbsp;яркими улыбками в&nbsp;два ряда белоснежных зубов, где кипит
работа и&nbsp;творятся великие дела. Фокус в&nbsp;том, чтобы не&nbsp;терять
связь с&nbsp;миром, с&nbsp;делом. Стоит только на&nbsp;секунду замешкаться,
забыться и&nbsp;будешь отключен и&nbsp;смешан в&nbsp;общую массу и&nbsp;будешь
ходить с&nbsp;не&nbsp;улыбающимся напряжённым лицом, смотреть
не&nbsp;в&nbsp;небо, а&nbsp;себе под ноги, в&nbsp;землю.</p>

<p class="ru">Идёт подготовка к&nbsp;поискам работы, к&nbsp;короткому <a href="{{ site.url }}/latex">курсу
лекций по&nbsp;Лейтеку</a>. За&nbsp;всё врёмя со&nbsp;дня сдачи диссертации
заявления были отосланы в&nbsp;<s>Беркли</s>, <s>Бёблинген</s>, Кембридж, <s>Луве&#769;н</s>,
<s>Лугано</s>, <s>Мадрид</s>, <s>Манчестер</s> и&nbsp;<s>Медфорд</s>.</p>

<p class="ru">Я&nbsp;был на&nbsp;Ханукальном вечере в&nbsp;<a href="https://jews.lv">ЛОЕКе</a>. Мне всё
представлялось, я&nbsp;на&nbsp;трансатлантическом лайнере. Не&nbsp;очень
хотелось слушать концерт еврейской самодеятельности, но&nbsp;другой более
интересной альтернативы на&nbsp;этом лайнере не&nbsp;было.</p>

<p class="ru">Несколько недель назад под Рождество я&nbsp;был на&nbsp;хуторе
в&nbsp;кругу однокурсников. Мы&nbsp;ели оленину, устраивали конкурсы
и&nbsp;ночные гуляния. На&nbsp;хуторе под Яунелгавой был даже теннисный корт
с&nbsp;искусственным покрытием из&nbsp;мелкого оранжевого гравия. Наверно,
в&nbsp;советские времена там отдыхали партийные работники. Сегодня большинство
построек находится в&nbsp;запустении. Особенно запомнились две горки бледной
портящейся редьки. А&nbsp;может она заготовлена на&nbsp;корм кабанам?</p>

<p class="ru">Под новый год мы&nbsp;встречались с&nbsp;одноклассниками. Пришло
около десяти человек. В&nbsp;основном парни. Было очень приятно встретиться.
И&nbsp;никто не&nbsp;изменился. Казалось совершенно естественным, что завтра
снова может начаться школа. Два первых биология, на&nbsp;обед мясной салат
в&nbsp;пластиковой коробочке, а&nbsp;после обеда четыре физики. Мои
одноклассники почти все устроились: у&nbsp;многих своё дело, у&nbsp;некоторых
семьи и&nbsp;большие машины.</p>

<p class="ru">За&nbsp;пять лет мои друзья научились жить без меня,
а&nbsp;я&nbsp;научился жить без них. И&nbsp;никто не&nbsp;звонит. Я&nbsp;очень
мало ем&nbsp;и&nbsp;постепенно худею. Минус два килограмма. Умирает
старый&nbsp;я, рождается новый. Меня спасают спорт, чтение и&nbsp;интернет.
Я&nbsp;много бегаю и&nbsp;отжимаюсь. &laquo;Жизнь идёт, а&nbsp;йог
спокоен&raquo;.</p>

<p class="ru">Вчера мы&nbsp;целый день катались на&nbsp;беговых лыжах
на&nbsp;биатлонной базе в&nbsp;Мадоне. Я&nbsp;прошёл семнадцать
с&nbsp;половиной километров (семь кругов трассы). Ехать на&nbsp;беговых лыжах
тяжело. Нужно переносить вес с&nbsp;одной ноги на&nbsp;другую, скользить
коньковым стилем. Конечно, я&nbsp;много падал и&nbsp;сегодня медленно отхожу,
болят шея, левая ключица и&nbsp;правая кисть. Мы&nbsp;жили в&nbsp;деревянном
доме с&nbsp;видом на&nbsp;стрельбище. Справа от&nbsp;нас разместились литовцы,
а&nbsp;слева спортсмены из&nbsp;Даугавпилса. Они профессионалы, у&nbsp;них
собственный стол для натирания лыж, жёлтые трико и&nbsp;оранжевые очки.
А&nbsp;ещё мне удалось попрактиковаться в&nbsp;латышском. С&nbsp;нами была
латышская пара. Катастрофически не&nbsp;хватает слов. Я&nbsp;много слушаю,
повторяю про себя и&nbsp;задаю очень простые вопросы.</p>
