---
layout:      post
title:      "Две прошедшие недели я потратил на выбор работы..."
date:        2012-02-11, 09:10:00 +0000
alpha2:      lv
location:   "Юрмала, Латвия"
categories: [дневник, карьера, Кашкин, Хемингуэй]
---

<p class="ru">Две прошедшие недели я&nbsp;потратил на&nbsp;выбор работы
и&nbsp;принятие решения. Два дня я&nbsp;всерьёз обдумывал начало своего дела
(разработка численного метода для симуляции распространения электромагнитных
волн). Но&nbsp;короткое исследование рынка показало, что моя идея уже воплощена
в&nbsp;жизнь и&nbsp;успешно применяется в&nbsp;двадцати семи компаниях,
крупнейшие из&nbsp;которых работают больше двадцати лет. Особенности продукта,
о&nbsp;которых я&nbsp;ещё даже не&nbsp;успел подумать, у&nbsp;них уже детально
отточены и&nbsp;востребованы. Было&nbsp;бы настоящим самоубийством идти против
этих бизнес-великанов. Нужно больше читать, следить за&nbsp;развитием
технологий и&nbsp;искать новые идеи. Вчера я&nbsp;принял предложение немецкой
фирмы профессионально занимающейся написанием численных методов и&nbsp;меньше
чем через две недели переезжаю в&nbsp;Штутгарт. Никогда раньше я&nbsp;так
не&nbsp;волновался о&nbsp;своём будущем, ни&nbsp;когда уезжал в&nbsp;Манчестер,
ни&nbsp;когда соглашался заниматься докторскими исследованиями. Наверное это
признак взросления. Осталось забронировать билет и&nbsp;найти квартиру.
Хотелось&nbsp;бы купить машину, но&nbsp;&laquo;Я&nbsp;имею желание купить
Жигули, но&nbsp;не&nbsp;имею возможности. Зато имею возможность купить козу,
но&nbsp;не&nbsp;имею никакого желания&raquo;.</p>

<!--more-->

<p class="ru">За&nbsp;последнее время я&nbsp;прочитал отрывок
&laquo;<a href="https://ru.wikipedia.org/wiki/Битва_при_Капоретто">Капоретто</a>&raquo; из&nbsp;романа <a href="https://ru.wikipedia.org/wiki/Хемингуэй,_Эрнест">Хемингуэя</a> &laquo;<a href="https://ru.wikipedia.org/wiki/Прощай,_оружие!">Прощай, оружие!</a>&raquo;,
рассказ &laquo;Груз для Кубы&raquo; из&nbsp;сборника &laquo;<a href="https://ru.wikipedia.org/wiki/Иметь_и_не_иметь">Иметь
и&nbsp;не&nbsp;иметь</a>&raquo; и&nbsp;биографический очерк <a href="https://ru.wikipedia.org/wiki/Кашкин,_Иван_Александрович">Кашкина</a>
о&nbsp;Хемингуэе. Все эти произведения великолепны. Особенно мне запомнились
мысли Фредерика Генри о&nbsp;Кэтрин Баркли, его правило думать о&nbsp;ней
только ночью перед сном, чтобы не&nbsp;сойти с&nbsp;ума от&nbsp;переизбытка
чувств. Долгие ночные отступления узкими дорогами, толкание грузовиков
по&nbsp;колено в&nbsp;грязи и&nbsp;опёка тененте своих шофёров и&nbsp;случайные
мягкие скатывания к&nbsp;мыслям о&nbsp;Кэтрин. Очень интересен рассказ
и&nbsp;физическое ощущение тишины на&nbsp;лодке. Перестрелка окончена,
в&nbsp;живых остался только Гарри Морган, моторы заглушены, вода бьётся
о&nbsp;борт и&nbsp;восходит луна. Очерк Кашкина выше любой похвалы, и&nbsp;если
вам хоть сколько нибудь интересен Хемингуэй-человек, вы&nbsp;обязаны прочитать
работу Кашкина. Это <a href="https://ru.wikipedia.org/wiki/Кашкин,_Иван_Александрович">Иван Александрович Кашкин</a> создал советскую школу
художественного перевода и&nbsp;характерное звучание &laquo;русского
Хемингуэя&raquo;. Это под его руководством и&nbsp;редакцией работала команда
таких мастеров как Элеонора Гальперина, Вера Топер, Ольга Холмская, Евгения
Калашникова, Наталья Волжина, Нина Дарузес, Мария Лорие и&nbsp;Мария
Богословская. Это сам Хемингуэй сказал: &laquo;Есть в&nbsp;Советском Союзе
молодой (теперь, должно быть, старый) человек по&nbsp;имени Кашкин. Говорят,
рыжеволосый (теперь, должно быть, седой). Он&nbsp;лучший из&nbsp;всех критиков
и&nbsp;переводчиков, какие мною когда-либо занимались&raquo;.</p>

<p class="ru">Тридцатый день рождения прошёл ровно. Было солнечно
и&nbsp;морозно. В&nbsp;узком кругу мы&nbsp;отметили праздник
в&nbsp;единственном индийском ресторане в&nbsp;стране. Ждал чуда, но&nbsp;оно
пока не&nbsp;пришло. Кто-то сумел дозвониться, но&nbsp;больше было коротких
сообщений на&nbsp;<a href="http://www.facebook.com">Facebook</a> и&nbsp;на&nbsp;электронную почту.
А&nbsp;в&nbsp;субботу вечером мы&nbsp;отлично пообщались в&nbsp;<a href="http://www.doublecoffee.lv">Double Coffee</a>,
и&nbsp;весь понедельник проговорили о&nbsp;кино и&nbsp;о&nbsp;девочках, пили
чай и&nbsp;ели свежеиспечённые овсяные печенья.</p>
