---
layout:      post
title:      "Кемпер"
date:        2013-06-23, 13:54:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [архитектура, Кемпер, путешествия]
---

<p class="ru">В&nbsp;субботу я&nbsp;ездил в&nbsp;Кемпер, крохотный городок,
чудом уцелевший во&nbsp;второй мировой войне. Главные
достопримечательности&mdash;это готический собор песочного цвета
и&nbsp;множество хрупких мостиков через быструю мелководную речку&mdash;Оде.
По&nbsp;пояс в&nbsp;воде в&nbsp;резиновых костюмах стоят юные
рыбаки&mdash;сегодня проходят соревнования по&nbsp;ловле рыбы. Как
в&nbsp;романах Хемингуэя, перед тем как забросить поплавок в&nbsp;воду,
рыболовы часто машут удочками над головой. Вода настолько прозрачная, что
с&nbsp;берега видно стоящую мелкими группами рыбу&mdash;треску, лосося.
В&nbsp;городе попадаются заграничные туристы, и&nbsp;часто слышится английская
речь. В&nbsp;одном из&nbsp;кафе завсегдатай Билл рассказывает мне
об&nbsp;интересных местах. Он&nbsp;англичанин, но&nbsp;при упоминании города
всегда говорит: &laquo;Наш город, наша погода, наша фаянсовая фабрика...&raquo;
Очаровывает старый театр с&nbsp;колоннами, высокими фрагментарными окнами
в&nbsp;белых рамах, большими фонарными столбами на&nbsp;главной улице
и&nbsp;милым любовно ухоженным садом. В&nbsp;такие моменты я&nbsp;будто
просыпаюсь и&nbsp;ясно понимаю, что я&nbsp;во&nbsp;Франции.</p>

<!--more-->

<p class="ru">А&nbsp;на&nbsp;окраине у&nbsp;реки выпивают местные бездельники.
Они о&nbsp;чём-то умно спорят, играют с&nbsp;забитыми бродячими псами
и&nbsp;вежливыми кивками отвечают на&nbsp;ваши приветствия. На&nbsp;одном
красная морская шапочка и&nbsp;вязаный серый свитер в&nbsp;чёрных национальных
узорах. Нестиранный годами и&nbsp;тяжёлый от&nbsp;влаги и&nbsp;суровой жизни.
У&nbsp;киоска стоит ещё полный ящик пива, и&nbsp;на&nbsp;нём лежат несколько
багетов в&nbsp;бумажных пакетах. А&nbsp;дальше целая улица одинаковых домов
крупного серо-зелёного кирпича, ещё довоенных, с&nbsp;провисшими
электропроводами, закрытыми белыми ставнями, выбитыми калитками
и&nbsp;запущенными газонами. А&nbsp;на&nbsp;другой стороне живут люди.
В&nbsp;такие моменты во&nbsp;мне просыпается архитектор, и&nbsp;непременно
хочется дома восстановить, провести электричество и&nbsp;зажечь уютный вечерний
свет в&nbsp;каждом окне. По&nbsp;всему городу встречаются удивительные фасады,
трёх-, четырёхэтажные дома с&nbsp;высокими окнами и&nbsp;длинными узкими
балконами. В&nbsp;раскрытых окнах волнуются на&nbsp;ветру светлые занавеси.
А&nbsp;краска уже давно облупилась, и&nbsp;наверняка протекает крыша при каждом
бретанском ливне. Часто натыкаешься на&nbsp;ухоженные садики с&nbsp;беседками,
на&nbsp;тихие уголки, на&nbsp;детский крик...</p>
