---
layout:      post
title:      "На Троицу, впервые в этом году, я навестил Манчестер..."
date:        2013-05-29, 21:44:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [Анна Каренина, Манчестер, Толстой]
---

<p class="ru">На&nbsp;Троицу, впервые в&nbsp;этом году, я&nbsp;навестил
Манчестер. На&nbsp;белом Мерседесе мы&nbsp;ехали из&nbsp;аэропорта
в&nbsp;город. Мы&nbsp;выбирали окружные пути с&nbsp;неспешным субботним
движением. По&nbsp;дороге мы&nbsp;говорили о&nbsp;работе и&nbsp;близких
друзьях. И&nbsp;постоянно было чувство, что я&nbsp;во&nbsp;сне, и&nbsp;вот-вот
проснусь. Четыре дня слились в&nbsp;один. Я&nbsp;остановился в&nbsp;своём
старом общежитии, в&nbsp;том&nbsp;же коридоре, в&nbsp;котором я&nbsp;жил
пионервожатым. Студенты стали тише. Теперь они поздно ложатся и&nbsp;рано
встают. В&nbsp;Манчестере мне удалось замедлить ход времени, отдышаться,
вздохнуть и&nbsp;подумать. Курс прошёл на&nbsp;отлично. Мы&nbsp;играли
в&nbsp;бадминтон, и&nbsp;все увидели, как сильно я&nbsp;сдал.
Мы&nbsp;навёрстывали упущенное в&nbsp;корейских, китайских и&nbsp;японских
ресторанах. Пили пятичасовой чай с&nbsp;пирожными в&nbsp;розовых гостиных,
а&nbsp;после гоняли голубей в&nbsp;уютном парке Джона Оуэнса. И&nbsp;так
хотелось пройтись вечером одному по&nbsp;любимому маршруту,
но&nbsp;не&nbsp;оставалось сил. Из&nbsp;Англии я&nbsp;экспортировал тёплые
чувства, пять килограммов Басмати и&nbsp;четыреста пакетиков леди Грей.
Возвращение было лёгким, словно я&nbsp;проснулся, а&nbsp;Манчестер и&nbsp;мои
друзья были чудесным сном.</p>

<!--more-->

<p class="ru">Весь полёт туда и&nbsp;обратно, полчаса утром, полчаса перед
сном, несколько минут в&nbsp;обед и&nbsp;в&nbsp;коротких перерывах я&nbsp;как
зачарованный читаю Анну Каренину. Я&nbsp;в&nbsp;восторге от&nbsp;героев романа,
они&mdash;настоящие люди, они не&nbsp;идеальны, они ошибаются, совершают нелепые
поступки и&nbsp;откладывают обдумывание сложных ситуаций на&nbsp;потом.
И&nbsp;в&nbsp;каждом персонаже&mdash;частичка самого Толстого. Это он&nbsp;молодой
и&nbsp;дерзкий со&nbsp;своим кодексом во&nbsp;Вронском, это он&nbsp;уже
женившийся очаровательный фат и&nbsp;городской франт Облонский, это
он&nbsp;хозяйственник, самоучка и&nbsp;отшельник Лёвин, это
он&nbsp;в&nbsp;Анне, мечущийся, летящий, как мотылёк на&nbsp;огонь,
к&nbsp;неизбежной смерти. Захватывает перемена Каренина: от&nbsp;неприятного
долговязого чиновника с&nbsp;высоким голосом и&nbsp;невозможной привычкой
хрустеть пальцами, у&nbsp;которого всё идёт по&nbsp;плану (во-первых,
во-вторых...), к&nbsp;человеку огромного сердца, спокойствия
и&nbsp;всепрощения.</p>
