---
layout:      post
title:      "Вот я и во Франции..."
date:        2013-03-10, 20:58:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [Брест, Бретань, Бунин, математика, Меир, Набоков, Париж, писатели, природа, Фитцджеральд, Франция, Хемингуэй]
---

<blockquote>
<p class="ru">&laquo;Я&nbsp;американский писатель, рождённый в&nbsp;России,
получивший образование в&nbsp;Англии, где я&nbsp;изучал французскую литературу
перед тем, как на&nbsp;пятнадцать лет переселиться в&nbsp;Германию. ...Моя
голова разговаривает по-английски, моё сердце&mdash;по-русски, и&nbsp;моё
ухо&mdash;по-французски.&raquo;</p>
</blockquote>

<figcaption align="right">
  <cite>
    <a href="https://ru.wikipedia.org/wiki/Набоков,_Владимир_Владимирович">Владимир Владимирович Набоков</a>
  </cite>
</figcaption>

<blockquote>
<p class="ru">&laquo;Здесь не&nbsp;было горячей воды и&nbsp;канализации. Зато
из&nbsp;окна открывался хороший вид. На&nbsp;полу лежал хороший пружинный
матрац, служивший нам удобной постелью. На&nbsp;стене висели картины, которые
нам нравились. Квартира казалась светлой и&nbsp;уютной.&raquo;</p>
</blockquote>

<figcaption align="right">
  <cite>
    <a href="https://ru.wikipedia.org/wiki/Хемингуэй,_Эрнест">Эрнест Хемингуэй</a>
  </cite>
</figcaption>

<p class="ru">Вот я&nbsp;и&nbsp;во&nbsp;Франции&mdash;стране вдохновлявшей
многих и&nbsp;многих талантливых людей. (Я&nbsp;ещё не&nbsp;могу сказать
словами <a href="https://ru.wikipedia.org/wiki/Меир,_Голда">Голды Меир</a> &laquo;Вот я&nbsp;и&nbsp;дома&raquo;.) <a href="https://ru.wikipedia.org/wiki/Бунин,_Иван_Алексеевич">Бунин</a> прожил здесь
33&nbsp;года, <a href="https://ru.wikipedia.org/wiki/Набоков,_Владимир_Владимирович">Набоков</a>, с&nbsp;детства бывавший на&nbsp;западном берегу
и&nbsp;провёдший три года в&nbsp;Париже перед отъездом в&nbsp;Америку,
<a href="https://ru.wikipedia.org/wiki/Хемингуэй,_Эрнест">Хемингуэй</a>, сложившийся как писатель во&nbsp;французской столице
и&nbsp;написавший &laquo;<a href="https://ru.wikipedia.org/wiki/Великий_Гэтсби">Великого Гэтсби</a>&raquo; <a href="https://ru.wikipedia.org/wiki/Фицджеральд,_Фрэнсис_Скотт">Фицджеральд</a>.</p>

<!--more-->

<p class="ru">Ровно неделю я&nbsp;живу и&nbsp;работаю в&nbsp;маленьком городе
по&nbsp;имени Брест на&nbsp;берегу Атлантического океана. Я&nbsp;продолжаю
линию численных методов в&nbsp;применении к&nbsp;проблемам электродинамики. Мой
профессор&mdash;гений. В&nbsp;два счёта, из&nbsp;головы, он&nbsp;может
объяснить теорию электромагнитного поля, связать её&nbsp;с&nbsp;теорией
относительности и&nbsp;общей теорией гравитации. Франческо жалуется
на&nbsp;маленький размер белых досок в&nbsp;университете и&nbsp;отсутствие
классических чёрных с&nbsp;мелом. Он&nbsp;худой, щуплый и&nbsp;необыкновенно
подвижный, нетерпеливый, страстный. Говорит и&nbsp;всё время кивает
в&nbsp;такт, дёргает ногой или барабанит пальцами по&nbsp;столу. В&nbsp;отличие
от&nbsp;Манчестера здесь я&nbsp;буду заниматься интегральными методами
в&nbsp;особенности Методом Моментов также известным под именем Метода Граничных
Элементов. Математика, которую мне предстоит освоить, на&nbsp;порядок сложнее
английской. Манчестер в&nbsp;сравнении с&nbsp;Брестом выглядит невинной детской
забавой. Я&nbsp;уже дочитался до&nbsp;синяков под глазами. Поэтому
на&nbsp;выходных (помимо программирования генетических алгоритмов и&nbsp;kNN
по&nbsp;машинному обучению) стараюсь больше гулять и&nbsp;исследовать
побережье. Читать ни&nbsp;научную, ни&nbsp;художественную литературу
я&nbsp;пока не&nbsp;решаюсь&mdash;берегу зрение.</p>

<p class="ru">Я&nbsp;поселился в&nbsp;студии на&nbsp;третьем этаже
экологического общежития. Из&nbsp;окна мне видно море. Теперь я&nbsp;гордый
обладатель кровати, двух столов, трёх стульев, шкафа-купе, крохотной кухни
и&nbsp;шикарного балкона с&nbsp;дощатым полом. Каждое утро меня можно видеть
на&nbsp;этом балконе, выделывающим па&nbsp;утренней зарядки. До&nbsp;ближайшего
магазина полчаса ходьбы. Цены во&nbsp;французских супермаркетах горят
огнём.</p>

<p class="ru">Во&nbsp;вторник у&nbsp;меня было первое занятие
по&nbsp;французскому языку. К&nbsp;сожалению, этого очень мало. Нужно больше
часов и&nbsp;больше практики. Как только освою математику, всерьёз займусь
языком. Сегодня всё отошло на&nbsp;второй план. В&nbsp;целом я&nbsp;веду
отшельнический образ жизни, ни&nbsp;с&nbsp;кем не&nbsp;общаюсь и&nbsp;никаким
спортом не&nbsp;занимаюсь. Офис&mdash;дом. За&nbsp;эти дни я&nbsp;выучил
несколько новых слов, в&nbsp;том числе &laquo;пляж&raquo;, &laquo;пейзаж&raquo;
и&nbsp;&laquo;магазин&raquo;.</p>

<p class="ru">В&nbsp;четверг я&nbsp;открыл счёт в&nbsp;крупнейшем французском
банке и&nbsp;прошёл медосмотр необходимый для официального приёма
на&nbsp;работу. Несмотря на&nbsp;то, что со&nbsp;мной нет друзей
и&nbsp;близких, я&nbsp;не&nbsp;скучаю&mdash;на это просто нет времени.
Я&nbsp;заражаюсь от&nbsp;Франческо, и&nbsp;какой-то голос во&nbsp;мне постоянно
говорит &laquo;быстрее, быстрее&raquo;, и&nbsp;кто-то будит рано по&nbsp;утрам,
не&nbsp;даёт долго спать и&nbsp;&laquo;терять время в&nbsp;праздном
шатании&raquo;. Только в&nbsp;выходные мне удалось немного снизить
скорость.</p>

<p class="ru">Природа в&nbsp;Бретани дикая, суровая. Морские берега покрыты
скалами и&nbsp;утёсами, редко попадаются короткие полосы пляжей. Идёшь
по&nbsp;склону узкой тропинкой вдоль моря. Будь осторожен, следи за&nbsp;собой.
Одно неловкое движение и&nbsp;кубарем полетишь в&nbsp;воду. А&nbsp;слева
и&nbsp;справа лапы кустарника с&nbsp;мохнатыми жёлтыми цветочками, пожелтевшие
скелеты папоротников оставшиеся с&nbsp;прошлого сезона, серые, плешивые щёки
камней, и&nbsp;изогнутые под жестоким ветром коротенькие деревья. Часто идёт
дождь.</p>
