---
layout:      post
title:      "О матрицах Тёплица и их друзьях"
date:        2013-09-15, 17:02:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [математика, матрица, тензор, Тёплиц, циркулянт]
---

<p class="ru">Быстрое умножение циркулянтов и&nbsp;матриц Тёплица
на&nbsp;векторы при помощи многомерных преобразований Фурье сдвинулось
с&nbsp;мёртвой точки. На&nbsp;простейшие эксперименты потрачены две недели.
Но&nbsp;всё равно работаю я&nbsp;очень медленно, и&nbsp;по&nbsp;приезду
из&nbsp;очередной командировки Франческо будет недоволен и&nbsp;устроит мне
головомойку. Уже пора переходить на&nbsp;новый уровень<span
class="red">&mdash;</span>от матриц к&nbsp;тензорам, а&nbsp;я&nbsp;всё ещё
плохо представляю как строить тензоры Тёплица третьего порядка, а&nbsp;главное,
по&nbsp;каким правилам их&nbsp;умножать на&nbsp;векторы. По&nbsp;ночам мне
снятся матрицы и&nbsp;тензоры. Всё&nbsp;же человеческий мозг
не&nbsp;приспособлен к&nbsp;представлению трёхмерных структур.</p>

<!--more-->

<p class="ru">В&nbsp;пятницу, выпросив на&nbsp;ломаном французском
в&nbsp;столовой пачку спагетти, я&nbsp;лепил тензор, скрепляя макаронины жёлтым
пластилином. Пластилин оказался плохим цементом, и&nbsp;эксперимент пришлось
прекратить. Зато я&nbsp;изобрёл систему рисования тензоров на&nbsp;бумаге,
а&nbsp;также формулу определения элементов на&nbsp;любом уровне сколь угодно
уровневого тензора. В&nbsp;голове зреет статья или руководство
к&nbsp;пользованию &laquo;О&nbsp;быстром умножении тензоров на&nbsp;векторы при
помощи преобразований Фурье&raquo;. Профессионалы могут фыркать, заявляя:
&laquo;Это&nbsp;же элементарно, коллега! Поберегите своё время.&raquo;
Но&nbsp;ни&nbsp;в&nbsp;одном учебнике доступного объяснения в&nbsp;примерах
и&nbsp;графиках я&nbsp;не&nbsp;нашёл.</p>
