---
layout:      post
title:      "Киев"
subtitle:   "день четвёртый"
date:        2013-12-27, 08:05:00 +0000
alpha2:      ua
location:   "Киев, Украина"
categories: [Киев, Пирогово, Украина, Ocean Plaza]
---

<p class="ru">Утро было пролёжено в&nbsp;постели из-за непрекращающихся болей
в&nbsp;животе. А&nbsp;к&nbsp;полудню мы&nbsp;отправились
в&nbsp;&laquo;Пирогово&raquo;, архитектурный парк-заповедник, собравший
в&nbsp;себе украинские жилые постройки последних пяти веков.</p>

<p class="ru">На&nbsp;Софийской площади мы&nbsp;поинтересовались
у&nbsp;таксиста, не&nbsp;знает&nbsp;ли он, где здесь останавливается 176-ая
маршрутка, которая должна была отвезти нас в&nbsp;заповедник. Он&nbsp;улыбнулся
и&nbsp;весело спросил: &laquo;Это вы&nbsp;в&nbsp;интернете прочитали, что здесь
ходит 176-ая? Нет такой маршрутки, и&nbsp;не&nbsp;было никогда. Вы&nbsp;уже
не&nbsp;первые, кто меня об&nbsp;этом спрашивает.&raquo;&nbsp;&mdash;
А&nbsp;вы&nbsp;не&nbsp;знаете, как доехать на&nbsp;метро? &mdash;&nbsp;Так
садитесь, за&nbsp;200 гривен довезу. &mdash;&nbsp;Спасибо, спасибо,
мы&nbsp;не&nbsp;торопимся. &mdash;&nbsp;Так за&nbsp;ваши деньги
мы&nbsp;небыстро поедем,&nbsp;&mdash; отвечает&nbsp;он, кивая
на&nbsp;автомобильную пробку. &mdash;&nbsp;Спасибо, спасибо,
мы&nbsp;на&nbsp;метро докондыбаем. &mdash;&nbsp;Что&nbsp;ж, удачи
и&nbsp;с&nbsp;наступающим.</p>

<!--more-->

<p class="ru">Пирогово&mdash;это одно из&nbsp;самых интересных и&nbsp;замечательных
мест, где мы&nbsp;побывали за&nbsp;всю поездку. Огромный парк площадью 150
гектаров можно объехать на&nbsp;автомобиле за&nbsp;2&nbsp;часа или весь день
обходить пешком. В&nbsp;заповеднике представлены все регионы Украины.
В&nbsp;каждом из&nbsp;регионов воссоздано украинское село целиком:
с&nbsp;мельницей поодаль, деревянным крестом на&nbsp;входе, мазанками бедняков,
хатами крестьян побогаче, домами кулаков на&nbsp;две половины, школой, церковью
и&nbsp;домом священника. Интересные факты: мазанка была самым дешёвым видом
жилья. Мазали из&nbsp;глины, мелко нарубленной соломы и&nbsp;навоза, постепенно
покрывая каркас из&nbsp;толстых прутьев. Мазанка стоила примерно
5&nbsp;серебряных карбованцев. Столько&nbsp;же стоила корова или детская зимняя
обувь для ходьбы в&nbsp;школу. Хата&mdash;означает помещение, в&nbsp;котором есть
печь. Вход на&nbsp;двор открывался через перелаз&mdash;забор из&nbsp;прутьев
высотой до&nbsp;колена и&nbsp;положенной поперёк толстой доски, выступавшей
наружу и&nbsp;внутрь на&nbsp;полметра. Через неё и&nbsp;перелазили
во&nbsp;двор. А&nbsp;также и&nbsp;сидели, отдыхая и&nbsp;глазея на&nbsp;улицу.
Учитель жил прямо в&nbsp;школе. Обучение шло только в&nbsp;зимние нерабочие
месяцы. Из&nbsp;предметов была грамота, закон божий, пение... Учились почти
одни только мальчики. Девочки зимой шили себе приданое: сорок сорочек. Ведь
в&nbsp;возрасте пятнадцати лет нужно было обязательно выйти замуж. Женихи были
ровесниками. А&nbsp;средняя продолжительность жизни составляла около сорока
лет. После окончания такой церковно&ndash;приходской школы выпускник нанимался
к&nbsp;неграмотному старосте. По&nbsp;бедности многие хаты не&nbsp;имели стёкол
в&nbsp;окнах. Стёкла заменялись оболонью&mdash;бычьим пузырём.</p>

<p class="ru">Послушав истории нашего экскурсовода и&nbsp;вволю намесив грязи,
мы&nbsp;напились чаю в&nbsp;маленькой экскурсоводной комнатке на&nbsp;входе
в&nbsp;парк и&nbsp;накупили сувениров. По&nbsp;дороге из&nbsp;парка
к&nbsp;автобусной остановке виднелась за&nbsp;оголевшими деревьями старинная
трёхкупольная церковь, справа от&nbsp;неё садилось солнце, освещая нас мягким
оранжевым светом, а&nbsp;у&nbsp;дороги покачивались под лёгким ветром колосья
пшеницы.</p>

<p class="ru">Вечер прошёл в&nbsp;огромном торговом центре Ocean Plaza
за&nbsp;ужином, маникюром и&nbsp;танцами на&nbsp;публику.</p>
