---
layout:      post
title:      "О первой молодости"
date:        2013-07-22, 21:45:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [Былое и думы, Герцен, первая молодость]
---

<blockquote>
<p class="ru">Люди обыкновенно вспоминают о&nbsp;первой молодости,
о&nbsp;тогдашних печалях и&nbsp;радостях немного с&nbsp;улыбкой снисхождения,
как будто они хотят, жеманясь, как Софья Павловна в&nbsp;&laquo;Горе
от&nbsp;ума&raquo;, сказать: &laquo;Ребячество!&raquo; Словно они стали лучше
после, сильнее чувствуют или больше. Дети года через три стыдятся своих
игрушек,&nbsp;&mdash; пусть&nbsp;их, им&nbsp;хочется быть большими, они так
быстро растут, меняются, они это видят по&nbsp;курточке
и&nbsp;по&nbsp;страницам учебных книг; а, кажется, совершеннолетним
можно&nbsp;бы было понять, что &laquo;ребячество&raquo;,
с&nbsp;двумя&mdash;тремя годами юности&nbsp;&mdash; самая полная, самая
изящная, самая наша часть жизни, да&nbsp;и&nbsp;чуть&nbsp;ли не&nbsp;самая
важная, она незаметно определяет всё будущее.</p>

<!--more-->

<p class="ru">Пока человек идёт скорым шагом вперед, не&nbsp;останавливаясь,
не&nbsp;задумываясь, пока не&nbsp;пришёл к&nbsp;оврагу или не&nbsp;сломал себе
шеи, он&nbsp;все полагает, что его жизнь впереди, свысока смотрит
на&nbsp;прошедшее и&nbsp;не&nbsp;умеет ценить настоящего. Но&nbsp;когда опыт
прибил весенние цветы и&nbsp;остудил летний румянец, когда
он&nbsp;догадывается, что жизнь, собственно, прошла, а&nbsp;осталось
её&nbsp;продолжение, тогда он&nbsp;иначе возвращается к&nbsp;светлым,
к&nbsp;теплым, к&nbsp;прекрасным воспоминаниям первой молодости.</p>

<p class="ru">Природа с&nbsp;своими вечными уловками и&nbsp;экономическими
хитростями даёт юность человеку, но&nbsp;человека сложившегося берёт для себя,
она его втягивает, впутывает в&nbsp;ткань общественных и&nbsp;семейных
отношений, в&nbsp;три четверти не&nbsp;зависящих от&nbsp;него, он, разумеется,
даёт своим действиям свой личный характер, но&nbsp;он&nbsp;гораздо меньше
принадлежит себе, лирический элемент личности ослаблен, а&nbsp;потому
и&nbsp;чувства и&nbsp;наслаждение&nbsp;&mdash; всё слабее, кроме ума
и&nbsp;воли.</p>
</blockquote>

<figcaption align="right">
  <cite><a href="https://ru.wikipedia.org/wiki/Былое_и_думы">Былое и думы,</a> 
  <a href="https://ru.wikipedia.org/wiki/Герцен%2C_Александр_Иванович">
  Александр Иванович Герцен</a>&nbsp;(1860)</cite>
</figcaption>
