---
layout:      post
title:      "О Москве"
date:        2013-08-28, 18:27:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [Былое и думы, Герцен, Москва]
---

<blockquote>
<p class="ru">Москва, по-видимому сонная и&nbsp;вялая, занимающаяся сплетнями
и&nbsp;богомольем, свадьбами и&nbsp;ничем&nbsp;&mdash; просыпается всякий раз,
когда надобно, и&nbsp;становится в&nbsp;уровень с&nbsp;обстоятельствами, когда
над Русью гремит гроза. Она в&nbsp;1612 году кроваво обвенчалась с&nbsp;Россией
и&nbsp;сплавилась с&nbsp;нею огнём 1812.</p>
</blockquote>

<figcaption align="right">
  <cite><a href="https://ru.wikipedia.org/wiki/Былое_и_думы">Былое и думы,</a> 
  <a href="https://ru.wikipedia.org/wiki/Герцен%2C_Александр_Иванович">
  Александр Иванович Герцен</a>&nbsp;(1860)</cite>
</figcaption>
