---
layout:      post
title:      "Кофе в гейзерной кофеварке (мока экспресс)"
date:        2013-09-15, 12:42:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [видеоролик, гейзерная кофеварка, кофе, мока экспресс]
---

<p class="ru">Воскресное утро—время кофе. Удивительный видеоролик Никиты
Шатиора и <a href="https://kovenkin.com">Родиона Ковенькина</a> о том,
<a href="http://kovenkin.com/blog/2013/02/moka-pot-coffee">как правильно варить
кофе</a> в <a href="https://ru.m.wikipedia.org/wiki/Гейзерная_кофеварка">гейзерной
кофеварке (мока экспресс)</a>.</p>

<figure class="video">
  <iframe width="560" height="315" src="//player.vimeo.com/video/58654673"
	  frameborder="0" allow="accelerometer; autoplay; encrypted-media;
	  gyroscope; picture-in-picture" allowfullscreen></iframe>
</figure>
