---
layout:      post
title:      "Киев"
subtitle:   "день первый"
date:        2013-12-23, 21:00:00 +0000
alpha2:      ua
location:   "Киев, Украина"
categories: [Киев, Украина]
---

<p class="ru">Да&nbsp;здравствует Киев&mdash;мать городов русских!
Он&nbsp;встречает несмелым солнечным светом, еле пробивающимся из-за
полупрозрачных перистых облаков, желтыми залысинами полей, тонким слоем снега
по&nbsp;крышам и&nbsp;оврагам, роем таксистов, медленным оператором
в&nbsp;банке, развесёлыми водителями, крикливыми пассажирами и&nbsp;широкими
улицами, за&nbsp;которыми рядами выстроились тонкие тянущиеся ввысь,
а&nbsp;не&nbsp;вширь тополя в&nbsp;стиле Монеевской серии.</p>

<!--more-->

<p class="ru">Мы&nbsp;благополучно вселились в&nbsp;старинную квартиру
с&nbsp;высокими потолками и&nbsp;аркой в&nbsp;кухню. Дома тихо, благостно<span
class="red">&mdash;</span>ни звука. Окна лоджии в&nbsp;деревянных
необработанных рамах выходят на&nbsp;задний двор Софийского собора. Парадная
с&nbsp;резными решётками и&nbsp;морёными перилами выкрашена в&nbsp;голубой
с&nbsp;белым.</p>

<p class="ru">Отобедав в&nbsp;Пузатой Хате, мы&nbsp;мельком взглянули
на&nbsp;баррикады на&nbsp;Крещатике. Проезжая часть перегорожена с&nbsp;двух
сторон грязными белыми мешками, деревянными кольями с&nbsp;надетыми на&nbsp;них
автомобильными покрышками. А&nbsp;посередине расставлены палатки. Целый
палаточный городок. Это, конечно, и&nbsp;Львов, и&nbsp;Николаев, и&nbsp;Сумы.
Повсюду запах костров и&nbsp;жареного мяса. Но&nbsp;везде чисто. Сцену
на&nbsp;Майдане занимают музыканты. Реют разноцветные флаги. Обстановка мирная,
расслабленная. На&nbsp;площади больше нужно опасаться Деда Мороза, норовящего
сфотографироваться с&nbsp;вами за&nbsp;деньги, нежели настоящих
революционеров.</p>

<p class="ru">Вечером мы&nbsp;покупали продукты. Пили <i>молоко з&nbsp;медом</i>
и&nbsp;парили ноги. А&nbsp;я&nbsp;делал упражнения по&nbsp;выпрямлению осанки.
Всё хорошо. Шато Марго. Киев&mdash;очень душевный город.</p>
