---
layout:      post
title:      "О московском университете"
date:        2013-07-26, 13:15:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [Герцен, молодёжь, Москва, Московский университет, студенты]
---

<blockquote>
<p class="ru">В&nbsp;истории русского образования и&nbsp;в&nbsp;жизни двух
последних поколений Московский университет и&nbsp;Царскосельский лицей играют
значительную роль.</p>

<p class="ru">Московский университет вырос в&nbsp;своем значении вместе
с&nbsp;Москвою после 1812&nbsp;года; разжалованная императором Петром
из&nbsp;царских столиц, Москва была произведена императором Наполеоном (сколько
волею, а&nbsp;вдвое того неволею) в&nbsp;столицы народа русского. Народ
догадался по&nbsp;боли, которую чувствовал при вести о&nbsp;ее&nbsp;занятии
неприятелем, о&nbsp;своей кровной связи с&nbsp;Москвой. С&nbsp;тех пор началась
для неё новая эпоха. В&nbsp;ней университет больше и&nbsp;больше становился
средоточием русского образования. Все условия для его развития были
соединены&nbsp;&mdash; историческое значение, географическое положение
и&nbsp;отсутствие царя.</p>

<!--more-->

<p class="ru">...</p>

<p class="ru">Но, несмотря на&nbsp;это, опальный университет рос влиянием,
в&nbsp;него как в&nbsp;общий резервуар вливались юные силы России со&nbsp;всех
сторон, из&nbsp;всех слоёв; в&nbsp;его залах они очищались
от&nbsp;предрассудков, захваченных у&nbsp;домашнего очага, приходили
к&nbsp;одному уровню, братались между собой и&nbsp;снова разливались
во&nbsp;все стороны России, во&nbsp;все слои&nbsp;её.</p>

<p class="ru">...</p>

<p class="ru">До&nbsp;1848 года устройство наших университетов было чисто
демократическое. Двери их&nbsp;были открыты всякому, кто мог выдержать экзамен
и&nbsp;не&nbsp;был ни&nbsp;крепостным, ни&nbsp;крестьянином, не&nbsp;уволенным
своей общиной. Николай все это исказил; он&nbsp;ограничил прием студентов,
увеличил плату своекоштных и&nbsp;дозволил избавлять от&nbsp;неё только бедных
дворян. Всё это принадлежит к&nbsp;ряду безумных мер, которые исчезнут
с&nbsp;последним дыханием этого тормоза, попавшего на&nbsp;русское
колесо,&nbsp;&mdash; вместе с&nbsp;законом о&nbsp;пассах, о&nbsp;религиозной
нетерпимости и&nbsp;проч.</p>

<p class="ru">Пёстрая молодежь, пришедшая сверху, снизу, с&nbsp;юга
и&nbsp;севера, быстро сплавлялась в&nbsp;компактную массу товарищества.
Общественные различия не&nbsp;имели у&nbsp;нас того оскорбительного влияния,
которое мы&nbsp;встречаем в&nbsp;английских школах и&nbsp;казармах;
об&nbsp;английских университетах я&nbsp;не&nbsp;говорю: они существуют
исключительно для аристократии и&nbsp;для богатых. Студент, который&nbsp;бы
вздумал у&nbsp;нас хвастаться своей белой костью или богатством, был&nbsp;бы
отлучен от&nbsp;&laquo;воды и&nbsp;огня&raquo;, замучен товарищами.</p>

<p class="ru">...</p>

<p class="ru">Учились&nbsp;ли мы&nbsp;при всём этом чему-нибудь, могли&nbsp;ли
научиться? Полагаю, что &laquo;да&raquo;. Преподавание было скуднее, объём его
меньше, чем в&nbsp;сороковых годах. Университет, впрочем, не&nbsp;должен
оканчивать научное воспитание; его дело&nbsp;&mdash; поставить человека
a&nbsp;meme продолжать на&nbsp;своих ногах; его дело&nbsp;&mdash; возбудить
вопросы, научить спрашивать. Именно это-то и&nbsp;делали такие профессора, как
М.&nbsp;Г.&nbsp;Павлов, а&nbsp;с&nbsp;другой стороны, и&nbsp;такие, как
Каченовский. Но&nbsp;больше лекций и&nbsp;профессоров развивала студентов
аудитория юным столкновением, обменом мыслей, чтений... Московский университет
свое дело делал; профессора, способствовавшие своими лекциями развитию
Лермонтова, Белинского, И.&nbsp;Тургенева, Кавелина, Пирогова, могут спокойно
играть в&nbsp;бостон и&nbsp;еще спокойнее лежать под землей.</p>
</blockquote>

<figcaption align="right">
  <cite><a href="https://ru.wikipedia.org/wiki/Былое_и_думы">Былое и думы,</a> 
  <a href="https://ru.wikipedia.org/wiki/Герцен%2C_Александр_Иванович">
  Александр Иванович Герцен</a>&nbsp;(1860)</cite>
</figcaption>
