---
layout:      post
title:      "Албанец"
date:        2013-06-23, 13:46:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [албанец, Клинт Иствуд, питьё]
---

<p class="ru">В&nbsp;последнее время мои выходные проходят очень насыщенно.
На&nbsp;прошлой неделе к&nbsp;нам приезжал техник из&nbsp;компании,
производящей оборудование для электроэнцефалографии. Он&nbsp;албанец,
но&nbsp;последние 16&nbsp;лет живёт в&nbsp;Великобритании, в&nbsp;Лондоне.
У&nbsp;него плавные движения и&nbsp;серьёзный вид, когда он&nbsp;что-либо
объясняет. С&nbsp;нашим профессором он&nbsp;настороженно&ndash;внимателен,
а&nbsp;с&nbsp;нами лёгок и&nbsp;игрив. Когда-то смуглая балканская кожа
побледнела под лучами скудного британского солнца. На&nbsp;шее
и&nbsp;на&nbsp;запястье он&nbsp;носит крупной вязки цепи. Редкое имя, цвет кожи
и&nbsp;эти цепи, вот и&nbsp;всё что выдает его балканское происхождение.
На&nbsp;излёте третьего десятка лет неженат. Тонкой материи рубашка скрывает
растущий живот. А&nbsp;в&nbsp;пальцах часто вертится полупрозрачная трубочка
чем-то похожая на&nbsp;флакон для духов&mdash;электронная сигарета. &mdash;Как?
Вы&nbsp;до&nbsp;сих пор курите обычные сигареты? Это&nbsp;же дым, грязь,
гадость... В&nbsp;общем, такой 20&nbsp;век и&nbsp;уже так немодно...</p>

<!--more-->

<p class="ru">В&nbsp;пятницу по&nbsp;пустынной главной улице под мелким
бретанским дождём мы&nbsp;торопимся под крышу первого бара. Зелёный
не&nbsp;от&nbsp;мяты, а&nbsp;от&nbsp;сиропа мохито развязывает языки.
Я&nbsp;восторженно рассказываю о&nbsp;русской литературе, о&nbsp;Бунине
и&nbsp;о&nbsp;свежих впечатлениях от&nbsp;Анны Карениной. Он&mdash;о медитации,
об&nbsp;античной философии и&nbsp;умении ирландских стариков пить
не&nbsp;напиваясь. &mdash;Представляешь, старик, высокий, сухой, крепкий,
но&nbsp;ухоженный, статный, чем-то похожий на&nbsp;Клинта Иствуда в&nbsp;его
последних фильмах. Ему за&nbsp;семьдесят, а&nbsp;мне всего двадцать лет.
Мы&nbsp;пьём виски, и&nbsp;я&nbsp;думаю, сколько&nbsp;же он&nbsp;сможет
выдержать? Мне-то ничего не&nbsp;будет, я&nbsp;же молодой. Вот сейчас
он&nbsp;уже напьётся. А&nbsp;кончается всегда тем, что под утро он&nbsp;меня
почти бессознательного, вяжущего языком везёт на&nbsp;машине домой. Ну&nbsp;так
до&nbsp;следующей пятницы? Давай!</p>
