---
layout:      post
title:      "Ужасно легко быть бесчувственным днём..."
date:        2013-05-04, 09:49:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [бесчувственность, Фиеста, Хемингуэй]
---

<blockquote>
<p class="ru">Машина поднялась в&nbsp;гору, пересекла освещенную площадь, потом
ещё поднялась, потом спустилась в&nbsp;темноту и&nbsp;мягко покатила
по&nbsp;асфальту темной улицы позади церкви Сент-Этьен-дю-Мон, миновала деревья
и&nbsp;стоянку автобусов на&nbsp;площади Контрэскарп, потом въехала
на&nbsp;булыжную мостовую улицы Муфтар. По&nbsp;обеим сторонам улицы светились
окна баров и&nbsp;витрины ещё открытых лавок. Мы&nbsp;сидели врозь,
а&nbsp;когда мы&nbsp;поехали по&nbsp;старой, тряской улице, нас тесно прижало
друг к&nbsp;другу. Брет сняла шляпу. Откинула голову. Я&nbsp;видел её&nbsp;лицо
в&nbsp;свете, падающем из&nbsp;витрин, потом стало темно, потом, когда
мы&nbsp;выехали на&nbsp;авеню Гобелен, я&nbsp;отчетливо увидел её&nbsp;лицо.
Мостовая была разворочена, и&nbsp;люди работали на&nbsp;трамвайных путях при
свете ацетиленовых горелок. Белое лицо Брет и&nbsp;длинная линия её&nbsp;шеи
были ясно видны в&nbsp;ярком свете горелок. Когда опять стало темно,
я&nbsp;поцеловал&nbsp;её. Мои губы прижались к&nbsp;её&nbsp;губам, а&nbsp;потом
она отвернулась и&nbsp;забилась в&nbsp;угол, как можно дальше от&nbsp;меня.
Голова её&nbsp;была опущена.</p>

<!--more-->

<p class="ru">...</p>

<p class="ru">Теперь она сидела выпрямившись. Я&nbsp;обнял&nbsp;её, и&nbsp;она
прислонилась ко&nbsp;мне, и&nbsp;мы&nbsp;были совсем спокойны. Она смотрела мне
в&nbsp;глаза так, как она умела смотреть&nbsp;&mdash; пока не&nbsp;начинало
казаться, что это уже не&nbsp;её&nbsp;глаза. Они смотрели, и&nbsp;всё ещё
смотрели, когда любые глаза на&nbsp;свете давно перестали&nbsp;бы смотреть. Она
смотрела так, словно в&nbsp;мире не&nbsp;было ничего, на&nbsp;что она
не&nbsp;посмела&nbsp;бы так смотреть, а&nbsp;на&nbsp;самом деле она очень
многого в&nbsp;жизни боялась.</p>

<p class="ru">...</p>

<p class="ru">Я&nbsp;зажёг лампу около кровати, потушил газ в&nbsp;столовой
и&nbsp;распахнул широкие окна спальни. Кровать стояла далеко от&nbsp;окон,
и&nbsp;я&nbsp;сидел при открытых окнах возле кровати и&nbsp;раздевался. Ночной
поезд, развозивший овощи по&nbsp;рынкам, проехал по&nbsp;трамвайным рельсам.
Поезда эти громыхали по&nbsp;ночам, когда не&nbsp;спалось. Раздеваясь,
я&nbsp;смотрелся в&nbsp;зеркало платяного шкафа, стоявшего рядом
с&nbsp;кроватью. Типично французская манера расставлять мебель. Удобно,
пожалуй. И&nbsp;надо&nbsp;же&nbsp;&mdash; из&nbsp;всех возможных способов быть
раненым... В&nbsp;самом деле смешно. Я&nbsp;надел пижаму и&nbsp;лёг
в&nbsp;постель. У&nbsp;меня было два спортивных журнала, и&nbsp;я&nbsp;снял
с&nbsp;них бандероли. Один был оранжевый. Другой&nbsp;&mdash; жёлтый.
В&nbsp;обоих будут одни и&nbsp;те&nbsp;же сообщения, поэтому, какой&nbsp;бы
я&nbsp;ни&nbsp;прочёл первым, мне не&nbsp;захочется читать другой.
&laquo;Ле&nbsp;Ториль&raquo; лучше, и&nbsp;я&nbsp;начал с&nbsp;него.
Я&nbsp;прочёл его от&nbsp;корки до&nbsp;корки, вплоть до&nbsp;писем
в&nbsp;редакцию и&nbsp;загадок-шуток. Я&nbsp;потушил лампу. Может быть, удастся
заснуть.</p>

<p class="ru">...</p>

<p class="ru">Я&nbsp;лежал без сна и&nbsp;думал, и&nbsp;мысль перескакивала
с&nbsp;предмета на&nbsp;предмет. Потом я&nbsp;не&nbsp;мог больше отогнать
мыслей об&nbsp;этом и&nbsp;начал думать о&nbsp;Брет, и&nbsp;всё остальное
исчезло. Я&nbsp;думал о&nbsp;Брет, и&nbsp;мысли мои уже не&nbsp;перескакивали
с&nbsp;предмета на&nbsp;предмет, а&nbsp;словно поплыли по&nbsp;мягким волнам.
И&nbsp;тут, неожиданно для самого себя, я&nbsp;заплакал. Потом, немного спустя,
мне стало легче, я&nbsp;лежал в&nbsp;постели и&nbsp;прислушивался
к&nbsp;тяжелым вагонам, проезжавшим мимо по&nbsp;улице, а&nbsp;потом
заснул.</p>

<p class="ru">...</p>

<p class="ru">&mdash;&nbsp;Что ты&nbsp;на&nbsp;меня так смотришь?
Я&nbsp;сказала ему, что влюблена в&nbsp;тебя. И&nbsp;это тоже правда. Что
ты&nbsp;на&nbsp;меня так смотришь? Он&nbsp;принял это очень мило. Хочет завтра
повезти нас ужинать. Поедешь?</p>

<p class="ru">...</p>

<p class="ru">На&nbsp;лестнице мы&nbsp;ещё раз поцеловались, и, когда
я&nbsp;крикнул консьержке, чтобы она потянула шнур, она что-то проворчала
за&nbsp;дверью. Я&nbsp;поднялся к&nbsp;себе и&nbsp;смотрел в&nbsp;открытое
окно, как Брет подходит к&nbsp;большому лимузину, дожидавшемуся у&nbsp;края
тротуара под дуговым фонарем. Она вошла, и&nbsp;машина тронулась.
Я&nbsp;отвернулся от&nbsp;окна. На&nbsp;столе стоял пустой стакан
и&nbsp;стакан, наполовину наполненный коньяком с&nbsp;содовой. Я&nbsp;вынес
их&nbsp;оба на&nbsp;кухню и&nbsp;вылил коньяк в&nbsp;раковину. Я&nbsp;погасил
газ в&nbsp;столовой, сбросил туфли, сидя на&nbsp;постели, и&nbsp;лёг. Вот какая
она, Брет,&nbsp;&mdash; и&nbsp;о&nbsp;ней-то я&nbsp;плакал. Потом
я&nbsp;вспомнил, как она только что шла по&nbsp;улице и&nbsp;как села
в&nbsp;машину, и, конечно, спустя две минуты мне уже опять стало скверно.
Ужасно легко быть бесчувственным днем, а&nbsp;вот ночью&nbsp;&mdash; это совсем
другое дело.</p>
</blockquote>

<figcaption align="right">
  <cite><a href="https://ru.wikipedia.org/wiki/Хемингуэй,_Эрнест">
    Эрнест Хемингуэй</a>,&nbsp;
  <a href="https://ru.wikipedia.org/wiki/И_восходит_солнце_(Фиеста)">
    И восходит солнце (Фиеста)</a> (1926)</cite>
</figcaption>
