---
layout:      post
title:      "Мои герои"
date:        2013-04-29, 20:57:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [Бостон Ред Сокс, Грегори Хаус, Джек Шепард, киногерои, Лиза Кадди, Майк Росс, Харви Спектор]
---

<p class="ru">Меня сильно вдохновляют <a href="https://ru.wikipedia.org/wiki/Форс-мажоры">Харви Спектор</a> и&nbsp;его ученик <a href="https://ru.wikipedia.org/wiki/Форс-мажоры">Майк Росс</a>.
Я&nbsp;помню дни когда я&nbsp;и&nbsp;сам очень хотел работать
стратегом&ndash;консультантом. Я&nbsp;всегда хотел быть с&nbsp;лучшими
и&nbsp;работать я&nbsp;был согласен только в&nbsp;<a href="https://www.mckinsey.com">McKinzey &amp;&nbsp;Co</a>. Меня
всегда раздражала надуманная напыщенность <a href="https://www.bcg.com">Boston Consulting Group</a>
и&nbsp;откровенная безалаберность, неопрятность и&nbsp;шалтай-болтайство
<a href="https://www.accenture.com/us-en">Accenture</a>. Скажете на&nbsp;милость, как можно позволить себе опаздывать
на&nbsp;встречу, обещать написать электрописьмо и&nbsp;не&nbsp;написать или носить
костюм, но&nbsp;ходить с&nbsp;рубашкой на&nbsp;выпуск? Несколько раз
я&nbsp;обращался в&nbsp;<a href="https://www.mckinsey.com">McKinzey</a> и&nbsp;они всегда
&laquo;с&nbsp;сожалением&raquo; сообщали мне, что &laquo;конкурс был очень
высоким&raquo;, вежливо желали мне &laquo;успеха в&nbsp;будущем&raquo;
и&nbsp;просили &laquo;подавать свои заявления следующим летом&raquo;.</p>

<!--more-->

<p class="ru">Странно, но&nbsp;каждый период моей жизни соответствует своему
герою. В&nbsp;год магистрской работы им&nbsp;был подтянутый, необыкновенно
умный и&nbsp;практичный <a href="https://ru.wikipedia.org/wiki/Майкл_Скофилд">Майкл Скофилд</a>, талантливый инженер до&nbsp;секунды
спланировавший план побега своего брата из&nbsp;тюрьмы. В&nbsp;начале
докторской им&nbsp;был <a href="https://ru.wikipedia.org/wiki/Джек_Шепард">Джек Шепард</a> из&nbsp;&laquo;<a href="https://ru.wikipedia.org/wiki/Остаться_в_живых_(телесериал)">Остаться в&nbsp;живых</a>&raquo;
по-настоящему положительный врач, готовый придти на&nbsp;помощь любому, лидер,
мягкий, немного неуверенный в&nbsp;себе, с&nbsp;ноткой минора, верный фанат
<a href="https://www.mlb.com/redsox">Бостон Ред Сокс</a>, влюбчивый, но&nbsp;успешный и&nbsp;добрый. Его всегда выручало
чувство долга перед самим собой и&nbsp;перед другими. Потом почти три или
четыре года докторской моим героем был <a href=""https://ru.wikipedia.org/wiki/Грегори_Хаус>Грегори Хаус</a>, едкий, крепкий, разумный,
знающий себе цену, гонявший на&nbsp;<a href="https://en.wikipedia.org/wiki/Repsol_Honda">Хонде Репсол</a>, выжимавший из&nbsp;своих
сотрудников всё, на&nbsp;что они были способны и&nbsp;даже немного больше.
Венцом были его теннисный мяч, который он&nbsp;бросал об&nbsp;стену
в&nbsp;минуты размышлений, и&nbsp;белая доска, на&nbsp;которой стремительно
писал гипотезы диагнозов и&nbsp;также молниеносно их&nbsp;вычёркивал.
Неповторимы его уколы в&nbsp;сторону <a href="https://ru.wikipedia.org/wiki/Лиза_Кадди">Лизы Кадди</a>: &laquo;А&nbsp;что, разве
в&nbsp;еврейской школе вас этому не&nbsp;учили?&raquo;</p>

<p class="ru">Я&nbsp;так давно перестал жить своей настоящей жизнью. Вечера
я&nbsp;просиживаю перед монитором, сопереживаю своим героям, проживаю
их&nbsp;жизни вместе с&nbsp;ними и&nbsp;всей душой желаю им&nbsp;счастья.</p>
