---
layout:      post
title:      "В мире иллюзий"
date:        2013-12-12, 13:38:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [жестокость, иллюзия, исследования, работа, Франция, Франческо]
---

<p class="ru">А&nbsp;новостей много, и&nbsp;не&nbsp;говори. Душа просит поэзии
в&nbsp;стиле Мандельштама и&nbsp;Блока и&nbsp;приключений в&nbsp;духе
Лермонтова и&nbsp;Цоя. За&nbsp;окном затишье, стальное небо в&nbsp;проблесках,
успокоенные жёлтые листья под одинокими осиротевшими деревьями. Спокоен
и&nbsp;океан. Так всегда после боя. Снова я&nbsp;чувствую себя как боксёр
в&nbsp;раздевалке после проигранного боя. Худое тело в&nbsp;поту, в&nbsp;крови,
в&nbsp;слезах лицо. Тише, тише. Всё кончилось. Осталось размотать бинты,
освободить разбитые костяшки и&nbsp;долго, долго стоять в&nbsp;горячем
душе.</p>

<!--more-->

<figure class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/8_0gW-64VxM" frameborder="0" allowfullscreen>
  </iframe>
</figure>

<p class="ru">Я&nbsp;не&nbsp;оправдал надежд Франческо, он&mdash;моих.
За&nbsp;девять месяцев совместной работы звёздочек на&nbsp;моём фюзеляже
(научных публикаций) не&nbsp;прибавилось. В&nbsp;поддержке фонда Марии Кюри
отказано из-за недостатка звёздочек. Вилами по&nbsp;воде писанные средства
на&nbsp;следующие полтора года остались в&nbsp;воде. &laquo;Я&nbsp;думаю, тебе
стоит продолжить, из&nbsp;этого может получиться взаимовыгодное
сотрудничество&raquo;,&nbsp;&mdash; говорит Франческо месяц назад.
&laquo;Ты&nbsp;не&nbsp;выдержишь в&nbsp;этом жестоком&ndash;жестоком мире
исследовательских университетов. Может быть, тебе стоит серьёзно подумать
о&nbsp;другой карьере?&raquo;&nbsp;&mdash; заверяет он&nbsp;меня неделю назад.
Я&nbsp;всё ещё лечу по&nbsp;инерции, керосина хватит до&nbsp;четырнадцатого
мая. Дальше будет видно. Но&nbsp;кажется, буду отступать, отсиживаться
в&nbsp;ангаре. Тихо и&nbsp;кропотливо работать над новыми звёздами. Вот
и&nbsp;всё, всё конечно, кончается год, кончаются мои французские похождения.
Мысленно я&nbsp;прощаюсь с&nbsp;Францией.</p>

<p class="ru">Теперь днём я&nbsp;начинающий специалист по&nbsp;автомобильным
радарам, а&nbsp;ночью тайный исследователь и&nbsp;конструктор метода конечных
разностей.</p>
