---
layout:      post
title:      "Университетская библиотека проводила ежегодную чистку..."
date:        2013-09-15, 17:23:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [Белинский, Былое и думы, Герцен, Грановский, книга, Макс Фриш,
             пристань, Огарёв, программирование, учебник, яхта]
---

<p class="ru">Университетская библиотека проводила ежегодную чистку своих
архивов, и&nbsp;я&nbsp;вызволил немецкие справочники по&nbsp;математике
и&nbsp;электротехнике, русско&ndash;французский технический словарь, учебники
по&nbsp;машинному обучению и&nbsp;обработке сигналов, альманах, выпущенный
к&nbsp;шестидесятилетию Эдсгера Дейкстры, &laquo;Красота<span
class="red">&mdash;</span>это наше дело&raquo;, карманные издания немецких
классиков в&nbsp;параллельном (немецко&ndash;французском) переводе
и&nbsp;множество книг швейцарского писателя Макса Фриша. Настало время освежить
немецкий. И&nbsp;вот вчера вечером для моих соседей состоялась премьера первого
акта комедии &laquo;Дон Жуан или любовь к&nbsp;геометрии&raquo;.</p>

<!--more-->

<figure class="imagecentre">
  <img src="{{ site.url }}/assets/photo/bes-marina-du-chateau.jpg"
       alt="Замковая пристань в Бресте">
  <figcaption><cite>
    Замковая пристань в Бресте, 2013&nbsp;г.
  </cite></figcaption>
</figure>

<p class="ru">В&nbsp;седьмой раз 26&nbsp;октября проводится
двадцатичетырёхчасовой всемирный марафон по&nbsp;программированию <a
href="https://ieeextreme.org">IEEEXtreme</a>.  Я&nbsp;собираю студентов
в&nbsp;нашем университете. В&nbsp;понедельник первая встреча. Может быть, будем
готовиться раз в&nbsp;неделю.</p>

<p class="ru">Уровень моей энергии дошёл до&nbsp;абсолютного нуля по&nbsp;шкале
Кельвина и&nbsp;устремился в&nbsp;отрицательную область. В&nbsp;среду, чтобы
избежать болезни и&nbsp;долгого простоя, я&nbsp;взял выходной и&nbsp;наконец-то
выбрался в&nbsp;город. Чайная лавка, магазин канцелярских товаров, парикмахер,
мороженщик и&nbsp;прогулка вкруг замковой пристани в&nbsp;Бресте привели меня
в&nbsp;чувства. Люблю яхтенные стоянки. Тишина. Бодрящий свежий
ветер. Плеск воды. Сушащееся бельё, развешенное на&nbsp;снастях. Посеревшие,
выцветшие от&nbsp;солёной воды доски палуб. Запах приключений, геройства
и&nbsp;ритмичное динь-дилинь сотни мачт.</p>

<p class="ru">Читаю &laquo;Былое и&nbsp;думы&raquo; и&nbsp;восхищаюсь русскими
людьми девятнадцатого века: умницами Грановским и&nbsp;Белинским, тихоней
Огарёвым, остроумным Герценым, совсем неизвестным мне поколением
декабристов.</p>

<p class="ru">Был в&nbsp;синагоге в&nbsp;Рош Ха-Шана (новый год)
и&nbsp;в&nbsp;Йом-Киппур (судный день). Своего раввина у&nbsp;нас нет.
На&nbsp;большие праздники выписываем из&nbsp;Парижу.</p>
