---
layout:      post
title:      "На террасе собралось всё женское общество..."
date:        2013-06-03, 21:56:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [Анна Каренина, Толстой]
---

<blockquote>
<p class="ru">На&nbsp;террасе собралось всё женское общество. Они и&nbsp;вообще
любили сидеть там после обеда, но&nbsp;нынче там было ещё и&nbsp;дело. Кроме
шитья распашонок и&nbsp;вязанья свивальников, которым все были заняты, нынче
там варилось варенье по&nbsp;новой для Агафьи Михайловны методе, без
прибавления воды. Кити вводила эту новую методу, употреблявшуюся у&nbsp;них
дома. Агафья Михайловна, которой прежде было поручено это дело, считая,
что&nbsp;то, что делалось в&nbsp;доме Лёвиных, не&nbsp;могло быть дурно,
всё-таки налила воды в&nbsp;клубнику и&nbsp;землянику, утверждая, что это
невозможно иначе; она была уличена в&nbsp;этом, и&nbsp;теперь варилась малина
при всех, и&nbsp;Агафья Михайловна должна была быть приведена к&nbsp;убеждению,
что и&nbsp;без воды варенье выйдет хорошо.</p>
</blockquote>

<figcaption align="right">
  <cite><a href="https://ru.wikipedia.org/wiki/Толстой,_Лев_Николаевич">
    Лев Николаевич Толстой</a>,&nbsp;
  <a href="https://ru.wikipedia.org/wiki/Анна_Каренина">
    Анна Каренина</a>&nbsp;(1873&ndash;1877)</cite>
</figcaption>
