---
layout:      post
title:      "Можно быть мертвецки пьяным..."
date:        2013-06-10, 21:07:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [Анна Каренина, живио, Париж, Толстой]
---

<p class="ru">Можно быть мертвецки пьяным, и&nbsp;несмотря на&nbsp;то&nbsp;что
сегодня лишь понедельник, я&mdash;мертвецки усталый. Исследования мои движутся,
но&nbsp;положительных результатов ещё нет. Из-за затяжных дождей кажется, что
ни&nbsp;солнца, ни&nbsp;лета уже не&nbsp;будет. Уныло висит приспущенная сетка
на&nbsp;теннисном корте. Молча мокнут графитовые крыши общежитий. Ни&nbsp;души
на&nbsp;улице, ни&nbsp;ветерка, и&nbsp;в&nbsp;воздухе стоит мелкая морось.</p>

<!--more-->

<p class="ru">Толстой бросил Каренину под поезд. Это необычайная концентрация
злой силы, сознание собственной нечистоты, недостойности жизни, желание
наказать себя и&nbsp;нежелание думать о&nbsp;последствиях, откладывать
неразрешённые вопросы, невозможность быть рядом с&nbsp;сыном, эгоизм,
надуманная ревность, расшатанные нервы, природная эмоциональность
и&nbsp;минутная слабость толкнули её&nbsp;на&nbsp;рельсы. Как жаль&nbsp;её,
женщину&ndash;самородок, умницу, красавицу женственную и&nbsp;обаятельную.
Действительно, разгоравшейся свечой освещала она своё окружение. Где&nbsp;бы
она ни&nbsp;была в&nbsp;вагоне, в&nbsp;гостиной, на&nbsp;светском приёме,
на&nbsp;бале... Она не&nbsp;побоялась совершить Поступок, бросила мужа
и&nbsp;сына ради любви. Зажглась, ярко вспыхнула и&nbsp;быстро погасла,
скрылась в&nbsp;темноте словно выстрелившая ракета. Тяжёлый неумолимый состав
жизни разорвал тело Карениной и&nbsp;душу Вронского. Доказано. А&nbsp;поезд так
и&nbsp;идёт, постепенно набирая скорость. Постукивая на&nbsp;стыке рельсов.
Много ещё предстоит передумать и&nbsp;переосмыслить. Восьмая часть
с&nbsp;ничтожной проблемой нерелигиозности Левина и&nbsp;тихим домашним
счастьем совсем не&nbsp;вяжется с&nbsp;необратимой смертью Карениной.</p>

<p class="ru">Толстой удивителен. Когда я&nbsp;читаю Каренину,
я&nbsp;не&nbsp;могу не&nbsp;улыбаться. И&nbsp;люди вокруг меня отвечают мне
самыми искренними улыбками. И&nbsp;тогда мне очень трудно удержаться
от&nbsp;того, чтобы не&nbsp;начать вдохновлённо расхваливать его произведения.
&mdash;Как? Вы&nbsp;ещё не&nbsp;читали Каренину? Не&nbsp;может быть!
Обязательно, душечка, голубчик вы&nbsp;мой. Первым делом, как только доберётесь
домой, сразу&nbsp;же поищите в&nbsp;библиотеке, закажите в&nbsp;магазине или
спросите у&nbsp;друзей. Вот уж&nbsp;когда не&nbsp;пожалеете потраченного
времени. За&nbsp;это я&nbsp;вам ручаюсь,&nbsp;&mdash; и&nbsp;хлопаю его
по&nbsp;коленке. &mdash;&nbsp;До&nbsp;скорой встречи!</p>

<p class="ru">Ах, как хочется в&nbsp;Париж! К&nbsp;свету, к&nbsp;оживлению,
к&nbsp;бодрости, которую всегда испытываешь от&nbsp;большого города,
к&nbsp;весёлым голосам, к&nbsp;счастливым лицам туристов, впервые посещающих
столицу. Лежать в&nbsp;шезлонге в&nbsp;саду Тюильри или в&nbsp;белых штанах
фланировать беззаботно по&nbsp;широким улицам или снова и&nbsp;снова глазеть
и&nbsp;впитывать в&nbsp;себя разноцветные яркие картины импрессионистов. Пить
итальянский кофе по&nbsp;утрам после пробежки, наслаждаться круассанами
с&nbsp;вареньем и&nbsp;запахом типографской краски от&nbsp;свежих утренних
газет. Вот это жизнь!</p>

<p class="ru">А&nbsp;вечерами я&nbsp;лежу на&nbsp;кровати, и&nbsp;под светом
ночника читаю или пишу длинные письма друзьям.</p>
