---
layout:      post
title:      "Итоги 2012"
date:        2013-04-02, 14:31:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [итоги]
---

<ul>
  <li>Устроился на&nbsp;работу и&nbsp;провалился с&nbsp;треском через неполных полгода ежедневных страданий.</li>
  <li>Научился работать по&nbsp;десять часов в&nbsp;сутки.</li>
  <li>Понял, что главное в&nbsp;работе не&nbsp;зарплата, а&nbsp;возможность заниматься полезной деятельностью и&nbsp;расти профессионально в&nbsp;команде энтузиастов.</li>
  <li>Научился обосновываться в&nbsp;совершенно незнакомом городе.</li>
  <li>Завёл новых друзей: Гаэтано, Эвана, Рене.</li>
</ul>

<!--more-->

<ul>
  <li>Начал изучать китайский.</li>
  <li>Пошёл на&nbsp;курсы игры на&nbsp;акустической гитаре.</li>
  <li>Понял насколько важно общение с&nbsp;друзьями и&nbsp;немаловажна роль интернета в&nbsp;этом общении.</li>
  <li>Создал и&nbsp;три раза прочитал <a href="{{ site.url }}/latex">курс лекций по&nbsp;Лейтеку</a>.</li>
  <li>Побывал в&nbsp;Осло, Манчестере&nbsp;(3), Гамбурге, Бергамо, Милане, Венеции, Болонье, Экс-ан-Провансе, Валенсии, Сант-Антони-де-Портмани, Тунисской Медине, Катании, Неаполе, Ливорно, Пизе, Флоренции, Минске&nbsp;(2), Киеве и&nbsp;Одессе.</li>
  <li>Стал более осознанно писать творчески: окончено пять произведений.</li>
  <li>Вдохновился Восточной Европой и&nbsp;особенно братьями славянами.</li>
  <li>Перестал вести блог.</li>
  <li>Почувствовал себя бизнесменом, руководя командой из&nbsp;пяти продавцов в&nbsp;течении десяти дней, и&nbsp;договорившись о&nbsp;поставке приправ в&nbsp;<a href="http://www.cafe53.lv/ru">Кафе&nbsp;53</a>.</li>
  <li>Научился кататься на&nbsp;сноуборде.</li>
  <li>Прочитал &laquo;Хемингуэя&raquo; <a href="https://ru.wikipedia.org/wiki/Кашкин,_Иван_Александрович">Кашкина</a>, <a href="https://en.wikipedia.org/wiki/The_Sun_Also_Rises">The Sun Also Rises (Fiesta)</a> by&nbsp;<a href="https://en.wikipedia.org/wiki/Ernest_Hemingway">Hemingway</a>, <a href="https://en.wikipedia.org/wiki/Pride_and_Prejudice">Pride and Prejudice</a> by&nbsp;<a href="https://en.wikipedia.org/wiki/Jane_Austen">Jane Austen</a>, эссе <a href="https://ru.wikipedia.org/wiki/Хаксли,_Олдос">Олдоса Хаксли</a> и&nbsp;ранние рассказы <a href="https://ru.wikipedia.org/wiki/Бунин,_Иван_Алексеевич">Бунина</a>.</li>
  <li>Отредактировал и&nbsp;дополнил статью на&nbsp;Викиучебниках о&nbsp;русском языке в&nbsp;Лейтеке.</li>
  <li>Понял, что в&nbsp;девушке главное не&nbsp;внешний вид, а&nbsp;внутренний мир.</li>
  <li>Пережил огромное разочарование в&nbsp;промышленном мире и&nbsp;в&nbsp;своём научном руководителе.</li>
  <li>Научился родину любить и&nbsp;принимать её&nbsp;такой, какая она есть.</li>
</ul>
