---
layout:      post
title:      "О юности"
date:        2013-08-28, 18:33:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [Былое и думы, Герцен, юность]
---

<blockquote>
<p class="ru">Небольшая кучка университетских друзей, пережившая курс,
не&nbsp;разошлась и&nbsp;жила ещё общими симпатиями и&nbsp;фантазиями, никто
не&nbsp;думал о&nbsp;материальном положении, об&nbsp;устройстве будущего.
Я&nbsp;не&nbsp;похвалил&nbsp;бы этого в&nbsp;людях совершеннолетних;
но&nbsp;дорого ценю в&nbsp;юношах. Юность, где только она не&nbsp;иссякла
от&nbsp;нравственного растления мещанством, везде непрактична, тем больше она
должна быть такою в&nbsp;стране молодой, имеющей много стремлений и&nbsp;мало
достигнутого. Сверх того, быть непрактическим далеко не&nbsp;значит быть
во&nbsp;лжи; всё обращенное к&nbsp;будущему имеет непременно долю идеализма.
Без непрактических натур все практики остановились&nbsp;бы на&nbsp;скучно
повторяющемся одном и&nbsp;том&nbsp;же.</p>

<p class="ru">...</p>

<p class="ru">Я&nbsp;считаю большим несчастием положение народа, которого
молодое поколение не&nbsp;имеет юности; мы&nbsp;уже заметили, что одной
молодости на&nbsp;это недостаточно. Самый уродливый период немецкого
студентства во&nbsp;сто раз лучше мещанского совершеннолетия молодежи
во&nbsp;Франции и&nbsp;Англии; для меня американские пожилые люди лет
в&nbsp;пятнадцать от&nbsp;роду&nbsp;<span class="red">&mdash;</span> просто
противны.</p>

<!--more-->

<p class="ru">...</p>

<p class="ru">Последние юноши Франции были сен-симонисты и&nbsp;фаланга.
Несколько исключений не&nbsp;могут изменить прозаически плоский характер
французской молодёжи. Деку и&nbsp;Лебра застрелились оттого, что они были юны
в&nbsp;обществе стариков. Другие бились, как рыба, выкинутая из&nbsp;воды
на&nbsp;грязном берегу, пока одни не&nbsp;попались на&nbsp;баррикаду,
другие&nbsp;&mdash; на&nbsp;иезуитскую уду.</p>

<p class="ru">Но&nbsp;так как возраст берет свое, то&nbsp;большая часть
французской молодёжи отбывает юность артистическим периодом, то&nbsp;есть
живёт, если нет денег, в&nbsp;маленьких кафе с&nbsp;маленькими гризетками
в&nbsp;quartier Latin, и&nbsp;в&nbsp;больших кафе с&nbsp;большими лоретками,
если есть деньги. Вместо шиллеровского периода это период поль-де-коковский;
в&nbsp;нем наскоро и&nbsp;довольно мизерно тратится сила, энергия, всё
молодое&nbsp;&mdash; и&nbsp;человек готов в&nbsp;commis торговых домов.
Артистический период оставляет на&nbsp;дне души одну страсть&nbsp;&mdash; жажду
денег, и&nbsp;ей&nbsp;жертвуется вся будущая жизнь, других интересов нет;
практические люди эти смеются над общими вопросами, презирают женщин (следствие
многочисленных побед над побежденными по&nbsp;ремеслу). Обыкновенно
артистический период делается под руководством какого-нибудь истасканного
грешника из&nbsp;увядших знаменитостей, dunvieux prostitue, живущего
на&nbsp;чужой счёт, какого-нибудь актёра, потерявшего голос, живописца,
у&nbsp;которого трясутся руки; ему подражают в&nbsp;произношении, в&nbsp;питье,
а&nbsp;главное в&nbsp;гордом взгляде на&nbsp;людские дела
и&nbsp;в&nbsp;основательном знании блюд.</p>

<p class="ru">В&nbsp;Англии артистический период заменен пароксизмом милых
оригинальностей и&nbsp;эксцентрических любезностей, то&nbsp;есть безумных
проделок, нелепых трат, тяжёлых шалостей, увесистого, но&nbsp;тщательно
скрытого разврата, бесплодных поездок в&nbsp;Калабрию или Квито, на&nbsp;юг,
на&nbsp;север&nbsp;&mdash; по&nbsp;дороге лошади, собаки, скачки, глупые обеды,
а&nbsp;тут и&nbsp;жена с&nbsp;неимоверным количеством румяных и&nbsp;дебелых
baby, обороты, &laquo;Times&raquo;, парламент и&nbsp;придавливающий
к&nbsp;земле ольдпорт.</p>
</blockquote>

<figcaption align="right">
  <cite><a href="https://ru.wikipedia.org/wiki/Былое_и_думы">Былое и думы,</a> 
  <a href="https://ru.wikipedia.org/wiki/Герцен%2C_Александр_Иванович">
  Александр Иванович Герцен</a>&nbsp;(1860)</cite>
</figcaption>
