---
layout:      post
title:      "Простые радости"
date:        2013-11-05, 07:45:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [безрезультатность, зима, Иванов, Казаков, Маркес, Солженицын, тьма, Чехов, чтение]
---

<p class="ru">Обступила меня иссиня-чёрная зимняя тьма. Над городом нависли
тяжёлые серые тучи. Воющий ветер, несущий волны ливня и&nbsp;холод окружают
меня каждый вечер. Сильно опали листья с&nbsp;деревьев. Только самые стойкие
висят на&nbsp;кончиках веток, держатся из&nbsp;последних сил. Предупредительные
хозяева убирают лодки на&nbsp;зиму. Наш залив пустеет. И&nbsp;деревенская жизнь
и&nbsp;тьма приучают рано ложиться и&nbsp;рано вставать.</p>

<!--more-->

<p class="ru">В&nbsp;пятницу в&nbsp;честь дня всех святых во&nbsp;Франции был
государственный праздник. Но&nbsp;и&nbsp;в&nbsp;эти длинные трёхдневные
выходные я&nbsp;никуда не&nbsp;выбрался. Один день отдыхал дома,
а&nbsp;следующие два провёл в&nbsp;офисе. Состояние исследований удручает. Вот
уже целый месяц я&nbsp;безрезультатно бьюсь над быстрым многополюсным методом.
Куда-то закралась ошибка, которую мне никак не&nbsp;удаётся найти. В&nbsp;такие
дни работа кажется очень неблагодарным делом. Работаешь, работаешь,
я&nbsp;поступательного движения, возврата нет, радости от&nbsp;процесса
и&nbsp;от&nbsp;достижений нет. Под лозунгом &laquo;у&nbsp;меня есть дела
и&nbsp;поважнее&raquo; уроки французского я&nbsp;периодически прогуливаю.
Из&nbsp;хороших новостей: по&nbsp;предварительным подсчётам наша команда заняла
51-ое место во&nbsp;всемирных соревнованиях по&nbsp;программированию.</p>

<p class="ru">Из&nbsp;книг прочитаны &laquo;Арктур&mdash;гончий пёс&raquo; Юрия
Казакова, &laquo;Марьин двор&raquo; Александра Солженицына, &laquo;Дама
с&nbsp;собачкой&raquo; Антона Чехова, &laquo;Географ глобус пропил&raquo;
Алексея Иванова и&nbsp;&laquo;Полковнику никто не&nbsp;пишет&raquo; Габриэля
Маркеса. &laquo;Марьин двор&raquo;, &laquo;Дама с&nbsp;собачкой&raquo;
и&nbsp;&laquo;Географ&raquo; заслуживают особого внимания. После прочтения
&laquo;Арктура&raquo; меня долго не&nbsp;покидало желание написать краткий
очерк под названием &laquo;Деградация советской литературы&raquo;, который
со&nbsp;временем можно было&nbsp;бы расширить в&nbsp;&laquo;Деградацию
советского искусства&raquo;. Мнение моё о&nbsp;&laquo;Полковнике&raquo;,
которого с&nbsp;таким восторгом и&nbsp;упоением я&nbsp;читал в&nbsp;школьные
годы, кардинально изменилось. Маркес оказался безликим, скупым на&nbsp;слова,
чёрно-белым писателем. Ему не&nbsp;хватает сока жизни и&nbsp;красочности
описаний. Природа в&nbsp;повести присутствует только в&nbsp;качестве декораций
сырости и&nbsp;дождя. И&nbsp;даже трагизм жизни главных героев больше
не&nbsp;поражает.</p>

<p class="ru">Идеи фикс&mdash;занятия в&nbsp;тренажёрном зале, чтение
и&nbsp;планирование рождественской поездки в&nbsp;Киев. Простые радости.</p>
