---
layout:      post
title:      "Киев"
subtitle:   "день третий"
date:        2013-12-26, 16:47:00 +0000
alpha2:      ua
location:   "Киев, Украина"
categories: [Кармен, Киев, Киево-Печёрская Лавра, Раду Поликтару, святые, Украина]
---

<p class="ru">Встали мы&nbsp;поздно, и&nbsp;после зарядки и&nbsp;завтрака сразу
отправились на&nbsp;обед и&nbsp;встречу с&nbsp;киевлянином Михаилом.
Он&nbsp;рассказал нам краткую историю киевской революции. Всё началось из-за
того, что за&nbsp;шесть дней до&nbsp;еврособрания в&nbsp;Вильнюсе украинское
правительство заявило, что не&nbsp;будет подписывать девятисот страничную
декларацию об&nbsp;ассоциации с&nbsp;Евросоюзом. Студенты вышли на&nbsp;главную
площадь с&nbsp;мирным протестом, а&nbsp;в&nbsp;четыре часа утра их&nbsp;жестоко
разогнали войска &laquo;Беркута&raquo;&mdash;украинского спецназа. Многие
студенты пострадали, кто-то попал в&nbsp;больницу, а&nbsp;кто-то&mdash;в&nbsp;тюрьму.
Затем против мирных избитых студентов были выдвинуты обвинения. Избиение
студентов и&nbsp;послужило стартом революции. Михаил сказал, что ночью
неизвестные напали и&nbsp;жестоко избили известную прореволюционную журналистку
Татьяну Чорновол.  Возможно, это стимулирует новый революционный всплеск.</p>

<!--more-->

<p class="ru">Днём мы&nbsp;ходили в&nbsp;Киево-Печёрскую Лавру, второе
по&nbsp;святости место в&nbsp;православном мире после Иерусалима.
В&nbsp;подземных пещерах находятся тела сорока святых, среди которых
и&nbsp;богатырь Илья Муромец, и&nbsp;Нестор Летописец, написавший
&laquo;Повесть временных лет&raquo;. Тела их&nbsp;накрыты плотными зелёными
коврами расшитыми золотом. Только у&nbsp;некоторых в&nbsp;прорезь на&nbsp;груди
видны маленькие почерневшие ручки. Стены в&nbsp;пещерах белёные, а&nbsp;свет
свечной. Монахов хоронили прямо в&nbsp;пещерах. Выбивали цилиндрическое
отверстие, клали на&nbsp;доску человеческое тело и&nbsp;задвигали внутрь.
А&nbsp;после закрывали другой доской и&nbsp;надписывали имя. Избранных монахов
после знаков божьих определяли в&nbsp;затвор. До&nbsp;конца жизни оставались
они взаперти в&nbsp;келье в&nbsp;четыре квадратных метра и&nbsp;непрестанно
молились. Через крохотное окошко в&nbsp;стене приносили им&nbsp;еду
и&nbsp;питьё. Помимо тел святых в&nbsp;пещерах находятся и&nbsp;миниатюрные
церкви. Аккуратные, опрятные, рассчитанные только на&nbsp;дюжину молящихся.
А&nbsp;внизу под горой&mdash;два колодца со&nbsp;святой водой. Один из&nbsp;них
вырыт святым Антонием, основателем Лавры.</p>

<p class="ru">Под вечер мы&nbsp;посетили спектакль киевского модерн-балета
&laquo;Кармен&nbsp;TV&raquo; в&nbsp;постановке знаменитого молдавского
режиссёра Раду Поликтару. Идея балета прекрасная. Но&nbsp;спектакль изобилует
простонародными деталями, на&nbsp;мой взгляд, недопустимыми в&nbsp;балете.
Кармен была одета шаблонно (красное платье, чёрный платок в&nbsp;белый горошек
и&nbsp;искусственный цветок в&nbsp;волосах), двигалась вальяжно
и&nbsp;не&nbsp;тянула носок. А&nbsp;к&nbsp;ночи у&nbsp;меня разболелся живот
и&nbsp;мучает меня до&nbsp;сих пор.</p>

<p class="ru">Ах, какая&nbsp;же это всё таки благодать&mdash;жить в&nbsp;центре
города! Рукой подать до&nbsp;всех достопримечательностей, и&nbsp;везде можно
ходить пешком.</p>
