---
layout:      post
title:      "Няньчество"
date:        2013-04-29, 22:22:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [няньчество, студенты, характер]
---

<p class="ru">Ты&nbsp;скажешь, что останешься дома&mdash;будешь сидеть
с&nbsp;детьми, а&nbsp;они такие милашки. Я&nbsp;пожелаю тебе прекрасного вечера
и&nbsp;отвечу, что тоже сижу с&nbsp;детьми только целыми днями. На&nbsp;мне два
студента: начинающий аспирант и&nbsp;заканчивающий магистр. Между ними
пропасть. Несколько лет назад, слушая лекцию Энтони Роббинса
по&nbsp;личностному развитию, я&nbsp;удивлялся его прямолинейности
и&nbsp;нетерпимости. Он&nbsp;говорил, что &laquo;из&nbsp;куриц никогда
не&nbsp;сделаешь орлов&raquo;. А&nbsp;сегодня в&nbsp;который раз
я&nbsp;убеждаюсь в&nbsp;правдивости его слов. Все они приходят слабыми
и&nbsp;беззащитными. Но&nbsp;отличает их&nbsp;отношение к&nbsp;предмету.
Я&nbsp;уважаю слабого, который проявляет интерес к&nbsp;делу, и&nbsp;характер,
когда приходится туго и&nbsp;нужно разбираться самому. Я&nbsp;высоко ценю
самостоятельность&mdash;качество которое развивается годами.</p>

<!--more-->

<p class="ru">Но&nbsp;мне противно, когда студент ждёт, что проект пойдёт как
по&nbsp;маслу, и&nbsp;всё будет легко. При каждой сложности громко
демонстративно вздыхает и&nbsp;бежит за&nbsp;помощью при первой&nbsp;же
неудаче: &laquo;А&nbsp;что мне теперь делать? А&nbsp;вы&nbsp;мне поможете? Нет,
я&nbsp;так не&nbsp;могу работать. Это совсем не&nbsp;мой проект. А&nbsp;давайте
напишем профессору&mdash;может он&nbsp;знает, как быть? Вы&nbsp;уже написали
профессору, правда?&raquo; Хозяйке на&nbsp;заметку: никогда при наличии выбора
не&nbsp;набирать на&nbsp;работу слабых, бесхарактерных и&nbsp;несамостоятельных
кандидатов. В&nbsp;ближайшем окружении должны быть сотрудники сильнее тебя
самого. Люди у&nbsp;которых можно учиться. Каким удовольствием было&nbsp;бы
работать с&nbsp;одарёнными людьми, которые каждое утро будут приходить
со&nbsp;свежими мыслями и&nbsp;интересными идеями. Удивите меня!</p>

<p class="ru">Кстати профессор ответил, что с&nbsp;этим заданием
справилась&nbsp;бы и&nbsp;его секретарша в&nbsp;пять минут (представьте Донну
Полсон анализирующую данные МРТ и&nbsp;ловко строящую сетки конечных элементов,
в&nbsp;перерыве между написанием электрописем и&nbsp;организацией деловых встреч
на&nbsp;неделю).</p>
