---
layout:      post
title:      "О русском взгляде на европейцев"
date:        2013-08-28, 18:24:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [Былое и думы, Герцен, европейцы]
---

<blockquote>
<p class="ru">Мы&nbsp;до&nbsp;сих пор смотрим на&nbsp;европейцев и&nbsp;Европу
в&nbsp;том роде, как провинциалы смотрят на&nbsp;столичных
жителей,&nbsp;&mdash; с&nbsp;подобострастием и&nbsp;чувством собственной вины,
принимая каждую разницу за&nbsp;недостаток, краснея своих особенностей,
скрывая&nbsp;их, подчиняясь и&nbsp;подражая. Дело в&nbsp;том, что мы&nbsp;были
застращены и&nbsp;не&nbsp;оправились от&nbsp;насмешек Петра&nbsp;I,
от&nbsp;оскорблений Бирона, от&nbsp;высокомерия служебных немцев
и&nbsp;воспитателей-французов. Западные люда толкуют о&nbsp;нашем двоедушии
и&nbsp;лукавом коварстве; они принимают за&nbsp;желание обмануть&nbsp;&mdash;
желание выказаться и&nbsp;похвастаться. У&nbsp;нас тот&nbsp;же человек готов
наивно либеральничать с&nbsp;либералом, прикинуться легитимистом, и&nbsp;это
без всяких задних мыслей, просто из&nbsp;учтивости и&nbsp;из&nbsp;кокетства;
бугор de&nbsp;l&rsquo;approbativite сильно развит в&nbsp;нашем черепе.</p>
</blockquote>

<figcaption align="right">
  <cite><a href="https://ru.wikipedia.org/wiki/Былое_и_думы">Былое и думы,</a> 
  <a href="https://ru.wikipedia.org/wiki/Герцен%2C_Александр_Иванович">
  Александр Иванович Герцен</a>&nbsp;(1860)</cite>
</figcaption>
