---
layout:      post
title:      "Планы на 2013"
date:        2013-04-08, 22:26:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [планы]
---

<ul>
  <li>Учиться играть на&nbsp;гитаре.</li>
  <li>Пробежать 10&nbsp;км на&nbsp;время.</li>
  <li>Писать творчески и&nbsp;посылать рассказы в&nbsp;литературные журналы.</li>
  <li>Быть энергичным и&nbsp;бодрым.</li>
  <li>Рано ложиться и&nbsp;рано вставать.</li>
</ul>

<!--more-->

<ul>
  <li>Играть в&nbsp;шахматы хорошо, сильно.</li>
  <li>Написать три качественных научных статьи.</li>
  <li>Заниматься математикой и&nbsp;численными методами (физика, анализ, алгебра).</li>
  <li>Купить автомобиль Audi A3.</li>
  <li>Зарабатывать 5000&euro; в&nbsp;месяц нетто.</li>
  <li>Читать художественную литературу.</li>
  <li>Ходить в&nbsp;театр регулярно.</li>
  <li>Подтягиваться 25&nbsp;раз подряд.</li>
  <li>Отжиматься 50&nbsp;раз подряд.</li>
  <li>Сесть на&nbsp;продольный и&nbsp;поперечный шпагаты.</li>
  <li>Ходить в&nbsp;походы.</li>
  <li>Научиться обращаться с&nbsp;компасом.</li>
  <li>Научиться разжигать огонь без спичек.</li>
  <li>Построить змей коробчатый.</li>
  <li><s>Устроиться на&nbsp;работу, которая нравится, на&nbsp;которой можно заниматься полезным делом и&nbsp;расти профессионально.</s></li>
  <li>Тренироваться в&nbsp;клубе спортивного плавания.</li>
  <li>Выйти в&nbsp;море на&nbsp;яхте.</li>
  <li>Научиться ходить под парусом.</li>
  <li>Выучить французский.</li>
  <li>Создать свой сайт.</li>
  <li>Запрограммировать 1D&nbsp;MoM, TLM, FEM в&nbsp;Octave.</li>
  <li>Снять пятиминутный фильм.</li>
  <li>Купить квартиру в&nbsp;Бресте.</li>
  <li>Посетить Рим, Майами, Канны, Тель-Авив, Антони-де-Портмани, Рио-де-Жанейро и&nbsp;Одессу.</li>
  <li><s>Вести блог.</s></li>
  <li>Переписываться с&nbsp;друзьями.</li>
  <li>Вести здоровый образ жизни и&nbsp;научиться высыпаться за&nbsp;шесть часов.</li>
  <li>Разобраться в&nbsp;ручных настройках фотоаппарата.</li>
  <li>Прочитать Тору.</li>
</ul>
