---
layout:      post
title:      "Летняя нега"
date:        2013-08-17, 10:12:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [лето, отдых, студенты, учёба, французский язык]
---

<figure class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/M2JrAhmZmpM"
	  frameborder="0" allow="accelerometer; autoplay; encrypted-media;
	  gyroscope; picture-in-picture" allowfullscreen></iframe>
</figure>

<p class="ru">Кончилась летняя нега, мы&nbsp;больше не&nbsp;ходим с&nbsp;братом
бегать и&nbsp;купаться по&nbsp;утрам, и&nbsp;не&nbsp;фланируем
по&nbsp;побережью мимо бесчисленных палаток, белых и&nbsp;жёлтых,
с&nbsp;башенками, деревянными настилами и&nbsp;грубоватыми скамьями
и&nbsp;столиками на&nbsp;четверых, с&nbsp;чёрными квадратами досок объявляющих
блюда дня, с&nbsp;разноцветными надувными горками и&nbsp;синими кругами
батутов, шумящими криками детей, с&nbsp;редкими свадьбами по&nbsp;вечерам
выходных, с&nbsp;крепкими загорелыми спасателями, лениво дремлющими в&nbsp;жару
полдня и&nbsp;катающими девушек с&nbsp;развивающимися волосами
на&nbsp;квадрацикле и&nbsp;детей на&nbsp;красном спасательном катере. Кончилось
спокойствие отпуска, исчез терпкий запах тины и&nbsp;тонкий аромат сосен
с&nbsp;нежными светло-зелёными иглами гнущимися от&nbsp;лёгкого прикосновения,
переделаны мелкие мужские дела&mdash;поменян замок в&nbsp;почтовом ящике
и&nbsp;подтянуты петли шкафчика в&nbsp;ванной комнате. А&nbsp;остальное
осталось на&nbsp;потом: ржавеющий велосипед и&nbsp;посещение друзей.</p>

<!--more-->

<p class="ru">Трудно возвращаться к&nbsp;делу. С&nbsp;корабля отдыха
я&nbsp;попал в&nbsp;полымя работы. В&nbsp;три дня мы&nbsp;с&nbsp;Франческо
написали 32&nbsp;страницы о&nbsp;новом проекте, работали с&nbsp;восьми утра
и&nbsp;до&nbsp;часу ночи и&nbsp;подали заявку в&nbsp;срок. Три дня
я&nbsp;ел&nbsp;рис с&nbsp;маслом и&nbsp;то, что давали в&nbsp;местной столовой.
Только в&nbsp;среду вечером я&nbsp;наконец-то выбрался в&nbsp;магазин
за&nbsp;продуктами. В&nbsp;воскресенье студенческий городок ожил&mdash;со всех
концов света прибыли иностранцы учить французский язык: мои любимые китайцы,
множество латино-американцев, группа румынов, горстка японцев, три польских
богатыря и&nbsp;принцесса, малайская пара и&nbsp;тихий интеллигентный индус.
После провального теста на&nbsp;знание языка я&nbsp;попал в&nbsp;среднюю группу
A1+.</p>

<p class="ru">При всей восторженности от&nbsp;французского языка и&nbsp;его
тесной связи с&nbsp;русской историей и&nbsp;культурой даётся он&nbsp;мне
с&nbsp;огромным трудом. Языка я&nbsp;совсем не&nbsp;чувствую, не&nbsp;впитываю,
говорю тихо, медленно, стесняюсь своего произношения и&nbsp;делаю безбожные
ошибки, которых делать совсем нельзя. Французский метод преподавания сильно
отличается от&nbsp;немецкого. Мы&nbsp;много читаем, соединяем кривыми
чёрточками схожие по&nbsp;смыслу словосочетания и&nbsp;разбираем символы
транскрипции. Учение пассивное, нацеленное на&nbsp;слабых студентов. После
окончания курса мы&nbsp;будем сносно читать и&nbsp;переводить.
В&nbsp;то&nbsp;время как немецкий метод концентрируется на&nbsp;разговорной
речи, на&nbsp;многократном повторении азов: &laquo;Здравствуйте! Как вас зовут?
Кто вы&nbsp;по&nbsp;профессии? Что вы&nbsp;едите на&nbsp;завтрак? Чем
вы&nbsp;занимаетесь в&nbsp;свободное время?&raquo; Немецкий подход практичен.
Цель его научить вас говорить простейшими фразами, научить вас выживать
в&nbsp;незнакомом обществе, позволить общаться, ведь главное предназначение
языка&mdash;это разговорная речь.</p>
