---
layout:      post
title:      "О первой любови"
date:        2013-10-16, 08:08:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [Первая любовь, Тургенев, цитаты]
---

<blockquote>
<p class="ru">О, кроткие чувства, мягкие звуки, доброта и&nbsp;утихание
тронутой души, тающая радость первых умилений любви,&mdash;где вы,
где&nbsp;вы?</p>

<p class="ru">...</p>

<p class="ru">Мне казалось, что уже больше ничего нельзя требовать
от&nbsp;судьбы, что теперь&nbsp;бы следовало &laquo;взять, вздохнуть хорошенько
в&nbsp;последний раз, да&nbsp;и&nbsp;умереть&raquo;.</p>

<p class="ru">...</p>

<p class="ru">Моя наблюдательность не&nbsp;видала дальше своего носа,
и&nbsp;моя скрытность, вероятно, никого не&nbsp;обманула; по&nbsp;крайней мере,
доктор Лушин скоро меня раскусил. Впрочем, и&nbsp;он&nbsp;изменился
в&nbsp;последнее время: он&nbsp;похудел, смеялся так&nbsp;же часто,
но&nbsp;как-то глуше, злее и&nbsp;короче&nbsp;&mdash; невольная, нервическая
раздражительность сменила в&nbsp;нём прежнюю лёгкую иронию и&nbsp;напущенный
цинизм.</p>

<!--more-->

<p class="ru">&mdash;&nbsp;Что вы&nbsp;это беспрестанно таскаетесь сюда,
молодой человек,&nbsp;&mdash; сказал он&nbsp;мне однажды, оставшись
со&nbsp;мною в&nbsp;гостиной Засекиных. (Княжна еще не&nbsp;возвращалась
с&nbsp;прогулки, а&nbsp;крикливый голос княгини раздавался в&nbsp;мезонине: она
бранилась со&nbsp;своей горничной.)&nbsp;&mdash; Вам&nbsp;бы надобно учиться,
работать&nbsp;&mdash; пока вы&nbsp;молоды,&nbsp;&mdash; а&nbsp;вы&nbsp;что
делаете?</p>

<p class="ru">&mdash;&nbsp;Вы&nbsp;не&nbsp;можете знать, работаю&nbsp;ли
я&nbsp;дома,&nbsp;&mdash; возразил я&nbsp;ему не&nbsp;без надменности,
но&nbsp;и&nbsp;без замешательства.</p>

<p class="ru">&mdash;&nbsp;Какая уж&nbsp;тут работа! у&nbsp;вас
не&nbsp;то&nbsp;на&nbsp;уме. Ну, я&nbsp;не&nbsp;спорю... в&nbsp;ваши годы это
в&nbsp;порядке вещей. Да&nbsp;выбор-то ваш больно неудачен. Разве
вы&nbsp;не&nbsp;видите, что это за&nbsp;дом?</p>

<p class="ru">&mdash;&nbsp;Я&nbsp;вас не&nbsp;понимаю,&nbsp;&mdash;
заметил&nbsp;я.</p>

<p class="ru">&mdash;&nbsp;Не&nbsp;понимаете? Тем хуже для вас. Я&nbsp;считаю
долгом предостеречь вас. Нашему брату, старому холостяку, можно сюда ходить:
что нам делается? мы&nbsp;народ прокалённый, нас ничем не&nbsp;проберешь;
а&nbsp;у&nbsp;вас кожица ещё нежная; здесь для вас воздух вредный&nbsp;&mdash;
поверьте мне, заразиться можете.</p>

<p class="ru">&mdash;&nbsp;Как так?</p>

<p class="ru">&mdash;&nbsp;Да&nbsp;так&nbsp;же. Разве вы&nbsp;здоровы теперь?
Разве вы&nbsp;в&nbsp;нормальном положении? Разве&nbsp;то, что
вы&nbsp;чувствуете, полезно вам, хорошо?</p>

<p class="ru">&mdash;&nbsp;Да&nbsp;что&nbsp;же я&nbsp;чувствую?
&mdash;&nbsp;сказал&nbsp;я, а&nbsp;сам в&nbsp;душе сознавал, что доктор
прав.</p>

<p class="ru">&mdash;&nbsp;Эх, молодой человек, молодой человек,&nbsp;&mdash;
продолжал доктор с&nbsp;таким выражением, как будто в&nbsp;этих двух словах
заключалось что-то для меня весьма обидное,&nbsp;&mdash; где вам хитрить, ведь
у&nbsp;вас ещё, слава богу, что на&nbsp;душе, то&nbsp;и&nbsp;на&nbsp;лице.
А&nbsp;впрочем, что толковать? Я&nbsp;бы и&nbsp;сам сюда не&nbsp;ходил,
если&nbsp;б (доктор стиснул зубы)... если&nbsp;б я&nbsp;не&nbsp;был
такой&nbsp;же чудак. Только вот чему я&nbsp;удивляюсь: как&nbsp;вы,
с&nbsp;вашим умом, не&nbsp;видите, что делается вокруг вас?</p>

<p class="ru">&mdash;&nbsp;А&nbsp;что&nbsp;же такое делается?
&mdash;&nbsp;подхватил я&nbsp;и&nbsp;весь насторожился. Доктор посмотрел
на&nbsp;меня с&nbsp;каким-то насмешливым сожалением.</p>

<p class="ru">&mdash;&nbsp;Хорош&nbsp;же и&nbsp;я,&nbsp;&mdash;
промолвил&nbsp;он, словно про себя,&nbsp;&mdash; очень нужно это ему говорить.
Одним словом,&nbsp;&mdash; прибавил&nbsp;он, возвысив голос,&nbsp;&mdash;
повторяю вам: здешняя атмосфера вам не&nbsp;годится. Вам здесь приятно,
да&nbsp;мало чего нет? И&nbsp;в&nbsp;оранжерее тоже приятно пахнет&nbsp;&mdash;
да&nbsp;жить в&nbsp;ней нельзя. Эй! послушайтесь, возьмитесь опять
за&nbsp;Кайданова!</p>

<p class="ru">...</p>

<p class="ru">&mdash;&nbsp;Коли уж&nbsp;дело пошло на&nbsp;сочинения,&nbsp;&mdash; сказала она,&nbsp;&mdash; так пускай каждый расскажет что-нибудь непременно выдуманное.</p>
<p class="ru">Первому досталось говорить тому&nbsp;же Беловзорову.</p>
<p class="ru">Молодой гусар смутился.</p>
<p class="ru">&mdash;&nbsp;Я&nbsp;ничего выдумать не&nbsp;могу! &mdash;&nbsp;воскликнул&nbsp;он.</p>
<p class="ru">&mdash;&nbsp;Какие пустяки! &mdash;&nbsp;подхватила Зинаида. &mdash;&nbsp;Ну, вообразите себе, например, что вы&nbsp;женаты, и&nbsp;расскажите нам, как&nbsp;бы вы&nbsp;проводили время с&nbsp;вашей женой. Вы&nbsp;бы её&nbsp;заперли?</p>
<p class="ru">&mdash;&nbsp;Я&nbsp;бы её&nbsp;запер.</p>
<p class="ru">&mdash;&nbsp;И&nbsp;сами&nbsp;бы сидели с&nbsp;ней?</p>
<p class="ru">&mdash;&nbsp;И&nbsp;сам непременно сидел&nbsp;бы с&nbsp;ней.</p>
<p class="ru">&mdash;&nbsp;Прекрасно. Ну, а&nbsp;если&nbsp;бы ей&nbsp;это надоело, и&nbsp;она&nbsp;бы изменила вам?</p>
<p class="ru">&mdash;&nbsp;Я&nbsp;бы её&nbsp;убил.</p>
<p class="ru">&mdash;&nbsp;А&nbsp;если&nbsp;б она убежала?</p>
<p class="ru">&mdash;&nbsp;Я&nbsp;бы догнал её&nbsp;и&nbsp;всё-таки&nbsp;бы убил.</p>
<p class="ru">&mdash;&nbsp;Так. Ну, а&nbsp;положим, я&nbsp;была&nbsp;бы вашей женой, что&nbsp;бы вы&nbsp;тогда сделали?</p>
<p class="ru">Беловзоров помолчал.</p>
<p class="ru">&mdash;&nbsp;Я&nbsp;бы себя убил...</p>
<p class="ru">Зинаида засмеялась.</p>
<p class="ru">&mdash;&nbsp;Я&nbsp;вижу, у&nbsp;вас недолга песня.</p>

<p class="ru">...</p>

<p class="ru">Я&nbsp;чувствовал странное волнение: точно я&nbsp;ходил
на&nbsp;свидание&nbsp;&mdash; и&nbsp;остался одиноким и&nbsp;прошел мимо чужого
счастия.</p>

<p class="ru">...</p>

<p class="ru">Она быстро обернулась ко&nbsp;мне&nbsp;и, раскрыв широко руки,
обняла мою голову и&nbsp;крепко и&nbsp;горячо поцеловала меня. Бог знает, кого
искал этот долгий, прощальный поцелуй, но&nbsp;я&nbsp;жадно вкусил его
сладость. Я&nbsp;знал, что он&nbsp;уже никогда не&nbsp;повторится.</p>

<p class="ru">...</p>

<p class="ru">&laquo;Вот это любовь,&nbsp;&mdash; говорил я&nbsp;себе снова,
сидя ночью перед своим письменным столом, на&nbsp;котором уже начали появляться
тетради и&nbsp;книги,&nbsp;&mdash; это страсть!.. Как, кажется,
не&nbsp;возмутиться, как снести удар от&nbsp;какой&nbsp;бы
то&nbsp;ни&nbsp;было!.. от&nbsp;самой милой руки! А, видно, можно, если
любишь... А&nbsp;я-то... я-то воображал...&raquo;</p>

<p class="ru">...</p>

<p class="ru">О&nbsp;молодость! молодость! тебе нет ни&nbsp;до&nbsp;чего дела,
ты&nbsp;как будто&nbsp;бы обладаешь всеми сокровищами вселенной, даже грусть
тебя тешит, даже печаль тебе к&nbsp;лицу, ты&nbsp;самоуверенна и&nbsp;дерзка,
ты&nbsp;говоришь: я&nbsp;одна живу&nbsp;&mdash; смотрите! а&nbsp;у&nbsp;самой
дни бегут и&nbsp;исчезают без следа и&nbsp;без счёта, и&nbsp;все в&nbsp;тебе
исчезает, как воск на&nbsp;солнце, как снег... И, может быть, вся тайна твоей
прелести состоит не&nbsp;в&nbsp;возможности всё сделать,
а&nbsp;в&nbsp;возможности думать, что ты&nbsp;всё сделаешь,&nbsp;&mdash;
состоит именно в&nbsp;том, что ты&nbsp;пускаешь по&nbsp;ветру силы, которые
ни&nbsp;на&nbsp;что другое употребить&nbsp;бы не&nbsp;умела,&nbsp;&mdash;
в&nbsp;том, что каждый из&nbsp;нас не&nbsp;шутя считает себя расточителем,
не&nbsp;шутя полагает, что он&nbsp;вправе сказать: &laquo;О, что&nbsp;бы
я&nbsp;сделал, если&nbsp;б я&nbsp;не&nbsp;потерял времени даром!&raquo;</p>

<p class="ru">Вот и&nbsp;я... на&nbsp;что я&nbsp;надеялся, чего я&nbsp;ожидал,
какую богатую будущность предвидел, когда едва проводил одним вздохом, одним
унылым ощущением на&nbsp;миг возникший призрак моей первой любви?</p>

<p class="ru">А&nbsp;что сбылось из&nbsp;всего того, на&nbsp;что
я&nbsp;надеялся? И&nbsp;теперь, когда уже на&nbsp;жизнь мою начинают набегать
вечерние тени, что у&nbsp;меня осталось более свежего, более дорогого, чем
воспоминания о&nbsp;той быстро пролетевшей, утренней, весенней грозе?</p>
</blockquote>

<figcaption align="right">
  <cite>Первая любовь, Иван Сергеевич Тургенев&nbsp;(1860)</cite>
</figcaption>
