---
layout:      post
title:      "О декабристках"
date:        2013-07-22, 21:32:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [Былое и думы, Герцен, декабристки]
---

<blockquote>
<p class="ru">Жёны сосланных в&nbsp;каторжную работу лишались всех гражданских
прав, бросали богатство, общественное положение и&nbsp;ехали на&nbsp;целую
жизнь неволи в&nbsp;страшный климат Восточной Сибири, под ещё страшнейший гнёт
тамошней полиции. Сёстры, не&nbsp;имевшие права ехать, удалялись от&nbsp;двора,
многие оставили Россию; почти все хранили в&nbsp;душе живое чувство любви
к&nbsp;страдальцам; но&nbsp;его не&nbsp;было у&nbsp;мужчин, страх выел его
в&nbsp;их&nbsp;сердце, никто не&nbsp;смел заикнуться о&nbsp;несчастных.</p>
</blockquote>

<figcaption align="right">
  <cite><a href="https://ru.wikipedia.org/wiki/Былое_и_думы">Былое и думы,</a> 
  <a href="https://ru.wikipedia.org/wiki/Герцен%2C_Александр_Иванович">
  Александр Иванович Герцен</a>&nbsp;(1860)</cite>
</figcaption>
