---
layout:      post
title:      "О фильме «Здравствуй, это я!»"
date:        2013-09-15, 16:52:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [Джигарханян, Ереван, любовь, советское кино, физики]
---

<figure class="epigraph" style="margin-left: 55%">
  <p>Воспоминания&mdash;это голод.</p>
</figure>

<p class="ru">Хочется рассказать о&nbsp;великолепном советском фильме
&laquo;Здравствуй, это&nbsp;я!&raquo;, снятом армянской киностудией
в&nbsp;1965-м году. Армянская музыка, место действия&mdash;Ереван, два
закадычных друга на&nbsp;крыше, исписанной формулами, война, тяжёлый сорок
второй год, войска отступают, а&nbsp;люди несмотря ни&nbsp;на&nbsp;что
влюбляются, смеются и&nbsp;жаждут жизни. Герой молодого Джигарханяна любит
женщину-лейтенанта. Они встречаются в&nbsp;её&nbsp;короткие отпускные. Одни
катаются на&nbsp;чёртовом колесе, расставив руки. Лежат на&nbsp;опавших листьях
в&nbsp;разбомбленном доме.  Обедают в&nbsp;столовой, делят хлеб
с&nbsp;тоненьким слоем масла.  Женщину вызывают на&nbsp;фронт, и&nbsp;она
исчезает навсегда. Только успевает передать ему через маленькую девочку, чтобы
он&nbsp;ждал<span class="red">&mdash;</span>она вернётся, и&nbsp;всё будет
по&nbsp;прежнему. С&nbsp;ней исчезает всё самое лучшее, самое светлое
в&nbsp;его жизни. Остаётся только мучиться и&nbsp;доживать, как героине
&laquo;Последней осени&raquo; Бунина. Проходят дни, годы, а&nbsp;нежные чувства
не&nbsp;покидают физика. Тяжёлым камнем, печатью незарастающей раны лежит
грусть на&nbsp;сердце. Он&nbsp;не&nbsp;влюбляется больше. Живёт, кровью даётся
каждый новый день. Работает в&nbsp;нечеловеческих условиях высокогорной
лаборатории. Седеет в&nbsp;висках. Бежит славы. На&nbsp;протяжении всего фильма
его внутренний голос ведёт диалог с&nbsp;самим собой, вспоминает: &laquo;Итак,
была война! Тихо, тихо. Только без патетики&raquo;.</p>

<!--more-->

<figure class="imagecentre">
  <img src="{{ site.url }}/assets/photo/hello-its-me.png" alt="Кадр из фильма «Здравствуй, это я!»">
  <figcaption><cite>
    Кадр из фильма «Здравствуй, это я!», режиссёр Ф.&nbsp;Довлатян, 1965&nbsp;г.
  </cite></figcaption>
</figure>

<p class="ru">И&nbsp;вот в&nbsp;самом конце фильма он&nbsp;вдруг встречает
другую женщину, совсем молоденькую. Не&nbsp;он&nbsp;встречает, а&nbsp;она
находит его. Она ничего не&nbsp;говорит, она просто идёт за&nbsp;ним, бежит
за&nbsp;ним, приходит в&nbsp;его номер в&nbsp;гостинице. Оказывается
в&nbsp;гостях его лучшего друга, режет на&nbsp;кухне лук. А&nbsp;он&nbsp;стоит
на&nbsp;балконе и&nbsp;курит. Через окно видна гостиная, женщины накрывают
на&nbsp;стол, бегают дети. Он&nbsp;курит, шум большого города затихает,
и&nbsp;невыносимая каждодневная борьба внезапно сменяется благостью
и&nbsp;спокойствием счастья: &laquo;Ты&nbsp;что уходишь? Нет, а&nbsp;что уйти
надо? Нет, ну&nbsp;зачем!&raquo; Есть много общего между этим фильмом
и&nbsp;французским &laquo;Мужчиной и&nbsp;женщиной&raquo; Клода Лелуша.
Та&nbsp;же правдивость любви, смелая уверенность настоящих чувств (только
вспомните телеграмму почти незнакомой женщины к&nbsp;главному герою:
&laquo;Браво! Я&nbsp;люблю вас. Анна&raquo;), медлительность повествования,
узнавание себя в&nbsp;главных героях. Но&nbsp;армянский фильм ближе
и&nbsp;понятнее сердцу просто потому, что он&nbsp;<i>наш.</i>
И&nbsp;в&nbsp;списке городов, которые стоит посетить, медленно вырисовывается
Ереван, а&nbsp;за&nbsp;ним выступают Тбилиси, Баку...</p>
