---
layout:      post
title:      "Четвёртое июля"
date:        2013-07-07, 22:07:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [Германия, земля обетованная, итоги, праздник, четвёртое июля,
             эмиграция, юбилей]
---

<p class="ru">Четвёртое июля для американцев особенный день&mdash;праздник
независимости, долгожданный выходной, пикник на&nbsp;природе, вечерний салют,
барбекю с&nbsp;друзьями и&nbsp;лучшее мороженое. В&nbsp;нашей семье четвёртое
июля тоже праздник. В&nbsp;этом году исполнилось ровно десять лет с&nbsp;тех
пор как мы&nbsp;покинули Северо&mdash;Восток. За&nbsp;это время я&nbsp;выучил
немецкий язык, дослужился до&nbsp;бакалавра, магистра и&nbsp;доктора наук.
Приобрёл стальной стержень. Половину этого времени я&nbsp;провёл в&nbsp;Англии,
повстречал настоящих друзей, побывал в&nbsp;Израиле, Америке, Китае
и&nbsp;Турции.</p>

<!--more-->

<p class="ru">Многим мы&nbsp;обязаны земле обетованной&mdash;Германии. Стране,
которая нас приняла и&nbsp;совершенно бескорыстно дала нам Шанс. Можно смело
сказать&mdash;всё, что мы&nbsp;имеем, и&nbsp;всё, кем мы&nbsp;стали за&nbsp;это
время, всё это благодаря Германии. Я&nbsp;часто думаю кем&nbsp;бы я&nbsp;был,
если&nbsp;бы мы&nbsp;тогда не&nbsp;уехали &laquo;навсегда&raquo;. Безумно
усталым наивным программистом средней руки, живущим в&nbsp;двухкомнатной
квартире 602-й серии, с&nbsp;простой женой, с&nbsp;двумя детьми в&nbsp;садике,
со&nbsp;съёмной дачей в&nbsp;Юрмале, в&nbsp;нелепых полосатых шортах
и&nbsp;ногами в&nbsp;носках и&nbsp;шлёпанцах, с&nbsp;быстрым отпуском
на&nbsp;русскоговорящих побережьях Кипра и&nbsp;Турции?</p>
