---
layout:      post
title:      "Каждую секунду во мне что-то рождается и что-то умирает..."
date:        2013-10-13, 21:37:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [велосипед, взморье, работа, счастье, Франция]
---

<p class="ru">Каждую секунду во&nbsp;мне что-то рождается и&nbsp;что-то
умирает. В&nbsp;углу окна мерно мигает палочка курсора. Скажет она что-нибудь
ещё или нет? Нет, не&nbsp;скажет. Вот и&nbsp;вся жизнь. Если&nbsp;бы только эта
палочка могла говорить. Она&nbsp;бы поведала вам тайны великих страстей.
Я&nbsp;проживаю чужие жизни на&nbsp;телеэкране, в&nbsp;новостных полосах
социальных сетей. Кому-то &laquo;нравится&raquo; то, что я&nbsp;написал. Кто-то
без интереса пролистывает. Кто-то терпит меня из&nbsp;вежливости.</p>

<!--more-->

<p class="ru">А&nbsp;счастье просто. Счастье в&nbsp;настоящем. Проехать
до&nbsp;взморья на&nbsp;гоночном велосипеде, по&nbsp;тенистым аллеям, вдоль
ухоженных домов с&nbsp;закрытыми ставнями, заглянуть в&nbsp;старинную часовню,
на&nbsp;кладбище с&nbsp;забором из&nbsp;зазеленевшей каменной кладки
и&nbsp;двумя львами на&nbsp;воротах, со&nbsp;стёртыми кельтскими крестами.
Полюбоваться на&nbsp;приморский закат, и&nbsp;на&nbsp;могущественные гнущиеся
перед ветром густые столетние сосны. Представить себя владельцем прибрежной
виллы со&nbsp;стеклянной верандой, или гостем владельца, застрявшим
на&nbsp;несколько дней в&nbsp;сильную непогоду, читателем его библиотеки,
питейщиком ароматного чая, носителем синего банного халата и&nbsp;шерстяных
туфель. Еду и&nbsp;никак не&nbsp;могу поверить, что вокруг меня Франция. Что
это я&nbsp;завтра после обеда буду сидеть на&nbsp;уроке французского
и&nbsp;прилежно учиться. Что оказывается, хоть и&nbsp;с&nbsp;большим трудом,
но&nbsp;я&nbsp;уже могу пробормотать что-то связное... Всю неделю
я&nbsp;проболел, надорвался на&nbsp;долгой и&nbsp;трудной работе,
а&nbsp;в&nbsp;четверг бесстыдно провалялся дома. Кожа на&nbsp;лице огрубела
и&nbsp;вечерами горит. Но&nbsp;я&nbsp;жив, я&nbsp;живу, я&nbsp;счастлив. Кровь
ещё кипит в&nbsp;моих жилах, и&nbsp;я&nbsp;жажду жизни.</p>
