---
layout:      post
title:      "Сегодня был первый день за последние две недели..."
date:        2013-04-18, 22:54:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [адвокаты, дневник, офис, Фурье]
---

<p class="ru">Сегодня был первый день за&nbsp;последние две недели
в&nbsp;который я&nbsp;проработал меньше десяти часов. В&nbsp;офис
я&nbsp;прихожу к&nbsp;8-ми утра и&nbsp;ухожу примерно во&nbsp;столько&nbsp;же.
До&nbsp;половины десятого у&nbsp;меня есть время на&nbsp;личностное развитие.
А&nbsp;потом начинается битва. По&nbsp;звонку мы&nbsp;с&nbsp;Раджендрой
появляемся в&nbsp;кабинете профессора, разрабатываем план на&nbsp;день
и&nbsp;исчезаем также внезапно как и&nbsp;появились. Мой офис похож
на&nbsp;муравейник, студенты магистратуры и&nbsp;молодой аспирант любят
ко&nbsp;мне заглядывать и&nbsp;задавать вопросы. Каждые два&ndash;три часа
звонит профессор, чтобы узнать о&nbsp;наших успехах. А&nbsp;их&nbsp;часто нет.
В&nbsp;научном смысле я&nbsp;двигаюсь с&nbsp;черепашьей скоростью. Ещё столько
всего предстоит освоить. Я&nbsp;пока не&nbsp;представляю, как найти для этого
время. Как добавить в&nbsp;свою жизнь спорт и&nbsp;изучение французского.
В&nbsp;следующие две недели уроки снова отменены. Школьный подход к&nbsp;языку
очень поверхностный и&nbsp;метко характеризуется французским словом
&laquo;факультатив&raquo; (необязательный). А&nbsp;положительные результаты
нужны были уже вчера.</p>

<!--more-->

<p class="ru">Вечерами смотрю &laquo;<a	href="https://ru.wikipedia.org/wiki/Форс-мажоры">
Форс-мажоры</a>&raquo;&mdash;новый американский сериал про приключения Харви
Спектора и&nbsp;Майкла Росса&mdash;адвокатов с&nbsp;Уолл Стрит. Адвокаты
заряжают энергией, бесстрашием, великолепным знанием дела и&nbsp;меткими
фразами. Недавние исследования показали, что в&nbsp;основном специалисты
преуспевают или покидают компании из-за взаимоотношений со&nbsp;своим прямым
руководством. Не&nbsp;высокая зарплата держит работника на&nbsp;фирме,
а&nbsp;уважение к&nbsp;своему начальству (David W. Richards &laquo;First Break
All the Rules&raquo;).</p>

<p class="ru">Вчера я&nbsp;был настолько уставшим, что несколько раз чуть
не&nbsp;упал на&nbsp;вечерней прогулке. Сегодня был радостный солнечный день.
Утром я&nbsp;ездил в&nbsp;город развеяться и&nbsp;оформить медицинскую
страховку. В&nbsp;обед международные студенты угощали нас национальными
блюдами. В&nbsp;следующие три часа после полудня громким эхом раздавались
по&nbsp;коридорам звуки африканских там-тамов, аплодисменты и&nbsp;смех
студентов, танцевавших народные танцы. Два с&nbsp;половиной часа лекций
Франческо о&nbsp;<a href="https://en.wikipedia.org/wiki/Cooley–Tukey_FFT_algorithm">быстром
преобразовании Фурье методом Кули&ndash;Тёки</a> (известному ещё самому
Фурье) и&nbsp;скромный ужин в&nbsp;местной столовой завершили этот прекрасный
день.</p>

<p class="ru">На&nbsp;выходных хочется испариться в&nbsp;Ренн или Нант,
но&nbsp;нужно ещё прочитать докторскую диссертацию в&nbsp;265&nbsp;страниц, две
научные статьи и&nbsp;три пространные заметки на&nbsp;<a href=
"https://ru.wikipedia.org/wiki/Заглавная_страница">Википедии</a>.
На&nbsp;сегодняшний день я&nbsp;могу отжаться всего 24&nbsp;раза подряд.</p>
