---
layout:      post
title:      "Всё, что я хотел рассказать сегодня вечером..."
date:        2013-03-17, 22:40:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [Брест, Великая Отечественная Война, военно-морские силы, компьютер, офис, kNN]
---

<p class="ru">Всё, что я&nbsp;хотел рассказать сегодня вечером об&nbsp;этой
неделе стёрлось. Я&nbsp;только что досмотрел фильм <a href="https://ru.wikipedia.org/wiki/Климов,_Элем_Германович">Элема Климова</a> о&nbsp;<a href="https://ru.wikipedia.org/wiki/Великая_Отечественная_война">Великой Отечественной Войне</a> &laquo;<a href="https://ru.wikipedia.org/wiki/Иди_и_смотри">Иди и&nbsp;смотри</a>&raquo;. К&nbsp;просмотру его
рекомендовал <a href="https://www.khodorkovsky.ru">Михаил Ходорковский</a> в&nbsp;своём последнем интервью русскому
<a href="https://esquire.ru">Эсквайру</a>. Видеть это очень тяжело. Но&nbsp;наверное каждый должен. Война здесь
предстаёт не&nbsp;героическими приключениями Красных с&nbsp;криками
&laquo;Ура!&raquo; и&nbsp;развевающимися знамёнами, как её&nbsp;принято
показывать сейчас, а&nbsp;блужданием по&nbsp;родной земле в&nbsp;предрассветном
тумане, в&nbsp;неисчерпаемом страдании, в&nbsp;многодневной жизни в&nbsp;грязи,
в&nbsp;страхе и&nbsp;голоде, в&nbsp;стиснутых зубах, ползании по-пластунски
и&nbsp;отвоёвывании каждой пяди. Мы&nbsp;победили, потому что у&nbsp;нас
не&nbsp;было другого выхода. Прошлым летом в&nbsp;Одессе эстетствующая
москвичка-архитектор при виде фотографии конструктора <a href="https://www.lego.com/en-gb">Lego</a>, из&nbsp;которого
можно было собрать миниатюрный концлагерь с&nbsp;бараками, вышками, колючей
проволокой и&nbsp;даже надписью над воротами &laquo;Arbeit macht frei&raquo;,
заявила: &laquo;А&nbsp;что, я&nbsp;бы себе такой приобрела&raquo;.</p>

<!--more-->

<p class="ru">Мне выделили офис отставного профессора, когда я&nbsp;деликатно
пожаловался на&nbsp;тесноту моего предыдущего кабинета. Раньше
я&nbsp;не&nbsp;мог выбраться из-за стола&mdash;стул упирался в&nbsp;стену,
и&nbsp;только изловчившись, перепрыгивая через провода и&nbsp;рюкзак, мне
удавалось вырваться на&nbsp;свободу. В&nbsp;новом офисе я&nbsp;пока один.
В&nbsp;скором времени обещают подселить ещё троих. Но&nbsp;я&nbsp;уже успел
колонизировать профессорский стол, лучшее место у&nbsp;окна с&nbsp;видом
во&nbsp;двор, небольшую библиотеку с&nbsp;ударением на&nbsp;электромагнитные
волны (а&nbsp;также иллюстрированной энциклопедией
и&nbsp;французско&ndash;английским словарём) и&nbsp;множество канцелярских
принадлежностей 70-х годов. Новые белые доски во&nbsp;всю стену обещали
доставить на&nbsp;следующей неделе. Что ещё можно пожелать?</p>

<p class="ru">Я&nbsp;всё также занят. За&nbsp;эту неделю я&nbsp;прочитал три
главы об&nbsp;интегральных методах из&nbsp;разных учебников и&nbsp;дописал <a href="https://ru.wikipedia.org/wiki/Метод_k-ближайших_соседей">kNN</a>
на&nbsp;<a href="https://ru.wikipedia.org/wiki/Java">Яве</a>. За&nbsp;один день я&nbsp;могу освоить целую главу учебника!</p>

<p class="ru">Мой рабочий компьютер&mdash;славный <a href="https://support.hp.com/us-en/product/hp-z400-workstation/3718668">HP&nbsp;Z400</a>&nbsp;с
четырёхядерным <a href="https://www.intel.com/content/www/us/en/products/processors/xeon.html">Intel Xeon</a>. Его можно сравнить разве что с&nbsp;блестящим чёрным
<a href="https://en.wikipedia.org/wiki/Ford_Mustang_(first_generation)">Фордом Мустанг</a> 1964 года выпуска, чей двигатель работает как часы
и&nbsp;глуховато урчит на&nbsp;светофорах, от&nbsp;нетерпения сорваться
с&nbsp;места. Конечно мне ещё предстоит освоить французскую раскладку
клавиатуры.</p>

<p class="ru">Из-за непредсказуемой погоды (во&nbsp;вторник неожиданно выпал
снег) отменили наш урок французского. Поэтому с&nbsp;сегодняшнего дня языком
я&nbsp;занимаюсь самостоятельно. Лежу с&nbsp;закрытыми глазами и&nbsp;громко
за&nbsp;аудио-учителем повторяю простые фразы.</p>

<p class="ru">Вчера были в&nbsp;Бресте, но&nbsp;меня внезапно накрыло волной
страшной усталости и&nbsp;в&nbsp;морской музей
мы&nbsp;не&nbsp;пошли&mdash;отсиделись в&nbsp;фойе концертного зала,
а&nbsp;потом фланировали по&nbsp;центру города. А&nbsp;сегодня за&nbsp;два
с&nbsp;половиной часа мы&nbsp;дошли до&nbsp;города пешком. Наш путь лежал вдоль
побережья. Каждые полчаса солнце сменялось дождём, но&nbsp;вымокнуть насквозь
нам не&nbsp;пришлось. Огромную территорию занимает военно-морская база.
За&nbsp;толстыми бетонными стенами, скрытые от&nbsp;любознательных обывателей,
тихо стоят атомные подводные лодки. Тулон и&nbsp;Брест&mdash;города,
в&nbsp;которых расположены главные морские силы Франции. В&nbsp;воскресение
у&nbsp;моряков увольнительные. Военных кораблей в&nbsp;порту мало.
На&nbsp;пустом футбольном стадионе мирно сидит стайка чаек. Замерли синие носы
жёлтоногих погрузочных кранов. И&nbsp;над этим всем мерно переливается
полупрозрачная радуга.</p>
