---
layout:      post
title:      "Киев"
subtitle:   "день пятый"
date:        2013-12-28, 06:36:00 +0000
alpha2:      lt
location:   "Клайпеда, Литва"
categories: [Киев, Лейб Брауншвайгский, Нивки, Роза Васильевна, синагога Бродского, Украина, шаббат]
---

<p class="ru">Снова мы&nbsp;задержались на&nbsp;старте. А&nbsp;что может быть
приятнее неспешного утра дома в&nbsp;Киеве? Из&nbsp;оставшихся апельсинов
я&nbsp;варил севильский мармелад, а&nbsp;потом гладил рубашку к&nbsp;шаббату.
Купив свежего рассыпчатого, кремом напитанного Наполеона (&mdash; Скажите,
а&nbsp;вы&nbsp;нам не&nbsp;вырежете ровный квадратик или прямоугольничек?
&mdash;&nbsp;Да&nbsp;хоть круг или треугольник!), мы&nbsp;отправились навестить
Розу Васильевну, двоюродную бабушку.</p>

<!--more-->

<p class="ru">На&nbsp;выходе со&nbsp;станции метро расположился
импровизированный базар. Повсюду сидели бабушки в&nbsp;платочках и&nbsp;зимних
тулупах и&nbsp;торговали свежей сметаной, выпечкой, цветами... Надо сказать,
что всё подземное пространство Киева (спуски в&nbsp;метро и&nbsp;переходы)
интенсивно используется. По&nbsp;обе стороны перехода располагаются киоски,
стенды, автоматы, кафе...</p>

<p class="ru">Поднявшись наверх и&nbsp;прошагав по&nbsp;проспекту положенные
две остановки, мы&nbsp;свернули на&nbsp;Краснодарскую и&nbsp;без труда нашли
нужный нам дом. Район Нивки представляет собой частный сектор, застроенный
в&nbsp;основном двух и&nbsp;трёхэтажными домиками. Но&nbsp;нередко попадаются
и&nbsp;классические пятиэтажные дома эпохи Хрущёва. Оказавшись в&nbsp;Нивках
с&nbsp;трудом осознаёшь, что это всё ещё Киев.</p>

<p class="ru">Роза Васильевна переехала в&nbsp;Киев после войны. Отучившись
в&nbsp;киевском государственном она стала преподавателем математики
в&nbsp;соседнем киевском политехническом. Больше сорока лет проработала она
на&nbsp;том&nbsp;же месте. Три раза пыталась она защитить диссертацию.
И&nbsp;каждый раз сталкивалась с&nbsp;большими трудностями. Мама у&nbsp;неё
была строгая и&nbsp;не&nbsp;разрешала дочери выходить замуж до&nbsp;тех пор,
пока дочь не&nbsp;защитится. Кандидатом Роза Васильевна не&nbsp;сделалась
и&nbsp;так и&nbsp;осталась незамужней. Обои в&nbsp;гостиной её&nbsp;квартиры
жёлтые с&nbsp;коричневыми вензелями по&nbsp;краям. Потолок тоже заклеен обоями.
Сейчас ей&nbsp;около восьмидесяти. Из-за слабого здоровья гулять она
не&nbsp;выходит и&nbsp;почти не&nbsp;готовит. Возле стены стоит
её&nbsp;гордость<span class="red">&mdash;</span>старинное немецкое пианино
фирмы Майбах, доставшееся по&nbsp;наследству от&nbsp;матери. &mdash;&nbsp;Мать
моя училась в&nbsp;институте благородных девиц. Я&nbsp;из&nbsp;семьи
православных священников. Поэтому ей&nbsp;и&nbsp;разрешили учиться.</p>

<p class="ru">Мы&nbsp;вкрутили ей&nbsp;новую лампу, напоили чаем, рассказали
истории, перемежая их&nbsp;киевскими впечатлениями и&nbsp;показали привезённые
фотографии. Жаль её&nbsp;очень. Никто за&nbsp;ней не&nbsp;присмотрит,
в&nbsp;квартире не&nbsp;приберёт и&nbsp;ремонт не&nbsp;сделает. Разве такой
жизни заслуживает преподаватель математики, сорок лет проработавший
в&nbsp;ВУЗе?</p>

<p class="ru">Из&nbsp;Нивок мы&nbsp;ринулись на&nbsp;Площадь Льва Толстого,
но&nbsp;заплутав, опоздали к&nbsp;шаббатней молитве. Строгие охранники
на&nbsp;дверях чуть было не&nbsp;отказали нам во&nbsp;входе.
Но&nbsp;в&nbsp;конце концов нам удалось проникнуть внутрь, осмотреть синагогу
Бродского с&nbsp;балкона и&nbsp;снизу, и&nbsp;быть приглашёнными
на&nbsp;праздничную трапезу. Раввин специально для нас прочитал киддуш
и&nbsp;произнёс благословение на&nbsp;халу. Напротив нас сел Лейб Фойер
из&nbsp;Брауншвейга&mdash;молодой зубной врач, покинувший родные Черновцы семь
лет назад. Говорит он&nbsp;медленно с&nbsp;одесским акцентом
и&nbsp;интонациями: &laquo;И&nbsp;если вы&nbsp;меня сейчас спросите, зачем
я&nbsp;уехал, я&nbsp;не&nbsp;смогу вам ответить. У&nbsp;меня была цель
и&nbsp;я&nbsp;к&nbsp;ней шёл. Сейчас я&nbsp;добился аккредитации и&nbsp;могу
лечить. Но&nbsp;я&nbsp;нахватался столько стресса. Вчера звонили мои друзья,
тоже зубные врачи. Они собираются переезжать в&nbsp;Канаду. Спрашивают меня что
и&nbsp;как, стоит&nbsp;ли оно того? А&nbsp;я&nbsp;им&nbsp;говорю составьте
список на&nbsp;бумажке, напишите, какие вы&nbsp;цели перед собой ставите, для
чего едете. А&nbsp;он&nbsp;мне, вот если меня там сразу возьмут...
Но&nbsp;мы-то с&nbsp;вами понимаем, что это из&nbsp;области фантастики...
Я&nbsp;ему разъясняю: зачем тебе уезжать, у&nbsp;тебя здесь работа
и&nbsp;неплохая, все тебя знают, ты&nbsp;уважаемый человек, и&nbsp;дома...
Сегодня мы&nbsp;с&nbsp;ним встречались. Так он&nbsp;пришёл без
списка!&raquo;&nbsp;&mdash; А&nbsp;чего не&nbsp;хватает Лейбу Фойеру
из&nbsp;Брауншвейга для полного счастья? &mdash;&nbsp;Семьи, друг мой, семьи.
Тяжело всё-таки одному. Тут мы&nbsp;начинаем его успокаивать и&nbsp;желать ему
счастья. &mdash;&nbsp;Что&nbsp;вы, что&nbsp;вы, я&nbsp;настроен только
позитивно. Никакого негатива. Иначе знаете, никто не&nbsp;может сыграть
на&nbsp;собственных нервах так, как ты&nbsp;сам...</p>

<p class="ru">Распрощавшись с&nbsp;синагогой и&nbsp;новыми друзьями,
мы&nbsp;попытались успеть до закрытия в&nbsp;магазин художественных
принадлежностей &laquo;Каркар&raquo;, но&nbsp;неудачно. Потом
мы&nbsp;наконец-то купили тёмно-бардовый амариллиус и&nbsp;долго пили горячий
шоколад в&nbsp;Львовской шоколаднице. В&nbsp;этот раз Михаил рассказывал
о&nbsp;путешествиях и&nbsp;школьной программе
и&nbsp;<i>глобише</i>&mdash;упрощённом английском, на&nbsp;котором говорят
между собой туристы из&nbsp;разных уголков мира.</p>

<p class="ru">И&nbsp;уже совсем поздно вечером мы&nbsp;по&nbsp;доброй традиции
медленно поднимались по&nbsp;Андреевскому спуску. Гордо вырисовывался
в&nbsp;вечернем тумане остов голубой Андреевской церкви с&nbsp;золотыми
куполами. А&nbsp;после, наверху, мы&nbsp;занимались упражнениями
на&nbsp;доверие, когда один, ведомый другим, шёл задом наперёд с&nbsp;закрытыми
глазами.</p>
