---
layout:      post
title:      "Сегодня утром съев настоящий французский завтрак..."
date:        2013-10-08, 09:08:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [работа, соревнование, французский завтрак]
---

<p class="ru">Сегодня утром съев настоящий французский завтрак (свежеиспечённый
багет разрезанный вдоль намазанный маслом и&nbsp;вареньем с&nbsp;чашкой какао),
я&nbsp;сижу на&nbsp;постеле, укрыв ноги зелёным пледом и&nbsp;пишу. Иногда
можно придти на&nbsp;работу немного позже. Особенно когда усталый вид, лёгкая
небритость, серые круги под глазами и&nbsp;красные воспаления
на&nbsp;висках.</p>

<!--more-->

<p class="ru">На&nbsp;улице радостно встаёт солнце и&nbsp;понемногу рассеивает
густой туман. В&nbsp;студенческом городке тишина, все ушли на&nbsp;лекции,
а&nbsp;кто вовремя не&nbsp;поднялся ещё спит. Давно мы&nbsp;уже
не&nbsp;выходили к&nbsp;морю после обеда. Давно не&nbsp;ездили в&nbsp;бассейн.
Давно я&nbsp;забросил &laquo;Былое и&nbsp;думы&raquo; Герцена. Давно
не&nbsp;открывал Бунина. Давно не&nbsp;был в&nbsp;театре
и&nbsp;на&nbsp;концерте. Давно не&nbsp;фланировал по&nbsp;осеннему Парижу.
Давно не навещал и&nbsp;обнимал друзей в&nbsp;Манчестере. Давно
не&nbsp;вставал рано и&nbsp;бегал вдоль моря.</p>

<p class="ru">Время проходит в&nbsp;кропотливой работе. Но&nbsp;работа моя мне
очень нравится. Это&nbsp;то, чем я&nbsp;давно мечтал заниматься. <i>То, что
я&nbsp;должен делать.</i> Столько ещё я&nbsp;не&nbsp;знаю, столько ещё предстоит
освоить, понять и&nbsp;суметь объяснить. Быстрое умножение тензоров Тёплица при
помощи преобразований Фурье мне удалось. Теперь я&nbsp;исследую методы
численного интегрирования: методы прямоугольников, трапеций, Симпсона
и&nbsp;Гаусса&ndash;Лежандра.</p>

<p class="ru">Мне снятся странные сны. Будто я&nbsp;снова вернулся
в&nbsp;Германию и&nbsp;должен работать в&nbsp;Штутгарте в&nbsp;той&nbsp;же
фирме, с&nbsp;теми&nbsp;же людьми. Будто брат мой женится на&nbsp;никому
незнакомой барышне. Женится бестолково, просто чтобы быть женатым, как
и&nbsp;все его друзья. Будто в&nbsp;Дюссельдорфе лето, и&nbsp;у&nbsp;вокзала
проводятся гонки беспилотных автомобилей.</p>

<p class="ru">По&nbsp;вторникам, раз в&nbsp;неделю, мы&nbsp;готовимся
к&nbsp;соревнованию по&nbsp;программированию. Я&nbsp;замечаю, что сильно сдал
в&nbsp;Яве. Чтобы считать несколько строк текста, мне пришлось час искать
примеры в&nbsp;интернете и&nbsp;штудировать документацию. Надеюсь, удастся
выставить три команды. В&nbsp;одной из&nbsp;них будет парень, который два года
назад занял 5-е место из&nbsp;1515-и! Только по&nbsp;таким мелочам
и&nbsp;понимаешь уровень университета.</p>

<p class="ru">Во&nbsp;время одной из&nbsp;прогулок на&nbsp;меня нашло несколько
озарений: следующим летом мы&nbsp;обязательно поедем в&nbsp;деревню,
в&nbsp;которой родился деда. Снимем дом или пару комнат, и&nbsp;поживём как
он&nbsp;в&nbsp;детстве. И&nbsp;ещё я&nbsp;понял, что мы&nbsp;сами будем строить
свой дом.</p>
