---
layout:      post
title:      "На четыре дня я летал в Дюссельдорф..."
date:        2013-05-13, 22:01:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [аэропорт, дом, Дюссельдорф, компьютер, отдых, сны]
---

<p class="ru">На&nbsp;четыре дня я&nbsp;летал в&nbsp;Дюссельдорф. Парижский
аэропорт Шарля де&nbsp;Голля&mdash;лучший аэропорт в&nbsp;мире. Лучший
из&nbsp;тех, в&nbsp;которых я&nbsp;побывал. Высокие потолки, стены
из&nbsp;стекла, широкие кожаные сидения, полки с&nbsp;газетами на&nbsp;ключевых
европейских языках, прозрачные рукава коридоров, футуристическое,
но&nbsp;не&nbsp;надуманное, а&nbsp;функциональное просторное здание. Аэропорт
большой, но&nbsp;не&nbsp;громоздкий и&nbsp;необъятный, а&nbsp;стильный
и&nbsp;в&nbsp;тоже время уютный. В&nbsp;каждом терминале бесплатный интернет
и&nbsp;фонтаны с&nbsp;питьевой водой. Уже в&nbsp;аэропорту я&nbsp;окунулся
и&nbsp;вдохнул динамичность столичной жизни.</p>

<!--more-->

<p class="ru">Дома мне наконец-то удалось выспаться. Мне снились сны.
Сны&mdash;это верный признак того, что мозг отдыхает. Я&nbsp;видел праздничное
лето у&nbsp;моря, белоснежные яхты, мерно покачивающиеся, парящие над
прозрачной водой, бальные танцы, чаепития в&nbsp;сумерках на&nbsp;веранде,
полотняные одежды в&nbsp;плетёных креслах, твои плечи накрытые пледом,
радостные лица и&nbsp;крепкие загорелые руки своих лучших друзей. Мечтой...</p>

<p class="ru">Два дня под музыку Земфиры я&nbsp;перебирал свой настольный
компьютер&mdash;чистил от&nbsp;пыли, переносил в&nbsp;новый кейс, смазывал
свежей термопастой процессор. Мы&nbsp;смеялись от&nbsp;души, готовили
изысканные блюда, прогуливались по&nbsp;хильденскому лесу, выбирали официальный
костюм и&nbsp;смотрели кино. Пролетели дни.</p>
