---
layout:      post
title:      "О повести И. С. Тургенева «Первая любовь»"
date:        2013-10-28, 14:50:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [Бунин, Натали, отзыв, Первая любовь, Тургенев]
---

<p class="ru">Вот и&nbsp;кончилась &laquo;Первая любовь&raquo; Тургенева.
Читается она не&nbsp;залпом и&nbsp;не&nbsp;взахлёб, как например &laquo;Анна
Каренина&raquo; Толстого. Невольно, даже из-за одинакового названия,
сравниваешь её&nbsp;с&nbsp;&laquo;Первой любовью&raquo; Бунина. Несмотря
на&nbsp;то, что у&nbsp;Бунина это миниатюрный рассказ, он&nbsp;разворачивает
перед читателем красочную панораму. Рисует картину ранней душистой осени,
романтичные дачные посиделки с&nbsp;гостями, мокрые ветви вековых сосен, глухую
сыроватую, но&nbsp;непостижимо манящую тьму чащи. Так и&nbsp;первая любовь
у&nbsp;него природна натуральна, ещё непонятна юному сердцу, но&nbsp;манит
магнитом, тайной и&nbsp;сыроватой тьмой чащи. Через описание природы
и&nbsp;ранней осени Бунин сначала создаёт атмосферу рассказа, и&nbsp;только
в&nbsp;последних предложениях приходит к&nbsp;самому нежному чувству. Читателю
оно понятно, потому что ему уже кажется, и&nbsp;он&nbsp;шёл по&nbsp;этой
дорожке вместе с&nbsp;гостями и&nbsp;видел перед собой играющего мальчика
и&nbsp;чувствовал к&nbsp;нему жалость, говорил с&nbsp;прогуливающимися,
а&nbsp;сам нет-нет и&nbsp;возвращался в&nbsp;воспоминаниях к&nbsp;своей первой
любви.</p>

<!--more-->

<p class="ru">Тургенев наоборот детально описывает все события происходящие
с&nbsp;молодым героем. Перо его свежо, но&nbsp;не&nbsp;захватывает внимания,
не&nbsp;скользит. Видимо сказывается ещё неопытность автора, желание передать
все чувства наиболее достоверно. Ведь &laquo;Первая любовь&raquo; его
автобиографична. Персонажи повести безликие. Они не&nbsp;близки читателю. Нет
ни&nbsp;симпатичных, ни&nbsp;отвратительных героев. Трудно себя с&nbsp;ними
ассоциировать. Зинаиде не&nbsp;веришь, и&nbsp;главное не&nbsp;веришь
в&nbsp;возможность её&nbsp;полюбить кого-то искренне, по-настоящему. Читателю
она представляется взбалмошной девицей, способной лишь на&nbsp;праздные
развлечения в&nbsp;окружении верных поклонников. Зинаида первообразная своей
матери. Она неумолимо движется к&nbsp;такому&nbsp;же как
и&nbsp;у&nbsp;её&nbsp;матери скандальному тяжёлому будущему. Грязноватые белые
скатерти, неопрятность, непролазный сад, орфографические ошибки в&nbsp;русском
языке и&nbsp;разносортные поклонники вот и&nbsp;всё что останется
от&nbsp;первого прочтения. Главное несоответствие повести в&nbsp;том, что
не&nbsp;веришь в&nbsp;перевоплощение Зинаиды, в&nbsp;её&nbsp;искренность,
раскаяние и&nbsp;возможность совершить Поступок ради любви. Кажется первая
любовь должна быть трагична, но&nbsp;она не&nbsp;трагична у&nbsp;Тургенева.
И&nbsp;снова хочется привести пример Бунина. Как искренне, как нежно описана
любовь в&nbsp;рассказе &laquo;Натали&raquo;. Как бесконечно жаль героев. Всех.
Какое сильное чувство останется после прочтения. Как часто в&nbsp;течение
нескольких дней в&nbsp;самые неожиданные моменты дня вы&nbsp;невольно будете
возвращаться в&nbsp;мыслях к&nbsp;Натали.</p>
