---
layout:      post
title:      "Киев"
subtitle:   "день второй"
date:        2013-12-24, 23:01:00 +0000
alpha2:      ua
location:   "Киев, Украина"
categories: [Дженералз, Киев, Сокол, Софийский собор, Украина, украинская еда, хоккей на льду, экскурсия]
---

<p class="ru">Итак, леди и&nbsp;джентльмены, вашему вниманию представляется
продолжение наших рождественских приключений в&nbsp;Киеве. Сегодня, после
интенсивного растягивания мышц и&nbsp;шести классических упражнений Шиацу,
мы&nbsp;жарили омлет и&nbsp;плотно завтракали. Нашему дню был дан поздний
старт. А&nbsp;погода за&nbsp;окном стояла солнечная, совсем весенняя.
Мы&nbsp;бегло сфотографировались у&nbsp;Золотых ворот. Поменяли деньги
и&nbsp;купили карточки Life для мобильных телефонов. Первую половину дня
мы&nbsp;провели на&nbsp;территории Софийского собора. Послушали экскурсию
внутри храма, посетили выставку янтарной мозаики. Оказывается, украинскому
янтарю до сорока миллионов лет, в&nbsp;отличие от&nbsp;прибалтийского, которому
всего четыре.</p>

<!--more-->

<p class="ru">С&nbsp;колокольни Софийского собора открывается великолепный вид
на&nbsp;город и&nbsp;на&nbsp;Михайловский&ndash;Златоверхий. А&nbsp;внизу,
у&nbsp;позеленевшего от&nbsp;времени памятника Богдану Хмельницкому, стояли
машины в&nbsp;пробке, ехали жёлтые автобусы, продирались вперёд
правительственные кортежи с&nbsp;мигалками, а&nbsp;бойкий старичок пилил дрова
для протопки храмовых помещений. У&nbsp;собора тишина, благодать. Тает
на&nbsp;дорожках подледеневший снег.</p>

<p class="ru">В&nbsp;поздний ленч мы&nbsp;лакомились украинским борщом,
драниками из&nbsp;грибов, блинами, варениками с&nbsp;вишней и&nbsp;<i>дюже
смачным</i> Иван-чаем. А&nbsp;вечером в&nbsp;поисках приключений
мы&nbsp;отправились за&nbsp;город, в&nbsp;ТРЦ Терминал, смотреть
на&nbsp;хоккейную игру Сокола против Дженералз. Первый тайм генералы вели себя
уверенно, второй остался за&nbsp;сокольками. Это был самый интересный
и&nbsp;динамичный тайм, показавший настоящий хоккей на&nbsp;льду. А&nbsp;третий
мы&nbsp;досмотрели с&nbsp;большим трудом. Вратарь Сокола отразил один буллит,
но&nbsp;всё равно в&nbsp;итоге игра окончилась со&nbsp;счётом 3:2&nbsp;в пользу
генералов. Дома мы&nbsp;работали по&nbsp;проверенной программе: <i>молоко
з&nbsp;медом</i> и&nbsp;горячие ванны.</p>

<p class="ru">До&nbsp;новых встреч в&nbsp;эфире! Ах&nbsp;да, в&nbsp;переходе
метро мы&nbsp;купили маленькую ёлочку. С&nbsp;Рождеством вас, мои дорогие
католические друзья.</p>
