---
layout:      post
title:      "Освобождение Толстого"
date:        2013-05-13, 21:18:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [биография, Бунин, дневник, критика, Толстой]
---

<p class="ru">В&nbsp;эти дни я&nbsp;читаю детальную биографическую работу
Бунина о&nbsp;Толстом &laquo;Освобождение Толстого&raquo;. Это глубокий анализ
Толстого-человека и&nbsp;интерпретация его жизненного пути, впечатления
от&nbsp;личного знакомства и&nbsp;собранные по&nbsp;крупицам рассказы людей,
знавших Толстого лично&mdash;детей, друзей, вхожих в&nbsp;дом писателя,
критиков. Следуя Бунину Толстой был самородком, необыкновенно талантливым
человеком, который постоянно работал над собой, учился, совершенствовался. Уже
в&nbsp;старости он&nbsp;за&nbsp;два месяца выучил греческий язык, чтобы читать
Гомера в&nbsp;оригинале. Вероятно до&nbsp;конца Толстого не&nbsp;чувствовал
и&nbsp;не&nbsp;понимал никто. На&nbsp;него вешали ярлыки, называли апостолом,
искали выгоду в&nbsp;его гражданской и&nbsp;религиозной позиции. Для западных
авторов и&nbsp;исследователей он&nbsp;вообще остался дремучим стариком
&laquo;заново открывавшем уже давно открытые Америки&raquo;, кем-то вроде
литературного эквивалента Распутина. Слушая Бунина, его интимный разговор
с&nbsp;читателем, возвышаешься и&nbsp;освобождаешься сам. Многие записи его
поражают своей откровенностью, простотой:</p>

<!--more-->

<blockquote>
<p class="ru">&mdash;&nbsp;Люблю я&nbsp;её, когда ночью или утром
я&nbsp;проснусь и&nbsp;вижу: она смотрит на&nbsp;меня и&nbsp;любит...
Люблю&nbsp;я, когда она сидит близко ко&nbsp;мне, и&nbsp;мы&nbsp;знаем, что
любим друг друга, как можем; и&nbsp;она скажет:
&laquo;Лёвочка!&raquo;&nbsp;&mdash; и&nbsp;остановится;
&mdash;&nbsp;&laquo;отчего трубы в&nbsp;каминах проведены прямо?&raquo; или:
&laquo;почему лошади не&nbsp;умирают долго?&raquo; Люблю, когда мы&nbsp;долго
одни&nbsp;&mdash; и&nbsp;&laquo;что нам делать?&raquo;&nbsp;&mdash;
&laquo;Соня, что нам делать?&raquo;&nbsp;&mdash; Она смеется. Люблю, когда она
рассердится на&nbsp;меня и&nbsp;вдруг, в&nbsp;мгновение ока у&nbsp;ней мысль
и&nbsp;слово, иногда резкое: &laquo;оставь! скучно!&raquo; Через минуту она уже
робко улыбается мне. Люблю, когда она девочка в&nbsp;желтом платье
и&nbsp;выставит нижнюю челюсть и&nbsp;язык; люблю, когда я&nbsp;вижу
её&nbsp;голову, закинутую назад, и&nbsp;серьёзное, и&nbsp;испуганное,
и&nbsp;детское, и&nbsp;страстное лицо...</p>

<p class="ru">...</p>

<p class="ru">&mdash;&nbsp;Пишу и&nbsp;слышу наверху голос жены, которую
я&nbsp;люблю больше всего на&nbsp;свете. Я&nbsp;дожил до&nbsp;34&nbsp;лет
и&nbsp;не&nbsp;знал, что можно так любить и&nbsp;быть так счастливым...</p>

<p class="ru">...</p>

<p class="ru">&mdash;&nbsp;Ещё думал нынче о&nbsp;прелести&nbsp;&mdash; именно
прелести&nbsp;&mdash; зарождающейся любви. Это в&nbsp;роде того, как пахнет
вдруг запах зацветающей липы или начинающая падать тень от&nbsp;луны...</p>
</blockquote>
