---
layout:      post
title:      "О предисловиях"
date:        2013-06-29, 22:34:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [автор, предисловие, советский, эксперт]
---

<p class="ru">Наконец-то я&nbsp;развязался с&nbsp;сериалами, телепередачами
и&nbsp;в&nbsp;свободное время отдаюсь чтению. На&nbsp;днях начал полное издание
&laquo;Былого и&nbsp;дум&raquo; Герцена. По&nbsp;своей привычке книги читать
целиком, я&nbsp;взялся за&nbsp;предисловие. Обычно предисловия&mdash;это мука
в&nbsp;тридцать страниц написанная экспертом по&nbsp;творчеству автора,
профессором или в&nbsp;крайнем случае подающим надежды кандидатом наук. Автор
предисловия дискутирует сам с&nbsp;собой и&nbsp;несколькими посвящёнными
лицами. Он&nbsp;пытается убедить и&nbsp;их&nbsp;и&nbsp;себя в&nbsp;своей
позиции и&nbsp;интерпретации произведения. Читатель здесь только слушатель,
который не&nbsp;имеет права и&nbsp;руку поднять, чтобы задать вопрос или
выразить несогласие.</p>

<!--more-->

<p class="ru">Предисловия советского периода&mdash;это мука возведённая
в&nbsp;квадрат. Как минимум первые десять страниц являются глубоким реверансом
коммунизму, революции и&nbsp;отсылками к&nbsp;работам Ленина. Нам
не&nbsp;известно, какой ценой и&nbsp;какими усилиями автору предисловия
удавалось убедить редактора опубликовать именно его работу. Нам
не&nbsp;известно, как умело нужно было маскировать свои яркие идеи
и&nbsp;ценные мысли в&nbsp;прогибе к&nbsp;общей политике государства.
Наверняка, у&nbsp;некоторых это получалось. Но&nbsp;сейчас большинство
советских предисловий вызывает лёгкое отвращение. Читаешь их&nbsp;несерьёзно,
прыгая через строки и&nbsp;пропускаешь редкие жемчужины по-настоящему новых
мыслей. Отсюда вывод: или предисловия стоит отменить вовсе или доверять
их&nbsp;написание талантливым людям, искренне любящим творчество автора. Может
быть предисловие должно быть написано одним из&nbsp;преданных читателей?
Не&nbsp;сделаться&nbsp;ли мне автором предисловий?</p>
