---
layout:      post
title:      "Праздное бездействие отдыха"
date:        2013-07-30, 15:18:00 +0000
alpha2:      lv
location:   "Юрмала, Латвия"
categories: [Братья, Бунин, лето, отдых, пляж, Сны Чанга, Чистый понедельник]
---

<p class="ru">Неожиданным подарком я&nbsp;оказался на&nbsp;Северо-Востоке.
Впервые по&nbsp;страшной цене я&nbsp;купил билеты за&nbsp;день до&nbsp;вылета.
А&nbsp;здесь молочное море и&nbsp;кисельные берега. Погода словно парная.
Совершенная благодать. Штиль на&nbsp;море. Праздное бездействие отдыха.
Мы&nbsp;ходим по&nbsp;пляжу узкими шагами, абсолютно расслабленные, как
сомнамбулы. В&nbsp;голове ни&nbsp;одной мысли. И&nbsp;нет никаких сил
ни&nbsp;работать, ни&nbsp;бегать, ни&nbsp;отжиматься, ни&nbsp;рано вставать.
Затишье перед бурей. Всё движется медленно, размеренно и&nbsp;при таком
количестве людей удивительно, что не&nbsp;шумит. &laquo;Волна&raquo;
на&nbsp;этот раз прошла тихо, без скандалов, страстных всплесков
и&nbsp;экстравагантной праздничной толпы, заполняющей все рестораны
и&nbsp;кафе.</p>

<!--more-->

<p class="ru">Дома я&nbsp;возвратился к&nbsp;Бунину. Каждую зиму под новый год
я&nbsp;читаю его искренний, честный и&nbsp;необыкновенно красивый &laquo;Чистый
понедельник&raquo;. В&nbsp;его летних вещах вы&nbsp;найдёте
и&nbsp;&laquo;Натали&raquo; и&nbsp;&laquo;Сны Чанга&raquo; и&nbsp;моё новое
открытие&nbsp;&mdash; &laquo;Братья&raquo;. Бунин сам любил делить литературные
произведения по&nbsp;временам года. Например, &laquo;Войну и&nbsp;мир&raquo;
он&nbsp;перечитывал каждую весну.</p>

<p class="ru">О&nbsp;красоте и&nbsp;богатстве жизни:</p>

<blockquote>
<p class="ru">...в самый жар полдня, когда золотыми стрелами снуют в&nbsp;лесах
те&nbsp;лимонные птички, что называются солнечными, когда так весело
и&nbsp;резко вскрикивают зелёные попугаи, срываясь с&nbsp;деревьев
и&nbsp;радугой сверкая в&nbsp;пестроте лесов, в&nbsp;их&nbsp;тени
и&nbsp;лаковом блеске, когда так сладко и&nbsp;тяжело пахнут в&nbsp;оградах
старых буддийских вихар, крытых черепицей, сливочные цветы безлиственного
жертвенного дерева, похожие на&nbsp;маленькие туберозы, такими яркими
самоцветами переливаются толстогорлые хамелеоны, мелькая и&nbsp;по&nbsp;гладким
и&nbsp;по&nbsp;кольчатым, как хобот слона, стволам деревьев, так много реет
и&nbsp;замирает на&nbsp;солнце огромных пышных бабочек и&nbsp;агатовым зерном
кишат, текут горячие бурые холмики муравьёв. Всё в&nbsp;лесах пело
и&nbsp;славило бога жизни-смерти Мару, бога &laquo;жажды существования&raquo;,
всё гонялось друг за&nbsp;другом, радовалось краткой радостью, истребляя друг
друга...</p>
</blockquote>

<figcaption align="right">
  <cite><a href="http://az.lib.ru/b/bunin_i_a/text_1720.shtml">Братья,</a>
  <a href="http://az.lib.ru/b/bunin_i_a/text_1720.shtml">
  Иван Алексеевич Бунин</a>&nbsp;(1914)</cite>
</figcaption>

<p class="ru">О&nbsp;людской жадности, эгоизме и&nbsp;жестокосердном,
бесчувственном бесстрашии:</p>

<blockquote>
<p class="ru">&mdash;&nbsp;Мы&nbsp;все,&nbsp;&mdash; коммерсанты, техники,
военные, политики, колонизаторы,&nbsp;&mdash; мы&nbsp;все, спасаясь
от&nbsp;собственной тупости и&nbsp;пустоты, бродим по&nbsp;всему миру
и&nbsp;силимся восхищаться то&nbsp;горами и&nbsp;озерами Швейцарии,
то&nbsp;нищетой Италии, её&nbsp;картинами и&nbsp;обломками статуй или колонн,
то&nbsp;бродим по&nbsp;скользким камням, уцелевшим от&nbsp;каких-то амфитеатров
в&nbsp;Сицилии, то&nbsp;глядим с&nbsp;притворным восторгом на&nbsp;жёлтые груды
Акрополя, то&nbsp;присутствуем, как при балаганном зрелище, при раздаче
священного огня в&nbsp;Иерусалиме, платим бешеные деньги за&nbsp;то, чтобы
терпеть мучения от&nbsp;проводников и&nbsp;блох в&nbsp;могильниках
и&nbsp;глиняных капищах Египта, плывем в&nbsp;Индию, в&nbsp;Китай,
в&nbsp;Японию&nbsp;&mdash; и&nbsp;вот только здесь, на&nbsp;земле древнейшего
человечества, в&nbsp;этом потерянном нами эдеме, который мы&nbsp;называем
нашими колониями и&nbsp;жадно ограбляем, среди грязи, чумы, холеры, лихорадок
и&nbsp;цветных людей, обращенных нами в&nbsp;скотов, только здесь чувствуем
в&nbsp;некоторой мере жизнь, смерть, божество. Здесь, оставшись равнодушным
ко&nbsp;всем этим Озирисам, Зевсам, Аполлонам, к&nbsp;Христу, к&nbsp;Магомету,
я&nbsp;не&nbsp;раз чувствовал, что мог&nbsp;бы поклоняться разве
только&nbsp;им, этим страшным богам нашей прародины,&nbsp;&mdash; сторукому
Браме, Шиве, Дьяволу, Будде, слово которого раздавалось поистине как глагол
самого Мафусаила, вбивающего гвозди в&nbsp;гробовую крышку мира... Да, только
благодаря Востоку и&nbsp;болезням, полученным мной на&nbsp;Востоке, благодаря
тому, что в&nbsp;Африке я&nbsp;убивал людей, в&nbsp;Индии, ограбляемой Англией,
а&nbsp;значит, отчасти и&nbsp;мною, видел тысячи умирающих с&nbsp;голоду,
в&nbsp;Японии покупал девочек в&nbsp;месячные жёны, в&nbsp;Китае бил палкой
по&nbsp;голове беззащитных обезьяноподобных стариков, на&nbsp;Яве
и&nbsp;на&nbsp;Цейлоне до&nbsp;предсмертного хрипа загонял рикш,
в&nbsp;Анарадхапуре получил в&nbsp;своё время жесточайшую лихорадку,
а&nbsp;на&nbsp;Малабарском берегу болезнь печени,&nbsp;&mdash; только благодаря
всему этому я&nbsp;ещё кое-что чувствую и&nbsp;думаю. Те&nbsp;страны, тех
несметных людей, что ещё живут или младенчески-непосредственной жизнью, всем
существом своим ощущая, и&nbsp;бытие, и&nbsp;смерть, и&nbsp;божественное
величие Вселенной, или уже прошли долгий и&nbsp;трудный путь, исторический,
религиозный и&nbsp;философский, и&nbsp;устали на&nbsp;этом пути, мы, люди
нового железного века, стремимся поработить, поделить между собою,
и&nbsp;называем это нашими колониальными задачами. И&nbsp;когда этот делёж
придет к&nbsp;концу, тогда в&nbsp;мире опять воцарится власть какого-нибудь
нового Тира, Сидона, нового Рима, английского или немецкого, повторится,
непременно повторится и&nbsp;то, что предрекли Сидону, возомнившему себя,
по&nbsp;слову Библии, богом, иудейские пророки, Риму&nbsp;&mdash; Апокалипсис,
а&nbsp;Индии, арийским племенам, поработившим&nbsp;ее,&nbsp;&mdash; Будда,
говоривший: &laquo;О, вы, князья, властвующие, богатые сокровищами, обращающие
друг против друга жадность свою, ненасытно потворствующие своим похотям!&raquo;
Будда понял, что значит жизнь Личности в&nbsp;этом &laquo;мире бывания&raquo;,
в&nbsp;этой Вселенной, которой мы&nbsp;не&nbsp;постигаем,&nbsp;&mdash;
и&nbsp;ужаснулся священным ужасом. Мы&nbsp;же возносим нашу Личность превыше
небес, мы&nbsp;хотим сосредоточить в&nbsp;ней весь мир, что&nbsp;бы там
ни&nbsp;говорили о&nbsp;грядущем всемирном братстве
и&nbsp;равенстве,&nbsp;&mdash; и&nbsp;вот только в&nbsp;океане, под новыми
и&nbsp;чуждыми нам звездами, среди величия тропических гроз, или в&nbsp;Индии,
на&nbsp;Цейлоне, где в&nbsp;черные знойные ночи, в&nbsp;горячечном мраке,
чувствуешь, как тает, растворяется человек в&nbsp;этой черноте, в&nbsp;звуках,
запахах, в&nbsp;этом страшном Всеедином,&nbsp;&mdash; только там понимаем
в&nbsp;слабой мере, что значит эта наша Личность...</p>
</blockquote>

<figcaption align="right">
  <cite><a href="http://az.lib.ru/b/bunin_i_a/text_1720.shtml">Братья,</a>
  <a href="https://ru.wikipedia.org/wiki/Бунин,_Иван_Алексеевич">
  Иван Алексеевич Бунин</a>&nbsp;(1914)</cite>
</figcaption>
