---
layout:      post
title:      "Сегодня у меня и моих соседей день Земфиры..."
date:        2013-09-13, 10:49:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [волейбол, Земфира, искусство, математика, ностальгия, плаванье,
             работа, студенты, французский язык]
---

<figure class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/_f-C8G40mzg"
	  frameborder="0" allow="accelerometer; autoplay; encrypted-media;
	  gyroscope; picture-in-picture" allowfullscreen></iframe>
</figure>

<p class="ru">Сегодня у&nbsp;меня и&nbsp;моих соседей день Земфиры. Жаль,
не&nbsp;хватает громкости.</p>

<p class="ru">Я&nbsp;успешно окончил трёхнедельный курс французского языка для
иностранных студентов. Мы&nbsp;усиленно занимались по&nbsp;пять часов
в&nbsp;день с&nbsp;небольшими перерывами на&nbsp;обед. При том что я&nbsp;почти
не&nbsp;упражнялся дома, разница между первым и&nbsp;последним тестами
на&nbsp;знание языка меня приятно удивила. В&nbsp;обед мы&nbsp;сидели
за&nbsp;узкими столами растянувшимися во&nbsp;всю длину столового зала. Кушали
в&nbsp;испанском обществе, в&nbsp;китайском обществе, в&nbsp;румынском
обществе... А&nbsp;в&nbsp;оставшиеся полчаса ходили на&nbsp;пляж.</p>

<!--more-->

<p class="ru">После курсов я&nbsp;старался работать, но&nbsp;мозг был сильно
перегружен. Поэтому продираться сквозь джунгли публикаций было очень тяжело.
Словно пытаешься бежать во&nbsp;сне. А&nbsp;вечерами после ужина мы&nbsp;играли
в&nbsp;волейбол: шесть на&nbsp;шесть через провисавшую ярко-жёлтую сетку для
пляжного волейбола. Больше всего мне нравится стоять сзади в&nbsp;центре,
принимать подачу противника и&nbsp;передавать мяч нашим атакующим. Волейбол
вдруг напомнил летний пансионат, в&nbsp;котором мы&nbsp;отдыхали детьми, ватагу
ребят, игры в&nbsp;казаков-разбойников, самодельные луки, гонки
на&nbsp;велосипедах, горьковатый запах отсыревших комнат, настольный теннис
до&nbsp;полуночи под песни &laquo;Ace of&nbsp;Base&raquo;, глубокое тёмно-синее
небо всё в&nbsp;звёздах и&nbsp;аромат свежего холодного воздуха, льющегося
в&nbsp;окно по&nbsp;вечерам. Тогда при игре в&nbsp;волейбол я&nbsp;часто
и&nbsp;высоко прыгал, за&nbsp;что и&nbsp;получил прозвище
&laquo;Кузнечик&raquo;.</p>

<p class="ru">В&nbsp;эти три недели я&nbsp;учился рано вставать. Каждый день
после упорной борьбы я&nbsp;выхожу на&nbsp;пляж, делаю зарядку и&nbsp;купаюсь.
Доплываю до&nbsp;первой лодки и&nbsp;возвращаюсь обратно. Прыгаю, отряхивая
с&nbsp;себя воду, растягиваюсь и&nbsp;встречаю солнце, медленно выступающее
из-за холма. Сегодня был двадцатый день. Ещё держусь. За&nbsp;это время
я&nbsp;два раза выходил к&nbsp;морю позже и&nbsp;один раз &laquo;купался&raquo;
в&nbsp;холодном душе.</p>

<p class="ru">Новоприбывшие магистры отправились в&nbsp;Ренн для слушания
десятидневных лекций по&nbsp;телекоммуникациям. Но&nbsp;жизнь
в&nbsp;студенческом городке не&nbsp;утихает. Молодёжь вытаскивает столы
и&nbsp;стулья на&nbsp;балкон, ужинает под музыку. Со&nbsp;всех сторон раздаётся
весёлый смех. Каждый вечер в&nbsp;десять начинается тематическая вечеринка:
в&nbsp;ковбойском, в&nbsp;испанском, в&nbsp;спортивном стиле...
А&nbsp;я&nbsp;в&nbsp;это время вижу десятый сон.</p>

<p class="ru">Катастрофически не&nbsp;хватает искусства. Очень хочется
в&nbsp;парижские музеи, в&nbsp;сад Тюильри, где можно сидеть на&nbsp;зелёных
нагретых солнцем стульях, любоваться фонтаном, глазеть на&nbsp;туристов или
просто читать в&nbsp;чёрных солнценепроницаемых очках, как американские
туристы. И&nbsp;ещё хочется домой.</p>

<p class="ru">На&nbsp;работе неприятности. При всех моих усилиях быстрые
произведения многомерных матриц Тёплица на&nbsp;векторы при помощи
преобразований Фурье не&nbsp;сходятся. Франческо не&nbsp;доволен и&nbsp;второй
день подряд обвиняет меня в&nbsp;слабой концентрации: &laquo;У&nbsp;меня
складывается такое впечатление, что ты&nbsp;недостаточно сильно
фокусируешься&raquo;. Засим отправляюсь в&nbsp;офис фокусироваться.</p>
