---
layout:      post
title:      "У меня всё очень хорошо"
date:        2013-04-01, 23:32:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [Брест, Бунин, вещи, Париж, поход, семья]
---

<p class="ru">У&nbsp;меня всё очень хорошо. На&nbsp;прошлых выходных
ко&nbsp;мне приезжал друг из&nbsp;Израиля, и&nbsp;мы&nbsp;в&nbsp;скором порядке
посещали основные достопримечательности французской столицы. На&nbsp;этот раз
больше всего запомнились версальские сады. А&nbsp;во&nbsp;дворце было
вавилонское столпотворение. Толпа клокочущей рекой несла нас из&nbsp;зала
в&nbsp;зал, и&nbsp;очень хотелось, одним нажатием клавиши остановить
изображение и&nbsp;звук, а&nbsp;потом насладившись тишиной и&nbsp;спокойствием,
вторым нажатием убрать всех присутствующих из&nbsp;кадра. Мы&nbsp;пили горячий
шоколад. Он&nbsp;делается из&nbsp;молочного шоколада и&nbsp;поэтому
не&nbsp;такой горький как на&nbsp;Северо-Востоке, а&nbsp;по&nbsp;консистенции
напоминает густое какао. Однажды вечером нас с&nbsp;треском выставили
из&nbsp;Отеля Костес (H&ocirc;tel Costes). Охранник в&nbsp;дверях
поинтересовался, являемся&nbsp;ли мы&nbsp;постояльцами отеля, или может быть
у&nbsp;нас заказан столик на&nbsp;ужин? Ему было очень жаль, но&nbsp;чтобы
впустить нас, мы&nbsp;должны были хотя&nbsp;бы быть с&nbsp;женщинами
(At&nbsp;least you must be&nbsp;with women). Мой израильский друг был явно
расстроен. А&nbsp;я&nbsp;мысленно грозился стереть все музыкальные сборники
отеля со&nbsp;своего жёсткого диска. Ещё я&nbsp;узнал парижский адрес Бунина
(ул. Жака Оффенбаха&nbsp;1, станции метро Ранелак или Ля&nbsp;Мюэт).
Но&nbsp;за&nbsp;недостатком времени посещение святыни и&nbsp;воздаяние
надлежащих почестей была отложена до&nbsp;следующего приезда.</p>

<!--more-->

<p class="ru">На&nbsp;этих выходных меня навестили папа с&nbsp;братом. Всё
в&nbsp;тех&nbsp;же банановых ящиках они привезли мои драгоценные вещи, которые
кочуют за&nbsp;мной из&nbsp;Манчестера в&nbsp;Штутгарт, из&nbsp;Штутгарта
в&nbsp;Дюссельдорф, из&nbsp;Дюссельдорфа в&nbsp;Брест. По&nbsp;предварительным
подсчётам раскладывание вещей по&nbsp;полкам займёт около двух недель до-
и&nbsp;послерабочего времени. Мы&nbsp;гуляли по&nbsp;тропинкам вдоль моря, было
ветрено, но&nbsp;солнечно. Высыпались, собирали стол в&nbsp;моём новом офисе
и&nbsp;лакомились французскими яствами (сырами, пудингами, багетами,
круассанами, эклерами, тортом и&nbsp;хорошопрожареными стейками).</p>

<p class="ru">Сегодня вместе со&nbsp;студентами мы&nbsp;ходили в&nbsp;небольшой
поход к&nbsp;Маяку Маленького Котёнка (Le&nbsp;Phare du&nbsp;Petit Minou).
Погода стояла прекрасная. От&nbsp;быстрой ходьбы было жарко, и&nbsp;камешки
сыпались из&nbsp;под ног. Над обрывом примостился деревянный домик. Первый этаж
окрашен в&nbsp;нежно-голубой цвет, а&nbsp;второй&mdash;в белый. Пластиковая
канистра для воды висит на&nbsp;ветке сосны. Доски для костра аккуратно сложены
у&nbsp;крыльца, а&nbsp;на&nbsp;них стоит зеркальце. Всё грубо, просто,
по-мужски. А&nbsp;внизу с&nbsp;пеной разбиваются о&nbsp;скалы широкие волны.
На&nbsp;пляже у&nbsp;маяка мы&nbsp;бродили по&nbsp;ледяной воде,
фотографировали сёрфменов в&nbsp;скользких неопреновых костюмах, и&nbsp;два
часа просто болтали с&nbsp;хорошенькими француженками.</p>

<p class="ru">На&nbsp;этой неделе Франческо в&nbsp;Италии,
и&nbsp;я&nbsp;остаюсь за&nbsp;старшего. Ответственен за&nbsp;исследовательскую
команду из&nbsp;трёх студентов докторантуры и&nbsp;одного магистра. Салют!</p>
