---
layout:      post
title:      "Впервые этим летом Бретань..."
date:        2013-07-15, 22:43:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [боцман, дневник, Ле Конке, лето, пляж, стажёры]
---

<p class="ru">Впервые этим летом Бретань расщедрилась на&nbsp;хорошую погоду.
И&nbsp;вот уже вторую неделю мы&nbsp;купаемся в&nbsp;солёной воде Брестского
залива и&nbsp;нежимся после ленча на&nbsp;солнце. Работать становится всё
тяжелее. В&nbsp;четверг вечером с&nbsp;колумбийскими студентами
мы&nbsp;отмечали конец учебного года. Мы&nbsp;пили сангрию (красное холодное
вино смешанное со&nbsp;свежевыжатым фруктовым соком) из&nbsp;каталонских
пурронов&nbsp;&mdash; прозрачных кувшинов с&nbsp;двумя горлышками широким
и&nbsp;узким. В&nbsp;широкое вино наливается, а&nbsp;из&nbsp;узкого, держа
кувшин на&nbsp;вытянутой руке высоко над головой, нужно пить. Пить
и&nbsp;вытирать белой салфеткой капли стекающие по&nbsp;подбородку.
В&nbsp;пятницу утром я&nbsp;был на&nbsp;защите четырёхмесячной студенческой
практики. Двое французских профессоров среднего возраста с&nbsp;редкой злостью
нападали на&nbsp;беззащитного практиканта и&nbsp;едко критиковали его
доклад.</p>

<!--more-->

<p class="ru">Моя пятница кончилась тем, что после бессовестных
и&nbsp;бессмысленных слоняний по&nbsp;офису я&nbsp;наконец навёл порядок
в&nbsp;компьютерных файлах и&nbsp;бумагах разбросанных на&nbsp;столе
и&nbsp;не&nbsp;выдержав, в&nbsp;пять вечера, уже отправился домой. Франческо
вместе со&nbsp;своим выдающимся учеником Раджендрой ещё не&nbsp;вернулся
из&nbsp;командировки в&nbsp;Орландо, Флориду. (Это всего в&nbsp;трёх
с&nbsp;небольшим часах езды от&nbsp;Майами.) Оставаясь боцманом
я&nbsp;&laquo;не&nbsp;раскачиваю лодку&raquo;. Исследования идут ровным ходом
вперёд. Каждый день в&nbsp;районе трёх пополудни я&nbsp;отправляюсь
на&nbsp;верхнюю палубу проведать семерых стажёров. Они сидят
в&nbsp;кают-компании и&nbsp;дружно программируют. Иллюминаторы настежь. Кто-то
слушает музыку в&nbsp;наушниках, кто-то переписывается с&nbsp;друзьями. Ребята
отличные. Схватывают всё налету. Франческо очень доволен.</p>

<p class="ru">Вчера мы&nbsp;ездили в&nbsp;Ле&nbsp;Конке (Le&nbsp;Conquet)
маленькую деревушку на&nbsp;самом конце финистерского мыса. Воды в&nbsp;заливе
Ля&nbsp;Риа (La&nbsp;Ria) почти не&nbsp;было и&nbsp;мы&nbsp;перешли его вброд.
Замечательное зрелище&nbsp;<span class="red">&mdash;</span> десятки
разноцветных яхт и&nbsp;катеров склонившись на&nbsp;сторону недвижно стоят
на&nbsp;песке. Поднявшись по&nbsp;склону холма, обойдя частные дома,
по&nbsp;огромным камням в&nbsp;острых чёрно-зелёных наростах мы&nbsp;босиком
спустились к&nbsp;морю.  Широкий пляж Белых Песков (Les Blancs Sablons)
открывающийся во&nbsp;время отлива прекрасен. С&nbsp;обоих концов
он&nbsp;ограничен валунами. А&nbsp;позади закрывается крутым холмом.</p>

<p class="ru">Ровный золотистый песок на&nbsp;котором под зорким взглядом
стариков резвятся дети. Отдыхая от&nbsp;горестей и&nbsp;бесконечного дождя
половина бретонцев стоит по&nbsp;пояс в&nbsp;воде, ныряет в&nbsp;масках,
перекидывается мячами, катается на&nbsp;надувных резиновых камерах, матрасах,
лодках и&nbsp;просто бродит по&nbsp;колено, по&nbsp;щиколотку в&nbsp;море.
Другая половина лежит на&nbsp;полотенцах, играет в&nbsp;карты, заговаривает
с&nbsp;девушками. Всё больше попадаются семейства из&nbsp;поседевших родителей,
их&nbsp;уже взрослых детей и&nbsp;шаловливых внуков. Семьи располагаются под
полосатыми зонтами, дети играют в&nbsp;песке, и&nbsp;чья-то мам&aacute;
неспешно режет арбуз.</p>
