---
layout:      post
title:      "Белая студия с Евгением Мироновым"
date:        2014-04-29, 15:03:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [Белая студия, Дарья Спиридонова, душа, Евгений Миронов, Культура]
---

<p class="ru">Чаша переполнилась, внутренняя батарея разрядилась,
и&nbsp;я&nbsp;пал. После нескольких резких толчков, словно автомобиль
на&nbsp;исходе топлива, я&nbsp;встал. Меня засосала опасная трясина апатии,
тяжёлой усталости, мёртвого штиля. Такое случается со&nbsp;мной из-за долгой
и&nbsp;нудной работы. Бессилие&mdash;это крик души, которой не&nbsp;хватает
эмоций, красок, творчества, элегантности, красоты, воздуха, пространства для
размышлений, жизни.</p>

<!--more-->

<p class="ru">В&nbsp;первый день дома я&nbsp;посмотрел замечательную передачу
Дарьи Спиридоновой <a
href="http://tvkultura.ru/video/show/brand_id/20927/episode_id/980220/video_id/994944">&laquo;Белая
студия&raquo;</a> на&nbsp;телеканале &laquo;Культура&raquo;. Её&nbsp;гостем был
Евгений Миронов, один из&nbsp;моих любимых современных актёров. За&nbsp;сорок
минут гость и&nbsp;ведущая ласково дотронулись почти до&nbsp;всех тем дорогих
русскому сердцу: их&nbsp;разговор начался с&nbsp;обсуждения сказок Пушкина,
перелился к&nbsp;&laquo;Отелло&raquo; и&nbsp;&laquo;Гамлету&raquo; Шекспира,
плавно завис над &laquo;Идиотом&raquo; Достоевского, покачался над Диной
Рубиной и&nbsp;Павлом Басинским, развернулся у&nbsp;Шукшина, остановился
у&nbsp;Чехова и&nbsp;растаял на&nbsp;святости детства и&nbsp;определении
интеллигентности.</p>

<p class="ru">Тонкой красной линией прошла через всю беседу тема любви. Как
верно заметил Евгений Миронов&mdash;в любви все люди эгоистичны, мы&nbsp;все
стараемся изменить и&nbsp;переделать объект своей любви для себя,
не&nbsp;эгоистичен только князь Мышкин, но&nbsp;он&nbsp;не&nbsp;человек... Это,
например, Офелия, чистоту которой видит только Гамлет. Вероятно, он&nbsp;сам
и&nbsp;наделил её&nbsp;этой неземной чистотой...</p>

<p class="ru">&laquo;Говорить правду очень тяжело, можно сойти с&nbsp;ума,
когда я&nbsp;снимался в&nbsp;роли Мышкина, я&nbsp;ставил эксперимент&mdash;я
пробовал один день говорить только правду и&nbsp;не&nbsp;только говорить,
но&nbsp;и&nbsp;делать: здороваться только с&nbsp;теми людьми с&nbsp;которыми
хочется и&nbsp;улыбаться только тем, кому хочется. Это невозможно,
мы&nbsp;не&nbsp;можем так жить как Мышкин. Только он&nbsp;находился
в&nbsp;сокровенной гармонии с&nbsp;миром и&nbsp;с&nbsp;самим собой.
Не&nbsp;стоит и&nbsp;говорить, что я&nbsp;даже до&nbsp;конца дня
не&nbsp;продержался...&raquo;</p>

<p class="ru">Обратите внимание на&nbsp;ведущую, на&nbsp;то&nbsp;как прямо она
сидит, как внимательно слушает собеседника глазами, какие пластичные жесты
делает руками, как мало на&nbsp;её&nbsp;лице макияжа, как складываются
её&nbsp;губы в&nbsp;круг в&nbsp;начале каждой фразы...</p>
