---
layout:      post
title:      "Canadian Girlfriend, Канадская девушка"
date:        2014-11-02, 15:41:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [Лучшие американские рассказы 2013, Майкл Байерс, малярия,
             Best American Short Stories 2013, Malaria, Michael Byers]
---

<p class="ru">The joke, when&nbsp;I was in&nbsp;high school&mdash;or maybe
it&nbsp;was really a&nbsp;joke from The Breakfast Club, I&nbsp;don&rsquo;t
remember&mdash;was that if&nbsp;you didn&rsquo;t actually have
a&nbsp;girlfriend, you said you had a&nbsp;Canadian girlfriend, someone who was
off somewhere out of&nbsp;sight, immune to&nbsp;judgement. But here&nbsp;I was
with the Canadian girlfriend on&nbsp;my&nbsp;shoulder, for real. It&nbsp;was
true now, and different from what&nbsp;I thought it&nbsp;would&nbsp;be, easier,
less contentious, more like real life than&nbsp;I had imagined.</p>

<figcaption align="right">
  <cite>Malaria, Michael Byers, Bellevue Literary Review&nbsp;(2013)</cite>
</figcaption>

<!--more-->

<p class="ru">Обычной шуткой, когда я&nbsp;учился в&nbsp;старшей
школе&mdash;возможно это была шутка из&nbsp;&laquo;Клуба выходного дня&raquo;,
я&nbsp;точно не&nbsp;помню&mdash;было говорить, что встречаешься
с&nbsp;канадской девушкой, если у&nbsp;тебя не&nbsp;было девушки вовсе. Она
была далеко, была неприступной для любых оценок и&nbsp;осуждений. Но&nbsp;вот
он&nbsp;я, с&nbsp;канадской девушкой, спящей у&nbsp;меня на&nbsp;плече,
по-настоящему. Сегодня это было правдой, совсем не&nbsp;такой, как я&nbsp;себе
воображал. Легче, бесспорнее, больше похоже на&nbsp;реальную жизнь, чем
я&nbsp;мог себе представить.</p>

<figcaption align="right">
  <cite>Малярия, Майкл Байерс, Литературное обозрение Бельвю&nbsp;(2013)</cite>
</figcaption>
