---
layout:      post
title:      "Фруктовый день"
subtitle:   "часть вторая"
date:        2014-09-06, 20:18:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [диета, здоровье, йогурт, пост, фруктовый день]
---

<p class="ru">То&nbsp;что вы&nbsp;сейчас прочитаете может показаться вам
странным, необычным и&nbsp;непонятным. Но&nbsp;не&nbsp;отрицайте это знание,
а&nbsp;постарайтесь принять его, как новый свежий взгляд, которым
вы&nbsp;смотрите на&nbsp;привычные вещи. Так как вы&nbsp;воспринимаете
современную чёрно-белую фотографию или немое кино.</p>

<!--more-->

<p class="ru">Глубокое понимание фруктового дня уходит своими корнями
к&nbsp;Ведам&mdash;древнеиндийским священным книгам
и&nbsp;к&nbsp;Аюрведе&mdash;индийской науке и&nbsp;практике, культивирующей
здоровый образ жизни. Аюрведа говорит о&nbsp;том, что каждый продукт питания
обладает своим характером, вкусом и&nbsp;энергетикой. Характер продуктов
которые мы&nbsp;употребляем в&nbsp;пищу воздействует на&nbsp;наш собственный
характер. То&nbsp;есть, определив положительные и&nbsp;отрицательные черты
своего характера, мы&nbsp;можем воздействовать на&nbsp;них продуктами питания.
Усиливать положительные и&nbsp;ослаблять негативные. Вкус продукта
по&nbsp;Аюрведе это не&nbsp;тот вкус, который мы&nbsp;ощущаем во&nbsp;рту,
когда что-нибудь едим. Например, хлеб и&nbsp;другие мучные изделия, молочные
продукты и&nbsp;фрукты имеют сладкий вкус. Энергетика продукта&mdash;это заряд
и&nbsp;сила, которая в&nbsp;нём содержится и&nbsp;передаётся человеку при еде.
Например, мясо обладает одурманивающей и&nbsp;замедляющей энергетикой. Больше
энергии в&nbsp;свежих и&nbsp;необработанных продуктах. Чем более упругий
продукт, тем больше в&nbsp;нём положительной энергии. Например, в&nbsp;яблоке
энергии больше, чем в&nbsp;банане. Теперь, когда вы&nbsp;знаете об&nbsp;этих
<i>секретных</i> качествах продуктов, мы&nbsp;можем вернуться к&nbsp;разговору
о&nbsp;фруктовом дне.</p>

<p class="ru">Свежие, сырые фрукты дарят нам радостный настрой, оптимизм,
желание жить и&nbsp;развиваться, улучшают память, помогают учиться
и&nbsp;увеличивают работоспособность. Они несут в&nbsp;себе мощный заряд
бодрости и&nbsp;счастья, а&nbsp;также помогают бороться с&nbsp;депрессией
и&nbsp;усталостью.</p>

<p class="ru">Еженедельный пост или монодиета способствует очищению организма.
А&nbsp;нежирный йогурт, которым вы&nbsp;сопровождаете приёмы пищи, улучшает
пищеварение и&nbsp;облегчает трудность поста. К&nbsp;тому&nbsp;же, все молочные
продукты&mdash;<i>благостные,</i> светлые, мягкие, потому что в&nbsp;них
заложено всё самое лучшее, что корова хочет передать телятам. Светлые
в&nbsp;таком&nbsp;же смысле, как Светлые и&nbsp;Тёмные в&nbsp;&laquo;Ночном
дозоре&raquo; Сергея Лукьяненко.</p>

<p class="ru">Желаю вам хороших фруктовых дней. В&nbsp;следующий раз
мы&nbsp;поговорим о&nbsp;значении дней недели в&nbsp;которые
вы&nbsp;поститесь.</p>

<p class="ru">Я&nbsp;далеко не&nbsp;эксперт по&nbsp;Аюрведе, и&nbsp;рассказываю
вам&nbsp;то, чему следую сам. Большую часть информации, которой 
я&nbsp;с&nbsp;вами делюсь, я&nbsp;почерпнул 
из&nbsp;<a href="http://torsunov.ru/lecture">лекций</a> доктора 
Олега Геннадьевича Торсунова. Они доступны на&nbsp;его 
<a href="http://torsunov.ru">официальном сайте</a>. Очень подробно 
о&nbsp;постах, продуктах и&nbsp;влиянии дней недели вы&nbsp;можете услышать 
в&nbsp;его 
<a href="http://file.torsunov.ru/audio/2015_vesna/06.2013_CHeljabinsk_Ozdorovitelnye_praktiki_soglasno_vedicheskomu_znaniju/Ozdorovitelnye_praktiki_(2).mp3">лекции</a>, 
прочитанной в&nbsp;июне 2013-го года в&nbsp;Челябинске. Об&nbsp;очищении
постом он&nbsp;говорит с&nbsp;1:55:00 от&nbsp;начала лекции.</p>
