---
layout:      post
title:      "Москва"
subtitle:   "день третий"
date:        2014-03-29, 23:55:00 +0000
alpha2:      ru
location:   "Москва, Россия"
categories: [Елена К., Иркутск, кавказцы, китайцы, комендант, Москва, обмен
             валюты, православная исповедь, Шанхайка]
---

<p class="ru">Из-за того, что никто из&nbsp;нашей сборной не&nbsp;участвовал
в&nbsp;сегодняшних соревнованиях, всем было разрешено встать, когда
заблагорассудится. Кто-то веселился всю ночь и&nbsp;пошёл спать только под
утро, а&nbsp;остальные поднялись поздно. Три пары поехали
на&nbsp;импровизированный московский турнир, в&nbsp;котором можно было
заработать драгоценные баллы. А&nbsp;ваш скромный слуга взял отгул
от&nbsp;насыщенной танцевальной программы и&nbsp;отправился в&nbsp;город для
смены билета, а&nbsp;также на&nbsp;встречу с&nbsp;другом. В&nbsp;билете нужно
было поменять дату вылета, чтобы&nbsp;Н. смогла ещё на&nbsp;несколько дней
остаться в&nbsp;столице. К&nbsp;сожалению с&nbsp;первого раза билет поменять
не&nbsp;удалось. Нужно было ехать в&nbsp;другой офис Аэрофлота, в&nbsp;другом
конце города, в&nbsp;другой день (в&nbsp;понедельник).</p>

<!--more-->

<p class="ru">Зато удалось встретиться с&nbsp;другом&nbsp;и (наконец-то)
поменять деньги. Деньги в&nbsp;России меняют очень долго. Это сложный процесс
для которого потребуется ваш паспорт и&nbsp;ангельское терпение. Помимо
обыкновенных данных об&nbsp;иностранном гражданине в&nbsp;систему также
вносятся номер визы, номер паспорта, срок годности визы и&nbsp;сумма
обмениваемой валюты. В&nbsp;системе что-то не&nbsp;работало, обмен занял около
получаса, и&nbsp;первым терпение лопнуло у&nbsp;моего друга. При выходе
из&nbsp;банка мы&nbsp;страшно нагрубили сотруднице на&nbsp;конторке.
По&nbsp;неопытности она сказала, что их&nbsp;филиал специализированный. Мой
друг быстро нашёлся и&nbsp;не&nbsp;преминул заметить, что они, наверное,
специализируются на&nbsp;экстрамедленном обслуживании. Кое-как мне удалось
сгладить конфликт и&nbsp;умиротворить обе стороны.</p>

<p class="ru">После мы&nbsp;шли тихими улицами, о&nbsp;которых знают только
москвичи. Шли вдоль Александровского сада, который, как и&nbsp;многие другие
московские парки и&nbsp;скверы, перекапывался и&nbsp;освежался к&nbsp;новому
сезону дружными кавказцами. Шли мимо изящных балюстрад и&nbsp;фонарных столбов
Охотного ряда. Шли перед плитами городов-героев и&nbsp;вечным огнём, шли мимо
Красной площади. Потом мы&nbsp;долго обедали в&nbsp;одном милом кафе, названия
которого я&nbsp;не&nbsp;запомнил. В&nbsp;выходные в&nbsp;Москве встают поздно
и&nbsp;обед подаётся и&nbsp;принимается около пяти&mdash;шести часов вечера.
А&nbsp;затем я&nbsp;оставил своего друга в&nbsp;Богородице-Рождественском
женском монастыре. Как славно пахнет в&nbsp;монастыре елеем и&nbsp;ладаном!
Ближе к&nbsp;концу службы помазанные елеем прихожане выстраиваются
в&nbsp;очередь на&nbsp;исповедь. В&nbsp;отличие от&nbsp;католических церквей,
где исповедуются в&nbsp;маленьком закрытом помещении, здесь
вы&nbsp;разговариваете со&nbsp;священником просто отойдя в&nbsp;сторону,
к&nbsp;окну.</p>

<p class="ru">На&nbsp;обратном пути я&nbsp;ещё прогулялся по&nbsp;Красной
площади, пытаясь представить себе всё её&nbsp;величие и&nbsp;величие людей,
которые здесь когда-то ходили. Я&nbsp;пытался думать о&nbsp;Пушкине, Есенине,
Маяковском и&nbsp;Ленине. Но&nbsp;осознать, что я&nbsp;стою и&nbsp;гуляю
по&nbsp;тому&nbsp;же месту, где когда-то проходили и&nbsp;они, торопясь,
погружённые в&nbsp;глубокие думы свои, размышляя о&nbsp;сюжете нового
стихотворения или декрета, я&nbsp;не&nbsp;смог. Вдруг стало холодать,
и&nbsp;я&nbsp;спустился в&nbsp;метро, чтобы ехать домой. По&nbsp;пути домой
я&nbsp;разрабатывал план приготовления ужина. Надо отметить, что влившись
в&nbsp;команду спортсменов, я&nbsp;добровольно взял на&nbsp;себя некоторые
женские кулинарно-хозяйственные обязанности. Каково&nbsp;же было моё удивление,
когда на&nbsp;плите я&nbsp;нашёл огромную кастрюлю супа и&nbsp;две большие
миски со&nbsp;свежими котлетами. Оказывается, Елена-тренер уже обо всех
позаботилась. И&nbsp;нам осталось только приготовить чай и&nbsp;завести
душевный разговор.</p>

<p class="ru">Эта искренняя беседа стала одним из&nbsp;самых тёплых моих
впечатлений за&nbsp;всю поездку. Тогда я&nbsp;впервые понял, что
в&nbsp;сущности место не&nbsp;имеет значения, главное&nbsp;&mdash; то,
с&nbsp;кем ты&nbsp;в&nbsp;этом месте находишься. Елена&nbsp;&mdash; настоящая
иркутская красавица. Она светится тихой восточной красотой, льющейся сквозь
чёрные глаза, сияющей на&nbsp;тёмных волосах. Есть ещё в&nbsp;этой красоте
и&nbsp;что-то древнее, украинское.</p>

<p class="ru">Сначала мы&nbsp;разговаривали о&nbsp;китайском базаре
в&nbsp;Иркутске, известном под простонародным названием &laquo;Шанхайка&raquo;.
И&nbsp;я&nbsp;впервые узнал, что где-то существуют другие китайцы: грубые,
грязные и&nbsp;невоспитанные. На&nbsp;базаре они чувствуют себя как дома,
назначают свои законы и&nbsp;цены, а&nbsp;в&nbsp;последнее время даже
отказываются торговаться и&nbsp;снижать цены. А&nbsp;если покупатель
им&nbsp;не&nbsp;понравится, они могут и&nbsp;обругать его в&nbsp;ответ. Все мои
китайские друзья превосходные воспитанные люди. Но&nbsp;если постараться,
я&nbsp;могу увидеть этот собирательный образ приезжего китайца-продавца,
который вызывает у&nbsp;иркутян такие негативные эмоции.</p>

<p class="ru">Как выяснилось, недавно в&nbsp;Россию хлынул огромный поток
приезжих из&nbsp;ближнего зарубежья постсоветских республик: это
и&nbsp;таджики, и&nbsp;грузины, и&nbsp;азербайджанцы. Здесь я&nbsp;буду
называть их&nbsp;кавказцами, несмотря на&nbsp;то, что это и&nbsp;не&nbsp;совсем
правильное название. Оказалось, что среднестатистический кавказец
не&nbsp;привередлив, он&nbsp;готов передвигаться по&nbsp;стране в&nbsp;поисках
лучших условий, он&nbsp;согласен работать за&nbsp;низкую заработную плату,
он&nbsp;не&nbsp;сторонится большой физической нагрузки, он&nbsp;независим
от&nbsp;семьи, потому что семья обычно остаётся дома, в&nbsp;родной стране.
И&nbsp;получается, что местные русские жители сильно недовольны кавказцами,
потому что те&nbsp;занимают их&nbsp;рабочие места. Но&nbsp;ведь русский
не&nbsp;хочет работать за&nbsp;мизерную зарплату, не&nbsp;хочет физической
деятельности и&nbsp;долгих часов работы? И, конечно, из-за семьи
и&nbsp;родственников он&nbsp;желает остаться дома, он&nbsp;не&nbsp;стремится
переехать в&nbsp;другой город. Вы, конечно, спросите, а&nbsp;куда можно
переехать из&nbsp;Иркутска? Выходит, что русский становится
неконкурентоспособным, он&nbsp;проигрывает эту эволюционную борьбу,
навязываемую ему современной жизнью. Отсюда и&nbsp;вытекает нелюбовь
к&nbsp;приезжим кавказцам. К&nbsp;сожалению, в&nbsp;России пока отсутствует
американская культура работы, где человек каждые шесть&ndash;восемь лет
куда-нибудь переезжает: рождается он&nbsp;в&nbsp;одном штате, учится
в&nbsp;университете в&nbsp;другом, а&nbsp;работает в&nbsp;третьем.
К&nbsp;сожалению, в&nbsp;России это пока невозможно из-за плохой экономической
развитости провинции.</p>

<p class="ru">Кавказцы всем заметны даже не&nbsp;по&nbsp;чертам лица
и&nbsp;цвету кожи, а&nbsp;по&nbsp;стилю одежды. Обычно это одиночки,
по-азиатски для уверенности сбивающиеся в&nbsp;небольшие группы
из&nbsp;пяти&ndash;семи человек. В&nbsp;любую погоду они носят чёрные туфли или
белые кроссовки, тёмные джинсы, чёрные кожаные куртки и&nbsp;маленькие вязаные
шапки, покрывающие голову. Их&nbsp;много в&nbsp;строительстве,
в&nbsp;официантах и&nbsp;уборщиках. Они работают почти без выходных. Ведь
московские стройки замирают только на&nbsp;ночь. Нередко они и&nbsp;спят
на&nbsp;этих стройках в&nbsp;нечеловеческих условиях. Конечно, я&nbsp;могу
судить только о&nbsp;тех кавказцах, которых я&nbsp;видел. Кавказец вежлив
и&nbsp;тих. Он&nbsp;собран и&nbsp;работает. В&nbsp;сфере обслуживания кавказцы
очень вежливы и&nbsp;учтивы. Они по-азиатски гостеприимны, следят
за&nbsp;гостем и&nbsp;стараются во&nbsp;всём ему угодить. За&nbsp;несколько лет
такой российской жизни кавказцы зарабатывают достаточно, чтобы купить
на&nbsp;родине дом, автомобиль и&nbsp;достойно сыграть свадьбу.</p>

<p class="ru">Общественный транспорт в&nbsp;Иркутске прекращает работу
в&nbsp;десять часов вечера. Большинство транспортных компаний частные
и&nbsp;не&nbsp;желают развозить пассажиров в&nbsp;нерентабельное время суток.
Работникам ночных смен самим приходится искать транспорт до&nbsp;дома,
собираться в&nbsp;группы и&nbsp;ехать на&nbsp;автомобиле или вызывать
такси.</p>

<p class="ru">Частные дома в&nbsp;Иркутске стоят примерно такие&nbsp;же деньги,
что и&nbsp;в&nbsp;Восточной Европе. Цены постепенно растут и&nbsp;приближаются
к&nbsp;западноевропейским. Несмотря на&nbsp;это, в&nbsp;рядах среднего класса
растёт мода на&nbsp;частные загородные дома. Люди состоятельные стремятся
вырваться из&nbsp;города и&nbsp;жить на&nbsp;природе.</p>

<p class="ru">Байкал при всей своей красоте всё ещё остаётся труднодоступным
для местного или приезжего туриста. В&nbsp;зелёной прибайкальской зоне
существует множество ограничений на&nbsp;строительство. Многие кемпинги
не&nbsp;оборудованы туалетом. Туалет обычно располагается на&nbsp;улице.
И&nbsp;многие туристы по&nbsp;старинке предпочитают ночевать в&nbsp;палатках
и&nbsp;спальниках. Выходит, что путешествие в&nbsp;близлежащий Таиланд или
далёкую Турцию по&nbsp;горящей путёвке обходится дешевле, чем неделя или две
на&nbsp;родном Байкале.</p>

<p class="ru">Многие современные люди не&nbsp;смогли перестроиться
на&nbsp;новый лад. Многих жизнь выбросила за&nbsp;борт. Разорились
и&nbsp;закрылись фабрики и&nbsp;заводы. А&nbsp;родители переживают
за&nbsp;детей, которым придётся самим устраиваться, возможно, переезжать.
Больше нет никаких гарантий, что ребёнок найдёт работу по&nbsp;специальности.
Каждый сам за&nbsp;себя в&nbsp;ответе. Вы&nbsp;скажете, ведь это прописные
истины, правда?</p>

<p class="ru">В&nbsp;заключение я&nbsp;хочу сказать несколько слов о&nbsp;нашем
коменданте&nbsp;&mdash; человеке, который должен сидеть за&nbsp;конторкой
в&nbsp;приёмной, следить за&nbsp;порядком и&nbsp;всячески помогать гостям. Так
как мы&nbsp;живём в&nbsp;трёхэтажном деревянном коттедже, конторка
располагается в&nbsp;прихожей. Наш комендант человек предпенсионного возраста,
но&nbsp;в&nbsp;полном расцвете сил, здоровый и&nbsp;сильный, с&nbsp;серебром
в&nbsp;волосах и&nbsp;в&nbsp;бороде. В&nbsp;обращении с&nbsp;нами, даже
со&nbsp;взрослыми, он&nbsp;принял позицию несомненного московского
превосходства. Он&nbsp;находит не лишним указывать нам, что и&nbsp;как делать,
в&nbsp;вопросах совершенно его не&nbsp;касающихся. Вместо скромного
сосуществования и&nbsp;помощи обычного служащего, наш комендант выступает
в&nbsp;роли домового. Он&nbsp;ходит по&nbsp;всем этажам совсем
не&nbsp;по&nbsp;служебному делу. Он&nbsp;хранит свои продукты в&nbsp;общем
холодильнике и&nbsp;на&nbsp;общих гостевых полках и&nbsp;жутко обижается, если
кто-нибудь по&nbsp;ошибке возьмёт его хлеб или колбасу. Он&nbsp;может спокойно
зайти в&nbsp;комнату и&nbsp;начать прислушиваться к&nbsp;чужому разговору или
прервать его своей высокоинтеллектуальной репликой. Наш комендант любит
садиться на&nbsp;диван в&nbsp;нашей гостиной, ловко переключать каналы
и&nbsp;громко смотреть телепередачу, которая мешает разговору или совершенно
неинтересна остальным гостям. Он&nbsp;любит деньги. Например, ему нравится
подвозить нас к&nbsp;Крокус Сити Холлу, до&nbsp;которого не&nbsp;очень приятно
идти по&nbsp;пыли, особенно в&nbsp;смокинге с&nbsp;бальными платьями
и&nbsp;танцевальной атрибутикой в&nbsp;сумках. За&nbsp;каждую поездку
в&nbsp;одну сторону он&nbsp;берёт с&nbsp;нас восемь евро. При этом
он&nbsp;не&nbsp;любит ждать, не&nbsp;любит совершать никаких отклонений
от&nbsp;намеченного пути и&nbsp;не&nbsp;любит случайных пассажиров. Однажды
он&nbsp;довольно грубо отказался подвезти нашего знакомого до&nbsp;ближайшей
станции метро, ехать до&nbsp;которой было ровно минуту. Сегодня вечером,
заметив, как я&nbsp;режу хлеб, он&nbsp;сказал: &laquo;Ну, ты&nbsp;возьми другой
нож-то&raquo;. Именно наш герой своим грандиозным выходом в&nbsp;гостиную
к&nbsp;ежевечернему просмотру телевинегрета прервал наш тонкий душевный
разговор с&nbsp;Еленой. &laquo;Москва, деточка, Москва...&raquo;</p>

<p class="ru">После ужина шампанским и&nbsp;печеньем-макарон
мы&nbsp;отпраздновали окончание основной программы всероссийского чемпионата
по&nbsp;бальным танцам.</p>
