---
layout:      post
title:      "Любовь к родине"
date:        2014-09-17, 18:48:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [Остров Сахалин, родина, Чехов]
---

<p class="ru">Прежде всего ссыльного гонит из&nbsp;Сахалина его страстная
любовь к&nbsp;родине. Послушать каторжных, то&nbsp;какое счастье, какая радость
жить у&nbsp;себя на&nbsp;родине! О&nbsp;Сахалине, о&nbsp;здешней земле, людях,
деревьях, о&nbsp;климате говорят с&nbsp;презрительным смехом, отвращением
и&nbsp;досадой, а&nbsp;в&nbsp;России всё прекрасно и&nbsp;упоительно; самая
смелая мысль не&nbsp;может допустить, чтобы в&nbsp;России могли быть несчастные
люди, так как жить где-нибудь в&nbsp;Тульской или Курской губернии, видеть
каждый день избы, дышать русским воздухом само по&nbsp;себе есть уже высшее
счастье. Пошли, боже, нужду, болезни, слепоту, немоту и&nbsp;срам
от&nbsp;людей, но&nbsp;только приведи помереть дома.</p>

<figcaption align="right">
  <cite>Остров Сахалин, Антон Павлович Чехов&nbsp;(1895)</cite>
</figcaption>
