---
layout:      post
title:      "События последнего месяца"
date:        2014-02-09, 22:22:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [Бунин, непогода, Париж, Помпиду, пробежка, работа, Рено, современное искусство, шторм]
---

<p class="ru">Что случилось за&nbsp;последний месяц с&nbsp;тех пор, как
я&nbsp;вернулся с&nbsp;зимних каникул? С&nbsp;головой я&nbsp;бросился
в&nbsp;пену рутины. В&nbsp;первые недели мы&nbsp;полировали код и&nbsp;отчаянно
писали двухмесячный отчёт для Рено. Прекрасно показали себя в&nbsp;деле мои
французские руководители. При том что главным исполнителем проекта
являюсь&nbsp;я, в&nbsp;последние дни перед сдачей, несмотря на&nbsp;всю свою
занятость, оба профессора активно включились
в&nbsp;работу&mdash;программировали и&nbsp;писали доклад. Я&nbsp;думаю,
заказчики остались довольны результатом нашей двухмесячной работы.</p>

<!--more-->

<p class="ru">Бретанская погода не&nbsp;баловала. Штормило, нас били сильные
ветры и&nbsp;неделями непрекращающийся дождь. Пасмурное небо и&nbsp;ветер
делают своё дело, давят на&nbsp;психику и&nbsp;легко подминают под себя боевой
дух студентов. И&nbsp;сейчас всю неделю из-за шторма в&nbsp;Атлантическом
океане дует ветер в&nbsp;160 километров в&nbsp;час, валит деревья
и&nbsp;затапливает прибрежные районы.</p>

<p class="ru">В&nbsp;прошлые выходные для оформления российской визы
я&nbsp;летал в&nbsp;Париж. Это немыслимо, но&nbsp;во&nbsp;Франции билеты
на&nbsp;самолёт нередко оказываются дешевле билетов на&nbsp;поезд. Как раз
в&nbsp;это время в&nbsp;главных аэропортах города бастовали авиарегулировщики.
По&nbsp;их&nbsp;милости после шестичасового маринования в&nbsp;брестском
аэропорту мой первоначальный рейс был отменён. А&nbsp;рейс следующего дня
задержан на&nbsp;полчаса. В&nbsp;итоге, несмотря на&nbsp;скоростную поездку
в&nbsp;такси из&nbsp;Орли в&nbsp;центр, я&nbsp;всё таки опоздал
в&nbsp;российский визовый центр. Таксистом у&nbsp;меня был китаец.
Он&nbsp;плавно въезжал в&nbsp;город под оперную музыку. (&mdash;А вам нравится
жить в&nbsp;Париже? &mdash;Да, я&nbsp;очень счастливый человек, что могу здесь
жить.) Девочки в&nbsp;визовом центре смилостивились надо мной, документы
проверили, но&nbsp;не&nbsp;приняли (&mdash;А это, что это вы&nbsp;здесь
понаписали? &mdash;Как что? Родственников, вы&nbsp;же просили на&nbsp;сайте,
указать родственников. &mdash;Нет, голубчик, вы&nbsp;их&nbsp;лучше уберите,
просто сделайте новую анкету, с&nbsp;родственниками могут отказать
в&nbsp;гуманитарной визе.)</p>

<p class="ru">А&nbsp;потом мы&nbsp;ужинали у&nbsp;итальянцев, вселялись
в&nbsp;хостель, не&nbsp;спали из-за храпа наших аргентинских соседей
по&nbsp;номеру, посещали самый любимый музей д&rsquo;Орсе, высыпались днём.
А&nbsp;когда мой вьетнамский товарищ укатил обратно в&nbsp;Брест,
я&nbsp;отправился на&nbsp;поиски дома, в&nbsp;котором больше тридцати лет
прожил Иван Бунин. Район престижный, хоть и&nbsp;за&nbsp;рекой, в&nbsp;двух
остановках метро от&nbsp;Трокадеро. Район музыкальный<span
class="red">&mdash;</span>авеню Моцарта, улица Бетховена... Дом Бунина
находится на&nbsp;улице Жака Оффенбаха&nbsp;1.  На&nbsp;этой короткой улице
всего три дома. У&nbsp;входа в&nbsp;подъезд скромная бронзовая табличка
извещает от&nbsp;том, что &laquo;В&nbsp;этом доме с&nbsp;1920 по&nbsp;1954 жил
русский писатель Иван Бунин, лауреат Нобелевской премии 1933&nbsp;года.&raquo;
Не&nbsp;известно, в&nbsp;какой квартире он&nbsp;жил и&nbsp;на&nbsp;каком этаже.
Таким&nbsp;же вечером он&nbsp;мог смотреть из&nbsp;окна, писать что-то
примостившись у&nbsp;конторки или прогуливаться, заложив руки за&nbsp;спину,
мечтать, вспоминать Россию<span class="red">...</span> И&nbsp;я&nbsp;прогулялся, но&nbsp;ничего
не&nbsp;почувствовал. Только подумал, что в&nbsp;его доме, в&nbsp;его квартире,
теперь живут чужие люди, не&nbsp;говорят больше по-русски и&nbsp;знать
не&nbsp;знают, кем был этот русский с&nbsp;труднопроизносимой фамилией
и&nbsp;что он&nbsp;написал. Просто живут, готовят, растят детей, смотрят
телевизор, разговаривают по&nbsp;телефону... Жизнь идёт, йог спокоен.
Я&nbsp;конечно размечтался, разузнать, где точно он&nbsp;жил и&nbsp;выкупить
его квартиру и&nbsp;жить в&nbsp;ней самому, или, ещё лучше сделать, в&nbsp;ней
музей писателя.</p>

<p class="ru">А&nbsp;в&nbsp;ночь на&nbsp;воскресенье
я&nbsp;&laquo;заморозил&raquo; аргентинцев, чтобы они не&nbsp;храпели. Выключил
на&nbsp;несколько часов отопление и&nbsp;открыл окно. Утром я&nbsp;пробежал
10&nbsp;километров по&nbsp;просыпающемуся солнечному городу. Бежал вокруг
Лувра, садов Тюильри, а&nbsp;потом вдоль Сены до&nbsp;Эйфелевой башни
и&nbsp;обратно к&nbsp;Музею. После плотного бранча я&nbsp;посетил центр
современного искусства в&nbsp;здании Жоржа Помпиду. Современное искусство
бедное, блеклое. Сердце ничто не&nbsp;радует. Благо вход в&nbsp;первое
воскресенье месяца был бесплатный.</p>
