---
layout:      post
title:      "Москва"
subtitle:   "день второй"
date:        2014-03-28, 23:55:00 +0000
alpha2:      ru
location:   "Москва, Россия"
categories: [«Вера», конкурс ансамблей, Москва, система оценивания, фотосъёмка]
---

<p class="ru">Утром прошли выступления индивидуальных пар. К&nbsp;сожалению,
наши пары, выступая в&nbsp;стандартной программе, выбыли в&nbsp;одной восьмой
финала. В&nbsp;стандартную программу входят пять видов бального танца:
медленный вальс, венский вальс, танго, медленный фокстрот и&nbsp;квикстеп.
Трудно судить неопытным взглядом. Кажется, что все танцуют одинаково хорошо.
Однако даже любителю видны выдающиеся пары. Их&nbsp;отличает удивительная
чёткость и&nbsp;в&nbsp;тоже время плавность движений. И&nbsp;где&nbsp;бы
на&nbsp;паркете не&nbsp;находились такие пары взгляд с&nbsp;лёгкостью
отыскивает&nbsp;их. В&nbsp;их&nbsp;танце нет ни&nbsp;одного лишнего движения,
ни&nbsp;одного ненужного штриха. Партнёры спаяны воедино, будто
их&nbsp;заковали в&nbsp;железный пояс. Они одновременно приседают
и&nbsp;одновременно встают. Да, здравствуют чемпионы!</p>

<!--more-->

<figure class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/T22r7E4YPtE" frameborder="0" allowfullscreen>
  </iframe>
</figure>

<p class="ru">Система оценок в&nbsp;бальных танцах немного похожа
на&nbsp;оценки в&nbsp;фигурном катании. Восемь судей, стоящих по&nbsp;периметру
паркета, ставят крестики, понравившимся парам. Пары с&nbsp;наибольшим
количеством крестов проходят на&nbsp;следующий этап. Из-за того что
на&nbsp;паркете одновременно находятся несколько пар (обычно около десяти)
система оценивания двоичная: крест&mdash;если пара понравилась и&nbsp;прочерк,
если нет.</p>

<p class="ru">Снимать пару в&nbsp;танце очень тяжело. Во-первых потому что пара
постоянно находится в&nbsp;движении, а&nbsp;во-вторых потому что обычно свет
на&nbsp;паркете мягкий, щадящий. Самая большая сложность состоит в&nbsp;том,
что и&nbsp;фотограф должен быть знаком с&nbsp;бальными танцами, должен знать
фигуры, чтобы заснять момент в&nbsp;конце движения.</p>

<p class="ru">Запаркетная жизнь тоже очень интересная. Нередко можно увидеть
танцоров, разговаривающих по&nbsp;телефону или перекусывающих во&nbsp;время
перерыва. Все они ходят очень прямо и&nbsp;поначалу человеку несведущему могут
показаться очень гордыми и&nbsp;заносчивыми. Ничуть&mdash;это они вживаются
в&nbsp;образ. Потому что на&nbsp;паркете все они&mdash;королевы
и&nbsp;короли.</p>

<p class="ru">Главное событие, всероссийский конкурс ансамблей, ради которого
прибыла иркутская команда начался вечером. Командам, состоящим из&nbsp;восьми
пар, на&nbsp;жеребьёвке был выдан номер и&nbsp;порядок, в&nbsp;котором они
выйдут на&nbsp;паркет. После гимна, торжественной речи президента танцевального
союза Валентина Юдашкина (о&nbsp;ней мы&nbsp;поговорим отдельно)
и&nbsp;короткого награждёния чемпионов по&nbsp;итогам 2013-го года начались
выступления. Судьи по&nbsp;оценке ансамблей расселись в&nbsp;верхнем ряду, вся
трибуна была занята и&nbsp;на&nbsp;паркете начались выступления! Из&nbsp;шести
с&nbsp;половиной минут танца, оценивались только четыре, по&nbsp;усмотрению
каждого судьи. Диктор до&nbsp;последнего просил держать названия, имена
и&nbsp;происхождения команд в&nbsp;тайне. Но&nbsp;разгорячённая публика
не&nbsp;удерживалась и&nbsp;из&nbsp;зала то&nbsp;и&nbsp;дело раздавались крики
воодушевлённой толпы: &laquo;Юлечка, вперёд&raquo;, &laquo;Тюмень&mdash;вы
лучшие&raquo; или &laquo;Сём-г-и-и-и-н, давай&raquo;!</p>

<p class="ru">Иркутск выступил гораздо лучше, чем на&nbsp;вчерашней репетиции.
Ансамбль сыграл на&nbsp;сцене настоящий спектакль, зимнюю завораживающую,
волшебную сказку. Победил Тюменский ансамбль по&nbsp;имени Вера, который берёт
все первые места чемпионата на&nbsp;протяжении уже многих лет. Неоднократно эта
команда занимала первые места и&nbsp;на&nbsp;чемпионате мира.
На&nbsp;сегодняшний день они первые в&nbsp;России и&nbsp;вторые в&nbsp;мире,
уступая лишь немецкой команде. Номер тюменцев и&nbsp;вправду очень чувственный
и&nbsp;зажигательный. Невольно начинаешь притоптывать и&nbsp;прихлопывать
в&nbsp;такт музыке. Музыка у&nbsp;них всё больше французская, романтическая.
Мы&nbsp;же заняли последнее место. Но&nbsp;это далеко не&nbsp;проигрыш.</p>
