---
layout:      post
title:      "Москва"
subtitle:   "ночь первая"
date:        2014-03-27, 04:00:00 +0000
alpha2:      ru
location:   "Москва, Россия"
categories: [гостиница, Москва, ночь]
---

<p class="ru">В&nbsp;самолёте из&nbsp;Парижа я&nbsp;познакомился
с&nbsp;очаровательными людьми. Молодой мамой с&nbsp;нежно-коричневым ровным
загаром, длинными пальцами, тонкой цепочкой на&nbsp;шее, в&nbsp;наивном
салатовом свитере в&nbsp;квадратиках (она рассказывает, что в&nbsp;Париже
чувствует себя как дома, была и&nbsp;в&nbsp;Марокко, и&nbsp;в&nbsp;Кении,
и&nbsp;на&nbsp;Кубе; интересуется живописью) и&nbsp;интеллигентным молодым
человеком с&nbsp;длинными светлыми волосами, уложенными в&nbsp;стиле Дмитрия
Маликова. У&nbsp;обоих долгие плавные аккуратные движения, как
у&nbsp;пианистов. Мне хочется думать, что они оба артисты. Они обращаются
друг к&nbsp;другу на&nbsp;&laquo;Вы&raquo; и&nbsp;перемежают свою речь
безобидным сленгом.</p>

<!--more-->

<p class="ru">Водитель маршрутки из&nbsp;Шереметьево до&nbsp;гостиницы грубо,
незло поругивал зазевавшихся автомобилистов. Как боксёр, он&nbsp;оперировал
чёткими сериями из&nbsp;четырёх-пяти слов. Только одно из&nbsp;этих слов было
обыкновенно печатным. В&nbsp;фойе я&nbsp;долго ждал своей очереди, чтобы
зарегистрироваться. А&nbsp;потом спустился в&nbsp;бар, днём служащий столовой.
Уже за&nbsp;полночь слегка подвыпивший бармен &laquo;организовал&raquo; мне
кусочек омлета &laquo;в&nbsp;виде исключения&raquo;. В&nbsp;баре громко играла
однообразная клубная музыка. Среди постоянных посетителей тонконогие девушки
в&nbsp;мини-юбках, с&nbsp;тёмными волосами, синими коктейлями
и&nbsp;сигаретами. Только потом я&nbsp;понял, почему бармен знает их&nbsp;всех
по&nbsp;имени.</p>

<p class="ru">Я&nbsp;спал или пытался спать в&nbsp;прокуренной комнате без окна
в&nbsp;кромешной темноте. Работа мозга не&nbsp;останавливалась
ни&nbsp;на&nbsp;секунду. Мысли прыгали с&nbsp;одного на&nbsp;другое.
Мгновениями я&nbsp;чувствовал себя героем &laquo;Шахматной новеллы&raquo;
Стефана Цвейга. Каково это быть запертым в&nbsp;комнате без окон на&nbsp;шесть
месяцев? Лежал, мечтал о&nbsp;запахе свежего арбуза и&nbsp;снега и&nbsp;думал,
хорошо&nbsp;бы иметь прибор ускоряющий и&nbsp;замедляющей время. Этой ночью
я&nbsp;бы его несомненно ускорил, а&nbsp;завтра, начиная с&nbsp;полудня,
поставил&nbsp;бы на&nbsp;самую медленную скорость. Но&nbsp;такого прибора нет.
Время неумолимо пройдёт. Вопрос лишь в&nbsp;том, как вы&nbsp;его
используете.</p>
