---
layout:      post
title:      "Киев"
subtitle:   "день шестой"
date:        2014-01-02, 22:07:00 +0000
alpha2:      lt
location:   "Клайпеда, Литва"
categories: [Киев, Лейб Брауншвайгский, Майдан, Национальная Филармония, Океан
             Эльзы, синагога Бродского, Украина, чтение Торы, Шопен]
---

<figure class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/JFezF47Tm8Y" frameborder="0" allowfullscreen>
  </iframe>
</figure>

<p class="ru">С&nbsp;вечера было решено идти на&nbsp;утреннюю молитву
в&nbsp;синагогу. Погода была солнечная. Несмотря на&nbsp;то&nbsp;что
мы&nbsp;опоздали на&nbsp;двадцать минут, этого было почти не&nbsp;заметно.
Молитва длилась два часа. Израильские раввины читали Тору. Один пел текст,
а&nbsp;другой ему дирижировал правой рукой. Три раза волнуясь выходили Коэны
и&nbsp;читали назначенные им&nbsp;отрывки. После каждого отрывка раввин желал
Коэну: &laquo;Чтобы у&nbsp;вас была дружная и&nbsp;радостная община&raquo;.
В&nbsp;конце чтения Торы к&nbsp;раввину потянулись старики с&nbsp;записками
и&nbsp;картонками на&nbsp;которых были написаны имена. И&nbsp;раввин молился
за&nbsp;здоровье каждого из&nbsp;названных людей. Многие подходили
и&nbsp;просто называли имена родных и&nbsp;близких. Это была одна из&nbsp;самых
трогательных церемоний в&nbsp;синагоге. Как всегда старая гвардия, ближе
к&nbsp;биме&mdash;молилась, а&nbsp;молодая, ближе к&nbsp;дверям&mdash;общалась.
Женщины наверху первые полчаса старались молиться, а&nbsp;потом перешли
к&nbsp;разговорам о&nbsp;детях и&nbsp;одежде.</p>

<!--more-->

<p class="ru">После синагоги был лёгкий перерыв дома. Первый раз мы&nbsp;пришли
домой днём. Потом покупали янтарные украшения в&nbsp;лавке софийского собора.
В&nbsp;выборе нам помогала очень грациозная и&nbsp;женственная девушка.
Мы&nbsp;ей&nbsp;так и&nbsp;сказали, что она&mdash;лучший продавец Киева,
которого мы&nbsp;встретили. К&nbsp;тому&nbsp;же, у&nbsp;неё удивительный вкус.
Обедали мы&nbsp;уже поздно вечером в&nbsp;вареничной &laquo;Катюша&raquo;.
К&nbsp;нам присоединились наши киевские товарищи Карина (Кэрри) и&nbsp;Денис
(Дэн). Интерьер Катюши был оформлен в&nbsp;советском стиле. Повсюду стояли
витрины с&nbsp;фарфоровыми статуэтками, магнитофоны на&nbsp;бабинах, книги
советской эры и&nbsp;пианино. Через динамики раздавалась музыка Аббы,
а&nbsp;официантки были одеты в&nbsp;школьную форму. Меню состояло
из&nbsp;обыкновенных домашних блюд, часто приготовляемых к&nbsp;празднику:
селёдки под шубой, борща, форшмака, и&nbsp;конечно&nbsp;же, вареников
и&nbsp;пельменей.</p>

<p class="ru">После короткого послеобеденного отдыха, мы&nbsp;нарядились
и&nbsp;отправились в&nbsp;Национальную Филармонию Украины на&nbsp;фортепианный
концерт народной артистки. В&nbsp;программе были Бетховен, Шуберт, Лист,
Равель... А&nbsp;всё второе отделение было отдано произведениям Шопена. Шопен
покинул Варшаву в&nbsp;самом юном возрасте, но&nbsp;до&nbsp;конца жизни пронёс
в&nbsp;своём творчестве любовь к&nbsp;родине и&nbsp;польские национальные
мотивы: полонезы, мазурки, вальсы... Каждое новое произведение объявлял
конферансье. Маленький столик у&nbsp;края сцены был весь уставлен цветами.
А&nbsp;в&nbsp;первом ряду сидели настоящие ценители Шопена. Они качали головой
в&nbsp;ответственных моментах, а&nbsp;у&nbsp;некоторых краснели уши
от&nbsp;удовольствия. Зал филармонии очень изящен. Он&nbsp;оформлен
в&nbsp;пастельных тонах рококо: кремовый, в&nbsp;розовых и&nbsp;голубых лепных
цветах.</p>

<p class="ru">Сразу после концерта мы&nbsp;ещё раз вернулись к&nbsp;майдановой
сцене, с&nbsp;которой нёслись рок-н-ролльные мелодии в&nbsp;стиле Океана Эльзы.
Потанцевав на&nbsp;Майдане и&nbsp;напившись горячего чаю (<i>чай з&nbsp;лимоном
i&nbsp;з&nbsp;медом</i> бесплатно раздавали украинские девицы),
мы&nbsp;встретили Лейба. На&nbsp;Майдане угощали и&nbsp;<i>крем-супом
з&nbsp;куркою та&nbsp;грибами,</i> но&nbsp;от&nbsp;него мы&nbsp;вежливо
отказались в&nbsp;пользу настоящих революционеров. Вечер мы&nbsp;завершили
в&nbsp;Крымско&ndash;Татарской таверне под горячий суп, манты, свежие лепёшки,
Чак&ndash;Чак и&nbsp;истории Лейба про его удивительные приключения
в&nbsp;Германии.</p>
