---
layout:      post
title:      "Москва"
subtitle:   "день пятый"
date:        2014-03-31, 23:55:00 +0000
alpha2:      ru
location:   "Москва, Россия"
categories: [Аэрофлот, квартира, Москва, эйфория]
---

<p class="ru">Сегодня утром мы&nbsp;съехали с&nbsp;хостеля. Наше выселение
прошло незаметно. Мы&nbsp;быстро запаковали вещи, застегнули чемоданы (конечно,
не&nbsp;обошлось без лёгкого надавливания коленом) и&nbsp;пешком отправились
к&nbsp;&laquo;Мякинино&raquo;&mdash;ближайшей станции метро. В&nbsp;центр
мы&nbsp;ехали в&nbsp;экспериментальном поезде-музее. В&nbsp;каждом вагоне вдоль
одной из&nbsp;стен висели репродукции картин из&nbsp;Третьяковской галереи.
Мы&nbsp;любовались картинами и&nbsp;как настоящие туристы отчаянно
фотографировались на&nbsp;радость москвичам. А&nbsp;при прощании жали друг
другу руки, обнимались, целовались, желали всего хорошего и&nbsp;обменивались
приглашениями в&nbsp;виде &laquo;Ну, будете у&nbsp;нас
на&nbsp;Колыме&mdash;милости просим!&raquo;, &laquo;Нет, уж&nbsp;лучше
вы&nbsp;к&nbsp;нам...&raquo;</p>

<!--more-->

<p class="ru">Первым серьёзным делом стала поездка в&nbsp;Аэрофлот
на&nbsp;Бабушкинской. Час сидения, и&nbsp;долгожданный билет был поменян. Снова
и&nbsp;снова я&nbsp;убедился в&nbsp;том, что элементарная вежливость
и&nbsp;хорошее настроение растапливают самые неприветливые на&nbsp;первый
взгляд лица.</p>

<p class="ru">Наша новая квартира находится на&nbsp;Новослободской. Она хоть
и&nbsp;маленькая, но&nbsp;очень тёплая и&nbsp;уютная: одна комната с&nbsp;нишей
для кровати, застеклённой лоджией и&nbsp;отдельная кухня. Цветовое оформление
выполнено в&nbsp;оранжевых и&nbsp;коричневых тонах. Все вещи, мебель
и&nbsp;посуда в&nbsp;квартире очень добротные. У&nbsp;нас есть даже фильтр для
воды и&nbsp;гладильная доска с&nbsp;утюгом. Пол в&nbsp;комнатах такой чистый,
что я&nbsp;решил ходить босиком.</p>

<p class="ru">Нужно заметить, что весенней погодой Москва нас не&nbsp;балует.
Выпал снег, и&nbsp;температура не&nbsp;перестаёт играть в&nbsp;чехарду
с&nbsp;нулём. Но&nbsp;большую часть дня в&nbsp;городе солнечно, стоит лёгкий
мороз, и&nbsp;на&nbsp;душе тихо и&nbsp;радостно.</p>

<p class="ru">Как только мы&nbsp;сбросили с&nbsp;себя тяжёлые шкуры зимних
одежд, задвинули в&nbsp;комнату чемоданы и&nbsp;выпили по&nbsp;первой кружке
чаю на&nbsp;нас снизошло всеобщее расслабление, которое уже не&nbsp;покидало
нас до&nbsp;самого конца путешествия.</p>

<p class="ru">То&nbsp;ли от&nbsp;большой эмоциональной и&nbsp;физической
нагрузки соревнований, то&nbsp;ли от&nbsp;суеты столичной жизни первых дней
мы&nbsp;впали в&nbsp;какую-то прострацию, в&nbsp;эйфорию. Встаём поздно, спим
много и&nbsp;делаем всё спокойно и&nbsp;размеренно: с&nbsp;чувством,
с&nbsp;толком, с&nbsp;расстановкой. В&nbsp;лучших традициях московских
купцов.</p>

<p class="ru">Вы&nbsp;спросите, что&nbsp;же ещё мы&nbsp;успели сделать
в&nbsp;первый день? Я&nbsp;отвечу&mdash;прогулялись вверх
по&nbsp;Новослободской улице до&nbsp;ближайшего магазина, купили провизию
и&nbsp;начали читать по&nbsp;ролям &laquo;Крейцерову сонату&raquo; Толстого.
Ведь в&nbsp;четверг мы&nbsp;идём на&nbsp;этот спектакль в&nbsp;МХТ.</p>
