---
layout:      post
title:      "Киев"
subtitle:   "день седьмой"
date:        2014-01-04, 19:24:00 +0000
alpha2:      lt
location:   "Клайпеда, Литва"
categories: [Андреевский спуск, багаж, Киев, прощание, русский клуб "Ра", сувениры, Украина]
---

<p class="ru">Вот и&nbsp;подошли к&nbsp;концу наши киевские каникулы. Выселение
было назначено на&nbsp;13:00. Всё утро мы&nbsp;собирали и&nbsp;запаковывали
вещи. Из-за большого количества багажа решено было использовать новую методику
пакования&mdash;сворачивание одежды в&nbsp;аккуратные трубочки. Никогда ещё мой
рюкзак не&nbsp;был так полон. Мне даже пришлось нести в&nbsp;руках Kindle
и&nbsp;фотоаппарат. Наша ёлочка и&nbsp;амариллиус остались дожидаться новых
жильцов.</p>

<!--more-->

<p class="ru">А&nbsp;дальше была рутина: путешествия на&nbsp;метро
к&nbsp;железнодорожному вокзалу, сдача чемоданов в&nbsp;камеру хранения
и&nbsp;возвращение к&nbsp;Андреевскому спуску. Именно там продавались картины
популярного львовского постимпрессиониста Дмитрия Меуша. Медленно поднимаясь
по&nbsp;Андреевскому спуску, мы&nbsp;спустили около сотни евро
на&nbsp;сувениры: сорочки, блокноты, нашивки и&nbsp;стойких оловянных
солдатиков. А&nbsp;понравившуюся нам картину, к&nbsp;сожалению, кто-то уже
успел купить. Зато не&nbsp;пришлось решать задачу дополнительного багажа.</p>

<p class="ru">Поездку мы&nbsp;завершили домашним обедом в&nbsp;древнерусском
клубе &laquo;Ра&raquo;. А&nbsp;потом Карина и&nbsp;Денис в&nbsp;полчаса домчали
нас сначала до&nbsp;вокзала, а&nbsp;затем до&nbsp;аэродрома в&nbsp;Борисполе.
Денис ехал так быстро и&nbsp;так ловко лавировал между автомобилями, что
я&nbsp;чувствовал себя героем фильма &laquo;Такси&raquo; и&nbsp;боялся пить
свой чай.</p>

<p class="ru">Вот и&nbsp;всё. Последний день получился очень коротким.
До&nbsp;свиданья, мой любимый город. До&nbsp;свиданья, Киев.</p>

<p class="ru">Аэрофлот объединил два рейса, и&nbsp;из&nbsp;Москвы&nbsp;Н. летела
бизнес классом.</p>
