---
layout:      post
title:      "Записка князя Мышкина Аглае Ивановне"
date:        2014-06-10, 19:05:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [Достоевский, Идиот, Мышкин, счастье]
---

<p class="ru">Когда-то вы&nbsp;меня почтили вашею доверенностью. Может быть,
вы&nbsp;меня совсем теперь позабыли. Как это так случилось, что
я&nbsp;к&nbsp;вам пишу? Я&nbsp;не&nbsp;знаю; но&nbsp;у&nbsp;меня явилось
неудержимое желание напомнить вам о&nbsp;себе, и&nbsp;именно вам. Сколько раз
вы&nbsp;все три бывали мне очень нужны, но&nbsp;из&nbsp;всех трех я&nbsp;видел
одну только вас. Вы&nbsp;мне нужны, очень нужны. Мне нечего писать вам
о&nbsp;себе, нечего рассказывать. Я&nbsp;и&nbsp;не&nbsp;хотел того; мне
ужасно&nbsp;бы желалось, чтобы вы&nbsp;были счастливы. Счастливы&nbsp;ли вы?
Вот это только я&nbsp;и&nbsp;хотел вам сказать.</p>

<p class="sig">Ваш брат&nbsp;кн. Л.&nbsp;Мышкин</p>

<figcaption align="right">
  <cite>Идиот, Фёдор Михайлович Достоевский&nbsp;(1868)</cite>
</figcaption>
