---
layout:      post
title:      "Москва"
subtitle:   "день первый"
date:        2014-03-27, 23:55:00 +0000
alpha2:      ru
location:   "Москва, Россия"
categories: [ансамбль, бальные танцы, Москва, репетиция, хостель]
---

<p class="ru">Люди в&nbsp;городе одеваются очень просто. Большинство выглядит
опрятно и&nbsp;слегка старомодно. В&nbsp;одежде преобладают тёмные тона.
Настроение у&nbsp;пассажиров утренних поездов варьируется от&nbsp;нейтрального
к&nbsp;тёмному. А&nbsp;погода сегодня замечательная, солнечная, свежая!</p>

<!--more-->

<p class="ru">Москвы я&nbsp;как таковой ещё не&nbsp;видел. Зато уже успел
побывать в&nbsp;аэропортах Шереметьево и&nbsp;Домодедово. В&nbsp;аэропорт лучше
всего добираться на&nbsp;Аэроэкспрессе&mdash;поезде ярко красного цвета,
испещрённом рекламой. Экспресс он&nbsp;в&nbsp;том смысле, что идёт без
остановок, а&nbsp;скорость он&nbsp;развивает не&nbsp;больше обычной электрички.
С&nbsp;июня 2015-го компания планирует ввести в&nbsp;эксплуатацию новые
двухэтажные поезда из&nbsp;Швейцарии. Алюминиевые вагоны будут весить
на&nbsp;30&ndash;40% меньше стальных, а&nbsp;перевозить почти в&nbsp;полтора раза
больше пассажиров.</p>

<p class="ru">Залы прибытия заполнены стайками таксистов с&nbsp;ярко-жёлтыми
табличками Taxi. Они в&nbsp;куртках с&nbsp;обвисшими локтями и&nbsp;маслянистых
штанах. Кто-то сделал свежую причёску, кто-то одел рубашку и&nbsp;жилетку
в&nbsp;искреннем желании понравиться и&nbsp;привлечь клиента. В&nbsp;основном
это старая гвардия, состоящая из&nbsp;пенсионеров. Жаль&nbsp;их<span
class="red">&mdash;</span>хорошо если за&nbsp;полчаса наймут хоть одного.</p>

<p class="ru">На&nbsp;окраине, у&nbsp;Москвы-реки, где мы&nbsp;живём, пыльно,
мало зелени, много сплошных заборов высотой в&nbsp;два человеческих роста.
Руками кавказцев идёт сплошная стройка.</p>

<p class="ru">Живём мы&nbsp;в&nbsp;милом деревянном коттедже
с&nbsp;комендантом, который ни&nbsp;на&nbsp;секунду не&nbsp;оставляет нас
одних. Как домовой, он&nbsp;ходит за&nbsp;нами или смотрит телевизор
из&nbsp;угла дивана. Иркутская сборная состоит из&nbsp;восьми пар, три
из&nbsp;которых ещё выступают в&nbsp;индивидуальном зачёте и&nbsp;три
в&nbsp;свободной программе с&nbsp;номером &laquo;секвей&raquo;.</p>

<p class="ru">Вечером мы&nbsp;проводили генеральную репетицию известную под
кодовым названием &laquo;прогон&raquo;. Каждому танцевальному ансамблю даётся
15&nbsp;минут на&nbsp;репетицию на&nbsp;паркете. Десять из&nbsp;них
занимает расположение пар по&nbsp;площадке и&nbsp;повторение всех элементов
программы без музыки под мерный счёт тренера, последние 5&mdash;репетиция под
музыку, почти без комментариев тренера. После разминаются и&nbsp;тренируются
отдельные пары. В&nbsp;углах паркета они отрабатывают самые сложные элементы.
А&nbsp;потом показывают свой номер перед судьями. Судьи делают замечания,
иногда заставляют убрать какие-то фигуры, запрещенные правилами, или
укорачивают номер по&nbsp;времени.</p>

<p class="ru">На&nbsp;тренировке мне посчастливилось увидеть лучшие ансамбли
и&nbsp;пары России. Что это за&nbsp;танцоры! Чудо, а&nbsp;не&nbsp;танцоры!
Каково будет зрелище завтра под музыку, перед зрителями. Как неискушённому
зрителю, пары, танцующие латиноамериканские номера, кажутся мне гораздо более
мастерскими, с&nbsp;быстрыми и&nbsp;отточенными движениями.</p>

<p class="ru">Спим мы&nbsp;мало, и&nbsp;от&nbsp;этого в&nbsp;тишине слышится
лёгкий звон в&nbsp;ушах, а&nbsp;всё происходящее кажется сном.</p>
