---
layout:      post
title:      "Бретань"
subtitle:   "день второй"
date:        2014-10-27, 09:30:00 +0000
alpha2:      fr
location:   "Бреаль-су-Монфор, Франция"
categories: [Мон-Сан-Мишель, Ренн]
---

<p class="ru">Утром, в&nbsp;ожидании завтрака, мы&nbsp;грели воду для чая
в&nbsp;кофеварке. Надо отдать должное студентам, организаторам нашей поездки.
Они сумели раздобыть для всех круассаны. А&nbsp;это нелёгкое дело найти
свежеиспечённые круассаны в&nbsp;воскресенье утром на&nbsp;окраине Сан-Бриёка.
Вдоволь насладившись ещё тёплыми булочками и&nbsp;апельсиновым соком
мы&nbsp;отправились к&nbsp;горе Сан-Мишель. Гора находится на&nbsp;острове,
доступ к&nbsp;которому возможен только во&nbsp;время отлива.
А&nbsp;на&nbsp;вершине горы располагается аббатство Сан-Мишель. Странно, раньше
монахи стремились уединиться от&nbsp;людей, избежать суеты мирской, чтобы
посвятить свою жизнь религии. А&nbsp;сегодня остров стал настолько популярным,
что больше похож на&nbsp;муравейник, чем на&nbsp;место уединения. Вся гора
от&nbsp;вершины до&nbsp;самого подножия усеяна каменными домиками
с&nbsp;отелями, сувенирными лавками и&nbsp;ресторанами. Среди туристов
преобладают американцы, англичане и&nbsp;японцы. Во&nbsp;всём мире
и&nbsp;в&nbsp;самой Франции гора Сан-Мишель известна как место для незабываемых
романтических свиданий и&nbsp;пользуется огромной популярностью среди
влюблённых и&nbsp;молодожёнов. Аббатство основанное в&nbsp;X&nbsp;веке
постоянно развивалось и&nbsp;сегодня впечатляет посетителя своими размерами.
Помимо главного собора, вопреки католической традиции убранного очень скромно,
в&nbsp;аббатстве сохранились монашеская столовая с&nbsp;огромными каминами
в&nbsp;человеческий рост высотой и&nbsp;массивными деревянными столами, розовый
сад украшенный колоннадой. Колонны всё миниатюрные, изящные. В&nbsp;них
прослеживается арабское влияние. Зрителю они напоминают старинные шахматные
фигуры выполненные с&nbsp;большим вкусом и&nbsp;любовью мастера. Глядя
в&nbsp;узкое витражное окошко на&nbsp;бескрайнюю равнину воды окружающую
остров, я&nbsp;подумал о&nbsp;том как мало и&nbsp;как плохо я&nbsp;знаю
культуру и&nbsp;монастыри православные. Сердце в&nbsp;Сан-Мишеле остаётся
спокойным. А&nbsp;в&nbsp;наших монастырях слышался&nbsp;бы зов предков
и&nbsp;пение души. Гладкая поверхность обмелевшей отмели вдруг напомнила мне
Валдай. Я&nbsp;почувствовал, что именно так должен выглядеть и&nbsp;он.</p>

<!--more-->

<p class="ru">Мы&nbsp;к&nbsp;аббатству отнеслись спокойно и&nbsp;без должного
пиетета.  Особого очарования и&nbsp;романтизма мы&nbsp;тоже
не&nbsp;почувствовали.  Возможно оно стёрлось из-за обилия туристов, суеты
и&nbsp;шума ими производимого. Сегодня на&nbsp;остров можно попасть
на&nbsp;бесплатном автобусе, курсирующем между автомобильной стоянкой
и&nbsp;подножием острова.  Автобусы впечатляют гением инженерной мысли. Дорога
и&nbsp;мост ведущий к&nbsp;острову узки и&nbsp;развернуться автобусу очень
тяжело, почти невозможно. Чтобы облегчить работу водителя, автобус обустроен
двумя кабинами по&nbsp;разные стороны. Наподобие трамвая в&nbsp;каждом конце
автобуса находится руль, коробка передач&nbsp;и, конечно, пара ярких фар.
Вместо того чтобы разворачивать машину водитель сам переходит в&nbsp;другой
конец и&nbsp;ведёт автобус в&nbsp;обратном направлении. Корпус автомобиля
выполнен из&nbsp;плотных листов неокрашенного металла. Единственным
декоративным элементом являются тысячи маленьких дырочек усеивающих обшивку
корпуса.  Выхлопных газов и&nbsp;едкого запаха дыма я&nbsp;тоже
не&nbsp;заметил.  Возможно, автобусы работают от&nbsp;электропривода.</p>

<p class="ru">Если погода стоит хорошая, и&nbsp;вам охота прогуляться
и&nbsp;размять ноги, на&nbsp;остров можно дойти и&nbsp;пешком по&nbsp;новому
пешеходному мосту.  Новый мост идёт вдоль старой автомобильной дороги
и&nbsp;возвышается над обычным уровнем прибоя. Это позволяет добираться
до&nbsp;острова в&nbsp;любое время суток, несмотря на&nbsp;время прилива
и&nbsp;отлива.</p>

<p class="ru">В&nbsp;самом начале вечера, но&nbsp;уже затемно мы&nbsp;прибыли
в&nbsp;столицу Бретани славный старинный город Ренн. На&nbsp;ночь
мы&nbsp;остановились в&nbsp;настоящем студенческом астеле. Вопреки обычным
астелям, занимающим несколько объединённых квартир в&nbsp;центре города,
реннский астель был специально построен в&nbsp;70-е годы для того, чтобы
расселять студентов.  Комнаты очень маленькие и&nbsp;компактные сверх нормы.
Но&nbsp;в&nbsp;них всё есть: двухэтажная кровать, стол, два стула и&nbsp;ванная
комната с&nbsp;раковиной и&nbsp;душем.</p>

<p class="ru">Вечером вместо запланированных посиделок в&nbsp;баре
мы&nbsp;исчезли, чтобы исследовать бретанскую столицу. Воскресный город уже
сильно опустел.  И&nbsp;мы&nbsp;бродили по&nbsp;тёмным улочкам вдоль
изогнувшихся над тротуарами фахверховых домов. Мимо средневековых соборов.
Вдоль канала со&nbsp;стоячей водой на&nbsp;площади Республики. Прогулка
принесла результаты в&nbsp;виде замечательных фотографий реннской оперы
и&nbsp;здания мерии.</p>
