---
layout:      post
title:      "Бретань"
subtitle:   "день первый"
date:        2014-10-26, 16:29:00 +0000
alpha2:      fr
location:   "Понторсон, Франция"
categories: [Марли, Сан-Бриёк, Сан-Мало]
---

<p class="ru">Сегодня рано утром мы&nbsp;отправились в&nbsp;трехдневный
мини-тур по&nbsp;Бретани, самой западной провинции Франции. В&nbsp;половине
девятого мы&nbsp;выехали из&nbsp;Бреста на&nbsp;северо-восток. Нашей первой
короткой остановкой был городок Марли, знаменитый своим очень высоким
железнодорожным мостом. Двухуровневый арочный мост пересекает долину,
в&nbsp;которой расположен город. На&nbsp;рыночной площади раскинулся субботний
рынок, где вы&nbsp;можете купить свежие фрукты и&nbsp;овощи, одежду, платки,
бижутерию и&nbsp;носки ручной вязки. В&nbsp;центре площади стоит круглая
беседка, украшенная цветами в&nbsp;горшках. А&nbsp;в&nbsp;изголовье находится
здание городской ратуши с&nbsp;башенкой и&nbsp;часами. Как
и&nbsp;во&nbsp;многих других городах Бретани в&nbsp;центре проходит узкий
канал, усеянный яхтами, катерами и&nbsp;парусными лодками.</p>

<!--more-->

<p class="ru">Нашей следующей остановкой был старинный город-крепость
по&nbsp;имени Сан-Мало.  Имя городу дал Святой Мало, прибывший во&nbsp;Францию
с&nbsp;острова Великобритании. Крепостные стены сохранились прекрасно. Они
окружают всю территорию старого города. А&nbsp;внутри прячутся бывшие казармы
с&nbsp;маленькими прямоугольными окошками в&nbsp;белёных рамах и&nbsp;каменные
домики в&nbsp;два или три этажа. В&nbsp;первых этажах сейчас располагаются
бесчисленные сувенирные магазины, рестораны в&nbsp;которых готовят свежих
устриц и&nbsp;кафе-кондитерские. Весь город можно обойти по&nbsp;периметру
по&nbsp;крепостной стене, откуда открывается замечательный вид на&nbsp;залив.
Во&nbsp;время отлива мокрый песок блестит зеркалом. А&nbsp;на&nbsp;берег
высыпают прогуливающиеся. Перед крепостью на&nbsp;островах стоят два небольших
редута первыми принимающие удар противника. Отсюда каждый день уходят паромы
в&nbsp;Англию. Они направляются в&nbsp;Портсмут, Пул, Веймут и&nbsp;Плимут,
а&nbsp;также к&nbsp;островам Джерси и&nbsp;Гернси. Близость Англии витает
в&nbsp;воздухе и&nbsp;очень чувствуется в&nbsp;схожей архитектуре: особой
кладке, крупному бежевому булыжнику и&nbsp;форме домов. В&nbsp;центре старого
города стоит собор, пострадавший во&nbsp;время освобождения города
от&nbsp;нацистов. Собор очень необычен тем, что большая его часть находится
ниже уровня современного культурного слоя. В&nbsp;нижнюю старинную часть его
можно спуститься по&nbsp;широким лестницам справа и&nbsp;слева от&nbsp;алтаря.
Позади за&nbsp;алтарём покоятся мощи святой Селестины. В&nbsp;эти дни стартует
тримаранная регата из&nbsp;Сан-Мало в&nbsp;Гваделупу, поэтому город оживлён
больше обычного. Во&nbsp;всех бухтах и&nbsp;маринах стоят прекрасные гоночные
тримараны, на&nbsp;которые дозволяется подняться по&nbsp;приглашению команды.
По&nbsp;моим скромным наблюдениям, в&nbsp;команде тримарана шесть человек.
Интересно, какую максимальную скорость он&nbsp;может развить, и&nbsp;сколько
по&nbsp;времени займёт трансатлантическая гонка из&nbsp;Сан-Мало
в&nbsp;Гваделупу. Во&nbsp;времена Титаника пароходы пересекали океан
за&nbsp;три-четыре недели. У&nbsp;нас даже разгорелся спор о&nbsp;том,
с&nbsp;какой скоростью идут современные паромы. Я&nbsp;стоял за&nbsp;медленную
скорость не&nbsp;превышающую 40&nbsp;км/ч. Правильный ответ нам ещё предстоит
выяснить. Вечером перед отъездом мы&nbsp;смотрели
el&nbsp;classico&mdash;знаменитое футбольное противостояние Реал Мадрида
и&nbsp;Барселоны. В&nbsp;этот раз победил Мадрид. Игра была очень динамичной
и&nbsp;интересной. Барселона частыми контратаками рвалась к&nbsp;воротам
противника, но&nbsp;к&nbsp;сожалению, так и&nbsp;не&nbsp;смогла сравнять
счёт.</p>

<p class="ru">Ночевали мы&nbsp;в&nbsp;кемпинге, в&nbsp;соседнем городке под
названием Сан-Бриёк. Пустой бассейн тёмной воды с&nbsp;вышкой и&nbsp;рядом
лежаков. Узкие дорожки. Мокрая трава. На&nbsp;пятерых нам досталось деревянное
бунгало.  Ужинали мы&nbsp;в&nbsp;небольшой семейной пиццерии. Мой добрый
мексиканский друг Темок рассказывал про жизнь в&nbsp;штате Гуахака, про крепий
алкоголь мескаль и&nbsp;мексиканские традиции. Небо в&nbsp;Сан-Бриёке
чёрное и&nbsp;всё в&nbsp;звёздах. Впервые за&nbsp;долгое время я&nbsp;снова
почувствовал себя живым, почувствовал молодым писателем Хемингуэем или героем
одного из&nbsp;его европейских романов.</p>
