---
layout:      post
title:      "Москва"
subtitle:   "день десятый"
date:        2014-04-05, 23:55:00 +0000
alpha2:      ru
location:   "Москва, Россия"
categories: [военторг, Головин, Маяковская, Москва, Петровский бульвар, Пушкинская,
             Третьяковская галерея]
---

<p class="ru">Сегодня был великолепный весенний день. Солнце разливалось
по&nbsp;московским улицам. Улицы были по-субботнему малолюдны. Мне хотелось
зайти в&nbsp;Военторг за&nbsp;биноклем, тельняшками, компасом, новыми шевронами
и&nbsp;армейскими пуговицами. Несмотря на&nbsp;бушующее городское море,
я&nbsp;отправился пешком по&nbsp;вчерашнему маршруту. Первые трудности ждали
меня уже у&nbsp;Белорусского вокзала. Перейти на&nbsp;другую сторону
не&nbsp;представлялось возможным, и&nbsp;я&nbsp;решил следовать
по&nbsp;параллельной улице. Улица Малая Грузинская, Большая Грузинская...
В&nbsp;поисках Военторга я&nbsp;несколько раз останавливался, чтобы спросить
дорогу у&nbsp;прохожих девушек, у&nbsp;бабушек на&nbsp;остановках... Времени
у&nbsp;пенсионеров значительно больше, и&nbsp;они рассказывают подробно
и&nbsp;не&nbsp;спеша, не&nbsp;по-московcки щедро одаривая вас роскошью
разговора. После двух подъёмов и&nbsp;спусков, отчаявшись найти нужный дом,
я&nbsp;обратился к&nbsp;кавказскому сапожнику с&nbsp;просьбой подсказать,
там&nbsp;ли я&nbsp;ищу. Каково&nbsp;же было моё удивление, когда
он&nbsp;не&nbsp;смог назвать мне улицы на&nbsp;которой работал.</p>

<!--more-->

<figure class="imagecentre">
  <img src="{{ site.url }}/assets/photo/msk-mayakovsky.jpg" alt="Памятник Владимиру Маяковскому">
  <figcaption><cite>
    Памятник Владимиру Маяковскому, скульптор А.&nbsp;Кибальников, 1958&nbsp;г.
  </cite></figcaption>
</figure>

<p class="ru">Военторг оказался маленьким магазинчиком в&nbsp;подвальном
помещении без окон.  Наконец-то я&nbsp;купил долгожданную тельняшку, шеврон
и&nbsp;пуговицы. Надежды мои на&nbsp;бинокль и&nbsp;компас, к&nbsp;сожалению
не&nbsp;оправдались.</p>

<p class="ru">Дальше маршрут снова вернул меня на&nbsp;шестиполосную шумную
Тверскую.  Проспект с&nbsp;высотными зданиями конца девятнадцатого века,
с&nbsp;дорогими магазинами в&nbsp;первых этажах... Снова мне повстречались
поэты: энергично взмахнул рукой Маяковский, грустно, словно оторвавшись
от&nbsp;нерадостных дум, взглянул Пушкин. До&nbsp;сих пор живо стоят перед
глазами залитые солнцем ворота бывшего английского клуба. Ворота с&nbsp;белыми
колоннами и&nbsp;львами на&nbsp;входе. Сейчас английская линия постепенно
возрождается&mdash;в здании во&nbsp;время ленча проводят бесплатные концерты
классической музыки, и, конечно, устраивают знаменитые чаепития ровно
в&nbsp;пять пополудни.</p>

<p class="ru">Вначале Н-ского бульвара меня встретила уютная белая церковка
с&nbsp;голубыми куполами. А&nbsp;в&nbsp;первом&nbsp;же сквере я&nbsp;наткнулся
на&nbsp;Рахманинова, который сидел гордо, совершенно прямо и&nbsp;смотрел
на&nbsp;меня с&nbsp;радостной иронией.</p>

<p class="ru">По&nbsp;Петровскому бульвару справа стоит бардовая колоколенка,
а&nbsp;по&nbsp;обеим сторонам его располагаются дома невысокие старинные.
Кажется, что в&nbsp;этот момент попадаешь в&nbsp;по-настоящему старую Москву,
которая помнит ещё и&nbsp;извозчиков и&nbsp;многочисленных немцев.</p>

<p class="ru">В&nbsp;конце Петровского бульвара в&nbsp;уютном магазинчике,
торгующем милыми безделушками: книгами, часами, дисками и&nbsp;разноцветной
всякой всячиной я&nbsp;купил долгожданный альбом Сплина &laquo;Резонанс&raquo;.
Но&nbsp;ожидаемой радости новые стихи и&nbsp;музыка Васильева не&nbsp;принесли.
Очень редко я&nbsp;прослушиваю последний альбом группы.</p>

<p class="ru">Затем я&nbsp;повернул налево и&nbsp;по&nbsp;перекопанному
к&nbsp;весне Цветному бульвару направился в&nbsp;обратный путь. Конечно,
Цветной бульвар берёт своё название от&nbsp;цветочного базара, который
располагался здесь в&nbsp;прошлом.  Раньше помимо цветов здесь продавали
и&nbsp;живых птиц.</p>

<p class="ru">Московский весенний холод давал о&nbsp;себе знать и&nbsp;через
каких-нибудь полчаса на&nbsp;свежем весеннем воздухе от&nbsp;холода у&nbsp;меня
плохо поворачивался язык. Так плохо, что я&nbsp;с&nbsp;трудом мог отвечать
на&nbsp;телефонные звонки.</p>

<p class="ru">После лёгкого обеда мы&nbsp;с&nbsp;товарищем отправились
на&nbsp;выставку Головина в&nbsp;Третьяковской галерее. В&nbsp;основном были
представлены его многочисленные театральные декорации, модели костюмов, пейзажи
и&nbsp;портреты.  Но&nbsp;во&nbsp;всём проглядывала лубочность исполнения,
искусственность, орнаментальность, бесстрастность, пустота, ничто
не&nbsp;трогало, не&nbsp;восхищало. А&nbsp;может быть, это всего лишь усталость
от&nbsp;непрестанного московского мельтешения? Из&nbsp;всей композиции
запомнились только две или три картины с&nbsp;изображением очень милых
цветов.</p>

<p class="ru">А&nbsp;после мы&nbsp;бегло, сквозь пальцы, просмотрели постоянную
экспозицию русских авангардистов и&nbsp;присели на&nbsp;подоконнике. Тогда
и&nbsp;начались наши разговоры о&nbsp;внешней политике и&nbsp;международной
позиции разных стран.</p>

<p class="ru">Мы&nbsp;коротко обсудили присоединение Крыма. Российская
интеллигенция к&nbsp;приобретению Крыма относится спокойно. Но&nbsp;опасно
считает, что поведение нынешнего правительства заслуживает уважения. &laquo;Как
мы&nbsp;сказали, так и&nbsp;будет. Пусть нас уважают. Страна
мы&nbsp;немаленькая, и&nbsp;не&nbsp;пристало нам перед остальными лебезить.
У&nbsp;нас свой путь&raquo;!</p>

<p class="ru">Ещё мне рассказали смешной анекдот об&nbsp;Аляске: &laquo;Что
если&nbsp;бы и&nbsp;на&nbsp;Аляске провели референдум и&nbsp;вернули
её&nbsp;России?  Её&nbsp;бы назвали Айс-Крим&raquo;!</p>

<p class="ru">Мы&nbsp;вслух рассуждали о&nbsp;возможном переносе столицы
в&nbsp;центр страны.  Переносе для разгрузки города и&nbsp;развития
провинциальных регионов.  Мы&nbsp;делились мыслями об&nbsp;одноклеточности,
скорости и&nbsp;целеустремленности столичных жителей.</p>

<p class="ru">Вечер завершила торжественная покупка нового чайника
в&nbsp;Евродоме, магазине мебели и&nbsp;бытовой техники для очень состоятельных
клиентов. Меня поразила необычайная вежливость и&nbsp;обходительность кассирш:
&laquo;Сумма вашей покупки составила 1632 ₱&raquo;. Правда, от&nbsp;этой фразы
на&nbsp;мгновение кажется, что кассирши&mdash;роботы последней модели.</p>

<p class="ru">А&nbsp;по&nbsp;дороге домой я&nbsp;запасся традиционной
провизией.  Во&nbsp;Францию со&nbsp;мной полетели овсянка, гречка, пшёнка
и&nbsp;пряники, сэр. Сгущёнку и&nbsp;зефир за&nbsp;неимением сил я&nbsp;уже
не&nbsp;купил.</p>
