---
layout:      post
title:      "Хочу, чтобы в этой стране всё было нормально"
date:        2014-01-04, 06:24:00 +0000
alpha2:      lt
location:   "Клайпеда, Литва"
categories: [деньги, Духless, нормальная жизнь, цитаты, эмиграция]
---

<p class="ru">Вчера, гуляя по&nbsp;одной из&nbsp;безлюдных зелёных улиц
в&nbsp;Паланге, я&nbsp;вспоминал слова Макса из&nbsp;кинофильма
&laquo;Духless&raquo;. В&nbsp;последнее время мне тоже очень хочется, чтобы
и&nbsp;в&nbsp;моей стране всё было нормально. Даже не&nbsp;хорошо,
а&nbsp;просто нормально, чтобы у&nbsp;всех была работа, которая
им&nbsp;по&nbsp;душе, и&nbsp;чтобы оплачивалась она нормально, и&nbsp;чтобы
не&nbsp;нужно было никуда уезжать, а&nbsp;можно было&nbsp;бы жить дома.
И&nbsp;чтобы у&nbsp;меня были деньги, и&nbsp;я&nbsp;мог&nbsp;бы помогать людям,
которым нужна помощь, и&nbsp;которым больше некому помочь.</p>

<!--more-->

<blockquote>
<p class="ru">&laquo;Я&nbsp;здесь живу... И&nbsp;хочу, чтобы в&nbsp;этой стране
всё было как-то нормально. Чтобы мода была нормальная,
а&nbsp;не&nbsp;от&nbsp;Славы Зайцева. Чтобы жизнь была нормальная. Чтобы
&bdquo;Спартак&ldquo; с&nbsp;&bdquo;Зенитом&ldquo;, бл***, играли, как
&bdquo;Интер&ldquo; с&nbsp;&bdquo;Миланом&ldquo;. Допускаю, что большей части
населения всё это нахер не&nbsp;нужно. Но&nbsp;я&nbsp;вас не&nbsp;призываю
в&nbsp;свой мир. Оставайтесь в&nbsp;своём. Только меня туда тащить
не&nbsp;надо.&raquo;</p>
<figcaption align="right"><cite>Духless, Денис Родимин&nbsp;(сценарист), Сергей Минаев&nbsp;(автор)&nbsp;(2012)</cite></figcaption>
</blockquote>
