---
layout:      post
title:      "Москва"
subtitle:   "день шестой"
date:        2014-04-01, 23:55:00 +0000
alpha2:      ru
location:   "Москва, Россия"
categories: [Еврейский музей, идиш, ихес, ихес ван дер буд, Красная площадь,
             Москва, центр толерантности]
---

<p class="ru">Сегодня утром мы&nbsp;посетили Еврейский музей и&nbsp;центр
толерантности. Благо, он&nbsp;находится на&nbsp;Менделеевской, и&nbsp;нам
не&nbsp;пришлось никуда ехать. Мы&nbsp;вальяжно прогуливались мимо
золотокупольных церквей, припорошенных мягким весенним снегом, мимо зелёных
трамвайных остановок с&nbsp;ожидающими пенсионерами, мимо бесчисленных
магазинов. Шли второстепенными тихими улочками. И&nbsp;от&nbsp;неспешности,
и&nbsp;от&nbsp;Москвы, в&nbsp;душе осталось солнечное чувство весенней
лёгкости.</p>

<!--more-->

<p class="ru">Еврейский музей очень новый и&nbsp;необыкновенно интерактивный.
Повсюду расположены тактильные планшеты, дисплеи и&nbsp;проекторы.
На&nbsp;первом этаже находится множество тематических залов: о&nbsp;миграции
евреев по&nbsp;миру, о&nbsp;еврейских языках, о&nbsp;евреях Российской империи
и&nbsp;Советского союза, о&nbsp;местечках, о&nbsp;еврейских профессиях,
о&nbsp;повседневной жизни и&nbsp;даже о&nbsp;революционерах.</p>

<p class="ru">Мне сильно запомнилось слово из&nbsp;видеосюжета
об&nbsp;украинских евреях. Женщины рассказывали, что раньше, до&nbsp;войны,
когда родители выбирали жениха или невесту, очень большое внимание уделялось
&laquo;ихес&raquo;. &mdash;А что такое &laquo;ихес&raquo;?
&mdash;&laquo;Ихес&raquo;&mdash;это чтобы был из&nbsp;приличной семьи, не&nbsp;пил,
не&nbsp;курил, не&nbsp;ругался, был образованным и&nbsp;работящим. Существовало
и&nbsp;ироническое замечание &laquo;Ты&nbsp;что ихес ван дер буд?&raquo;,
которое означало, ты&nbsp;что здесь самая важная персона? Конечно, огромная
стена в&nbsp;музее посвящена холокосту. Во&nbsp;всю ширь стены, насколько
хватает угла зрения, мы&nbsp;видим чёрно-белую панораму лесов, могил, карты,
схемы, планы. Временами она качается, будто в&nbsp;такт ваших шагов, будто это
вы&nbsp;идёте через лес и&nbsp;слышите выстрелы.</p>

<p class="ru">Недаром музей носит и&nbsp;второе название &laquo;Центра
толерантности&raquo;. Всеприятие очень хорошо чувствуется во&nbsp;всём:
в&nbsp;поведении работников, в&nbsp;планировке здания и&nbsp;в&nbsp;интерьере,
а&nbsp;во&nbsp;всей атмосфере музея царит раскованность и&nbsp;свобода.
На&nbsp;втором этаже расположена открытая библиотека с&nbsp;хорошей подборкой
книг, учебников и&nbsp;каталогов по&nbsp;искусству, отражающих еврейский мир,
архитектуру и&nbsp;русский авангард.</p>

<p class="ru">Обедали мы&nbsp;дома макаронами с&nbsp;баклажанной икрой.
А&nbsp;уже поздним вечером отправились на&nbsp;Красную площадь. Повсюду тишина,
простор, ярко горят фонари у&nbsp;ГУМа, и&nbsp;прогуливаются редкие запоздалые
туристы. Куда уходит время в&nbsp;Москве?</p>
