---
layout:      post
title:      "Москва"
subtitle:   "день седьмой"
date:        2014-04-02, 23:55:00 +0000
alpha2:      ru
location:   "Москва, Россия"
categories: [Коломенское, консьержка, Москва, храм Казанской иконы Божьей Матери,
             церковь Вознесения, Шаболовка]
---

<p class="ru">Впервые за&nbsp;всю поездку мы&nbsp;выбрались из&nbsp;центра
города и&nbsp;отправились в&nbsp;Коломенское. Когда-то это было подмосковное
село и&nbsp;резиденция царей. А&nbsp;сейчас до&nbsp;неё с&nbsp;лёгкостью можно
доехать на&nbsp;метро. Коломенское даже не&nbsp;последняя станция. Странно,
но&nbsp;прибыв в&nbsp;культурный заповедник, мы&nbsp;сразу&nbsp;же
проголодались и&nbsp;первым делом отведали суши в&nbsp;небольшом ресторанчике
у&nbsp;входа в&nbsp;парк. Хорошо, в&nbsp;среду днём людей в&nbsp;ресторанах
почти нет. Мне наконец-то удалось поесть настоящей японской еды, которую так
трудно найти во&nbsp;Франции: мисо суп и&nbsp;простые суши с&nbsp;лососем.</p>

<!--more-->

<figure class="imagecentre">
  <img src="{{ site.url }}/assets/photo/msk-kolomenskoe.jpg" alt="Церковь Вознесения и колокольня в Коломенском">
  <figcaption><cite>
    Церковь Вознесения и колокольня в Коломенском, 2014&nbsp;г.
  </cite></figcaption>
</figure>

<p class="ru">Слева перед главными воротами ведущими к&nbsp;церкви Вознесения
скромно располагается собор Казанской иконы Божьей Матери. Он&nbsp;выполнен
в&nbsp;таком&nbsp;же стиле, как и&nbsp;вознесенская церковь, но&nbsp;ещё
украшен милыми синекупольными луковками. Колонны на&nbsp;входе массивные
старинные низкие, а&nbsp;до&nbsp;крыльца нужно подниматься по&nbsp;крутой
лестнице с&nbsp;широкими ступенями. Сквозь маленькую деревянную дверку
попадаешь в&nbsp;храм. В&nbsp;воздухе снова запахи свечей и&nbsp;ладана. Внутри
полумрак, таинственность, золотом украшенные иконы, а&nbsp;в&nbsp;стенной
и&nbsp;потолочной росписи преобладает синий цвет. Из&nbsp;прихожан много старой
гвардии, несколько случайных прохожих и&nbsp;туристов. Видно, что храм стареет
и&nbsp;давно не&nbsp;ремонтировался, но&nbsp;в&nbsp;этой старине и&nbsp;есть
необыкновенная прелесть, чувство времени. К&nbsp;тому&nbsp;же во&nbsp;всём
чувствуется уход и&nbsp;любовь людей, следящих за&nbsp;зданием
и&nbsp;окружающим его садом.</p>

<p class="ru">У&nbsp;церкви Вознесения простор необычайный. Справа от&nbsp;неё
стоят старинные колокольни, а&nbsp;сразу за&nbsp;ней открывается замечательный
вид на&nbsp;Москву реку и&nbsp;на&nbsp;саму столицу. Внутреннего убранства
в&nbsp;церкви не&nbsp;сохранилось. Сейчас в&nbsp;ней расположен археологический
музей с&nbsp;кирпичными стенами. Интересна постройка конического купола.
Он&nbsp;сильно похож на&nbsp;башенку из&nbsp;мокрого песка, только в&nbsp;нём
совсем нет декоративных элементов. Он&nbsp;строг и&nbsp;изящен. И&nbsp;словно,
подготавливая зрителя к&nbsp;главному куполу, его основание со&nbsp;всех сторон
окружают маленькие купола-шатры с&nbsp;крышами-полосками. А&nbsp;вокруг
дорожки, фонари, газоны, на&nbsp;газонах снег, и&nbsp;ни&nbsp;души.</p>

<p class="ru">Напоследок, перед отъездом, мы&nbsp;грелись в&nbsp;кафе, пили
капучино и&nbsp;вдыхали табачные дымы из&nbsp;курящего зала. Самое приятное
впечатление в&nbsp;Коломенском оставляет собор Казанской иконы Божьей
Матери.</p>

<p class="ru">Около станции метро мы&nbsp;купили детские игрушки и&nbsp;поехали
на&nbsp;Шаболовку навестить родственников. Я&nbsp;никак не&nbsp;мог вспомнить,
чем&nbsp;же знаменита Шаболовка... От&nbsp;метро мы&nbsp;добирались
на&nbsp;маршрутке, ездили мимо психиатрической больницы, универмагов,
железнодорожных мостов, тройки труб, выпускающих чёрный дым, трамвайных путей,
домашних аллей и&nbsp;огромного амфитеатра многоэтажек, выставивших напоказ
свои многочисленные глаза-окна. Во&nbsp;многих московских многоэтажках после
недавних терактов появились бдительные бабушки-консьержки, которые спросят вас
к&nbsp;кому вы&nbsp;идёте и&nbsp;по&nbsp;какому делу. А&nbsp;на&nbsp;обратном
пути, у&nbsp;метро, мы&nbsp;заметили удивительный памятник несущегося ввысь
суперчеловека. Этим суперчеловеком оказался Гагарин, и&nbsp;весь окружающий его
район называется гагаринским. И&nbsp;ещё мы&nbsp;купили розочки голландские
розовые наивные. Некоторые из&nbsp;них даже долетели до&nbsp;города&nbsp;Н.</p>
