---
layout:      post
title:      "Итоги 2013"
date:        2014-01-13, 22:22:00 +0000
alpha2:      fr
location:   "Париж, Франция"
categories: [2013, итоги]
---

<p class="ru">Вразнобой и&nbsp;вперемешку:</p>

<ul>
  <li>Вёл блог с&nbsp;завидным постоянством.</li>
  <li>Устроился на&nbsp;работу во&nbsp;французский университет в&nbsp;Бресте.</li>
  <li>Восемь с&nbsp;половиной месяцев работал под руководством гениального профессора.</li>
  <li>В&nbsp;короткие промежутки времени руководил исследовательской группой из&nbsp;семи человек.</li>
  <li>Помогал вести два магистерских проекта и&nbsp;практические занятия по&nbsp;Матлабу.</li>
  <li>Начал учить французский язык и&nbsp;дошёл до&nbsp;уровня А2.</li>
  <li>Снимал на&nbsp;плёночный фотоаппарат и&nbsp;разочаровался в&nbsp;атмосферных эффектах плёнки.</li>
</ul>

  <!--more-->

<ul>
  <li>Впервые в&nbsp;жизни начал тренироваться в&nbsp;тренажёрном зале.</li>
  <li>Бегал по&nbsp;крутой горной тропе вдоль брестского залива, по&nbsp;парку Вондела в&nbsp;Амстердаме и&nbsp;Кенсингтонским садам в&nbsp;Лондоне.</li>
  <li>Наконец-то купил односкоростной гоночный велосипед, о&nbsp;котором давно мечтал.</li>
  <li>Познакомился с&nbsp;замечательными людьми, такими как Максим Фёдоров и&nbsp;Лейб Фойер.</li>
  <li>Посетил Москву (2), Казань, Глазго, Эдинбург, Данди, Париж (7+), Дюссельдорф, Кёльн, Лангенфельд, Амстердам, Кемпер, Ле&nbsp;Конки, Юрмалу (2), Вильнюс (4), Буве (4), Киев, Клайпеду, Ниду и&nbsp;Палангу.</li>
  <li>Прочитал &laquo;Олесю&raquo; Куприна, &laquo;Шахматную новеллу&raquo; Цвейга, &laquo;Географ глобус пропил&raquo; Иванова, &laquo;Марьин двор&raquo; Солженицына, &laquo;Даму с&nbsp;собачкой&raquo; Чехова, &laquo;Хаджи-Мурата&raquo;, &laquo;После бала&raquo;, &laquo;Севастопольские рассказы&raquo;, &laquo;Анну Каренину&raquo; Льва Толстого, &laquo;Полковнику никто не&nbsp;пишет&raquo; Габриэля Гарсии Маркеса, &laquo;Восхождение Толстого&raquo; и&nbsp;множество рассказов Ивана Бунина...</li>
  <li>Начал работать с&nbsp;собой: летом купался по&nbsp;утрам в&nbsp;море, а&nbsp;зимой принимал холодный душ, чаще появлялся в&nbsp;синагоге, бегал, перестал есть мясо...</li>
  <li>Прослушал много индуистско&ndash;буддистских лекций Олега Торсунова.</li>
  <li>Целую неделю прожил настоящим киевским туристом.</li>
  <li>Каждый день играл в&nbsp;волейбол в&nbsp;августе.</li>
  <li>Сильно вырос как программист на&nbsp;Матлабе и&nbsp;Октаве.</li>
  <li>Освоил методы моментов, конечных элементов и&nbsp;быстрых мультиполюсов.</li>
  <li>Прошёл трёхдневный курс и&nbsp;научился пользоваться прибором и&nbsp;программой для электроэнцефалографии.</li>
  <li>Оставался человеком.</li>
  <li>Научился правильно готовить настоящие итальянские макароны, лепить китайские пельмени и&nbsp;варить варенье из&nbsp;рабарбара и&nbsp;севильский мармелад из&nbsp;апельсиновых корочек.</li>
  <li>И&nbsp;ещё кое-что хорошее и&nbsp;плохое, о&nbsp;чём пока нельзя говорить.</li>
</ul>
