---
layout:      post
title:      "Москва"
subtitle:   "день четвёртый"
date:        2014-03-30, 23:55:00 +0000
alpha2:      ru
location:   "Москва, Россия"
categories: [Белобородов, воскресное утро, Гигашвили, Кочкина, Кульбеда,
             Москва, Плешков, подготовка танцоров, секвей, Шевелёв]
---

<p class="ru">Сегодня нам несказанно повезло, и&nbsp;официального времени
подъёма не&nbsp;было. Мы&nbsp;вальяжно вставали кто во&nbsp;сколько хотел,
неспешно поднимались на&nbsp;второй этаж, на&nbsp;кухню, готовили завтрак, пили
чай и&nbsp;совсем по-воскресному, по-московски смотрели телевизор.</p>

<!--more-->

<figure class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/t1LoCezzkhE" frameborder="0" allowfullscreen>
  </iframe>
</figure>

<p class="ru">К&nbsp;полудню девочки занялись укладкой волос в&nbsp;причёски
и&nbsp;подшиванием платьев, а&nbsp;мальчики стали гладить свои рубашки. Н.
в&nbsp;красной клетчатой рубашке с&nbsp;короткими рукавами и&nbsp;лакированными
волосами очень похожа на&nbsp;мальчика. Словно в&nbsp;виде компенсации
за&nbsp;то, что партнёр выполняет ведущую роль на&nbsp;паркете, он&nbsp;почти
не&nbsp;тратит времени на&nbsp;макияж, нанесение искусственного загара, укладку
волос и&nbsp;подготовку костюма. В&nbsp;тридцать минут он&nbsp;готов
к&nbsp;выходу на&nbsp;паркет. У&nbsp;партнёрши на&nbsp;это уходит от&nbsp;трёх
до&nbsp;четырёх часов. Но&nbsp;как торжественна эта подготовка! Словно сборы
в&nbsp;театр или на&nbsp;большой праздник, наподобие юбилея или свадьбы.
В&nbsp;воздухе витает аромат духов, повсюду разложены гладильные доски, утюги,
сотни бутылочек с&nbsp;лаком и&nbsp;тушью, флаконы, расчёски, гребни
и&nbsp;кисти. Словно актёры готовятся танцоры перед выходом на&nbsp;паркет.
И&nbsp;вот&mdash;всё готово: платья подшиты и&nbsp;отглажены, смокинги сидят отменно,
уверенно надеваются кольца и&nbsp;украшения, наносятся последние штрихи.
Присели на&nbsp;удачу&nbsp;и, открыв дверь, шагнули, будто в&nbsp;космос, первые
пары танцоров.</p>

<p class="ru">Мы&nbsp;прибыли на&nbsp;конкурс за&nbsp;два часа до&nbsp;начала
выступления. Сегодня я&nbsp;официально зарегистрирован как начинающий тренер
из&nbsp;Иркутска. В&nbsp;реестре так и&nbsp;написано &laquo;Абаленков&nbsp;М.,
г.&nbsp;Иркутск&raquo;.</p>

<p class="ru">Соревнования по&nbsp;секвею сильно похожи на&nbsp;выступления пар
в&nbsp;фигурном катании. На&nbsp;паркете всего одна пара, которую внимательно
оценивают все судьи. Танцевальный номер длится четыре минуты. Номер
представляет собой почти театральное развитие событий с&nbsp;главными героями
и&nbsp;сюжетом. Во&nbsp;время представления пара должна выполнить разрешённые
фигуры из&nbsp;всех пяти видов танца европейской программы: медленного
и&nbsp;венского вальса, медленного фокстрота, квикстепа и&nbsp;танго. Для
номеров секвея специально подбирается музыка, шьются костюмы и&nbsp;платья,
придумываются образы и&nbsp;причёски. В&nbsp;секвее танцоры гораздо более
свободны нежели во&nbsp;время классических соревнований.</p>

<p class="ru">Наши пары представляли три номера: семнадцать мгновений весны,
который вышел в&nbsp;финал, вариацию на&nbsp;тему русских народных танцев
и&nbsp;великий Гэтсби в&nbsp;исполнении&nbsp;Н. и&nbsp;В.&nbsp;Танцев
я&nbsp;почти не&nbsp;видел, потому что был занят видеосъёмкой, плавным
приближением и&nbsp;удалением пары в&nbsp;кадре и&nbsp;слежением за&nbsp;тем,
чтобы оба партнёра всегда были в&nbsp;кадре.</p>

<p class="ru">Из&nbsp;выступлений других пар особенно хочется отметить номера
&laquo;Герой моего романа&raquo; Матвея Шевелёва и&nbsp;Виталины Гигашвили,
&laquo;Анну Каренину&raquo; Ильи Белобородова и&nbsp;Виктории Кочкиной&nbsp;и,
конечно, победителей чемпионата &laquo;Когда поднимается занавес&raquo; Дмитрия
Плешкова и&nbsp;Анастасию Кульбеду. Странно, но&nbsp;в&nbsp;этот раз платье
Карениной не&nbsp;превращалось из&nbsp;белого в&nbsp;чёрное.
И&nbsp;от&nbsp;этого драматический эффект был слабее. Необыкновенно
перевоплощение танцоров на&nbsp;паркете в&nbsp;момент, когда играет музыка,
надеты костюмы и&nbsp;горят прожектора. Даже если вы&nbsp;видели репетицию
всего номера и&nbsp;слышали музыку до&nbsp;начала представления, всё равно
танцоры вас поразят, захватят в&nbsp;короткую светлую жизнь своих героев.</p>

<figure class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/oUEiSzTpGaA" frameborder="0" allowfullscreen>
  </iframe>
</figure>

<p class="ru">На&nbsp;протяжении всего турнира мне больше всего запомнилась
и&nbsp;приглянулась пара Шевелёва. Это пара настоящих профессионалов,
спортсменов с&nbsp;характером. Они выступали во&nbsp;всех возможных видах
соревнований во&nbsp;время всех четырёх дней: чемпионату по&nbsp;стандартной
и&nbsp;латиноамериканской программе (под номерами 126 и&nbsp;135), а&nbsp;также
в&nbsp;европейском секвее. Они не&nbsp;кичились, не&nbsp;обижались
на&nbsp;порой несправедливое решение судей. Каждый танец они танцевали
с&nbsp;душой, в&nbsp;полную силу, так что сердце радовалось, глядя на&nbsp;них,
а&nbsp;глаза всё время искали их&nbsp;на&nbsp;паркете. Находили
и&nbsp;любовались уже до&nbsp;конца мелодии.</p>

<p class="ru">Программа секвея перемежалась с&nbsp;чемпионатом мира среди
юниоров. Очень приятно и&nbsp;радостно было смотреть финал, в&nbsp;котором
из&nbsp;шести пар две были российскими. А&nbsp;партнёрша лидирующей пары
на&nbsp;финал вышла в&nbsp;юбке цвета российского флага. Очень мило,
в&nbsp;обнимку стояли наши пары в&nbsp;ожидании следующей мелодии. Как
права&nbsp;Н., когда говорит, что в&nbsp;такие моменты очень гордишься своей
страной. Только какой&nbsp;же страной гордиться мне? За&nbsp;кого испытывать
гордость?</p>

<p class="ru">Домой после чемпионата мы&nbsp;шли пешком, было поздно,
мы&nbsp;были усталые, но&nbsp;довольные.</p>
