---
layout:      post
title:      "Москва"
subtitle:   "день восьмой"
date:        2014-04-03, 23:55:00 +0000
alpha2:      ru
location:   "Москва, Россия"
categories: [Жилой дом Парус, Кофе Хауз, Крейцерова соната, Михаил Пореченков, Москва,
             МХТ, современная архитектура]
---

<p class="ru">В&nbsp;планах на&nbsp;сегодня значилось посещение знаменитого
&laquo;Дома-Паруса&raquo; на&nbsp;Ходынском поле&mdash;шедевра современной
архитектуры. Поднявшись со&nbsp;станции, мы&nbsp;долго блуждали влево
и&nbsp;вправо вдоль автотрассы. Несмотря ни&nbsp;на&nbsp;какие расспросы, никто
не&nbsp;знал об&nbsp;этом доме и&nbsp;указать дорогу не&nbsp;мог. В&nbsp;один
момент мы&nbsp;очутились на&nbsp;крохотном зелёном островке, со&nbsp;всех
сторон окружённые оживлёнными дорогами и&nbsp;автомобилями. По&nbsp;чистой
случайности за&nbsp;высотными офисными зданиями мы&nbsp;заметили четыре
небоскрёба, которые должны были находиться рядом с&nbsp;Парусом. Через сорок
минут похода сквозь ветер и&nbsp;пыль мы&nbsp;наконец-то вышли
к&nbsp;знаменитому дому.</p>

<!--more-->

<figure class="imagecentre">
  <img src="{{ site.url }}/assets/photo/msk-sail-house.jpg" alt="Жилой дом «Парус»">
  <figcaption><cite>
    Жилой дом &laquo;Парус&raquo;, архитектор А.&nbsp;Боков, 2007&nbsp;г.
  </cite></figcaption>
</figure>

<p class="ru">К&nbsp;сожалению, в&nbsp;жизни он&nbsp;выглядит не&nbsp;так
впечатляюще как на&nbsp;фотографиях и&nbsp;видеороликах. Здание больше похоже
на&nbsp;лежащую каплю, чем на&nbsp;наполненный ветром парус. В&nbsp;нём напрочь
отсутствуют балконы. Но&nbsp;если&nbsp;бы они и&nbsp;были, вряд&nbsp;ли жильцам
удалось&nbsp;бы ими насладиться. Зелёных зон в&nbsp;округе совсем нет. Здание
расположено в&nbsp;центре нового района с&nbsp;очень плотной застройкой.
Со&nbsp;всех сторон стоят одинаковые кирпичные многоэтажки.
А&nbsp;на&nbsp;оставшемся свободном месте проложены автодороги.
&laquo;Парус&raquo;&nbsp;бы ожил на&nbsp;берегу моря или озера. Мне кажется,
было&nbsp;бы интересно выгнуть его по&nbsp;продольной оси, чтобы он&nbsp;был
больше похож на&nbsp;настоящий парус. Окрестности знаменитого дома
неблагополучные. Притом что Москва чистый город, новый надземный переход
напротив Паруса уже весь разрисован граффити. Повсюду валяются осколки стекла,
обрывки упаковочной бумаги и&nbsp;использованные шприцы. А&nbsp;совсем рядом
школа и&nbsp;детский сад.</p>

<p class="ru">Потом мы&nbsp;ненадолго вернулись на&nbsp;Менделеевскую, чтобы
перекусить бизнес-ленчем в&nbsp;Le pain quotidien и&nbsp;переодеться
к&nbsp;театру. И&nbsp;вот мы&nbsp;в&nbsp;МХТе. Дают театральное переложение
&laquo;Крейцеровой сонаты&raquo; Льва Толстого. В&nbsp;роли Позднышева Михаил
Пореченков, известный неискушённому зрителю как &laquo;Агент национальной
безопасности&raquo;. Театр, как известно, начинается с&nbsp;гардероба. Все
служащие театра люди необыкновенно вежливые и&nbsp;терпеливые. Пожилая женщина,
принимая нашу одежду, предложила бинокль всего за&nbsp;100₱.
А&nbsp;к&nbsp;биноклю прилагался ускоренный сервис возврата одежды:
&laquo;Вы&nbsp;просто ко&nbsp;мне сюда тихонечко проходите... Не&nbsp;нужно
стоять в&nbsp;очереди...&raquo;</p>

<p class="ru">Когда мы&nbsp;в&nbsp;темноте пробрались на&nbsp;свои места,
действие на&nbsp;сцене уже разворачивалось. Происходил знаменитый спор учёной
дамы с&nbsp;адвокатом против местного старозаветного купца. Позднышев тем
временем молчаливо слушал. Постановка нас разочаровала. Пореченков
действительно старался и&nbsp;порадовал любителей драмы и&nbsp;сильной
психологической игры. Но&nbsp;остальные актёры не&nbsp;шли дальше подыгрывающей
роли второстепенных персонажей. Постоянно звучала надрывная скрипичная музыка,
которая больше раздражала, чем привносила гармонии в&nbsp;пьесу.
В&nbsp;костюмах преобладали мрачные тёмные тона. Главной темой спектакля стала
неудержимая тревожность, нервозность. Но&nbsp;несмотря на&nbsp;подразумеваемое
нервное напряжение зритель бессовестно засыпал. Следить за&nbsp;действием было
неинтересно.</p>

<p class="ru">После спектакля мы&nbsp;долго наслаждались красивыми
фотографическими портретами знаменитых актёров. Были среди них и&nbsp;Назаров
и&nbsp;Хабенский. Экстерьер и&nbsp;интерьер театра выполнены в&nbsp;стиле Арт
Нуво. Повсюду строгие линии, медные квадратные светильники и&nbsp;неизменное
сочетание белого с&nbsp;голубым. За&nbsp;разговором и&nbsp;осмотром театра
мы&nbsp;не&nbsp;заметили, как оказались последними посетителями. Охранник,
открывая нам двери, недовольно пожаловался: &laquo;Молодые люди, ну&nbsp;как
это называется?&raquo; &mdash;Это называется первый раз в&nbsp;МХТе.</p>

<p class="ru">После спектакля мы&nbsp;прогуливались по&nbsp;Калининскому мосту
в&nbsp;поисках тихого кафе. Нам попался мексиканский бар с&nbsp;грузным
охранником на&nbsp;входе и&nbsp;громкой однообразной музыкой внутри. Ненадолго
мы&nbsp;зашли в&nbsp;Caf&eacute; Vogue, где нам предложили: &laquo;Проходите,
пожалуйста, в&nbsp;гардероб&mdash;вас разденут&raquo;. И&nbsp;несмотря
на&nbsp;изящные пирожные и&nbsp;утончённых посетителей мы&nbsp;вырвались
на&nbsp;свободу. Почему-то нам показалось, что нас разденут и&nbsp;после
гардероба.</p>

<p class="ru">В&nbsp;итоге выбор пал на&nbsp;проверенный Кофе Хауз. Уже совсем
поздно вечером мы&nbsp;ели блинчики с&nbsp;творогом и&nbsp;фруктовые роллы
с&nbsp;манговым сорбе. Там было тихо и&nbsp;светло. А&nbsp;кавказские официанты
поразили великолепным обслуживанием.</p>
