---
layout:      post
title:      "Пролетел февраль"
date:        2014-02-27, 16:15:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [велосипед, день рождения, ИКЕЯ, каток, Плугастель-Даолас, характер]
---

<p class="ru">Пролетел февраль. Прошёл день рождения, в&nbsp;который
я&nbsp;получил множество поздравлений со&nbsp;всех концов света. Было очень
радостно на&nbsp;душе. Я&nbsp;совсем не&nbsp;мог сосредоточиться
на&nbsp;работе, а&nbsp;только и&nbsp;делал, что ничего
не&nbsp;делал&mdash;отвечал на&nbsp;сообщения, звонки и&nbsp;электронные
письма. На&nbsp;следующий день, по&nbsp;традиции, мы&nbsp;отправились
на&nbsp;каток. Азиатам пришлось не&nbsp;сладко. Двое не&nbsp;могли кататься
вовсе. Потом меня осенило, что ничто так не&nbsp;выявляет характер
человека как его подход к&nbsp;решению проблем, жизненных трудностей.</p>

<!--more-->

<p class="ru">Возьмём для примера катание на&nbsp;коньках. Допустим, что
человек никогда в&nbsp;жизни не&nbsp;катался и&nbsp;кататься не&nbsp;умеет.
Один, надев коньки, неуверенно выйдет на&nbsp;лёд, сделает несколько неверных
шагов и&nbsp;сразу&nbsp;же вернётся за&nbsp;ограждение. И&nbsp;больше
не&nbsp;станет пробовать вовсе. Другой, несмело оглядывая своих товарищей,
будет жаться к&nbsp;борту, смеяться, шутить, станет нелепо &laquo;ходить
по&nbsp;льду&raquo;, не&nbsp;используя коньки по&nbsp;назначению. За&nbsp;все
два часа он&nbsp;не&nbsp;отойдёт от&nbsp;борта и&nbsp;на&nbsp;все попытки
и&nbsp;уговоры будет только отшучиваться. Как потом окажется, ему был нужен
настоящий учитель, и&nbsp;ещё он&nbsp;боялся упасть и&nbsp;пораниться. Третий
маленькими шажками без помощи и&nbsp;поддержки, просто поглядывая
на&nbsp;катающихся, будет медленно катиться по&nbsp;орбите катка. Падать,
вставать и&nbsp;пытаться снова, учить новые движения и&nbsp;техники. Чётвёртый
сразу ринется в&nbsp;самую гущу катающихся, будет больно падать сотни раз,
но&nbsp;кататься со&nbsp;страстью, с&nbsp;удовольствием, на&nbsp;скорости,
не&nbsp;боясь упасть и&nbsp;разбиться. К&nbsp;какому типу отнесёте
себя&nbsp;вы?</p>

<p class="ru">В&nbsp;феврале я&nbsp;необыкновенно сильно уставал
на&nbsp;работе. Дома вечерами чтобы придти в&nbsp;себя я&nbsp;жгу ванильные
свечи, слушаю Шопена и&nbsp;Моцарта в&nbsp;исполнении Киссина, Горовица,
и&nbsp;читаю второй том собрания сочинений Бунина (ранние рассказы
1887&ndash;1909&nbsp;годов). Иногда мне кажется, что я&nbsp;совсем перестал
замечать красоту, огрубел. В&nbsp;каждодневной жизни не&nbsp;хватает красоты.
От&nbsp;этого мне часто хочется уехать, сбежать, испариться хотя&nbsp;бы
на&nbsp;несколько дней. Кажется, в&nbsp;школьные годы, когда я&nbsp;так много
читал, я&nbsp;был гораздо более интеллигентным, чувственным, искренним
человеком.</p>

<p class="ru">В&nbsp;выходные дни, если позволяет погода,
мы&nbsp;с&nbsp;товарищем исследуем брестские окрестности на&nbsp;велосипедах.
К&nbsp;сожалению, в&nbsp;рабочие дни, к&nbsp;семи или восьми, когда
мы&nbsp;уходим из&nbsp;офиса, на&nbsp;улице уже темно и&nbsp;ещё сыро. Один раз
мы&nbsp;ездили в&nbsp;соседний городок под названием Даолас-Плугастель,
проведали местное кладбище в&nbsp;поисках солдатских могил первой мировой
войны. На&nbsp;кладбище тихо, чисто, все земные горести и&nbsp;невзгоды
предстают в&nbsp;другом свете. Кажутся такими маленькими, незначительными.
А&nbsp;на&nbsp;обратном пути выяснилось, что товарищ забыл ключ
от&nbsp;велозамка. И&nbsp;тогда, как в&nbsp;кино, мы&nbsp;заходили
в&nbsp;каждый бар на&nbsp;главной площади и&nbsp;спрашивали,
не&nbsp;захватил&nbsp;ли кто случайно с&nbsp;собой плоскогубцы, щипцы или
кусачки? В&nbsp;одном баре дамочка, на&nbsp;секунду отвлёкшись
от&nbsp;заслуженного воскресного коктейля, бросила нам: &laquo;<span
class="red">&mdash;</span>Здравствуйте, мальчики, ну,&nbsp;а&nbsp;где&nbsp;же
ваши велосипеды?&raquo; В&nbsp;третьем баре мы&nbsp;сменили стратегию,
мы&nbsp;не&nbsp;стали объяснять, что инструменты нужны нам для того, чтобы
сломать замок. Мы&nbsp;дипломатично утверждали, что просто хотим починить
велосипед. Et&nbsp;voil&agrave;&mdash;наши попытки сразу увенчались успехом!
В&nbsp;пять минут отчаянными движениями вниз-вверх по&nbsp;одному тонкому
прутику мы&nbsp;как профессиональные воры сломали замок.</p>

<p class="ru">В&nbsp;другой раз мы&nbsp;долго колесили по&nbsp;городу
и&nbsp;искали плотника, способного смастерить картинную раму, а&nbsp;потом
навестили местную ИКЕЮ. Что&nbsp;же покупают настоящие учёные в&nbsp;ИКЕЕ?
Свечки, рамки и&nbsp;корзинки для столовых приборов.</p>
