---
layout:      post
title:      "Москва"
subtitle:   "день девятый"
date:        2014-04-04, 23:55:00 +0000
alpha2:      ru
location:   "Москва, Россия"
categories: [всплывание, Москва, прогулка, сборы]
---

<p class="ru">В&nbsp;советской кирпичной высотке. Стол без скатерти коричневый,
ровный. Режь аккуратнее, не&nbsp;поцарапай смотри. Насупился радиоприёмник
в&nbsp;кубике у&nbsp;стены. Можно вообще не&nbsp;выходить из&nbsp;дома.
Скатывать в&nbsp;трубочки и&nbsp;укладывать вещи твои.</p>

<p class="ru">Поздний подъём, поздний завтрак. На&nbsp;гладком деревянном столе
расставлены тарелочки и&nbsp;блюдечки с&nbsp;яствами: это и&nbsp;редкий для
французского гостя рассыпчатый творог со&nbsp;сметаной, и&nbsp;нарезанные
ломтиками яблоки, и&nbsp;полненькие кружочки бананов, йогурт, подтаявшее масло
в&nbsp;тарелочке, российский сыр с&nbsp;мириадами бесформенных дырочек,
розоватый зефир в&nbsp;затвердевшей корочке&nbsp;и, конечно, пряники
с&nbsp;каплей густого повидла в&nbsp;середине. Две кружки с&nbsp;чаем&mdash;вот
и&nbsp;весь завтрак.</p>

<!--more-->

<figure class="imagecentre">
  <img src="{{ site.url }}/assets/photo/msk-pushkin.jpg" alt="Памятник Александру Пушкину">
  <figcaption><cite>
    Памятник Александру Пушкину, скульптор А.&nbsp;Опекушин, 1880&nbsp;г.
  </cite></figcaption>
</figure>

<p class="ru">Пока&nbsp;Н. собирала и&nbsp;запаковывала вещи в&nbsp;дорогу,
я&nbsp;бесцельно слонялся по&nbsp;квартире. Вышел несколько раз на&nbsp;лоджию,
чтобы посмотреть на&nbsp;непрерывный поток машин на&nbsp;Новослободской, зашёл
в&nbsp;ванную, убрал со&nbsp;стола остатки еды и&nbsp;вымыл посуду...</p>

<p class="ru">Ехать в&nbsp;аэропорт было ещё рано, и&nbsp;мы&nbsp;решили
прогуляться по&nbsp;окрестностям. В&nbsp;Москве нужно знать куда идти
и&nbsp;какими улицами. Иначе рискуешь оказаться на&nbsp;узеньком тротуаре
огромной автомагистрали. Днём распогодилось, и&nbsp;солнце с&nbsp;радостью
принялось растапливать последние сосульки. Так мы&nbsp;и&nbsp;шли, лавируя под
капелью, всё время вперёд, мимо уже знакомых нам кафе, магазинов, строек
и&nbsp;станций метро. Я&nbsp;наивно удивлялся неисчислимому количеству салонов
красоты в&nbsp;городе. В&nbsp;центре Москвы мало парков для прогулки,
но&nbsp;нам повезло, и&nbsp;мы&nbsp;набрели на&nbsp;Н-ской бульвар, уже вымытый
и&nbsp;выглаженный к&nbsp;новому сезону. В&nbsp;одном из&nbsp;старинных
каменных домов, выходящих на&nbsp;улицу, часто останавливался у&nbsp;своего
друга Пушкин. А&nbsp;потом была запруженная неуютная Тверская, вся
в&nbsp;клубах пыли, площадь с&nbsp;памятником Маяковскому, а&nbsp;через
некоторое время другая площадь с&nbsp;грустным Пушкиным. &laquo;Друг мой, друг
мой...&raquo; Памятники замечательной работы! Мастерство скульпторов поражает.
Даже неопытный неискушённый прохожий издали, по&nbsp;первым очертаниям,
сразу&nbsp;же угадывает с&nbsp;детства знакомых поэтов!</p>

<p class="ru">Домой мы&nbsp;возвращались уже на&nbsp;метро. Но&nbsp;только
мы&nbsp;успели перекусить, как, присев на&nbsp;дорожку, нужно было выезжать
в&nbsp;Шереметьево. Несмотря на&nbsp;то&nbsp;что Белорусская находится всего
в&nbsp;одной станции и&nbsp;двух подземных переходах от&nbsp;Новослободской
мы&nbsp;потратили много времени, обгоняя москвичей, торопившихся домой после
работы. На&nbsp;выходе из&nbsp;метро нам даже пришлось бежать
и&nbsp;в&nbsp;спешке жать на&nbsp;все кнопки автомата, чтобы купить билеты
на&nbsp;Аэроэкспресс. В&nbsp;поезде было душно, людно, но&nbsp;во&nbsp;всём
чувствовалась та&nbsp;восторженность, которая непременно охватывает туриста
перед захватывающей поездкой. Всю дорогу мы&nbsp;стояли в&nbsp;тамбуре.
В&nbsp;самом аэропорту всё прошло неожиданно легко и&nbsp;гладко.
В&nbsp;мгновение ока мы&nbsp;зарегистрировались на&nbsp;рейс и&nbsp;сдали
в&nbsp;багаж красный чемодан. Проводы заняли каких-нибудь полчаса. Быстрый
свежевыжатый сок в&nbsp;Кофе-Хаузе и&nbsp;марш на&nbsp;посадку. Вот,
и&nbsp;всё.</p>

<p class="ru">На&nbsp;обратном пути было рано идти к&nbsp;поезду, и,
в&nbsp;поисках московских сувениров, я&nbsp;зашёл в&nbsp;Bosco. Каково&nbsp;же
было моё удивление, когда случайный посетитель предложил мне: &laquo;Извините,
а&nbsp;вы&nbsp;не&nbsp;хотели&nbsp;бы воспользоваться моей картой
скидок&raquo;? Я&nbsp;осторожно согласился, ожидая подвоха, но&nbsp;подвоха
не&nbsp;последовало, а&nbsp;я&nbsp;получил пятидесяти процентную скидку.
&laquo;А&nbsp;мне тоже выгодно. Куплю ещё на&nbsp;три миллиона,
и&nbsp;у&nbsp;меня уже будет платиновая карта с&nbsp;семидесяти процентной
скидкой&raquo;.</p>

<p class="ru">Я&nbsp;плохо помню, как возвращался в&nbsp;город. Был серый
промозглый вечер.  Одинокая мокрая колокольня Н-ского монастыря. Дождь пополам
со&nbsp;снегом вытеснял с&nbsp;улиц прохожих. Он&nbsp;загнал в&nbsp;помещение
и&nbsp;нас с&nbsp;товарищем. Мы&nbsp;снова оказались на&nbsp;втором
этаже&nbsp;Le pain quotidienne. Но&nbsp;прежнего уюта не&nbsp;было,
а&nbsp;усталые официантки были с&nbsp;нами невежливы и&nbsp;резки.</p>

<p class="ru">Домой я&nbsp;вернулся поздно. Душа просила картофельного пюре,
и&nbsp;я&nbsp;чистил картошку, варил. А&nbsp;перед сном смотрел фантастический
фильм на&nbsp;&laquo;Пятнице&raquo; и&nbsp;занимался стиркой. Благо
в&nbsp;нашей квартире была новенькая стиральная машина. Это была первая
за&nbsp;всю историю поездка из&nbsp;которой я&nbsp;возвращался с&nbsp;чистым
бельём.</p>
