---
layout:      post
title:      "Москва"
subtitle:   "предисловие"
date:        2014-03-26, 14:57:00 +0000
alpha2:      fr
location:   "Париж, Франция"
categories: [Бал монстров, друзья, Москва, пилоты, путешествия, AirFrance]
---

<p class="ru">Утро прошло в&nbsp;примеривании, сортировании и&nbsp;укладывании
вещей. Заглянуть в&nbsp;офис перед отъездом так и&nbsp;не&nbsp;получилось.
И&nbsp;вот я&nbsp;снова в&nbsp;пути. Невероятно, но&nbsp;только в&nbsp;пути,
в&nbsp;первые моменты после взлёта начинаешь расслабляться и&nbsp;разжимать тот
внутренний кулак, который держит тебя в&nbsp;повседневной жизни. Начинаешь
думать ясно, чисто. Видишь всю свою предыдущую жизнь как&nbsp;бы
со&nbsp;стороны. Сразу становятся видны все неточности и&nbsp;упущения.
Вспоминаешь свои прошлые путешествия. Вспоминаешь семью и&nbsp;дорогих друзей,
которых уже давно не&nbsp;видал, и&nbsp;даже не&nbsp;разговаривал
по&nbsp;душам. А&nbsp;хочется как в&nbsp;кино, как в&nbsp;&laquo;Бале
монстров&raquo; просто сесть на&nbsp;ступеньках, есть мороженое ложками прямо
из&nbsp;картонных стаканчиков, греться на&nbsp;солнце и&nbsp;медленно неспешно
разговаривать.</p>

<!--more-->

<p class="ru">Пилот AirFrance совершил в&nbsp;Париже одну из&nbsp;самых плавных
посадок, которые мне приходилось испытывать. Наверное, есть в&nbsp;том особый
пилотский шик, чтобы как можно дольше планировать над посадочной полосой,
а&nbsp;потом незаметно сесть.</p>
