---
layout:      post
title:      "Как я провёл лето..."
date:        2014-09-01, 09:29:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [Би-2, Вильнюс, Географ глобус пропил, лето, Литва, Океан Эльзы,
             рисование, Хабенский, Urban Studio]
---

<p class="ru">За&nbsp;долгой и&nbsp;честной работой лето автоматически сжалось
в&nbsp;один месяц. Но&nbsp;в&nbsp;один только август я&nbsp;чувствовал себя
настоящим богачом. В&nbsp;отличие от&nbsp;обыкновенных выходных или коротких
отпусков, в&nbsp;которые мечешься, как рыба в&nbsp;аквариуме, судорожно пытаясь
успеть заняться тем, что тебе нравится, в&nbsp;этот раз передо мной была целая
горка разноцветных фишечек дней. Я&nbsp;мог не&nbsp;задумываясь выбирать горсть
и&nbsp;ставить на&nbsp;красное, на&nbsp;чёрное, на&nbsp;зеро. В&nbsp;гостях
у&nbsp;меня были девочки из&nbsp;Иркутска. Без сильной необходимости
мы&nbsp;не&nbsp;выбирались из&nbsp;Юрмалы. В&nbsp;первые дни стояла ровная
жаркая погода. И&nbsp;нам удавалось много гулять и&nbsp;бегать по&nbsp;взморью,
загорать и&nbsp;купаться, подолгу не&nbsp;вылезая из&nbsp;воды.</p>

<!--more-->

<p class="ru">Мы&nbsp;наконец-то посмотрели фильм &laquo;Географ глобус
пропил&raquo; по&nbsp;одноимённому роману Алексея Иванова. Киноверсия
однозначно лучше книги, но&nbsp;даже Константин Хабенский в&nbsp;роли учителя
Служкина не&nbsp;смог вывести фильм на&nbsp;следующий уровень. Персонажи так
и&nbsp;остались двумерными картонными фигурками с&nbsp;упрощёнными поступками
и&nbsp;видением мира. Зато после просмотра в&nbsp;лексикон прочно вошла фраза
&laquo;я&mdash;бивень&raquo;.</p>

<p class="ru">Мы&nbsp;успели повидать Вильнюс и&nbsp;заехать на&nbsp;пару дней
в&nbsp;Таллин. Кажется, эстонская столица покорила сердца и&nbsp;надолго запала
в&nbsp;души сибирячек. Кульминацией отпуска стала поездка в&nbsp;литовский
Дубиньгяй на&nbsp;Urban Studio, где мы&nbsp;провели десять дней на&nbsp;берегу
озера Асвея полностью погрузившись в&nbsp;мир рисования и&nbsp;архитектурного
проектирования. В&nbsp;этот раз программа дневных лекций показалась мне
не&nbsp;такой интересной как обычно. Поразили лишь две лекции Элиезера Лесового
о&nbsp;еврейской религии и&nbsp;истории. Было очень приятно полностью
абстрагироваться от&nbsp;мира и&nbsp;рисовать. Несмотря на&nbsp;всю
рудиментарность наших художественных способностей, рисовали мы&nbsp;искренно
и&nbsp;с&nbsp;полной отдачей. Я&nbsp;пришёл к&nbsp;выводу, что рисование очень
расслабляет. Разводишь на&nbsp;палитре краски, мажешь толстым слоем густую
пахнущую гуашь и&nbsp;отдыхаешь. Как всегда приятно удивили люди. Такие
образованные, талантливые, настоящие. Каждый со&nbsp;своим глубоким видением
и&nbsp;пониманием. Какой контраст по&nbsp;сравнению с&nbsp;пустым
и&nbsp;безмолвным иммигрантским миром! С&nbsp;каким холодящим сердце ужасом
думал я&nbsp;о&nbsp;своём &laquo;французском&raquo; круге общения!
А&nbsp;постное кошерное питание нас не&nbsp;впечатлило, и&nbsp;большую часть
времени мы&nbsp;ходили голодные. Обычным делом было поедание спагетти
с&nbsp;хлебом.</p>

<p class="ru">Вернувшись в&nbsp;Латвию мы&nbsp;посетили два рок-концерта
и&nbsp;один оперной музыки. Это были выступления &laquo;Би-2&raquo;
и&nbsp;&laquo;Океана Эльзы&raquo;. Наверное, со&nbsp;всей уверенностью можно
сказать, что я&nbsp;ещё никогда не&nbsp;чувствовал себя таким усталым после
отпуска. Кое-что пошло наперекосяк, не&nbsp;всё получилось так, как было
задумано, немного не&nbsp;хватило терпения, выдержки и&nbsp;главное времени
на&nbsp;то, о&nbsp;чём так сильно мечтали (на&nbsp;посещение школы
и&nbsp;этнографического музея, на&nbsp;разговоры и&nbsp;искреннее общение,
на&nbsp;добрых и&nbsp;верных друзей, на&nbsp;катание на&nbsp;велосипедах,
на&nbsp;однодневные поездки, на&nbsp;поход в&nbsp;кино, на&nbsp;шитьё,
раскрашивание матрёшки и&nbsp;татуировки хной, на&nbsp;бадминтон, посиделки
в&nbsp;чайном домике, и&nbsp;даже элементарную экскурсию по&nbsp;Риге
и&nbsp;району с&nbsp;Югендштилем). Но&nbsp;под жирной чертой с&nbsp;надписью
&laquo;Итого&raquo; можно честно написать размашистым почерком &laquo;отпуск
удался&raquo;. Было сделано много открытий, прежде всего о&nbsp;самом себе, и,
конечно, о&nbsp;девочках.</p>
