---
layout:      post
title:      "Фруктовый день"
subtitle:   "часть первая"
date:        2014-09-04, 07:01:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [диета, здоровье, йогурт, пост, фруктовый день]
---

<p class="ru">Идею фруктовой среды я&nbsp;позаимствовал у&nbsp;своего
индийского друга. Он&nbsp;соблюдает фруктовый день почти всю свою жизнь. Есть
много уровней понимания этого дня. Самый простой и&nbsp;быстрый для
усвоения&mdash;это разгрузочный день. В&nbsp;этот день человек ест только
фрукты, чтобы очистить свой организм от&nbsp;накопившихся в&nbsp;нём
за&nbsp;неделю шлаков. К&nbsp;тому&nbsp;же, очищение фруктами способствует
улучшению работы всей пищеварительной системы. Также возможно и&nbsp;похудение,
но&nbsp;при условии, что человек будет спокойно и&nbsp;равномерно входить
и&nbsp;выходить из&nbsp;фруктового дня. Этот день не&nbsp;обязательно
устраивать в&nbsp;среду. Фруктовым днём может стать любой приемлемый
на&nbsp;ваш взгляд день недели.</p>

<!--more-->

<p class="ru">Лучше всего начинать поститься с&nbsp;облегчённого варианта. Так
как делает мой индийский друг. Весь день он&nbsp;еcт только фрукты
и&nbsp;запивает их&nbsp;нежирным йогуртом, без каких&nbsp;бы
то&nbsp;ни&nbsp;было добавок (без сахара и&nbsp;варенья). Если
вы&nbsp;проголодались, можно участить приёмы пищи. Например, есть каждые
несколько часов. Вы&nbsp;едите фрукты до&nbsp;вечера, а&nbsp;вечером следует
нормальный приём пищи. На&nbsp;ужин во&nbsp;фруктовый день лучше есть лёгкую
вегетарианскую еду (овощной салат или варёные овощи). Также в&nbsp;этот день
лучше отказаться ежедневных чая и&nbsp;кофе. Лучше пить воду. А&nbsp;когда
вы&nbsp;почувствуете, что ваш организм привык и&nbsp;с&nbsp;лёгкостью переносит
фруктовый день, вечерний приём пищи тоже можно сделать фруктовым
и&nbsp;поститься целые сутки, до&nbsp;утра. Завтра мы&nbsp;поговорим
о&nbsp;более глубоком значении и&nbsp;понимании фруктового дня.</p>

<p class="sig">Искренне ваш, д&ndash;р&nbsp;Максим</p>
