---
layout:      post
title:      "Первый день лета"
date:        2015-09-06, 22:30:00 +0000
alpha2:      lv
location:   "Юрмала, Латвия"
categories: [друзья, лето, любовь, Рига, Толстой, Юрмала]
---

<p class="ru">Первый день лета, в&nbsp;который я&nbsp;почувствовал, что
я&nbsp;ещё жив, что всё в&nbsp;порядке, что в&nbsp;этом мире есть хорошие люди,
что во&nbsp;мне ещё есть доброта и&nbsp;что это нормально&mdash;помогать людям.</p>

<p class="ru">Утром я&nbsp;был в&nbsp;Меллужи, на&nbsp;станции, где проводил
почти каждое лето ребёнком, подростком. В&nbsp;прошлый раз я&nbsp;был там год
назад. Эстраду и&nbsp;парк отремонтировали, расширили и&nbsp;постригли газон.
Пруд выложен аккуратными камнями. В&nbsp;нём плавают утки и&nbsp;трепещутся
зелёные мокрые листья кувшинок. А&nbsp;по&nbsp;выходным проводятся бесплатные
занятия Йогой для всех желающих.</p>

<!--more-->

<figure class="imagecentre">
  <img src="{{ site.url }}/assets/photo/rix-latvian-riflemen-square.jpg" alt="Латышские стрелки">
  <figcaption><cite>
    Латышские стрелки, скульптор В.&nbsp;Албергс, 1970&nbsp;г.
  </cite></figcaption>
</figure>

<p class="ru">Я&nbsp;встретился с&nbsp;другом юности, и&nbsp;мы&nbsp;бежали
по&nbsp;пульсометру до&nbsp;Асари, до&nbsp;седьмого голубого мусорника
и&nbsp;обратно. Погода была замечательная. Настоящий праздник уходящего лета.
Выход на&nbsp;бис. Небо пронзительное, глубокое, с&nbsp;полосами перистых
облаков в&nbsp;вышине и&nbsp;тихое, успокоившееся море. Вдруг
и&nbsp;на&nbsp;душе у&nbsp;меня стало тихо, покойно, как на&nbsp;море,
ни&nbsp;гребешка. Мы&nbsp;быстро нырнули и&nbsp;выбежали на&nbsp;песчаный
берег. А&nbsp;потом растягивались и&nbsp;грелись в&nbsp;ещё жарких лучах
солнца. А&nbsp;дома завтракали на&nbsp;лужайке, на&nbsp;круглой, утрамбованной
площадке, с&nbsp;выцветшей травой, оставшейся после детского бассейна. Ели
творог с&nbsp;греческим йогуртом и&nbsp;чёрным ржаным хлебом. А&nbsp;над нами
развивались маленькие треугольные флажки всех цветов радуги. Это было так
по-доброму, так по-домашнему, так беззаботно и&nbsp;счастливо, что впервые
за&nbsp;всё долгое серое безрадостное лето я&nbsp;почувствовал лёгкое дыхание
счастья. Мы&nbsp;завтракали и&nbsp;друг мой сказал: &laquo;Мы&nbsp;с&nbsp;тобой
будто в&nbsp;пионерском лагере. Я&nbsp;уже перешёл во&nbsp;вторую смену,
а&nbsp;ты&mdash;новичок, только приехал.&raquo; Его девушка светлая,
светящаяся, словно наполнена тихой радостью, что льётся через край. Глаза
добрые, светло-голубые.</p>

<p class="ru">После обеда я&nbsp;виделся со&nbsp;своим старшим товарищем.
Он&nbsp;мне как дедушка. Читали стихи, рассказывали анекдоты.
Я&nbsp;не&nbsp;избежал супа с&nbsp;фрикадельками и&nbsp;ядрёного
кофе&mdash;полчашки гущи, сам тёмный, ядрёный, терпкий, и&nbsp;дна
не&nbsp;видать. Переписывали фотографии и&nbsp;разбирались с&nbsp;компьютером.
А&nbsp;на&nbsp;улице теплынь, благодать, мягкий свет. Он&nbsp;курит
на&nbsp;кухне в&nbsp;форточку, настаивает для жены кремниевую воду, мысленно
ставит метки на&nbsp;банке, проверяет пила&nbsp;ли она сегодня и&nbsp;сколько.
А&nbsp;я&nbsp;рассматриваю русско-латышские словари в&nbsp;изношенных
переплётах и&nbsp;его старые чёрно-белые фотографии: деревня, Горловка,
Украина, старенькая мать в&nbsp;платочке, он&nbsp;сам с&nbsp;косой, ещё бодрый
молодой, в&nbsp;теле, косит. Его младшая дочь, на&nbsp;карточках. Здесь она ещё
первоклассница в&nbsp;белых колготочках и&nbsp;синей юбочке, в&nbsp;руках
букетик гвоздик, а&nbsp;в&nbsp;глазах испуг, растерянность. &laquo;Ах, сколько
времени я&nbsp;провёл в&nbsp;ванной за&nbsp;этими фотографиями!&raquo;
Быстротечность жизни.</p>

<p class="ru">Троллейбуса долго нет, и&nbsp;я&nbsp;иду вперёд по&nbsp;неровному
выцветшему асфальту в&nbsp;трещинах. На&nbsp;Кенгарагс, мой школьный район,
опускается тёплый вечер, поднимается лёгкий ветер, собираются в&nbsp;группы
юноши на&nbsp;перекрёстках. Прохожу одну пустую остановку за&nbsp;другой.
Я&nbsp;иду неспешно. Ведь это конец лета, последний день моих каникул. Когда
ещё доведётся посетить школу и&nbsp;эти такие знакомые и&nbsp;дорогие места?
В&nbsp;троллейбусе часто попадаются люди отчаявшиеся, разочаровавшиеся
в&nbsp;жизни. Они едут прислонившись головами к&nbsp;стёклам и&nbsp;смотрят
на&nbsp;город безразличным сухим взглядом. В&nbsp;руках алюминиевые банки
с&nbsp;пивом, в&nbsp;ушах белые проводки наушников, а&nbsp;их&nbsp;лица давно
небриты.</p>

<p class="ru">Вечером я&nbsp;гуляю по&nbsp;старому городу. На&nbsp;площади
Свободы спортивная выставка посвящённая дням баскетбола, выкрики через
громкоговоритель, удалая музыка. На&nbsp;террасах кафе множество одиноких
иностранцев с&nbsp;бокалами белых вин. Они сидят за&nbsp;столиками под
навесами. Вдоль по&nbsp;Калею расположились лотки цветочников, художников,
янтарных дел мастеров. Новый сезон в&nbsp;Театре Русской Драмы начнётся только
28-го сентября. Я&nbsp;прохожу мимо пельменной. Они первыми придумали подавать
жареные пельмени. По&nbsp;обеим сторонам зазывающие рекламные вывески обменных
пунктов. Прогуливается богатая российская молодёжь. Я&nbsp;выхожу
на&nbsp;площадь Латышских стрелков. Здесь ветрено. Одиноко отдыхают
на&nbsp;конечной троллейбусы. Из&nbsp;окон Технического Университета раздаётся
барабанный ритм.</p>

<p class="ru">Весь вечер до&nbsp;кромешной темноты я&nbsp;провожу с&nbsp;другом
детства. Сначала мы&nbsp;ужинаем салатами из&nbsp;свежих овощей, закусываем
тёплым мягким хлебом и&nbsp;запиваем мякотками. Укрывшись пледом она
рассказывает о&nbsp;психологическом семинаре, о&nbsp;расстановках
по&nbsp;Хеллингеру, о&nbsp;прочитанных книгах, о&nbsp;кино
и&nbsp;о&nbsp;путешествиях. &mdash;&nbsp;Я&nbsp;больше не&nbsp;верю
словам,&nbsp;&mdash; утверждаю&nbsp;я. &mdash;&nbsp;А&nbsp;чему ты&nbsp;веришь?
&mdash;&nbsp;Действиям. &mdash;&nbsp;А&nbsp;ты&nbsp;смотри в&nbsp;глаза, когда
человек говорит. Глаза не&nbsp;лгут.</p>

<p class="ru">Я&nbsp;вспоминаю её&nbsp;заплаканные глаза в&nbsp;ярко-зелёных
линзах под цвет платья. Реки слёз и&nbsp;отчаяния.</p>

<p class="ru">Мой салат всё ещё на&nbsp;столе. Это от&nbsp;того, что
я&nbsp;много говорю. Сегодня особенный день. Впервые за&nbsp;всё лето
я&nbsp;много, с&nbsp;чувством, с&nbsp;интересом, со&nbsp;смаком рассказываю,
спорю, делюсь. Я&nbsp;такой. Ах, как давно я&nbsp;таким не&nbsp;был! Я&nbsp;уже
давно забыл, какой я&nbsp;настоящий.</p>

<p class="ru">В&nbsp;Апсаре мы&nbsp;долго открываем прозрачные стеклянные
баночки с&nbsp;чаем&mdash;выбираем вечерний напиток. И&nbsp;долго, долго,
до&nbsp;самого закрытия сидим на&nbsp;втором этаже на&nbsp;подушках,
у&nbsp;деревянной балюстрады, и&nbsp;обсуждаем блокаду Ленинграда, наших
дедушек, войну, Хабенского, Алексея Иванова, типаж Географа, Тотальный
диктант&nbsp;и, конечно, книги.</p>

<p class="ru">Поздней пустой электричкой я&nbsp;возвращаюсь домой. Чтобы
не&nbsp;идти тёмным неприветливым лесом, я&nbsp;решаю проехать до&nbsp;Булдури.
Выход на&nbsp;другую сторону, на&nbsp;центральный перрон. На&nbsp;станции
остаётся девочка с&nbsp;двумя огромными сумками. Я&nbsp;помогаю ей&nbsp;донести
сумки до&nbsp;дома. Она рассказывает о&nbsp;своей двухдневной поездке
в&nbsp;Цесис. Говорим по-латышски. С&nbsp;лёгкостью, с&nbsp;благодатью,
со&nbsp;всепрощением я&nbsp;иду домой. На&nbsp;ум&nbsp;приходят слова Толстого:
&laquo;Бог&mdash;есть любовь, бесконечная любовь. Всё в&nbsp;этом
мире&mdash;любовь.&raquo; Сегодня, впервые за&nbsp;много долгих серых дней,
я&nbsp;услышал отголосок, искорку этой любви.</p>
