---
layout:      post
title:      "О фильме «Левиафан»"
date:        2015-01-27, 22:33:00 +0000
alpha2:      fr
location:   "Брест, Франция"
categories: [Левиафан, отзыв, фильм]
---

<p class="ru">Сюжет фильма прост. Главный герой Костя живёт со&nbsp;своей женой
и&nbsp;сыном подростком в&nbsp;глубоко провинциальном рыболовецком городке. Все
мужчины здесь заняты ловлей, а&nbsp;женщины обработкой свежей рыбы. Фильм
начинается с&nbsp;судебной тяжбы между мэром города и&nbsp;Костей. Властям
понадобился земельный участок Кости для масштабного проекта, а&nbsp;хозяин
сопротивляется и&nbsp;отдавать свою землю и&nbsp;дом за&nbsp;бесценок
не&nbsp;собирается. Костя ищет поддержки у&nbsp;Дмитрия, своего закадычного
друга-однополчанина. Сегодня он&nbsp;известный московский адвокат. Главной
сюжетной линией является противостояние человека машине государства. Это битва
Давида против Голиафа. Только это российский фильм,
и&nbsp;с&nbsp;первых&nbsp;же минут становится ясно&mdash;счастливого конца
не&nbsp;жди.</p>

<!--more-->

<p class="ru">Наверное, Костю можно сравнить с&nbsp;современным Печориным,
героем нашего времени. В&nbsp;нём есть мужская сила и&nbsp;цинизм.
Он&nbsp;мастер на&nbsp;все руки. Пусть он&nbsp;груб, но&nbsp;по&nbsp;своему
трогательно любит молодую жену и&nbsp;парнишку сына.
Но&nbsp;&laquo;Левиафана&raquo; лучше назвать &laquo;Повестью о&nbsp;слабом
человеке&raquo;. На&nbsp;ум&nbsp;приходят простые слова Сергея Бодрова младшего
из&nbsp;кинофильма &laquo;Брат&raquo;: &laquo;Ты&nbsp;говоришь, в&nbsp;городе
вся сила. А&nbsp;какая сила? Здесь все слабые.&raquo; Так
и&nbsp;в&nbsp;&laquo;Левиафане&raquo; все герои слабые. Мужчины играют
в&nbsp;мужчин, стреляя по&nbsp;пустым бутылкам из&nbsp;автомата. Любое горе
и&nbsp;любую радость запивают водкой. В&nbsp;кино её&nbsp;море. Герои фильма
пьют больше, чем герои романов Хемингуэя. Женщины, настоящие боевые подруги,
пьют не&nbsp;меньше своих мужей. Они полные, блеклые, давно утратившие свою
красоту и&nbsp;очарование женщины. Они устали от&nbsp;жизни, недовольны мужьями
и&nbsp;ничему не&nbsp;рады. Каждый новый день начинается с&nbsp;поездки
в&nbsp;трясущемся автобусе на&nbsp;рыбзавод и&nbsp;заканчивается им&nbsp;же.
В&nbsp;них больше нет заботы, понимания, поддержки, любви, мудрости
и&nbsp;способности вдохновлять мужчин на&nbsp;подвиги. Они превратились
в&nbsp;приведения, в&nbsp;скелеты самих себя.</p>

<p class="ru">Есть знаменитый роман &laquo;50&nbsp;оттенков серого&raquo;.
&laquo;Левиафан&raquo; хочется сравнить с&nbsp;пятьюдесятью оттенками чёрного.
В&nbsp;фильме нет света, нет радости и&nbsp;нет надежды. Сначала даже
не&nbsp;понятно, зачем он&nbsp;был снят? Для какой целевой аудитории? Ведь
ни&nbsp;девочкам, ни&nbsp;мальчикам, ни&nbsp;молоденьким девушкам,
ни&nbsp;юношам, ни&nbsp;женщинам, ни&nbsp;старикам смотреть его просто нельзя.
В&nbsp;фильме нет ни&nbsp;одного положительного героя. Люди нарочно
гипертрофированы, чтобы показать только их&nbsp;самые плохие качества. Режиссёр
играет на&nbsp;грани фола. Даже молодое поколение вечерами жжёт костёр
в&nbsp;полуразвалившийся башне и&nbsp;потихоньку от&nbsp;родителей пьёт пиво
и&nbsp;курит. Ни&nbsp;Костя, ни&nbsp;Лиля, ни&nbsp;Дима, ни&nbsp;мэр,
ни&nbsp;полиция, ни&nbsp;рыбаки, ни&nbsp;секретари, ни&nbsp;охранники,
ни&nbsp;даже главный священник города не&nbsp;оставляют надежды и&nbsp;веры
в&nbsp;человека. Только один герой кажется правдивым и&nbsp;нейтральным&mdash;это
отец Виктор. Он&nbsp;один на&nbsp;Костин вопрос &laquo;За&nbsp;что мне всё
это?&raquo; честно отвечает &laquo;Не&nbsp;знаю&raquo; и&nbsp;рассказывает ему
библейскую притчу о&nbsp;Левиафане и&nbsp;о&nbsp;Йове.</p>

<p class="ru">Поражает игра актёров. Актёры не&nbsp;играют, они по-настоящему
живут в&nbsp;этом городке. Они не&nbsp;переигрывают. Они честны и&nbsp;сильны.
Это жизнь. Из&nbsp;самых запоминающиеся моментов хочется отметить: море тщетно
бьющееся о&nbsp;неумолимые неприступные скалы. Это люди жаждущие
справедливости, пытающиеся что-то доказать в&nbsp;одиночку против машины. Рыбы
обезглавленные, со&nbsp;вспоротыми брюхами и&nbsp;выпотрошенными
внутренностями, медленно плывущие по&nbsp;ленте конвейера. Это тоже люди. Это
мы&nbsp;выпотрошенные и&nbsp;обезглавленные жизнью. И&nbsp;неумолимая железная
рука экскаватора спокойно и&nbsp;методично разламывающая Костин дом, дом
в&nbsp;котором выросли поколения рыбаков.</p>

<p class="ru">Зачем снят этот фильм? Это утрированная картина реальности
в&nbsp;российской глубинке. Нет, не&nbsp;всё так плохо, не&nbsp;везде власть
коррумпирована, не&nbsp;каждый рыбак горько пьёт и&nbsp;не&nbsp;каждая хозяйка
стоит на&nbsp;грани. Я&nbsp;думаю, этот фильм&mdash;предупреждение. Он&nbsp;словно
говорит: &laquo;Люди, опомнитесь! Люди, воспряньте духом! Люди, соберитесь!
Люди, не&nbsp;сдавайтесь, не&nbsp;плывите по&nbsp;течению
и&nbsp;не&nbsp;спускайте всё на&nbsp;тормозах!&raquo; Вспоминаются слова
поручика из&nbsp;&laquo;Солнечного удара&raquo; Михалкова &laquo;Как всё это
произошло? Нет, вы&nbsp;не&nbsp;помните, когда это всё началось? Как это
случилось?&raquo; Те&nbsp;же вопросы задают нам и&nbsp;авторы
&laquo;Левиафана&raquo;. Есть&nbsp;ли надежда, что Костя выйдет из&nbsp;тюрьмы,
и&nbsp;выйдет другим человеком, смиренным и&nbsp;сильным духом? Есть. Ведь
он&nbsp;ещё способен плакать, раскаиваться и&nbsp;принимать свою судьбу.
Неправда&nbsp;ли, он&nbsp;похож на&nbsp;Иисуса? Есть&nbsp;ли надежда, что Рома
вырастет лучше, светлее и&nbsp;сильнее, чем его родители? Есть. Просто потому
что для своих пятнадцати лет он&nbsp;уже очень много выстрадал
и&nbsp;потерял.</p>

<p class="ru">И&nbsp;напоследок хочется процитировать слова
из&nbsp;&laquo;Минхи&raquo; послеполуденной еврейской молитвы:</p>

<blockquote>
<p class="ru">&laquo;Отец наш, Царь наш! Помилуй нас и&nbsp;ответь нам, ибо нет
за&nbsp;нами (достойных награды) дел. Поступи с&nbsp;нами милостиво
и&nbsp;милосердно и&nbsp;спаси нас.</p>

<p class="ru">Мы&nbsp;же не&nbsp;знаем, что нам делать, но&nbsp;к&nbsp;тебе
(устремлены) наши глаза. Помни о&nbsp;милосердии твоём, Господи,
и&nbsp;о&nbsp;милости твоей, ибо они вечны. Да&nbsp;пребудет милость твоя,
Господи, над нами, как мы&nbsp;ждём от&nbsp;тебя. Не&nbsp;припомни нам прежних
провин. Пусть&nbsp;же без промедления встретит нас милосердие твоё, ибо
мы&nbsp;весьма оскудели. Помилуй нас, Господи, помилуй, ибо мы&nbsp;пресытились
позором. Гневаясь, о&nbsp;милосердии вспомни. &mdash;Ибо он&nbsp;знает нашу
природу, помнит, что&nbsp;мы (всего лишь) прах. Помоги нам, Б-же спасения
нашего, ради славы имени твоего и&nbsp;спаси нас, и&nbsp;искупи грехи наши ради
имени твоего.&raquo;</p>
</blockquote>
