---
layout:      post
title:      "Санкт-Петербург"
subtitle:   "день второй"
date:        2015-08-23, 22:00:00 +0000
alpha2:      ru
location:   "Санкт-Петербург, Россия"
categories: [голландский стиль, завтрак, кофе, маршрутки, Монплезир, парк,
            Петергоф, Пётр I, пикник, Санкт-Петербург, фонтаны]
---

<p class="ru">&laquo;Овсянка, сэр!&raquo; Звон колоколов Владимирского собора.
Кофе в&nbsp;мокке. Синее небо, как в&nbsp;День Победы. Петербург балует нас
деликатесами. После долгих сборов мы&nbsp;едем на&nbsp;метро до&nbsp;Автово
и&nbsp;пересаживается в&nbsp;маршрутку на&nbsp;&laquo;Фонтаны&raquo;
Петергофского дворца. Вагоны метро старинные, советской постройки, 50-х, 60-х
годов. В&nbsp;них изящные хромированные поручни и&nbsp;круглые лампы похожие
на&nbsp;капли вытекающие одна из&nbsp;другой. Поезд идёт лихо, с&nbsp;шумом,
дребезжанием и&nbsp;ветерком. На&nbsp;станциях много советской символики:
серпы, молоты... Едешь и&nbsp;думаешь, только коммунисты, только энтузиасты
могли так возродить свою страну из&nbsp;руин после Войны. Капиталистические
рабочие на&nbsp;такое не&nbsp;способны. Это строили люди, работавшие
не&nbsp;из-за денег.</p>

<!--more-->

<figure class="image" style="float: left">
  <img src="{{ site.url }}/assets/photo/spb-peterhof.jpg"
    alt="Вид на Морской канал от Большого Петергофского дворца">
  <figcaption>
    <cite>Вид на Морской канал от Большого Петергофского дворца</cite>
  </figcaption>
</figure>

<p class="ru">У&nbsp;водителей маршруток обычно есть свой предводитель.
Он&nbsp;регулирует подъезд новых микроавтобусов, руководит пассажирами
и&nbsp;даёт справки о&nbsp;стоимости и&nbsp;длительности проезда.
В&nbsp;автобусе тесно, люди стоят в&nbsp;проходах. Дамочки-туристки
в&nbsp;синих спортивных костюмах нервничают и&nbsp;скандалят. Строители
в&nbsp;проходе иронически жалуются друг другу на&nbsp;жизнь, ругают руководство
и&nbsp;ненавистную бухгалтерию. От&nbsp;них пахнет. Они не&nbsp;бриты. Вылитые
прототипы Географа, персонажа Хабенского из&nbsp;знаменитой повести Алексея
Иванова. Они громко рассказывают анекдоты и&nbsp;в&nbsp;спорах с&nbsp;дамочкой
в&nbsp;синем костюме за&nbsp;словом в&nbsp;карман не&nbsp;лезут.</p>

<p class="ru">Петергофский дворец жёлт, бел. Сегодня обнесён забором
выкрашенным густой зелёной краской. И&nbsp;даже при таком воскресном наплыве
народа всем хватает места. Настолько просторен дворцовый парк
и&nbsp;набережная. Всюду тень и&nbsp;прохлада от&nbsp;удивительных старинных
фонтанов. Гости отдыхают под густой сенью деревьев, лежат, разговаривают
и&nbsp;отдалённо напоминают &laquo;Завтрак на&nbsp;траве&raquo; Клода Моне.
И&nbsp;мы&nbsp;устроились в&nbsp;тени столетних лип и&nbsp;отдохнули под
беззаботное полуденное щебетание воробьёв. Во&nbsp;всём чувствуется спокойствие
и&nbsp;уют русской природы.</p>

<p class="ru">С&nbsp;набережной открывается вид на&nbsp;Финский залив
и&nbsp;в&nbsp;другую сторону на&nbsp;парк и&nbsp;сад, огороженный балюстрадой
и&nbsp;рядом плодовых деревьев. Вода в&nbsp;море гладка и&nbsp;недвижима.
У&nbsp;самой воды большие валуны и&nbsp;вниз сбегают парочки, чтобы
сфотографироваться. Чаще всего это морячки-курсанты в&nbsp;бескозырках
и&nbsp;тяжёлых неудобных сапогах. С&nbsp;барышнями.</p>
