---
layout:      post
title:      "Санкт-Петербург"
subtitle:   "день первый"
date:        2015-08-22, 22:00:00 +0000
alpha2:      ru
location:   "Санкт-Петербург, Россия"
categories: [Дворцовая площадь, Ивангород, Лиговский проспект, Невский проспект,
            путешествия, Сад Сан Сульпи, Санкт-Петербург]
---

<p class="ru">Путешествие из&nbsp;Риги в&nbsp;Санкт-Петербург на&nbsp;автобусе,
даже с&nbsp;таким названием как Люкс-Экспресс, удовольствие сомнительное. Нас
посадили по-отдельности, каждого у&nbsp;прохода, ноги не&nbsp;выпрямить
и&nbsp;каждые десять минут &laquo;Б-з-з-з...&raquo; кто-нибудь радостно
заваривал себе бесплатный чай или кофе из&nbsp;автомата. Ночью
мы&nbsp;благополучно прошли Тарту и&nbsp;к&nbsp;семи утра прибыли в&nbsp;Нарву.
Сквозь сон мы&nbsp;видели низко стелющийся по&nbsp;ровным полям туман,
а&nbsp;за&nbsp;ним нежный, радостный, наивный и&nbsp;совсем ещё летний
рассвет&mdash;жёлтые, розовые и&nbsp;красные полосы вдоль горизонта, словно
нарисованные лёгкой рукой оптимистичного безбородого художника
на&nbsp;бело-голубом холсте неба.</p>

<!--more-->

<figure class="imagecentre">
  <img src="{{ site.url }}/assets/photo/spb-winter-palace.jpg"
    alt="Зимний дворец">
  <figcaption><cite>
    Зимний дворец, архитектор Бартоломео Франческо Растрелли, 1754&ndash;1762&nbsp;гг.
  </cite></figcaption>
</figure>

<p class="ru">Пограничницы в&nbsp;Ивангороде с&nbsp;серьёзными лицами
и&nbsp;строгим макияжем добрые. Глаза зелёные. &laquo;Чи-ти-та,
чи-ти-та...&raquo; и&nbsp;с&nbsp;новыми штампами в&nbsp;паспорте мы&nbsp;уже
пересекаем реку Нарву, по&nbsp;которой проходит российско&mdash;эстонская
граница. Два часа в&nbsp;полудрёме, и&nbsp;вот мы&nbsp;высаживаемся
на&nbsp;Автовокзале в&nbsp;Культурной столице страны. С&nbsp;сумками наперевес
идём по&nbsp;Лиговскому. Вдоль по&nbsp;улице идут позванивая и&nbsp;дребезжа
потёртыми боками петербургские трамваи. Косятся любопытными взглядами
на&nbsp;нас четверых, медленно бредущих с&nbsp;сумками наперевес.</p>

<p class="ru">Мы&nbsp;пристраиваемся на&nbsp;короткий привал в&nbsp;первом
парке под названием &laquo;Сад Сан Сульпи&raquo;. Дорожки в&nbsp;нём пыльные,
газон давно пошёл проплешинами, на&nbsp;центральной клумбе растут дикие цветы
по&nbsp;пояс, друг напротив друга составлены парковые скамейки на&nbsp;чугунных
ножках, оставшиеся после вчерашних кутежей. Под скамьями мусор, пустые бутылки.
Подростки сидят с&nbsp;гитарой и&nbsp;тихо бренчат дворовые песни. Бабушки,
подстрелив газетку, наслаждаются утренним солнцем. Наворачивает круги местный
ниндзя. Мамочки катят детей к&nbsp;игровой площадке. Дворник развалился
на&nbsp;сиденье служебного грузовичка. За&nbsp;оградой взрывами, похожими
на&nbsp;удары забивающими сваи, &laquo;Ра-бах&raquo; сбивает кегли местный
аматёр в&nbsp;городки. Потом покряхтывая, сверкая голым толстым торсом,
нагибается и&nbsp;расставляет новую горку. Мерно разворачивается субботнее
утро. Во&nbsp;всём тишина, спокойствие. Всё понятно. Пахнет Родиной, сынок.</p>

<p class="ru">Мы&nbsp;на&nbsp;Невском. Людей становится гораздо больше
и&nbsp;через время это уже плотный равномерно идущий поток. В&nbsp;Петербурге
много курящих, в&nbsp;том числе и&nbsp;девушек и&nbsp;женщин. А&nbsp;женщины
ходят в&nbsp;юбках и&nbsp;платьях. Платьев в&nbsp;городе гораздо больше, чем
в&nbsp;Риге или в&nbsp;Западной Европе. В&nbsp;культурной столице много
молодёжи, пенсионеры прячутся. Люди всё больше стройные, улыбчивые, радостные.
Быстро идут, стремительно сворачивают. Изредка режут глаз татуировки
на&nbsp;ногах, на&nbsp;плечах, на&nbsp;шеях. Носятся по&nbsp;тротуарам роллеры
и&nbsp;скейтбордисты, а&nbsp;по&nbsp;дорогам рокеры и&nbsp;дрег-рейсеры.
Глушителей у&nbsp;них нет, но&nbsp;это и&nbsp;нужно&mdash;чтобы громко
разогнаться на&nbsp;мостовой или погазовать, покрасоваться на&nbsp;светофорах.
На&nbsp;Невском людно, дымно, шумно.</p>

<p class="ru">На&nbsp;дворцовой площади кто-то голосом похожим
на&nbsp;Александра Васильева поёт &laquo;Моё сердце остановилось...&raquo;
На&nbsp;секунду подумаешь, неужели это Сплин даёт импровизированный концерт?
Площадь на&nbsp;первый взгляд кажется не&nbsp;такой большой, а&nbsp;Зимний
дворец не&nbsp;таким высоким.</p>
