---
layout:      post
title:      "Санкт-Петербург"
subtitle:   "день третий"
date:        2015-08-24, 22:00:00 +0000
alpha2:      ru
location:   "Санкт-Петербург, Россия"
categories: [Айвазовский, Беллинсгаузен, Кронштадт, Маринеско, мореплаватели,
             Морской собор, Попов, родина, Санкт-Петербург]
---

<p class="ru">Поездка в&nbsp;Кронштадт сегодня возможна только на&nbsp;наземном
транспорте. Из-за строительства дамбы морской транспорт был отменён.
Мы&nbsp;едем на&nbsp;метро до&nbsp;Чёрной речки и&nbsp;пересаживаемся
на&nbsp;маршрутку. Место дуэли знаменитого поэта ныне станция метро.
В&nbsp;изголовье перронов стоит без подписи памятник гению и&nbsp;у&nbsp;его
подножия свежие цветочки. Дамба разрезающая Финский залив впечатляет своей
грандиозной масштабностью. Едем, едем над громадой воды, а&nbsp;конца
и&nbsp;края не&nbsp;видать. У&nbsp;магазина &laquo;Техники и&nbsp;быта&raquo;
нас встречает Алевтина Павловна&mdash;долгожитель Кронштадта
и&nbsp;экскурсовод. Женщина в&nbsp;возрасте, очень начитанная и&nbsp;главное,
трепетно относящаяся к&nbsp;колыбели русского флота. Кронштадт был основан
Петром первым 18&nbsp;мая 1704&nbsp;года. Когда шведские корабли отступили
к&nbsp;своим берегам на&nbsp;зимовку, русский царь приказал строить форты
и&nbsp;укреплять их&nbsp;пушками, чтобы контролировать единственный судоходный
южный фарватер. К&nbsp;весне форты были построены и&nbsp;шведский флот уже
не&nbsp;смог подступить к&nbsp;Петербургу.</p>

<!--more-->

<figure class="image" style="float: left">
  <img src="{{ site.url }}/assets/photo/spb-marine-cathedral.jpg"
    alt="Ставропигиальный Никольский морской собор г. Кронштадта">
  <figcaption><cite>
    <a href="http://kronshtadtsobor.ru">Ставропигиальный Никольский морской
      собор г.&nbsp;Кронштадта</a>, 1903&ndash;1913&nbsp;гг,
      неовизантийский стиль, проект В.&nbsp;А.&nbsp;Косякова
  </cite></figcaption>
</figure>

<p class="ru">Кронштадт город маленький, но&nbsp;историческое значение его
огромно. Любой значимый русский мореплаватель выходил отсюда. Все кругосветные
исследовательские экспедиции начинаются здесь. В&nbsp;городе работал знаменитый
маринист Айвазовский, преподавал и&nbsp;изобретал радио Попов, отправлялся
осваивать Новую Землю Пахтусов и&nbsp;открывать Антарктиду Беллинсгаузен.
В&nbsp;годы блокады Ленинграда при жесточайших условиях и&nbsp;двойной железной
сетке обтягивающей Финский залив несмотря ни&nbsp;на&nbsp;что в&nbsp;море
выходила подлодка капитана Травкина. Фашистами за&nbsp;его голову было
объявлена награда в&nbsp;50&nbsp;тысяч марок. Когда он&nbsp;выходил
в&nbsp;море, неприятели передавали по&nbsp;рации: &laquo;Внимание, внимание!
В&nbsp;море Травкин!&raquo; Отдельного внимания заслуживает подводник
Маринеско. Судя по&nbsp;рассказам, в&nbsp;нём кипела цыганская кровь.
И&nbsp;он&nbsp;отличался отвагой и&nbsp;стилем присущими лишь &laquo;Герою
нашего времени&raquo; Печорину. Лодка под его командованием потопила фашистский
лайнер с&nbsp;восемью тысячами вражеских моряков. В&nbsp;их&nbsp;числе были
семьдесят специально обученных команд противника, направлявшихся
в&nbsp;Германию, чтобы взять на&nbsp;вооружение новейшие подводные лодки для
осады Англии и&nbsp;США.</p>

<p class="ru">До&nbsp;1996 года Кронштадт был закрытым военным городом.
На&nbsp;экскурсии по&nbsp;специальным пропускам могли приехать только
ленинградцы, и&nbsp;только летом. Сегодня Кронштадт&mdash;пригород Петербурга
с&nbsp;сорокатысячным населением. Многие военно-морские школы и&nbsp;училища
были закрыты, а&nbsp;части расформированы. Кронштадт производит умиротворяющее
впечатление. Повсюду обводные каналы, огромные доки, овраги и&nbsp;бассейны для
откачки воды. К&nbsp;сожалению, все они больше не&nbsp;используются ни&nbsp;для
ремонта, ни&nbsp;для строительства судов. Бывшее офицерское минное училище
в&nbsp;котором преподавал Попов расположено в&nbsp;удивительном месте. Здание
в&nbsp;форме буквы &laquo;Г&raquo;. Вокруг него высокие деревья, которые
создают неповторимую атмосферу. Как замечательно было&nbsp;бы восстановить
в&nbsp;его стенах университет! Прекрасен и&nbsp;Петровский
парк&mdash;полудикий, полулесной... По&nbsp;задумке Беллинсгаузена
он&nbsp;засажен деревьями, зацветающими очень ранней весной. Всё для того,
чтобы моряки, уходящие в&nbsp;дальний поход, надолго могли запомнить
неповторимый запах Родины.</p>

<p class="ru">В&nbsp;городе красивый ЗАГС, и&nbsp;многие петербуржцы приезжают
регистрировать брак в&nbsp;Кронштадт. В&nbsp;соседнем сквере, у&nbsp;памятника
Ленину, молодожёны обычно выпивают первый бокал шампанского. Повсюду наивные
невысокие советские цветочки.</p>
