---
layout:      post
title:      "О настоящих женщинах"
date:        2015-10-19, 3:06:00 +0000
alpha2:      gb
location:   "Эдинбург, Великобритания"
categories: [мужественность, женщины]
---

<p class="ru">&mdash;&nbsp;Послушайте, братья,&nbsp;&mdash; вмешался Ситка Чарли, сидевший на&nbsp;ящике со
съестными припасами. &mdash;&nbsp;Вы&nbsp;тут толковали о&nbsp;лишнем жире, который делает
слабыми больших, здоровых мужчин, о&nbsp;мужестве женщин и&nbsp;о&nbsp;любви; и&nbsp;ваши речи
были прекрасны. И&nbsp;вот я&nbsp;вспомнил одного мужчину и&nbsp;одну женщину, которых я
знавал в&nbsp;те&nbsp;времена, когда этот край был молод, а&nbsp;костры редки, как звезды
на&nbsp;небе. Мужчина был большой и&nbsp;здоровый, но&nbsp;должно быть, ему мешало&nbsp;то,
что ты&nbsp;назвал лишним жиром. Женщина была маленькая, но&nbsp;сердце у&nbsp;нее было
большое, больше бычьего сердца мужчины. И&nbsp;у&nbsp;нее было много мужества. Мы
шли к&nbsp;Соленой Воде, дорога была трудная, а&nbsp;нашими спутниками были жестокий
мороз, глубокие снега и&nbsp;мучительный голод. Но&nbsp;эта женщина любила своего
мужа могучей любовью&nbsp;&mdash; только так можно назвать такую любовь.</p>

<!--more-->

<p class="ru">...</p>

<p class="ru">Забытые картины детства проплывали передо мной. Я&nbsp;сидел у&nbsp;кипящих
котлов на&nbsp;потлаче, я&nbsp;пел песни и&nbsp;плясал под пение мужчин и&nbsp;девушек, под
звуки барабана из&nbsp;моржовой кожи, а&nbsp;Пассук держала меня за&nbsp;руку и&nbsp;шла все
время рядом со&nbsp;мной. Когда я&nbsp;засыпал, она будила меня. Когда я&nbsp;спотыкался
и&nbsp;падал, она поднимала меня. Когда я&nbsp;забредал в&nbsp;глубокие снега, она
выводила меня на&nbsp;дорогу.</p>

<figcaption align="right"><cite>Мужество женщины, Джек Лондон (1901)</cite></figcaption>
