---
layout:     post
title:     "Санкт-Петербург"
subtitle:  "День пятый"
date:       2015-10-08, 14:41:00 +0000
alpha2:     gb
location:  "Манчестер, Великобритания"
categories: [Буквоед, Исаакиевский собор, колоннада, Медный всадник, пассаж, Пушкин, свадьба]
---

<p class="ru">Утром мы&nbsp;прошли по&nbsp;маленьким улочкам параллельным
Невскому (через несколько дней устаёшь от&nbsp;беспокойной толпы),
по&nbsp;мостам через каналы, над речушками, пестрящими пароходиками
и&nbsp;катерами. Пароходы по&nbsp;утрам моют, драют, готовят к&nbsp;дневным,
вечерним круизам. С&nbsp;палуб не&nbsp;в&nbsp;меру разудало разносится
залихватская ритмичная музыка, и&nbsp;бегают полуодетые члены экипажа.</p>

<!--more-->

<figure class="image" style="float: left">
  <img src="{{ site.url }}/assets/photo/spb-bronze-horseman.jpg" alt="Медный всадник">
  <figcaption><cite>
    Медный всадник, скульптор Этьен Фальконе, 1768&ndash;1770&nbsp;гг.
  </cite></figcaption>
</figure>

<p class="ru">Так добрели мы&nbsp;до&nbsp;громады Исаакиевского собора.
Теряешься перед этими колоннами холодного темно-бордового мрамора. Храм был
закрыт, и&nbsp;мы&nbsp;не&nbsp;увидели знаменитые мозаики и&nbsp;маятник.
Взбежав двести с&nbsp;лишним ступенек мы&nbsp;очутились на&nbsp;колоннаде перед
чудесной панорамой Санкт-Петербурга. Вездесущий торжественный голос
из&nbsp;советских новостей, предупреждающий о&nbsp;закрывающихся дверях
в&nbsp;метро, рассказал нам о&nbsp;главных объектах, видимых с&nbsp;высоты
соборной колоннады. Рассказ начался с&nbsp;главного вида на&nbsp;север,
со&nbsp;стрелки Васильевского острова и&nbsp;золочёного шпиля Петропавловского
собора, стен крепости; плавно перешёл к&nbsp;Университетской набережной,
к&nbsp;новым зданиям Академии Наук и&nbsp;Академии Художеств. Всё никак
не&nbsp;укладывается в&nbsp;голове, что именно из&nbsp;этого города вышло
столько влиятельных и&nbsp;известных на&nbsp;всю страну и&nbsp;на&nbsp;весь
русский мир людей, что этот город так повлиял на&nbsp;историю России, заложил
крепкий, надёжный фундамент на&nbsp;несколько столетий вперёд. На&nbsp;востоке
запомнились миниатюрные башенки Смольного собора и&nbsp;ресторан на&nbsp;крыше,
с&nbsp;чёрными трепещущими на&nbsp;солнце вывесками.</p>

<p class="ru">Осмотрев колоннаду и&nbsp;вдоволь нафотографировавшись,
мы&nbsp;спустились к&nbsp;знаменитому памятнику Петру первому&mdash;Медному
всаднику. Даже утром рабочего дня вокруг собираются заграничные туристы
и&nbsp;делают праздничные снимки молодожёны. Петербург&mdash;город молодых,
город свадеб. Из&nbsp;праздничных нарядов нынче в&nbsp;моде яркие синие костюмы
и&nbsp;кремовые платья цвета шампанского. За&nbsp;несколько минут
в&nbsp;Александровском саду мы&nbsp;заметили целых пять пар. Впору устраивать
конкурс на&nbsp;самую красивую из&nbsp;невест. Только мысль о&nbsp;свадьбе
сначала обжигает огнём, а&nbsp;потом заставляет сжиматься все внутренности,
а&nbsp;в&nbsp;сердце еле-слышный глухой звук, словно бросаешь камень
в&nbsp;пустой влажный колодец&mdash;он летит, бьёт о&nbsp;стены и&nbsp;через
время падает тихим &laquo;Шлёп&raquo;.</p>

<p class="ru">Обедали мы&nbsp;в&nbsp;подвальном ресторанчике &laquo;Ять&raquo;
на&nbsp;Мойке. Порции здесь маленькие, но&nbsp;изысканные, вкусные. Интерьер
красивый и&nbsp;вежливые официанты. Но&nbsp;больше всех нам запомнился Иван-чай
в&nbsp;заварнике&mdash;пряный, банный, насыщенный.</p>

<p class="ru">Поздний полдень мы&nbsp;провели на&nbsp;экскурсии
в&nbsp;квартире-музее Пушкина. Нам попался великолепный экскурсовод. Женщина
рассказывала нам о&nbsp;поэте без тени напыщенности и&nbsp;пафоса, о&nbsp;том,
как он&nbsp;увидал Наталью Гончарову совсем ещё девочкой на&nbsp;детском балу,
о&nbsp;неудачном первом предложении руки и&nbsp;сердца, о&nbsp;его письмах
и&nbsp;ценах на&nbsp;квартиру. Конечно, говорила она и&nbsp;о&nbsp;дуэли
и&nbsp;о&nbsp;смерти. Неожиданно, но&nbsp;посетить последнюю квартиру поэта
пришла и&nbsp;молодёжь, коротко стриженная, в&nbsp;шортах и&nbsp;кедах.</p>

<p class="ru">А&nbsp;вечером пошёл наш первый петербургский дождь.
Мы&nbsp;скрывались от&nbsp;него в&nbsp;Пассаже, выбирая яркие капли серёг
у&nbsp;ювелирных лотков. А&nbsp;потом в&nbsp;Буквоеде. Дневник Николая Второго
мне было не&nbsp;найти. Зато мы&nbsp;купили &laquo;Игрока&raquo; Достоевского,
томик &laquo;Избранного&raquo; Высоцкого. А&nbsp;на&nbsp;полочках у&nbsp;входа
я&nbsp;наткнулся на&nbsp;знакомые открытки и&nbsp;магниты с&nbsp;панорамой
Исаакиевского собора. И&nbsp;сердце снова сжалось, съёжилось в&nbsp;комок, как
загнанный в&nbsp;угол кот перед неизбежной битвой.</p>
