---
layout:      post
title:      "Natascha's Anruf"
date:        2015-08-06, 11:38:00 +0000
alpha2:      gb
location:   "Манчестер, Великобритания"
categories: [Erich Maria Remarque, Robert Ross, Schatten im Paradies]
---

<p class="ru">Melikow winkte von der Theke her. &raquo;Telefon, Robert.&laquo;</p>
<p class="ru">&raquo;Wer?&laquo;&mdash;&raquo;Natascha.&laquo;&mdash;Ich hob den H&ouml;hrer ab. &raquo;Wo&nbsp;bist&nbsp;du?&laquo; fragte Natascha.</p>
<p class="ru">&raquo;Auf Silvers&rsquo; Party.&laquo;</p>
<p class="ru">&raquo;Unsinn! Du&nbsp;trinkst mit Melikow Wodka!&laquo;</p>
<p class="ru">&raquo;Ich liege vor einem Pl&uuml;schsessel auf den Knien, bete dich an&nbsp;und verfluchte mein Schicksal. Ich bin zerschmettert.&laquo;</p>
<p class="ru">Sie lachte. &raquo;Komm zur&uuml;ck, Robert.&laquo;</p>
<p class="ru">&raquo;Mit Waffen?&laquo;</p>
<p class="ru">&raquo;Ohne Waffen, Du&nbsp;Dummkopf! Du&nbsp;darfst mich nicht allein lassen, das ist alles.&laquo;</p>

<figcaption align="right">
  <cite>Schatten im Paradies, Erich Maria Remarque&nbsp;(1971)</cite>
</figcaption>
