---
layout:      post
title:      "Таллин"
date:        2015-01-01, 22:34:00 +0000
alpha2:      ee
location:   "Хаабнееме, Эстония"
categories: [Новый год, путешествия, Таллин]
---

<p class="ru">Таллин спит и&nbsp;медленно поворачивается во&nbsp;сне.
Он&nbsp;ещё не&nbsp;отошёл и&nbsp;не&nbsp;оправился от&nbsp;праздничной
новогодней ночи. Лишь изредка проскользнут голубые трамваи или компании
молодёжи возвращающиеся из&nbsp;гостей. Город пуст. Город тих. И&nbsp;кажется,
если прислушаться, можно различить жужжание разноцветных реклам. Ни&nbsp;снега,
ни&nbsp;привычной прибалтийской слякоти на&nbsp;улицах почти нет.
А&nbsp;в&nbsp;окнах часто часто горят огоньки. Эстонцы проводят первый вечер
года в&nbsp;домашнем кругу, вероятно у&nbsp;телевизоров. По&nbsp;лицам
и&nbsp;по&nbsp;одежде ещё можно определить русских. А&nbsp;на&nbsp;остановках
грустно и&nbsp;ожесточённо ждут автобуса одинокие герои будущих рассказов.</p>

<!--more-->

<p class="ru">На&nbsp;новом месте хорошо. В&nbsp;теле бодрость
и&nbsp;оживление. Нужно идти, двигаться, определять направление, решать
и&nbsp;решаться. В&nbsp;движении мужская работа. Вперёд и&nbsp;только вперёд.
А&nbsp;в&nbsp;воздухе запах зимы и&nbsp;растаявшего снега.</p>
