---
layout:      post
title:      "Zurückgehen"
date:        2015-08-07, 18:36:00 +0000
alpha2:      gb
location:   "Манчестер, Великобритания"
categories: [Erich Maria Remarque, Robert Ross, Schatten im Paradies]
---

<p class="ru">&raquo;Wo&nbsp;willst du&nbsp;schon hin? Zur&uuml;ck, ich wei&szlig;&nbsp;es.&laquo;</p>
<p class="ru">&raquo;Aber Natascha, ich bin ja&nbsp;noch nicht einmal richtig&nbsp;da.
Wer denkt da&nbsp;an&nbsp;zur&uuml;ckgehen?&laquo;</p>
<p class="ru">&raquo;Du. Du&nbsp;denkst an&nbsp;nichts anderes.&laquo;</p>
<p class="ru">Ich sch&uuml;ttelte den Kopf. &raquo;Ich denke nicht weiter als bis
morgen. Es&nbsp;wird Herbst werden und Winter und Sommer und wieder Herbst, und wir
werden lachen und weiter zusammen sein.&laquo;</p>
<p class="ru">Sie lehnte sich an&nbsp;mich. &raquo;Du&nbsp;darfst mich nicht verlassen!
Ich kann nicht allein sein. Ich bin keine heroische Frau. Und ich habe keinen
heroischen Charakter.&laquo;</p>

<figcaption align="right">
  <cite>Schatten im Paradies, Erich Maria Remarque&nbsp;(1971)</cite>
</figcaption>
