---
layout:      post
title:      "Санкт-Петербург"
subtitle:   "день четвёртый"
date:        2015-08-25, 22:00:00 +0000
alpha2:      ru
location:   "Санкт-Петербург, Россия"
categories: [Владимирский собор, дворец, заутреня, Мария Фёдоровна, Мышкин,
             Павел I, Павловск, природа, Санкт-Петербург, Славянка]
---

<p class="ru">Заутреня во&nbsp;Владимирском соборе начинается в&nbsp;девять.
Глухой, звучный звон колоколов зовёт прихожан на&nbsp;молитву. За&nbsp;большими
мерными ударами крупных кампанов вступают, рвутся наперебой частые голоса
их&nbsp;младших братьев. Хор певчих удивительно красив. Всюду горят свечи
и&nbsp;наполняют зал светом, теплом. На&nbsp;стенах и&nbsp;в&nbsp;середине зала
на&nbsp;постаментах развешены и&nbsp;расставлены старинные иконы. Службу ведут
два священника: один в&nbsp;торжественной белой ризе и&nbsp;шапочке
с&nbsp;золотым узором, а&nbsp;другой в&nbsp;простом белом одеянии.
Во&nbsp;время службы им&nbsp;помогает молодой семинарист. Он&nbsp;выносит
Библию и&nbsp;величаво открывает ворота ведущие к&nbsp;алтарю. Из&nbsp;прихожан
в&nbsp;основном женщины среднего и&nbsp;пожилого возраста в&nbsp;платочках.
Мужчин мало. Одни новички, гости и&nbsp;туристы вроде меня. Интересно, что
в&nbsp;православном храме службу стоят, и&nbsp;скамеек, как в&nbsp;католических
соборах, здесь нет. Текста молитвы ни&nbsp;у&nbsp;кого перед глазами нет. Люди
или знают его наизусть или только крестятся в&nbsp;нужный момент, следуя
за&nbsp;священником. Слова поются густым басом и&nbsp;разобрать
их&nbsp;не&nbsp;знающему человеку трудно. Слышишь лишь &laquo;Господу
помолимся&raquo; и&nbsp;&laquo;Отче наш&raquo;.</p>

<!--more-->

<p class="ru">Бабушки умелыми руками гасят и&nbsp;переставляют свечи, вытирают
стёкла икон влажной тряпочкой, расстилают ковры, на&nbsp;которые ступают
священники, и&nbsp;готовят утреннее угощение&mdash;комочки хлеба, завёрнутые
в&nbsp;светлый пергамент. Старший священник мерно бросает в&nbsp;разные стороны
кадило на&nbsp;цепочке, и&nbsp;по&nbsp;зданию расходится чудный запах дыма.
Во&nbsp;всех их&nbsp;движениях размеренность, спокойствие, благодать, которые
передаются и&nbsp;молящимся.</p>

<figure class="imagecentre">
  <img src="{{ site.url }}/assets/photo/spb-pavlovsk.jpg" alt="Павловск">
  <figcaption><cite>
     Павловск
  </cite></figcaption>
</figure>

<p class="ru">Сегодня после завтрака решено было отправиться в&nbsp;Павловск.
Поезд от&nbsp;Купчино до&nbsp;Павловска идёт всего лишь двадцать минут. Билеты
проверяют трижды: сканером на&nbsp;входе и&nbsp;выходе и&nbsp;в&nbsp;самой
электричке бабушкой-контроллёром. Поезда ещё рижские, просторные. Только
на&nbsp;сидениях нет никакой мягкой обшивки. Это крашеные
в&nbsp;тёмно-коричневый цвет деревянные панели. Платформы станций
в&nbsp;Петербурге подняты высоко и&nbsp;для подъёма и&nbsp;спуска нет
необходимости взбираться по&nbsp;ступеням. Очень удобно для пенсионеров.</p>

<p class="ru">По&nbsp;форме здание железнодорожной станции в&nbsp;Павловске
напоминает Адмиралтейство. Такой&nbsp;же высокий золочённый шпиль устремлённый
в&nbsp;небо и&nbsp;колоннада у&nbsp;основной башни. Павловский дворец скрыт
в&nbsp;недрах парка. Парк глухой, дикий. Он&nbsp;больше похож на&nbsp;лес.
Только вместо тропинок расходятся в&nbsp;разные стороны широкие утрамбованные
дороги. Вдоль дорог вырыты канавы для стока воды. Даже в&nbsp;самый жаркий
солнечный день здесь прохладно и&nbsp;тихо. Сколько&nbsp;бы ни&nbsp;прибыло
гостей все они растворяются на&nbsp;огромных угодьях, и&nbsp;через время
ты&nbsp;уже идешь почти один.</p>

<p class="ru">Парк расположен в&nbsp;чудесном месте. В&nbsp;низине течёт
узенькая извилистая речка Славянка. Вдоль берегов растёт лиственный лес.
Кое-где выступают мохнатые лапы сосен. Через реку перекинуто множество мостов.
Всё больше железных с&nbsp;витыми перилами и&nbsp;каскадом под ними. Реже
попадаются и&nbsp;величавые каменные. Рассказывают, что большую часть мостов
взорвали при отступлении фашисты. Был заминирован и&nbsp;павловский дворец.
Но&nbsp;его вовремя удалось спасти. Всюду зелёные скамейки. Вот-вот наткнёшься
на&nbsp;князя Мышкина, ждущего Аглаю Ивановну. Вот он&nbsp;в&nbsp;светлом
костюме клюёт носом&mdash;засыпает. А&nbsp;если повезёт, то&nbsp;раздастся
музыка из&nbsp;летнего павильона, и&nbsp;промелькнёт сама Настасья Павловна
в&nbsp;высокой белой коляске.</p>

<p class="ru">Вверху на&nbsp;холме стоит красавец-дворец. Строился
он&nbsp;на&nbsp;деньги Екатерины Второй для своих детей&mdash;Павла Первого
и&nbsp;его жены Марии Фёдоровны. Всюду роскошь, но&nbsp;она поддельная.
То&nbsp;искусственный мрамор, то&nbsp;малахит. То&nbsp;стилизация под спальню
Людовика XIV, то&nbsp;под древне-греческий зал. Некоторые потолки разрисованы
куполами, чтобы придать комнатам большую высоту, а&nbsp;стены арками&mdash;для
чувства глубины.</p>

<p class="ru">Павловск великолепен своей чисто русской природой, она
постаралась здесь лучше всякого архитектора. Это идеальное место для прогулок
вдвоём или семьёй, пикников, катаний на&nbsp;лодках или велосипедах.
Павловск&mdash;душевный город.</p>
