---
layout:      post
title:      "Лондон. Влюблённые"
date:        2015-09-14, 10:11:00 +0000
alpha2:      gb
location:   "Манчестер, Великобритания"
categories: [влюблённые, Лондон, любовь, Пастернак, счастье]
---

<p class="ru">Лондон, словно бурлящий весенний поток, подхватил нас, как два
листика, закружил в&nbsp;пучине и&nbsp;понёс через толпу, через кишащие улицы,
осветил жёлтым тёплым светом фонарей и&nbsp;рекламных щитов, прокатил
на&nbsp;верхней палубе автобуса и&nbsp;усадил в&nbsp;мягкие кресла новеньких
вагонов метро. В&nbsp;этот раз мы&nbsp;бродили по&nbsp;рынкам, базарам
и&nbsp;ярмаркам Ноттинг Хилла и&nbsp;Брик Лейн. Здесь есть всё, что может
только пожелать душа самого требовательного путешественника: от&nbsp;мягкого,
тающего в&nbsp;руках, свежего шоколада, до&nbsp;антикварных изделий
из&nbsp;серебра. На&nbsp;лотках продаются старинные типографские печати
и&nbsp;изысканные объёмные открытки. По&nbsp;углам расположились торговцы
военной атрибутикой, зимними шапками на&nbsp;любой вкус и&nbsp;модными нынче
односкоростными велосипедами, выкрашенными во&nbsp;все цвета радуги. Новшеством
этого сезона стали небольшие ярмарки уличной еды. Здесь можно найти ямайский
рис с&nbsp;томатным соусом, и&nbsp;корейское барбекю, и&nbsp;Средиземноморский
фалафель. За&nbsp;эти дни мы&nbsp;не&nbsp;успели проведать еврейские районы
Хэмпстед и&nbsp;Голдерс Грин, не&nbsp;полакомились бубликами, не&nbsp;посетили
Национальную Галерею, не&nbsp;прогулялись вдоль Темзы и&nbsp;не&nbsp;пробежали
обычные десять по&nbsp;Кенсингтонским садам. Но&nbsp;отпуск удался,
мы&nbsp;много сидели в&nbsp;кафе, долго ходили, открыли Парк Холланда
и&nbsp;памятник князю Владимиру, обратившему Украину в&nbsp;Христианство,
видели частные сады в&nbsp;Ноттинг Хилле, японский садик, и&nbsp;индийскую
свадьбу.</p>

<!--more-->

<p class="ru">Лондон&mdash;город любви. &mdash;Этот поезд довезёт нас
до&nbsp;Юстона? &mdash;&nbsp;улыбаясь, спрашивает молодой крепкий индус.
&mdash;Да, садитесь! Он&nbsp;протаскивает за&nbsp;собой по&nbsp;проходу два
чемодана и&nbsp;усаживается на&nbsp;единственное свободное место. Широкий лоб
и&nbsp;зачёсанные назад короткие, чёрного угля волосы, развёрнутые плечи,
белозубая улыбка и&nbsp;расстёгнутый синий жакет. Она присаживается
на&nbsp;стоящий перед ним чемодан. Хрупкие, детские ещё ножки в&nbsp;белых
джинсах и&nbsp;кожаная коричневая куртка. Оба они молоды, необычайно красивы,
сильны. Глаза парня блестят словно глаза молодого льва. А&nbsp;её&nbsp;взгляд
обращён внутрь, в&nbsp;себя. Но&nbsp;мысли все о&nbsp;нём
и&nbsp;о&nbsp;предстоящем отъезде. Они не&nbsp;говорят, слова
им&nbsp;ни&nbsp;к&nbsp;чему, им&nbsp;и&nbsp;так всё понятно. Только сплетаются
друг с&nbsp;другом пальцы с&nbsp;жемчужными ноготками, ладони, плечи, волосы,
светящиеся взгляды. Слепые, не&nbsp;видящие ничего вокруг.
Их&nbsp;не&nbsp;коснулась ещё жизнь, ледяной холод измены и&nbsp;смертельный
яд&nbsp;предательства. &laquo;Если только можно, Авва Отче, чашу эту мимо
пронеси.&raquo;</p>

<p class="ru">Смотришь на&nbsp;них и&nbsp;изо всей силы желаешь
им&nbsp;счастья. От&nbsp;всей души, из&nbsp;самой затаённой глубины сердца
желаешь&nbsp;им, чтобы у&nbsp;них всё получилось, чтобы они выстояли, чтобы
не&nbsp;разбились о&nbsp;незаметно торчащие айсберги, чтобы чья-то сильная рука
уберегла&nbsp;их, провела по&nbsp;дну моря и&nbsp;переступая, качаясь,
балансируя над пропастью, на&nbsp;волоске от&nbsp;смерти, вывела к&nbsp;свету,
упасла от&nbsp;тьмы и&nbsp;отчаяния. Будьте счастливы, мои дорогие! Да,
здравствует безрассудная, всепоглощающая, всеобъемлющая, умиротворяющая
и&nbsp;всепрощающая любовь! Смотришь на&nbsp;них и&nbsp;думаешь, вот так нужно
жениться! Когда чувствуешь, как сейчас, когда ещё молод, полон сил
и&nbsp;восторга, когда уверен в&nbsp;жизни и&nbsp;крепко ещё сидят,
не&nbsp;потускнели и&nbsp;не&nbsp;разбились розовые очки с&nbsp;огромными
стёклами. Любите друг друга, берегите друг друга, заботьтесь друг о&nbsp;друге,
учите друг друга, служите друг другу, поддерживайте друг друга
и&nbsp;не&nbsp;дайте упасть, ни&nbsp;за&nbsp;что не&nbsp;дайте упасть. Будьте
счастливы!</p>
