---
layout:      post
title:      "Ты и я"
date:        2016-12-01 23:59:00 +0000
alpha2:      gb
location:   "Манчестер, Великобритания"
categories: [дневник, любовь, жизнь]
---

<p class="ru">Они в&nbsp;первом ряду. Но&nbsp;он&nbsp;их&nbsp;не&nbsp;замечает. В&nbsp;зале много людей. Молодёжь. Отдыхающие. Студенты. Случайные гости. И&nbsp;все такие счастливые, загорелые, здоровые, красивые. С&nbsp;румянцем на&nbsp;щеках. Худые и&nbsp;полные, улыбчивые и&nbsp;скромные. Лето. И&nbsp;все такие несчастные. У&nbsp;каждого уже своё горе. Зелёное платье. Море. У&nbsp;него шевелюра, волосы светлые, неаккуратные. На&nbsp;запястье ремешки, фенечки. На&nbsp;пальцах кольца. Гитара совсем простая и&nbsp;закручиваются проволочки струн. Кружат, как наши души. В&nbsp;зале темно. Открытые плечи. Девочки в&nbsp;первом ряду стесняются. Смотрят в&nbsp;сторону, и&nbsp;иногда потупив взгляд в&nbsp;пол. Но&nbsp;больше в&nbsp;себя. Хочется плакать, но&nbsp;нельзя. Хочется кричать, но&nbsp;крик застревает в&nbsp;груди. Получается хрип. Он&nbsp;поёт о&nbsp;том, что не&nbsp;выплакать и&nbsp;не&nbsp;выкрикнуть. О&nbsp;боли, о&nbsp;жизни, о&nbsp;храбрости. Обо всём, о&nbsp;чём забываешь, глядя на&nbsp;твою фотографию. Стержень не&nbsp;переломился, от&nbsp;рубцов, и&nbsp;от&nbsp;ран, и&nbsp;от&nbsp;холода он&nbsp;стал только крепче, железнее. Я&nbsp;выйду из&nbsp;этого круга, я&nbsp;сойду на&nbsp;следующей остановке. Я&nbsp;выйду первым человеком из&nbsp;моря на&nbsp;сушу. И&nbsp;на&nbsp;крепком торсе и&nbsp;на&nbsp;бороде заблестят капельки. Я&nbsp;буду один. Я&nbsp;буду молчать. Я&nbsp;буду. А&nbsp;вы&nbsp;слушайте. Там есть и&nbsp;про Бога, и&nbsp;про любовь, и&nbsp;про печаль.</p>

<figure class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/kGixxSTA8GQ" frameborder="0" allowfullscreen>
  </iframe>
</figure>
