---
layout:      post
title:      "Фруктовый день"
subtitle:   "часть третья"
date:        2016-09-11 14:12:00 +0000
alpha2:      gb
location:   "Манчестер, Великобритания"
categories: [Аюрведа, диета, здоровье, йогурт, пост, Торсунов, фруктовый день]
---

<p class="ru">Сегодня я&nbsp;предлагаю поговорить о&nbsp;продуктах, при помощи которых можно поститься. Но&nbsp;прежде чем мы&nbsp;начнём разговор, мне хочется сказать о&nbsp;пользе и&nbsp;возможном вреде поста для организма. Нужно знать, что пост, как метод очищения и&nbsp;укрепления духа и&nbsp;тела, подходит не&nbsp;всем людям. Попробуйте поститься, и&nbsp;если после нескольких раз, вы&nbsp;почувствуете слабость и&nbsp;головную боль&mdash;значит пост вашему организму не&nbsp;подходит, и&nbsp;вам лучше обратиться к&nbsp;другим средствам очищения, таким как дыхательные упражнения, йога, тай-чи, цигун, закаливание, походы в&nbsp;горы, прогулки по&nbsp;лесу и&nbsp;взморью. При сильном желании продолжать посты, можно использовать более лояльный метод поста, популярный во&nbsp;многих семьях Индии. В&nbsp;течение дня есть фрукты и&nbsp;йогурт, а&nbsp;завершать день лёгким вегетарианским ужином. Можно поститься на&nbsp;нескольких продуктах, или поститься в&nbsp;только утренней половине дня. Главное&mdash;почувствовать и&nbsp;понять свой организм.</p>

<!--more-->

<p class="ru">В&nbsp;этой статье я&nbsp;передаю вам знание древнего индийского учения Аюрведы. В&nbsp;этом знании я&nbsp;далеко не&nbsp;эксперт, но&nbsp;стараюсь использовать его в&nbsp;своей жизни в&nbsp;последние несколько лет. Это знание я&nbsp;получил от&nbsp;<a href="http://torsunov.ru/lecture">Олега Генадьевича Торсунова</a>. Более подробно о&nbsp;постах, продуктах и&nbsp;влиянии дней недели вы&nbsp;можете услышать в&nbsp;его <a href="http://torsunov.ru/lecture/ceminar-ozdorovitelnye-praktiki-soglasno-vedicheskomu-znaniyu-prochitannyy-v-ramkah-mezhdunarodnogo-festivalya-ozdorovitelnye-tehnologii-mira-chelyabinsk-noyabr-2013">лекции</a>, прочитанной в&nbsp;ноябре 2013-го года в&nbsp;Челябинске. Я&nbsp;писал эти заметки для одного человека, но&nbsp;возможно они пригодятся и&nbsp;вам. Сейчас мы&nbsp;разберём разные виды постов и&nbsp;их&nbsp;влияние на&nbsp;организм:</p>

<dl>
<dt>Сухой пост</dt>
<dd>Это самый строгий пост, в&nbsp;который нельзя ни&nbsp;есть, ни&nbsp;пить. Лучше приходить к&nbsp;нему постепенно. Подготовить организм к&nbsp;такому посту можно при помощи более мягких постов с&nbsp;использованием фруктов и&nbsp;йогурта, или сухофруктов и&nbsp;воды. Сухой пост предназначен для повышения силы разума. Он&nbsp;укрепляет силу духа и&nbsp;развивает силу воли. Такой пост даёт возможность исправить вредные привычки и&nbsp;совсем избавиться от&nbsp;них. Он&nbsp;помогает преодолеть трудности жизни и&nbsp;непреодолимые препятствия, такие как увольнение с&nbsp;работы.</dd>

<dt>Пост на&nbsp;воде</dt>
<dd>Во&nbsp;время этого поста можно пить воду, но&nbsp;есть ничего нельзя. Такой пост лечит ум&nbsp;и&nbsp;приводит психику к&nbsp;гармонии. Пост на&nbsp;воде приносит спокойствие и&nbsp;устойчивость. После такого поста человек лишается гневливости и&nbsp;обидчивости. Этот пост улучшает обмен веществ и&nbsp;помогает при дезадаптации во&nbsp;время смены сезона, а&nbsp;также облегчает переход в&nbsp;другой сезон. Пост на&nbsp;воде способствует улучшению отношений и&nbsp;даёт гармонию в&nbsp;семейной жизни.</dd>

<dt>Пост на&nbsp;монопродукте</dt>
<dd>При таком посте в&nbsp;течение всего дня в&nbsp;пищу употребляется только один или два овоща. Лучше всего поститься на&nbsp;тех овощах, вкус которых вам нравится. В&nbsp;овощах много праны (энергии). Овощи растут в&nbsp;ночное время и&nbsp;находятся под влиянием Луны. Поэтому они опускают энергию вниз и&nbsp;улучшают гормональные функции организма, способствуют излечению бесплодия и&nbsp;плодотворно влияют на&nbsp;работу почек и&nbsp;кишечника. Овощи, растущие на&nbsp;земле, такие как огурец, кабачок или патиссон, успокаивают психику и&nbsp;снимают напряжение. Корнеплоды, корневые овощи, такие как свекла, морковь и&nbsp;картофель опускают энергию вниз и&nbsp;увеличивают количество огня в&nbsp;организме. Они улучшают пищеварение и&nbsp;способствуют излечению бесплодия.</dd>

<dt>Пост на&nbsp;сырой свекле</dt>
<dd>Для этого поста готовят морковно&mdash;свекольный сок (2&nbsp;части моркови и&nbsp;1&nbsp;часть свеклы). Этот сок пьют до&nbsp;1&nbsp;часа дня, а&nbsp;после обеда в&nbsp;пищу употребляют только варёную свеклу. Свекольный пост сильно влияет на&nbsp;жировой обмен и&nbsp;способствует похудению. Для наилучшего эффекта свекольный пост стоит комбинировать с&nbsp;физической нагрузкой. Только спортом лучше заниматься в&nbsp;другие дни недели. Пост сам по&nbsp;себе уже является сильной нагрузкой и&nbsp;испытанием для всего организма.</dd>

<dt>Пост на&nbsp;варёных овощах</dt>
<dd>Данный пост не&nbsp;очищает, а&nbsp;питает. Пост на&nbsp;варёных овощах восстанавливает здоровье при хроническом заболевании или после тяжёлых послеоперационных состояний. Он&nbsp;борется с&nbsp;общей слабостью и&nbsp;даёт жизненные силы.</dd>

<dt>Пост на&nbsp;зелени</dt>
<dd>В&nbsp;такой пост делают сок из&nbsp;свежевыжатой петрушки, шпината или другой зелени. Перед употреблением мякоть разбавляют с&nbsp;водой в&nbsp;пропорции 1/3 (1&nbsp;часть зелени, 3&nbsp;части воды). Зелёный пост оказывает сильное положительное влияние на&nbsp;обмен веществ.</dd>

<dt>Пост на&nbsp;варёной пшенице</dt>
<dd>Во&nbsp;время пшеничного поста, человек ест варёную пшеницу и&nbsp;запивает водой. Варёные зёрна нужно разжёвывать до&nbsp;полного растворения во&nbsp;рту. Этот пост мощно влияет на&nbsp;белковый обмен, увеличивает силы организма и&nbsp;повышает работоспособность.</dd>

<dt>Пост на&nbsp;варёной гречихе</dt>
<dd>Также как и&nbsp;при пшеничном посте, гречиху нужно разжёвывать до&nbsp;полного растворения во&nbsp;рту и&nbsp;запивать водой. Этот пост приносит успокоение и&nbsp;снимает психическое напряжение.</dd>

<dt>Пост на&nbsp;ягодах</dt>
<dd>Во&nbsp;время этого поста кушают свежие ягоды. Для поста лучше выбирать ягоды, которые вам по&nbsp;вкусу и&nbsp;которые растут в&nbsp;вашем регионе. Этот пост наиболее эффективен в&nbsp;летнее время, когда светит солнце. Этот пост нормализует углеводный обмен. Ягоды несут сильное успокоительное действие и&nbsp;положительно влияют на&nbsp;эмоции человека. Они снимают эмоциональное напряжение и&nbsp;убирают обидчивость, раздражительность и&nbsp;гневливость. Человек успокаивается. Ягодный пост снимает сильное психическое напряжение после тяжёлых событий. Также ягоды оказывают хорошее влияние на&nbsp;жировой обмен и&nbsp;способствуют похудению.</dd>

<dt>Пост на&nbsp;орехах или бобовых</dt>
<dd>В&nbsp;этот день в&nbsp;пищу употребляются только орехи или только бобовые культуры. Перед едой орехи лучше обжарить, а&nbsp;бобы сварить. Ореховый пост даёт физическую силу и&nbsp;способность выживать.</dd>

<dt>Пост на&nbsp;молоке</dt>
<dd>В&nbsp;течение всего дня человек пьёт свежее молоко, разбавленное с&nbsp;водой. Молочный пост очень сильно очищает разум. Но&nbsp;на&nbsp;людях неподготовленных может сказаться отрицательно. Такой пост рекомендуется только для духовно-развитых личностей.</dd>

<dt>Пост на&nbsp;кисломолочных продуктах</dt>
<dd>Во&nbsp;время такого поста человек пьёт кефир или ест йогурт. Этот пост улучшает обмен веществ, а&nbsp;также очищает организм от&nbsp;шлаков.</dd>

<dt>Пост на&nbsp;фруктах</dt>
<dd>Во&nbsp;время фруктового дня мы&nbsp;кушаем фрукты и&nbsp;запиваем их&nbsp;водой, кефиром, ряженкой, пахтой или йогуртом. Подходящие фрукты лучше выбирать по&nbsp;внутреннему желанию. Светлые и&nbsp;солнечные фрукты дают бодрость, оптимизм и&nbsp;сильный заряд энергии. Фруктовый день излечит депрессию и&nbsp;пессимизм. Фрукты помогают преодолеть психические трудности. Этот пост увеличивает положительную энергию (прану) в&nbsp;организме. Со&nbsp;временем и&nbsp;опытом вы&nbsp;можете перейти к&nbsp;посту на&nbsp;каком-нибудь одном фрукте. Потому что действие поста на&nbsp;монопродукте считается сильнее. При выборе фруктов, постарайтесь не&nbsp;смешивать киви, дыню и&nbsp;арбуз с&nbsp;другими фруктами.</dd>

<dt>Пост на&nbsp;бахчёвых</dt>
<dd>В&nbsp;этот день человек кушает только дыню или арбуз. Данный пост очищает кишечник и&nbsp;почки от&nbsp;камней и&nbsp;шлаков. Пост на&nbsp;бахчёвых расслабляет и&nbsp;снимает психическое напряжение.</dd>

<dt>Пост на&nbsp;сухофруктах</dt>
<dd>Во&nbsp;время этого поста кушают сухофрукты и&nbsp;запивают их&nbsp;водой. Сухофрукты оказывают такое&nbsp;же, только более мягкое, положительное влияние на&nbsp;организм как и&nbsp;свежие фрукты. Они расслабляют ум&nbsp;и&nbsp;несут в&nbsp;жизнь радость. А&nbsp;вода, как вы&nbsp;уже знаете, даёт нам гармонию.</dd>

<dt>Пост на&nbsp;пророщенных зёрнах</dt>
<dd>В&nbsp;этот день в&nbsp;пищу употребляют только пророщенные зёрна и&nbsp;запивают их&nbsp;водой. Этот пост производит взрыв защитных сил организма и&nbsp;работоспособности. Зерновой пост сильно укрепляет иммунитет и&nbsp;повышает жизненные силы. Во&nbsp;время битвы солдаты римской армии питались пророщенными зёрнами.</dd>
</dl>

<p class="ru">Пусть это знание пойдёт вам на&nbsp;пользу. Я&nbsp;желаю вам хорошего очищения и&nbsp;счастья.</p>
