---
layout:      post
title:      "Дождь в лицо и ключицы..."
date:        2016-11-08 23:10:00 +0000
alpha2:      gb
location:   "Манчестер, Великобритания"
categories: [Ахмадулина, любовь, поэзия]
---

<figure class="poem">
<p>Дождь в&nbsp;лицо и&nbsp;ключицы,<br>
и&nbsp;над мачтами гром.<br>
Ты&nbsp;со&nbsp;мной приключился,<br>
словно шторм с&nbsp;кораблем.</p>

<p>То&nbsp;ли будет, другое...<br>
Я&nbsp;и&nbsp;знать не&nbsp;хочу -<br>
разобьюсь&nbsp;ли о&nbsp;горе,<br>
или в&nbsp;счастье влечу.</p>

<p>Мне и&nbsp;страшно, и&nbsp;весело,<br>
как тому кораблю...</p>

<p>Не&nbsp;жалею, что встретила.<br>
Не&nbsp;боюсь, что люблю.</p>
<figcaption align="right"><cite>Белла Ахмадулина (1955)</cite></figcaption>
</figure>
