---
layout:      post
title:      "Я вас любил..."
date:        2016-11-03 11:08:00 +0000
alpha2:      gb
location:   "Манчестер, Великобритания"
categories: [любовь, поэзия, Пушкин]
---

<p class="ru">Какой&nbsp;же всё таки Пушкин умница! Сколько лет мы&nbsp;живём? Ничего нового не&nbsp;происходит. Мы&nbsp;попадаем в&nbsp;такие&nbsp;же ситуации. Чувствуем также, и&nbsp;уже много лет никто ничего не&nbsp;может добавить к&nbsp;его словам. Сегодня утром в&nbsp;голове звучит его стихотворение:</p>

<figure class="poem">
<p>Я&nbsp;вас любил: любовь ещё, быть может,<br>
В&nbsp;душе моей угасла не&nbsp;совсем;<br>
Но&nbsp;пусть она вас больше не&nbsp;тревожит;<br>
Я&nbsp;не&nbsp;хочу печалить вас ничем.<br>
Я&nbsp;вас любил безмолвно, безнадёжно,<br>
То&nbsp;робостью, то&nbsp;ревностью томим;<br>
Я&nbsp;вас любил так искренно, так нежно,<br>
Как дай вам Бог любимой быть другим.</p>
<figcaption align="right"><cite>Александр Пушкин&nbsp;(1829)</cite></figcaption>
</figure>
