---
layout:     post
title:     "Письмо"
subtitle:  "сочинение на конкурс «100 лет—100 слов»"
date:       2017-11-05 10:33:00 +0000
alpha2:     gb 
location:  "Манчестер, Великобритания"
categories: письмо
---

<p class="ru">Здравствуйте, Софья Андреевна! Соня, Сонечка, ёлочка моя
пушистая!</p>

<p class="ru">Как&nbsp;же сильно я&nbsp;по&nbsp;Вам соскучился! Как Вы? Как
папенька? Ходят&nbsp;ли его бедные ноги? Вы, пожалуйста, следите, чтобы
в&nbsp;эту весеннюю сырость выходил он&nbsp;только в&nbsp;тёплой одежде.
Сегодня вечером у&nbsp;нас тихо. До&nbsp;ближайшей станции, Гатлукая, ещё два
дня ходу. Мы&nbsp;ночуем в&nbsp;палатках. Сводим наш жуткий караван
на&nbsp;обочину, в&nbsp;мёрзлую грязь, расселяем людей, выставляем руки
караулов, сёстры милосердия ставят чаны с&nbsp;водой, чтобы в&nbsp;тепле обмыть
раненых. А&nbsp;их&nbsp;много в&nbsp;эти дни.</p>

<!--more-->

<p class="ru">В&nbsp;офицерской палатке нас шестеро. Дмитрий
Михайлович&mdash;высокий, худощавый, узкий в&nbsp;плечах, но&nbsp;сухой,
жилистый, крепкий. Когда играет на&nbsp;гитаре&mdash;вздуваются на&nbsp;руках
вены. В&nbsp;погожие дни глаза его кажутся голубыми, цвета южной морской волны,
а&nbsp;сейчас&mdash;стальные, серые. Огромны его зрачки от&nbsp;полутьмы или
от&nbsp;пения. По&nbsp;молодому ещё лицу пролегли свежие морщины. Яков Павлович
из&nbsp;чешских добровольцев курит у&nbsp;входа; он&nbsp;молчалив. Дым его
трубки смешивается с&nbsp;вечерним туманом. Слышится только ржание лошадей
стреноженных, да&nbsp;последние предвечерние звуки засыпающего лагеря. Мерно
постукивает по&nbsp;крыше дождик.</p>

<p class="ru">Я&nbsp;заслушаюсь музыкой и&nbsp;мыслями обращаюсь к&nbsp;Вам,
к&nbsp;дому в&nbsp;Чабанке, к&nbsp;бесконечным, пустынным лиманам
и&nbsp;обрывистым берегам Чёрного моря. Закрывая глаза вижу гостиную
и&nbsp;по-осеннему лёгкий солнечный свет сквозь батистовую занавесь, и&nbsp;вас
в&nbsp;совсем девичьем голубом платье. Оно вам так к&nbsp;лицу! Вижу, как
вы&nbsp;внутренне собираетесь перед игрой, и&nbsp;осторожно начинаете
&laquo;Арию&raquo; Баха, скользя пальцами, едва касаясь прохладных клавиш. Ах,
какое это было счастье! Целую вечность готов был я&nbsp;так сидеть, глядя
на&nbsp;Вас, на&nbsp;вашу строгую спину, и&nbsp;выбившийся из&nbsp;общей
причёски светлый локон у&nbsp;тоненькой шеи. А&nbsp;какие были вечера
на&nbsp;веранде! Споры о&nbsp;свежих рассказах Чехова, и&nbsp;старенький
самовар, и&nbsp;дедовы пледы, и&nbsp;чай из&nbsp;блюдечек, и&nbsp;довольное
покрякивание Самойлова после третьей порции варенья. Будет&nbsp;ли это ещё?
Повторится&nbsp;ли снова? С&nbsp;каким трепетом я&nbsp;возвращаюсь к&nbsp;нашей
последней прогулке в&nbsp;море опавших листьев. Как мог я&nbsp;раньше
не&nbsp;замечать, насколько прекрасны они&mdash;эти печальные предвестники
зимы! Как часто брали&nbsp;Вы мою руку в&nbsp;свои, дышали на&nbsp;мои
замерзающие пальцы и&nbsp;прятали их&nbsp;у&nbsp;себя в&nbsp;муфте. В&nbsp;тот
день так резко похолодало, что утром заиндевели все стёкла в&nbsp;доме,
и&nbsp;можно было любоваться на&nbsp;причудливые зимние узоры и&nbsp;следить,
как они исчезают на&nbsp;солнце. Я&nbsp;верю, что всё это будет.</p>

<p class="ru">Загнанным, окровавленным, обессиленным волком мы&nbsp;идём
несмотря ни&nbsp;на&nbsp;что. То&nbsp;бежим поднимая хвост,
то&nbsp;остановившись в&nbsp;минутной передышке, обкусываем лёд с&nbsp;лап,
обдавая их&nbsp;паром дыхания, то&nbsp;воем от&nbsp;горя, как сейчас.
Но&nbsp;мы&nbsp;не&nbsp;сдаёмся. Опустив голову вниз, упрямо, из&nbsp;последних
сил, с&nbsp;бешеным пульсом отдающим в&nbsp;ушах, в&nbsp;тумане&nbsp;ли,
в&nbsp;мареве бреда мы&nbsp;бьёмся&mdash;и всегда побеждаем. Против нас почти
двадцатипятитысячная охота Автономова. Он&nbsp;мудр. Но&nbsp;мы&nbsp;смелее.
Мы&nbsp;правы. За&nbsp;нами Россия, наша бедная неприкаянная обездомевшая
Родина. Нам некуда отступать, и&nbsp;мы&nbsp;наступаем.</p>

<p class="ru">Третьего дня борясь в&nbsp;атаке я&nbsp;потерял Вашу чайную
ложечку. Почерневшая от&nbsp;времени и&nbsp;походов она была последней связью
с&nbsp;домом, с&nbsp;нашим миром. Свеча догорает... Ласточка моя, милая,
Сонечка быстроногая, молю Вас, берегите себя и&nbsp;папеньку. Продавайте всё,
но&nbsp;питайтесь хорошо, здоро́во. Скоро всё это закончится,
и&nbsp;я&nbsp;первым приеду, чтобы снова носить Вас на&nbsp;руках.</p>
