---
layout:      post
title:      "Тбилиси"
subtitle:   "часть вторая"
date:        2017-08-31 11:47:00 +0000
alpha2:      ge
location:   "Тбилиси, Грузия"
categories: [Кура, путешествия, Тбилиси]
---

<p class="ru">Изнывая от&nbsp;жары, мы&nbsp;движемся медленно, словно
во&nbsp;сне. После собора Сионской божьей матери мы&nbsp;спустились вниз, снова
перешли Куру и&nbsp;направились к&nbsp;фуникулёру. У&nbsp;новой канатной дороги
всего две станции. В&nbsp;стеклянном кубике мы&nbsp;взмыли над городом
и&nbsp;опустились у&nbsp;самой вершины... холма, на&nbsp;котором стоит
скульптура &laquo;Грузия-мать&raquo;. От&nbsp;её&nbsp;основания, обрамлённая
еловыми ветвями, открывается замечательная панорама Тбилиси. В&nbsp;полдень
город кажется оранжево&mdash;жёлтым. У&nbsp;многих домов террасы на&nbsp;крыше,
где сушится свежевыстиранное бельё, и&nbsp;стоят столики, стулья для вечерней
трапезы. Сделав короткую остановку у&nbsp;входа в&nbsp;ботанический сад,
разбитый по&nbsp;приказу российского наместника..., вдоль крепостной стены,
идущей по&nbsp;склону холма, мы&nbsp;снова спускаемся вниз и&nbsp;фотографируем
старый город.</p>

<!--more-->

<p class="ru">В&nbsp;некоторых местах дома построены прямо на&nbsp;обрыве
скалы. Домики здесь всё больше старинные, деревянные, с&nbsp;узорчатыми
коньками под крышей и&nbsp;уютными балкончиками. На&nbsp;одной из&nbsp;тихих
старых улиц стоит мечеть. Разувшись и&nbsp;войдя внутрь, мы&nbsp;видим
украшенные белой, синей, зелёной, голубоватой, изумрудной плиткой, изразцами
и&nbsp;плиточкой стены храма. Вдоль задней стены&mdash;шкафы
с&nbsp;молитвенниками, а&nbsp;впереди сидит тройка магометян и&nbsp;спорит
о&nbsp;смысле жизни. На&nbsp;входе фонтанчик с&nbsp;холодной водой
и&nbsp;копилочка для пожертвований с&nbsp;такой&nbsp;же надписью как
и&nbsp;иудеев &laquo;цедека&raquo;.</p>

<p class="ru">Напившись в&nbsp;мечети, мы&nbsp;спускаемся к&nbsp;источнику
у&nbsp;тбилисских серных бань. Резкий запах бьёт в&nbsp;нос непривычному
туристу. Бани пользуются большой популярностью, и&nbsp;некоторые из&nbsp;них
открыты даже ночью. Одна фасадом похожа на&nbsp;мечеть. По&nbsp;обеим сторонам
её&nbsp;высятся башенки минаретов, а&nbsp;парадная сторона украшена богатой
мозаикой. Осмотрев небольшой водопад, мы&nbsp;садимся в&nbsp;автобус, чтобы
подняться к&nbsp;Самебе. Сегодня это самый большой и&nbsp;главный храм
грузинской православной церкви. Выстроен он&nbsp;в&nbsp;традиционном стиле,
и&nbsp;сильно напоминает старинные трёхнефные грузинские церкви. Внутри
он&nbsp;скромен и&nbsp;ещё не&nbsp;расписан. К&nbsp;храму ведут многочисленные
лестницы, по&nbsp;бокам разбиты маленькие скверики, лужайки и&nbsp;хвойные
насаждения. Часто встречаются миниатюрные эвкалипты. В&nbsp;одной
из&nbsp;сторон&mdash;бассейн под открытым небом. Здесь больше всего детей
и&nbsp;далеко раздаётся весёлый смех и&nbsp;освежающий плеск воды.</p>

<p class="ru">Наша гостиница стоит по&nbsp;другую сторону Куры,
но&nbsp;в&nbsp;пешей доступности от&nbsp;старого города. Дорога
по&nbsp;соседству не&nbsp;мощёная. У&nbsp;нас балкон, и&nbsp;питомник
с&nbsp;черепахами на&nbsp;первом этаже.</p>
