---
layout:      post
title:      "Париж"
subtitle:   "день первый"
date:        2017-03-18 21:10:00 +0000
alpha2:      fr
location:   "Париж, Франция"
categories: [Париж, путешествия, Франция]
---

<p class="ru">Париж&mdash;это благословение. Впервые, после двух лет отсутствия, я&nbsp;возвращаюсь во&nbsp;французскую столицу. Для меня это не&nbsp;только город света, но&nbsp;и&nbsp;город свободы, город отдохновения, город медитации, где можно побыть наедине с&nbsp;самим собой. Я&nbsp;остановился в&nbsp;астеле на&nbsp;улице Дункерк, неподалёку от&nbsp;Северного вокзала. Расположившись на&nbsp;верхней полке, я&nbsp;отправился обедать в&nbsp;индийский ресторанчик под названием &laquo;Ченнай Доса&raquo;. Молодой хозяин с&nbsp;усиками дежурит у&nbsp;дверей и&nbsp;гостеприимно открывает их&nbsp;перед любопытным туристом. Почти все крохотные столики заняты. В&nbsp;зале много завсегдатаев. Они приятельски кивают официантам и&nbsp;аппетитно поедают досы с&nbsp;соусами. Доса&mdash;это очень большой тонкий и&nbsp;хрустящий блин свёрнутый вчетверо или вшестеро. А&nbsp;в&nbsp;его середину положена по-домашнему жареная картошка с&nbsp;луком и&nbsp;куркумой. Отрываешь кусочек блина, делаешь из&nbsp;него маленькую лодочку и&nbsp;ею&nbsp;зачерпываешь соус &laquo;Чатни&raquo; из&nbsp;мяты, помидоров или кокоса. А&nbsp;затем я&nbsp;медленно пью индийский чай с&nbsp;молоком и&nbsp;приправами. Его подают в&nbsp;маленькой железной чарке наподобие чашки для эспрессо.</p>

<!--more-->

<p class="ru">Я&nbsp;освежаю свой французский. И&nbsp;долго смотрю на&nbsp;улицу, на&nbsp;прохожих. Где был я&nbsp;всё это время? Неужели прошло уже два года? Разве это Париж? Да, это&nbsp;он. После короткого сна я&nbsp;решаю дойти до&nbsp;своих любимых садов Тюильри. Иду по&nbsp;карте, но&nbsp;часто сворачиваю с&nbsp;пути. Вот парижская биржа в&nbsp;парадных колоннах, вот любители кофе, сплетен и&nbsp;сигарет под козырьками кафе. Ненароком я&nbsp;забредаю в&nbsp;галерею Вивьен в&nbsp;желтоватом свете. И&nbsp;на&nbsp;лотке старинного книжного магазина мне удаётся найти &laquo;Прощай, оружие!&raquo; Эрнеста Хемингуэя 48-го года издания. В&nbsp;королевских садах зацветают магнолии, крепкие офицеры в&nbsp;лихо сбитых на&nbsp;макушку пилотках курят, бьёт фонтан, а&nbsp;вокруг пруда стоят железные стулья, заполненные утомившимися туристами. Я&nbsp;не&nbsp;иду, я&nbsp;плыву дальше. Под арками Лувра. Фотографирую знаменитую стеклянную пирамиду во&nbsp;внутреннем дворе и&nbsp;спускаюсь к&nbsp;Сене. Воды её&nbsp;мутны и&nbsp;неспешны. На&nbsp;набережной по-весеннему пахнет тополями. Музей Д&rsquo;Орсе уже закрыт, и&nbsp;только огромная пара часов провожает меня взглядами. По&nbsp;реке идут друг за&nbsp;другом прогулочные катеры. Вьются на&nbsp;тёплом ветру шарфы и&nbsp;французские флаги. По&nbsp;пешеходному мосту, усеянному замк&aacute;ми влюблённых, я&nbsp;перехожу на&nbsp;другую сторону и&nbsp;фланирую к&nbsp;мосту Александра третьего. А&nbsp;по&nbsp;мосту грациозно ступают белые лошади&mdash;карета, свадьба...</p>
