---
layout:      post
title:      "Париж"
subtitle:   "день второй"
date:        2017-03-19 22:14:00 +0000
alpha2:      fr
location:   "Париж, Франция"
categories: [Люксембургский сад, Монтмартр, Париж, путешествия, Франция]
---

<p class="ru">Пользуясь французским словом, скажу, что сегодняшняя ночь обернулась небольшим кошмаром. Сначала в&nbsp;баре на&nbsp;первом этаже нашего астеля был рок-концерт. В&nbsp;живую играли музыканты, и&nbsp;во&nbsp;всю веселилась молодость со&nbsp;всего света. А&nbsp;я&nbsp;лежал на&nbsp;верхней полке и&nbsp;от&nbsp;усталости не&nbsp;мог ни&nbsp;заснуть, ни&nbsp;присоединиться к&nbsp;ним. А&nbsp;как только кончился концерт, громко захрапел мой сосед снизу. Я&nbsp;крутился в&nbsp;постели, наконец спустился в&nbsp;приёмную и&nbsp;попросил сменить номер. Но&nbsp;был отправлен назад с&nbsp;маленькой пачечкой затычек для ушей: &laquo;Извините, мсьё, это астель. К&nbsp;тому&nbsp;же все номера сегодня заняты...&raquo; Из-за разбитого утреннего состояния решено было отменить пробежку и&nbsp;сразу отправиться на&nbsp;завтрак. Вопреки законам жанра, на&nbsp;этот раз за&nbsp;завтраком никто не&nbsp;общался друг с&nbsp;другом, как это обычно бывает в&nbsp;астелях. Люди держались соседскими или родственными парами или завтраками в&nbsp;обществе мобильных телефонов. Неужели это наше будущее?</p>

<!--more-->

<p class="ru">Подкрепившись и&nbsp;упаковав рюкзак я&nbsp;весело пошёл к&nbsp;Люксембургскому саду. Путь к&nbsp;нему от&nbsp;Северного вокзала совсем прост. Огибаешь Восточный вокзал и&nbsp;всё время идёшь прямо по&nbsp;бульвару Севастополя, переходишь через остров Ситэ через Сену, и&nbsp;через несколько сотен метров бульвара Сан Мишель оказываешься с&nbsp;западной стороны Люксембургского сада. Ах, как он&nbsp;прекрасен ранней весной! Газон повсюду уже наполнен сочной зеленью. На&nbsp;клумбах бодро растут тюльпаны. Пока это ещё только крепкие стебли. Но&nbsp;кое-где уже видны скромные зелёные головки и&nbsp;даже распустившиеся красные, оранжевые бутоны. Какое это чудо цветы! А&nbsp;помнишь тюльпаны на&nbsp;восьмоё марта?</p>

<p class="ru">У&nbsp;круглого пруда перед дворцом как всегда резвится детвора запуская деревянные парусники. Подправишь его палочкой, оттолкнёшь, и&nbsp;вот он&nbsp;уже летит покачиваясь к&nbsp;другому берегу. А&nbsp;ты&nbsp;бежишь за&nbsp;ним вокруг водоёма. Настоящая радость! Публика здесь больше шикарная. Это и&nbsp;туристы, и&nbsp;местные буржуа. В&nbsp;воскресный день настоящие парижане бегут в&nbsp;жёлтых трико и&nbsp;чёрных панталонах. Несколько человек занимается Тай-Чи. А&nbsp;мы&nbsp;неспешно бредём вокруг всей этой красоты. Останавливаемся полюбоваться яблоневыми и&nbsp;розовыми деревьями с&nbsp;крепкими вязями веток, и&nbsp;конечно, главной аллеей перед дворцом. Справа от&nbsp;дворца скрывается торжественный и&nbsp;грустный фонтан 16-го века названный по&nbsp;имени Марии Медичи.</p>

<p class="ru">А&nbsp;мы&nbsp;прогуливаемся до&nbsp;кондитерской Поля и&nbsp;неспешно, стакан за&nbsp;стаканом, пьём чай с&nbsp;молоком, нарушая французские традиции. На&nbsp;улицах Парижа появилось много беженцев. Это то&nbsp;ли наши славянские братья румыны, то&nbsp;ли новоприбывшие сирийцы. Целыми семьями они спят прямо на&nbsp;улице, на&nbsp;белых матрасах, и&nbsp;накрываются белыми одеялами без пододеяльников. С&nbsp;ними жёны, дети. Вот маленькая девочка сидит на&nbsp;таком матрасе и&nbsp;аккуратно из&nbsp;бутылки наливает себе в&nbsp;пробочку оранжевый лимонад и&nbsp;пьёт. Кажется, что это не&nbsp;она на&nbsp;улице, а&nbsp;все мы&mdash;прохожие.</p>

<p class="ru">Вечером, подкрепившись свежеиспечённой пиццей, и&nbsp;набравшись сил в&nbsp;новой гостинице, мы&nbsp;огибаем кирпичную стену кладбища и&nbsp;поднимаемся на&nbsp;холм Монтмартра. Художники уже почти все разошлись. Остались только карикатуристы и&nbsp;портретчики. Видимо, у&nbsp;них ещё будет работа вечером. Здесь несколько лет назад творил старик у&nbsp;которого я&nbsp;купил чёрно-белый вид на&nbsp;Эйфелеву башню. Сегодня для него уже слишком темно, слишком поздно. Тогда я&nbsp;всё представлял, как приведу тебя сюда, к&nbsp;нему, закажу наш портрет...</p>

<p class="ru">В&nbsp;соборе Святого Сердца тихо, полутемно, сухо. Мы&nbsp;делаем торжественный круг и&nbsp;идём к&nbsp;подножию здания, откуда открывается замечательный вид на&nbsp;город. Он&nbsp;тоже тих и&nbsp;торжественен. Блестит огоньками. Спокойной ночи, Париж.</p>
