---
layout:      post
title:      "Кутаиси"
date:        2017-08-19 17:43:00 +0000
alpha2:      ge
location:   "Кутаиси, Грузия"
categories: [КАЗ, Кутаиси, Моцамета, путешествия, Сатаплия]
---

<p class="ru">Сегодня мы&nbsp;почти весь день двигались вглубь страны, на&nbsp;восток, в&nbsp;направлении Кутаиси. Первой остановкой стал небольшой заповедник Сатаплия. В&nbsp;переводе с&nbsp;грузинского это слово означает &laquo;Страна пчёл&raquo;. Здесь в&nbsp;1925-ом году местный учитель географии обнаружил пещеру со&nbsp;сталактитами и&nbsp;сталагмитами, а&nbsp;в&nbsp;50-ые годы были найдены следы динозавров, отпечатавшиеся в&nbsp;застывшем известняке. Шестьдесят миллионов лет назад здесь было море. По&nbsp;узкой тропинке вдоль склона горы мы&nbsp;поднимаемся ко&nbsp;входу в&nbsp;пещеру. Отсюда открывается живописный вид на&nbsp;город Кутаиси, окружённый горами, утопающими в&nbsp;зелени. Особенно выделяется здание в&nbsp;форме глаза&mdash;это грузинский парламент, переехавший сюда из&nbsp;Тбилиси в&nbsp;2010-ом году. Деревья в&nbsp;заповеднике всё больше тонкоствольные, невысокие, с&nbsp;поросшими мхом стволами. Вверху их&nbsp;ветви почти переплетаются, образуя природный навес и&nbsp;прохладную тень. Интересна футуристическая архитектура павильонов заповедника: это или белые каменные сплавы в&nbsp;форме молекул, с&nbsp;громадными окнами, или вытянутые ввысь деревянные здания, поддерживаемые древесными шестами. Совсем рядом находится ещё одна смотровая площадка с&nbsp;маленьким кафе в&nbsp;форме шара белого цвета.</p>

<!--more-->

<p class="ru">Отсюда мы&nbsp;переезжаем в&nbsp;горный монастырский комплекс Моцамета. На&nbsp;вершине стоит храм, башенка звонницы и&nbsp;колодец. Звонницы грузинских храмов всегда стоят отдельно от&nbsp;основного здания. Здесь покоятся мощи двух грузинских феодалов начала восьмого века Давида и&nbsp;Константина Пхеидзе. Они были одними из&nbsp;немногих, которые выступали против засилья Османской империи и&nbsp;магометан. За&nbsp;заслуги перед Отечеством они были канонизированы грузинской церковью. В&nbsp;храме идёт служба. Горят свечи. Настойчиво молится монахиня в&nbsp;светлом платке, а&nbsp;туристы пролезают через тоннель в&nbsp;правом крыле храма. Повсюду растёт самшит&mdash;кустарник, испускающий тонкий пряный аромат. В&nbsp;Грузии он&nbsp;используется в&nbsp;дни вербного воскресенья перед Пасхой. Стоит тишина и&nbsp;благодать. Камни храма строгой прямоугольной формы тёплые, гладкие, слегка шероховатые. Они сильно напоминают известняк, из-за которого Иерусалим получил название &laquo;Белый город&raquo;. Подножие монастырской горы омывает неглубокая речка. А&nbsp;напротив нас, на&nbsp;другой горе, виднеется башенка церкви с&nbsp;золочёным куполом. На&nbsp;склоне чуть ниже умиротворённо пасётся корова.</p>

<p class="ru">Из-за долгого переезда в&nbsp;автобусе наша группа почти всё время спит. Вроде&nbsp;бы мы&nbsp;ничего не&nbsp;делаем. Но&nbsp;все сильно устали. Наверное, так сказывается жара.</p>

<p class="ru">Кутаиси второй по&nbsp;величине город страны. Но&nbsp;ни&nbsp;строительный бум, ни&nbsp;экономический рост его не&nbsp;затронули. Здесь по-провинциальному уютно. В&nbsp;советское время это был крупный промышленный город, славившийся своим автомобильным заводом грузовых машин КАЗ. Сегодня в&nbsp;поисках лучшей жизни молодое поколение уезжает в&nbsp;Грецию, Италию, Израиль, Германию, Канаду и&nbsp;США. И&nbsp;город опустевает, как и&nbsp;многие города Прибалтики. Завод расформирован, грузовики здесь больше не&nbsp;производят. На&nbsp;территории располагается китайский центр. Теперь здесь делают бытовые приборы.</p>

<p class="ru">В&nbsp;центре несколько просторных парков с&nbsp;широкими старинными скамьями и&nbsp;фонтанами. Дома старого города двухэтажные, а&nbsp;улочки узкие. На&nbsp;одном фасаде под коньком крыши расположена надпись &laquo;Имение...&raquo;, и&nbsp;стоит дата постройки. Но&nbsp;ни&nbsp;имени хозяина, ни&nbsp;года строительства невооружённым глазом не&nbsp;разобрать. На&nbsp;другом мемориальная доска извещает нас, что в&nbsp;этом доме с&nbsp;1877 по&nbsp;1878 годы жила австрийская писательница, лауреат нобелевской премии, Берта фон Зюттнер. Большой старый город местами сильно напоминает Казань. Над городом парит храм 11-го века. На&nbsp;центральной площади высится фонтан, обыгрывающий сказание об&nbsp;Аргонавтах. К&nbsp;сожалению, вокруг фонтана не&nbsp;прекращается автомобильное движение в&nbsp;три ряда, как на&nbsp;площади Конкорд в&nbsp;Париже. Красивое здание с&nbsp;колоннами в&nbsp;продаже. Может быть его всё&nbsp;же удастся отреставрировать? А&nbsp;рядом с&nbsp;ним соседствует современный МакДональдс. Несмотря на&nbsp;оживлённое движение, и&nbsp;площадь могла&nbsp;бы стать стать сестринской площадью казанской площади перед кремлём. И&nbsp;чувствуешь себя, и&nbsp;дышишь здесь также легко и&nbsp;чисто.</p>
