---
layout:      post
title:      "Батуми"
subtitle:   "часть первая"
date:        2017-08-16 10:50:00 +0000
alpha2:      ge
location:   "Батуми, Грузия"
categories: [Батуми, Грузия, путешествия]
---

<p class="ru">В&nbsp;Батуми чувствуешь себя как дома. Мы&nbsp;живём
на&nbsp;окраине, в&nbsp;отеле под названием &laquo;Иберия&raquo;. Город усеян
кранами, разворачивающими свои шеи во&nbsp;все стороны. Повсюду идёт
строительство многоэтажных жилых домов. Старый город в&nbsp;основном
двухэтажный. Он&nbsp;очень сильно напоминает молодой Тель-Авив 20-ых годов.
Между ржавыми железными столбами, расставленными по&nbsp;периметру участка,
натянуты проволочные канаты. По&nbsp;ним во&nbsp;все стороны вьётся виноград.
Он&nbsp;закрывает внутренние дворы и&nbsp;некоторые перекрёстки. Ягоды
на&nbsp;гроздьях ещё совсем зелёные, крепкие, но&nbsp;часто попадаются
и&nbsp;тёмные. Повсюду раскинуты многоэтажные дома позднего советского периода.
Построенные в&nbsp;начале семидесятых годов, они ужи давно перешли срок своей
эксплуатации, но&nbsp;всё равно ещё держатся и&nbsp;стоят обшарпанные,
зашпаклёванные. Наперекор архитектурным ограничениям каждый владелец
благоустраивает свою квартиру как может. У&nbsp;кого-то вырастает балкон.
Кто-то облицовывает внешние стены рифлёным оцинкованным железом, для усиления
светоотражения и&nbsp;теплоотдачи.</p>

<!--more-->

<p class="ru">Перед домами растут невысокие хвойные деревца. Часто встречаются
и&nbsp;плодовые деревья: груши, мандарины, лимоны, киви и&nbsp;инжир. Эти
фрукты созревают в&nbsp;сентябре&mdash;октябре месяце. По&nbsp;середине многих
дворов вкопаны массивные столбы. На&nbsp;каждом из&nbsp;них вы&nbsp;обнаружите
с&nbsp;дюжину колёсиков. И&nbsp;под кухонными окнами вы&nbsp;увидите
такие&nbsp;же колёсики. Оба колеса соединяются верёвкой, на&nbsp;которой
сушится свежевыстиранное бельё. Грузинские хозяйки вешают новую вещь
и&nbsp;легонько прокручивают колесо вперёд. Так многие дворы украшаются флагами
развевающихся простыней, рубашек, штанов...</p>

<p class="ru">Вдоль всего побережья проходит широкая набережная. Это батумский
бульвар, основанный в&nbsp;1881-ом году. Сегодня его протяжённость составляет
11600&nbsp;метров. Он&nbsp;опоясывает город удлиннённой буквой &laquo;г&raquo;
и&nbsp;заканчивается в&nbsp;порту. Море, Чёрное море балует вас теплом парного
молока и&nbsp;иголками раскалённых камней и&nbsp;камешков. Многие туристы
заказывают у&nbsp;старожил зонтики и&nbsp;пластмассовые шезлонги. По&nbsp;пляжу
изредка проходят торговцы кукурузой, холодным кофе, надувными кругами
и&nbsp;шлёпанцами. Обычно это бабушки в&nbsp;платках и&nbsp;тёмно-коричневой
загрубевшей кожей на&nbsp;плечах. Но&nbsp;торговцы не&nbsp;настойчивы
и&nbsp;не&nbsp;надоедливы, а&nbsp;только придают пляжу туристический вид. Волны
у&nbsp;берега сбивают с&nbsp;ног. Трудно устоять, когда всё дно, усеянное
отшлифованными камнями, уходит из&nbsp;под ног вслед за&nbsp;новой волной. Дети
лежат на&nbsp;камнях и&nbsp;смеются, радуются прибою. В&nbsp;своих разноцветных
шлёпанцах они похожи на&nbsp;утят.</p>

<p class="ru">Большую роль в&nbsp;жизни грузин играют автомобили. Многие улицы
и&nbsp;закоулки скрывают автомойки, автосервисы и&nbsp;шиномонтажные
мастерские. Повсюду кипит работа. Молодцы с&nbsp;оголёнными торсами разбирают
на&nbsp;части Мерседесы и&nbsp;БМВ. Иногда мне кажется, что они понимают
в&nbsp;машинах больше своих немецких коллег и&nbsp;во&nbsp;многом могут
им&nbsp;дать фору.</p>
