---
layout:      post
title:      "О соседях"
date:        2017-09-05 23:46:00 +0000
alpha2:      gb
location:   "Манчестер, Великобритания"
categories: [дневник, жизнь, соседи]
---

<p class="ru">Вечером, вернувшись домой после работы, я&nbsp;застал соседей на&nbsp;кухне. Они с&nbsp;оживлением и&nbsp;ожесточёнными лицами ловко, горстями, сгребали вещи из&nbsp;нашего с&nbsp;Прией шкафчика и&nbsp;закидывали в&nbsp;полиэтиленовый пакет. Рядом уже стоял доверху заполненный ящик из&nbsp;которого вразнобой и&nbsp;вверх ногами торчали баночки с&nbsp;приправами, пачки сухих супов, бумажные пакеты с&nbsp;мукой и&nbsp;макаронами. &laquo;А, вот и&nbsp;виновник!&raquo;&nbsp;&mdash; встретила меня Ивона. Польша и&nbsp;Малайзия, они работали втроём, плечом к&nbsp;плечу, освобождая законное место для нового жильца. &laquo;Не&nbsp;надо, оставьте, я&nbsp;сам&raquo;&nbsp;&mdash; попросил&nbsp;я. Пакет наполнился и&nbsp;не вместившиеся вещи были расставлены на&nbsp;столе у&nbsp;плиты. &laquo;Ну, вот, принимай&raquo;&nbsp;&mdash; с&nbsp;удовольствием и&nbsp;чувством выполненного долга обратились они к&nbsp;нашему новому товарищу. &laquo;Здесь только немного грязно. Нужно будет пройтись мокрой тряпкой...&raquo;</p>

<!--more-->

<p class="ru">Я&nbsp;ничего не&nbsp;сказал. Я&nbsp;налил кипячёной воды в&nbsp;кружку с&nbsp;красными цветами и&nbsp;сел у&nbsp;окна. На&nbsp;одну миллионную я&nbsp;почувствовал тоже, что испытали российские евреи во&nbsp;время погромов, или Второй Мировой войны, когда люди, с&nbsp;которыми они жили бок о&nbsp;бок столько лет, со&nbsp;злостью врывались в&nbsp;их&nbsp;дома&nbsp;и, разрывая друг друга на&nbsp;части, делили чужое. На&nbsp;одну миллионную я&nbsp;ощутил тоже, что и&nbsp;бывшие дворяне, интеллигенты, предприниматели, когда рабочие и&nbsp;крестьяне нагло, у&nbsp;них на&nbsp;глазах заселялись в&nbsp;их&nbsp;комнаты и&nbsp;в&nbsp;грязных сапогах ходили по&nbsp;паркетному полу. На&nbsp;одну миллионную я&nbsp;побывал в&nbsp;Риме в&nbsp;самые первые дни нашествия гуннов. Я&nbsp;их&nbsp;теперь понимаю.</p>

<p class="ru">На&nbsp;улице моросило. Люди спешили домой. А&nbsp;вы? Любите&nbsp;ли вы&nbsp;своих соседей?</p>
