---
layout:      post
title:      "Солнце—одно, а шагает по всем городам..."
date:        2017-05-25 11:11:00 +0000
alpha2:      gb
location:   "Манчестер, Великобритания"
categories: [любовь, поэзия, Цветаева]
---

<figure class="poem">
<p>Солнце&mdash;одно, а&nbsp;шагает по&nbsp;всем городам.<br>
Солнце&mdash;моё. Я&nbsp;его никому не&nbsp;отдам.<p>

<p>Ни&nbsp;на&nbsp;час, ни&nbsp;на&nbsp;луч, ни&nbsp;на&nbsp;взгляд.&mdash;Никому. Никогда!<br>
Пусть погибают в&nbsp;бессменой ночи города!</p>

<p>В&nbsp;руки возьму!&mdash;Чтоб не&nbsp;смело вертеться в&nbsp;кругу!<br>
Пусть себе руки, и&nbsp;губы, и&nbsp;сердце сожгу!</p>

<p>В&nbsp;вечную ночь пропадёт,&mdash;погонюсь по&nbsp;следам...<br>
Солнце мое! Я&nbsp;тебя никому не&nbsp;отдам!</p>

<figcaption align="right"><cite>Марина Цветаева (март, 1919)</cite></figcaption>
</figure>
