---
layout:      post
title:      "Батуми"
subtitle:   "часть вторая"
date:        2017-08-17 19:34:00 +0000
alpha2:      ge
location:   "Батуми, Грузия"
categories: [Батуми, Грузия, путешествия]
---

<p class="ru">Наше утро начинается с&nbsp;раннего подъёма и&nbsp;завтрака
в&nbsp;гостинице. Завтрак здесь очень простой. Но&nbsp;именно крупные куски
варёного картофеля, яйца в&nbsp;крутую, щедрые ломти помидоров и&nbsp;зелёный
салат и&nbsp;есть самое вкусное за&nbsp;завтраком. Нам не&nbsp;подают
искусственные хлопья и&nbsp;омлет из&nbsp;порошка. В&nbsp;шапочках
и&nbsp;рубашках с&nbsp;длинным рукавом мы&nbsp;идём к&nbsp;морю и&nbsp;купаемся
по&nbsp;нескольку раз. Только обсохнешь, и&nbsp;можно снова идти нырять. Вода
в&nbsp;море чистая, но&nbsp;непрозрачная, голубовато-зелёная, как
необработанное стекло.</p>

<!--more-->

<p class="ru">После обеда мы&nbsp;отправляемся в&nbsp;батумский ботанический
сад. По&nbsp;дороге вдоль самого берега мы&nbsp;движемся на&nbsp;север
и&nbsp;поднимаемся вверх. Из-за худеньких сосен, сопровождающих нас
во&nbsp;время всего пути, нет-нет да&nbsp;и&nbsp;откроется панорама города
в&nbsp;синеватой дымке. Именно в&nbsp;северной части располагаются старинные
виллы и&nbsp;поместья. Здесь зарождался город Батуми. Всё здесь тоненькое
и&nbsp;жилистое. Толстым и&nbsp;неповоротливым в&nbsp;горах и&nbsp;в&nbsp;жаре
не&nbsp;выжить. Множество бездомных собак светло-коричневого, песочного,
бежевого цветов. Почти у&nbsp;всех в&nbsp;ухе пластиковая метка&mdash;они уже
побывали в&nbsp;приёмнике, стерилизованы, привиты и&nbsp;выпущены обратно
на&nbsp;волю. В&nbsp;тени под машинами часто прячутся котята. Вид у&nbsp;них
совсем детский и&nbsp;удивлённый. Грузинские коровы тёмно-коричневые, бурые,
чёрные со&nbsp;впалыми боками, такими что видно рёбра, и&nbsp;маленьким
выменем. Вот бесстрашно идут они по&nbsp;дороге&mdash;сами вечером возвращаются
с&nbsp;пастбища домой. А&nbsp;однажды, скрываясь в&nbsp;подъезде
от&nbsp;субтропического ливня, мы&nbsp;видели джигита на&nbsp;поджарой
грузинской лошади. Остановившись на&nbsp;светофоре, он&nbsp;наклонился
к&nbsp;соседскому автомобилисту и&nbsp;просил прикурить. А&nbsp;потом
с&nbsp;гиканьем поехал на&nbsp;зелёный свет рысью насквозь мокрый,
в&nbsp;шлёпанцах, с&nbsp;сигаретой.</p>

<p class="ru">На&nbsp;вершине холма, пройдя сквозь маленькие воротца,
мы&nbsp;входим в&nbsp;ботанический сад. Деревья здесь высажены
по&nbsp;географическим регионам: Европа, Азия, Австралия и&nbsp;Южная Америка.
Больше всего нас поражают экзотические эвкалипты, нежно зеленоватыми,
изумрудными стволами и&nbsp;такими&nbsp;же листьями, пряноватым, мятным
запахом. Старая кора скручивается на&nbsp;их&nbsp;стволах высохшими трубочками.
Кипарисы, размножающиеся ветвями. Вся кора их&nbsp;испещрена вертикальными
канавками. Очаровывает обилие сочного бамбука. Молодые светло-зелёные,
холодноватые стволы их&nbsp;покрыты лёгким белым налётом, словно тальком или
меловой пылью. С&nbsp;другой стороны парка растёт и&nbsp;чёрный бамбук.</p>
