---
layout:      post
title:      "Париж"
subtitle:   "день третий"
date:        2017-03-20 23:00:00 +0000
alpha2:      fr
location:   "Париж, Франция"
categories: [Париж, путешествия, счастье]
---

<p class="ru">Ночь прошла незаметно. От&nbsp;усталости сладко спится. Завтрак в&nbsp;нашей гостинице подаётся в&nbsp;маленьком подвальчике. На&nbsp;ваш выбор представлены хлопья всех сортов, апельсиновый и&nbsp;яблочный соки, йогурты, палочки багета, шоколадный крем, джемы, треугольнички плавленного сыра&nbsp;и, конечно, король завтрака&mdash;круассан. Из&nbsp;напитков вам предлагаются чай, кофе и&nbsp;горячее молоко.</p>

<p class="ru">Обычный турист заполнит свой поднос хлебом, йогуртом, кофе и&nbsp;круассанами. Что&nbsp;же делает истинный француз? Смешивает в&nbsp;чашке шоколадный порошок с&nbsp;горячим молоком. Voil&agrave;, и&nbsp;какао готов! Багет он&nbsp;разрезает вдоль и&nbsp;намазывает фруктовым джемом или густым слоем шоколада. Багет запивается соком. А&nbsp;круассан мы&nbsp;макаем в&nbsp;чашку с&nbsp;какао и&nbsp;едим маленькими кусочками. Если какао&mdash;не ваш любимый напиток, то&nbsp;круассан можно размачивать в&nbsp;кофе.</p>

<!--more-->

<p class="ru">Наша конференция проходит на&nbsp;третьем этаже Дворца Конгрессов. После недавних террористических актов, участников мероприятия встречают и&nbsp;проверяют охранники. Мы&nbsp;поднимаемся на&nbsp;эскалаторе и&nbsp;забираем у&nbsp;регистрации свои значки и&nbsp;матерчатые сумочки с&nbsp;разноцветными буклетами. Сразу&nbsp;же я&nbsp;встречаю своих друзей, с&nbsp;которыми работал в&nbsp;Бресте. Я&nbsp;замечаю Ф.&nbsp;Он&nbsp;как всегда тонок, боек, и&nbsp;в&nbsp;то&nbsp;же время по-львиному медленен, будто не&nbsp;рад встрече и&nbsp;не&nbsp;горит желанием разговаривать. Руку он&nbsp;протягивает изящно, как артист, и&nbsp;как артист её&nbsp;пожимает. Он&nbsp;кружит около киосков коммерческих компаний и&nbsp;толстых состоявшихся мэтров науки.</p>

<p class="ru">А&nbsp;мы&nbsp;радуемся долгожданной встрече, щебечем чайками и&nbsp;перебегаем из&nbsp;одного зала в&nbsp;другой. Сегодня единственный день с&nbsp;докладами по&nbsp;моей теме. Но&nbsp;видно, что тема&mdash;уже отработанный патрон, и&nbsp;область пришла в&nbsp;равновесие, словно дымящаяся гильза. Павлинами по&nbsp;верхам профессора рассказывают о&nbsp;новых методах, будто изобретение нового вычислительного способа дело нескольких часов. Они не&nbsp;пускаются в&nbsp;подробности. А&nbsp;если их&nbsp;спросить, они направят вас к&nbsp;источникам литературы (их&nbsp;статьям).</p>

<p class="ru">Зато вечером, выйдя на&nbsp;свежий воздух, весело идёшь в&nbsp;команде товарищей к&nbsp;Арке Триумфа. Повсюду огоньки, редкие гудки скорой помощи, мотороллеры, молодёжь, туристы. Мы&nbsp;проскальзываем туннель под аркой и&nbsp;выныриваем на&nbsp;Елисейских полях. Решено ужинать в&nbsp;Вапиано, итальянском ресторане, в&nbsp;котором ваш личный шеф приготовит вам любые макароны с&nbsp;соусом за&nbsp;пять минут.</p>

<p class="ru">Счастье в&nbsp;простых вещах. Мы&nbsp;отщипываем свежие листья розмарина, тимьяна, базилика и&nbsp;посыпаем ими свой ужин. Как пахнет каждый стебелёк, каждая травинка! Спорим, как называется то&nbsp;или другое растение. Падает мягкий свет. На&nbsp;стенах развешаны чёрно-белые фотографии. Я&nbsp;всё думаю, хорошо&nbsp;бы и&nbsp;дома устроить такую стену. Вот и&nbsp;всё.</p>
