---
layout:      post
title:      "Тбилиси"
subtitle:   "часть первая"
date:        2017-08-26 16:57:00 +0000
alpha2:      ge
location:   "Тбилиси, Грузия"
categories: [путешествия, Тбилиси]
---

<p class="ru">После долгой дороги под грузинскую музыку, мимо деревень
и&nbsp;посёлков с&nbsp;двухэтажными домами в&nbsp;пастельных тонах,
с&nbsp;широкими лестницами и&nbsp;обязательной мансардой длиной во&nbsp;весь
этаж, с&nbsp;изнывающими от&nbsp;жары собаками, спящими на&nbsp;боку, тяжело
дышащими, мимо придорожных продавцов сладостями, нанизанными на&nbsp;нить
орехами в&nbsp;виноградном соке, фруктами в&nbsp;разноцветных пластмассовых
вёдрах: бархатными персиками величиной с&nbsp;кулак, зелёными мягкими луковками
сочного инжира, и&nbsp;фиолетово-чёрными холодящими нектаринами, мимо
заправочных станций, в&nbsp;сотый раз освежёнными белой краской,
и&nbsp;пекарнями со&nbsp;свежим душистым хлебом, тянущимся, с&nbsp;твёрдой, как
кожа на&nbsp;крестьянских руках, корочкой, мимо вездесущих, утопающих
в&nbsp;зелени, почти африканских холмов в&nbsp;голубоватой дали мы&nbsp;наконец
прибыли в&nbsp;Тбилиси.</p>

<!--more-->

<p class="ru">Грузинская столица встретила нас тридцатиградусной жарой,
сухостью в&nbsp;воздухе и&nbsp;ярким щедрым солнцем. Три часа под руководством
нашего гида, Нино, мы&nbsp;исследовали старый город. В&nbsp;центре Тбилиси
их&nbsp;целых три. Мы&nbsp;прошли по&nbsp;новому пешеходному мосту Мира через
Куру. Над ним сделан символический навес из&nbsp;переплетающихся белых
стержней. Отсюда открывается чудесный вид во&nbsp;все стороны.
На&nbsp;противоположном берегу находится площадь Европы с&nbsp;двумя
цилиндрическими зданиями в&nbsp;форме рогов. Сверху они покрыты серебристой
чешуёй. Это новые здания городского выставочного центра и&nbsp;филармонии.
Работа над ними закончилась несколько лет назад, но&nbsp;к&nbsp;сожалению, они
до&nbsp;сих пор не&nbsp;сданы в&nbsp;эксплуатацию.</p>

<p class="ru">От&nbsp;моста мы&nbsp;поднялись вверх, где на&nbsp;склоне холма
расположился первый старый город. Здесь мы&nbsp;посетили старинную церковь
одиннадцатого века, с&nbsp;тёмным, холодным залом. А&nbsp;после прошлись
к&nbsp;кукольному театру, знаменитого грузинского режиссёра Резо Габриадзе.
У&nbsp;театра стоит башня неправильной формы, с&nbsp;часами и&nbsp;деревянными
оконцами, которые открываются каждые три часа и&nbsp;устраивают маленький
кукольный спектакль. Чего только нет на&nbsp;этой башенке: и&nbsp;часы,
и&nbsp;лестницы, и&nbsp;цветочные горшки! На&nbsp;узких улочках нам встретился
торговец старинными книгами. Больше всего мне приглянулись
&laquo;Севастопольские рассказы&raquo; Толстого в&nbsp;сереньком бумажном
переплёте напечатанные ещё в&nbsp;старой орфографии
и&nbsp;&laquo;Логарифмические таблицы&raquo; под редакцией барона Георга Веги,
в&nbsp;пятидесятом издании. Но&nbsp;задержаться у&nbsp;торговца мне
не&nbsp;удалось. Нельзя было отстать от&nbsp;группы. Мы&nbsp;прошли тихой
улочкой выше к&nbsp;дворцу принцессы..., в&nbsp;котором в&nbsp;прошлом году
открылась престижная гостиница. Во&nbsp;дворе расположены скамьи для
посетителей, но&nbsp;часто встречаются и&nbsp;молодые родители
с&nbsp;маленькими детьми. В&nbsp;прохладной тени сквера они скрываются
от&nbsp;жары. По&nbsp;левую сторону от&nbsp;нас высится строгий собор Сионской
божьей матери. Именно в&nbsp;нём хранится главная святыня Грузии&mdash;крест
святой Нино, сложенный из&nbsp;двух ветвей виноградной лозы, перевязанных
её&nbsp;волосами. Два кончика продольной ветви загибаются вниз&mdash;это
особенный грузинский крест, который встречается здесь повсюду. В&nbsp;обычные
дни он&nbsp;сокрыт от&nbsp;глаз прихожан, но&nbsp;два раза в&nbsp;год,
в&nbsp;главные православные праздники, его выносят наружу. Внутрь храма нас,
как и&nbsp;многих мужчин нашей группы, не&nbsp;пустили из-за коротких летних
шорт. Мы&nbsp;были&nbsp;бы рады надеть символические передники, которыми можно
было обернуться. Но&nbsp;все они уже были разобраны.</p>
