---
layout:      post
title:      "«В окопах Сталинграда»"
subtitle:   "эссе о романе Виктора Некрасова"
date:        2018-04-21 12:00:00 +0000
alpha2:      gb
location:   "Манчестер, Великобритания"
categories: [Некрасов, В окопах Сталинграда, эссе]
---

<p class="ru">Окопы поражают своей искренностью, чистотой и&nbsp;любовью
к&nbsp;родине. Нам, потомкам Советского Союза, вторая мировая война известна
прежде всего по&nbsp;фильмам: старым, ещё чёрно-белым, с&nbsp;шипящим звуком
и&nbsp;новым ярко-красным, весёлым. Старые часто похожи на&nbsp;былины
и&nbsp;народные сказки, в&nbsp;новых&mdash;гипертрофированные персонажи,
приторная сладость и&nbsp;искажённая реальность, как в&nbsp;зале полном
выпуклых зеркал. Но&nbsp;человек думающий, ищущий всегда хочет понять, что
такое Великая Отечественная Война, какой она была по-настоящему?</p>

<!--more-->

<figure class="image" style="float: left">
  <img src="{{ site.url }}/assets/photo/book-cover.jpg" alt="Медаль Виктора Некрасова &laquo;За оборону Сталинграда&raquo; на титульном листе книги.">
  <figcaption><cite>Медаль Виктора Некрасова &laquo;За оборону Сталинграда&raquo; на титульном листе книги&nbsp;<a href="#fn:1">[1]</a>.</cite></figcaption>
</figure>

<p class="ru" id="fnref:1">Окопы Сталинграда приоткрывают эту завесу
в&nbsp;прошлое. Лёжа в&nbsp;госпитале, поправляясь после ранения, Виктор
Некрасов начал писать эту книгу в&nbsp;качестве упражнения для разрабатывания
мелкой моторики. А&nbsp;неожиданно получился жизненный и&nbsp;правдивый роман,
завоевавший Сталинскую премию. Вся книга написана детским, подростковым языком.
Все детали словно вырублены топором. Несмотря на&nbsp;то, что повествование
ведётся от&nbsp;лица инженера, сапёра, комбата, перед читателем разворачивается
каждодневная, фронтовая жизнь, обыкновенность геройства. Бои местного значения
за&nbsp;баки, за&nbsp;тракторный завод, за&nbsp;подорванный танк, превращённый
в&nbsp;дот.</p>

<p class="ru">Нам кажется, Сталинград&mdash;это место, где мы&nbsp;превозмогая
себя, отрицая и&nbsp;расширяя границы возможного бились за&nbsp;каждый дом.
В&nbsp;романе этого нет. Нет сумасшедшего голода и&nbsp;жестоких потерь.
Гораздо сильнее бывает жажда, нехватка боеприпасов, обыкновенного сапёрного
инструмента: кирок и&nbsp;лопат. Среди персонажей, как и&nbsp;в&nbsp;жизни,
попадаются и&nbsp;предприниматели, и&nbsp;хулиганы. Война по&nbsp;словам автора
&laquo;как лакмусовая бумажка&raquo; сразу проявляет всю сущность человека.
И&nbsp;сразу читатель ставит себя на&nbsp;место героев&mdash;кем&nbsp;бы
я&nbsp;был, что&nbsp;бы я&nbsp;делал, как&nbsp;бы я&nbsp;себя повёл? Гораздо
сложнее в&nbsp;нашем космополитическом, эмигрантском мире вопрос патриотизма
и&nbsp;родины: что&nbsp;бы я&nbsp;сделал, если&nbsp;бы на&nbsp;моей родине была
война, против моей родины велась война? Сместились&nbsp;ли общечеловеческие
ценности? Наши личные ценности? Главному герою &laquo;Окопов&raquo; Юрию
Керженцеву стыдно отступать, стыдно сидеть в&nbsp;тепле и&nbsp;чистоте
на&nbsp;диване и&nbsp;слушать фортепианную музыку. Это честность и&nbsp;честь
человека? Было&nbsp;бы стыдно мне?</p>

<figure class="image" style="float: right">
  <img src="{{ site.url }}/assets/photo/buttons.jpg" alt="Пуговицы с военной формы моего дедушки Абаленкова&nbsp;В.А.">
  <figcaption><cite>Пуговицы с военной формы моего дедушки Абаленкова&nbsp;В.А.</cite></figcaption>
</figure>

<p class="ru">Ремарк в&nbsp;своих романах выходит на&nbsp;более высокий
общечеловеческий уровень. Для него все солдаты прежде всего люди, собратья
по&nbsp;несчастью. Немецкий солдат понимает, что у&nbsp;француза по&nbsp;другую
сторону фронта, также как и&nbsp;у&nbsp;него есть мать, любящая жена, дети,
ради которых стоит жить, но&nbsp;не&nbsp;воевать, не&nbsp;убивать. Для
Хемингуэя война&mdash;это прежде всего молодость, романтизм, приключения,
испытание себя на&nbsp;прочность, идея, любовь, развивающаяся на&nbsp;фоне
итальянских холмов, утопающих в&nbsp;зелени и&nbsp;полуразрушенных изысканных
вилл, с&nbsp;остатками былого комфорта. Герой Хемингуэя&mdash;романтик,
играющий мускулами перед зеркалом молодой лев. Герой Ремарка&mdash;думающий,
бесконечно одинокий старый молодой человек, который никак не&nbsp;может
прижиться к&nbsp;послевоенному быту. Исковерканный войной, также как
и&nbsp;более современный герой Говорухина. У&nbsp;Некрасова не&nbsp;возникает
вопроса об&nbsp;этичности войны. В&nbsp;отечественной войне не&nbsp;может быть
этики. Но&nbsp;у&nbsp;автора столько любви к&nbsp;солдатам! Каждый ему
по-своему &laquo;мал, да&nbsp;дорог&raquo;. Как командир, он&nbsp;всегда
старается уберечь людей, спрятать, услать перед непродуманной &laquo;горячей
атакой&raquo;.</p>

<p class="ru">Интересно описание атак&mdash;предложения укорачиваются
до&nbsp;невозможного. Это два или три слова и&nbsp;множество восклицательных
знаков. В&nbsp;&laquo;Окопах&raquo; внутренний мир героев многим покажется
рудиментарным, упрощённым. Возможно, идея была в&nbsp;том, чтобы армия
действовала, как один человек? Мы&nbsp;видим медленное превращение
в&nbsp;мужчин и&nbsp;цену лжегеройства. Мы&nbsp;видим убийственную, железную,
непреклонную, ежедневную методичность немецких авианалётов. Она разрушает
психологически. Самое страшное&mdash;это невозможность ничего с&nbsp;этим
сделать. Мы&nbsp;роем землянки и&nbsp;прячемся в&nbsp;щелях. Мы&nbsp;видим
полное отсутствие знаний о&nbsp;глобальном положении дел на&nbsp;фронте.
У&nbsp;каждого свой кусок на&nbsp;расстоянии вытянутой руки&mdash;тракторный
завод или баки. Незачем расстраивать народ отступлениями,
а&nbsp;об&nbsp;успехах раз в&nbsp;три дня расскажет любимый голос Левитана
по&nbsp;радио. Конечно, помогает и&nbsp;вездесущий юмор солдат
по&nbsp;отношению к&nbsp;своему положению и&nbsp;к&nbsp;немцам:
&laquo;Экскурсантов веду... Волгу посмотреть хотят&raquo;,&mdash;и весело,
заразительно смеётся.</p>

<p class="ru" id="fn:1">[1]&nbsp;Фотография с <a href="http://nekrassov-viktor.com/Addresses/Nekrasov-Addresses-Stalingrad.aspx">сайта о Викторе Некрасове</a>.&nbsp;<a href="#fnref:1" style="text-indent: 0" class="fas fa-level-up-alt" aria-hidden="true"></a></p>
