---
layout:      post
title:      "О незнакомке"
date:        2019-08-19 10:54:00 +0000
alpha2:      lv
location:   "Юрмала, Латвия"
categories: [Набоков, Дар, Блок, незнакомка, цитата]
---

<blockquote>
<p class="ru">Молодая замужняя женщина. Продолжалось неполных два года,
до&nbsp;бегства из&nbsp;России. Она была так хороша, так мила&nbsp;&mdash;
знаете, большие глаза и&nbsp;немного костлявые руки,&nbsp;&mdash; что
я&nbsp;как-то до&nbsp;сих пор остался ей&nbsp;верен. От&nbsp;стихов она
требовала только ямщикнегонилошадейности, обожала играть в&nbsp;покер,
а&nbsp;погибла от&nbsp;сыпного тифа&nbsp;&mdash; Бог знает где, Бог знает
как...</p>
</blockquote>

<figcaption align="right">
  <cite><a href="https://ru.wikipedia.org/wiki/Набоков,_Владимир_Владимирович">
    Владимир Владимирович Набоков</a>,
  <a href="https://ru.wikipedia.org/wiki/Дар_(роман)">
    Дар</a>, гл.&nbsp;1 (1937)</cite>
</figcaption>
