---
layout:      post
title:      "Барселона"
subtitle:   "часть третья"
date:        2019-05-07 09:11:00 +0200
alpha2:      es
location:   "Гранада, Испания"
categories: [Барселона, дневник, Ла Рамбла, перекрёстки, путешествия, старик, цветочники]
---

<p class="ru">Все крупные перекрёстки в&nbsp;Барселоне восьмиугольные. Каждый
перекрёсток&mdash;это маленькая уютная площадь. Квадрат с&nbsp;усечёнными
углами очень удобен для подъезжающих машин. Такая форма сильно увеличивает угол
обзора. Но&nbsp;бедный пешеход! Вместо того, чтобы просто и&nbsp;сразу перейти
через дорогу, он&nbsp;вынужден пройти по&nbsp;скошенному ребру и&nbsp;только
там по&nbsp;сигналу светофора он&nbsp;имеет право пересечь проезжую часть.
Но&nbsp;Барселона город курортный. Здесь никто не&nbsp;торопится.
А&nbsp;диагональные ниши расчерчены белыми полосами для стоянки машин,
оборудованы стояками для велосипедов и&nbsp;мотороллеров. У&nbsp;каждой площади
магазинчик фруктов и&nbsp;овощей с&nbsp;полной хозяйкой в&nbsp;фартуке.
Загорелые руки. В&nbsp;тёмных веснушках лицо. Или кафе с&nbsp;блестящими
алюминиевыми столиками. В&nbsp;тени деревьев за&nbsp;столиками белая
гвардия.</p>

<!--more-->

<p class="ru">Один сидит старичок в&nbsp;отглаженном выцветшем ещё
в&nbsp;прошлый сезон пиджаке. Лицо полное морщин. Словно смятое и&nbsp;вновь
разглаженное письмо.  Перед ним кофе с&nbsp;молоком в&nbsp;стеклянном
стаканчике. Красный цветочек в&nbsp;вазочке. А&nbsp;в&nbsp;руках гитарка
овальной формы. Тонкие, почти невидимые, струны. Из&nbsp;той&nbsp;же
коричневатой от&nbsp;солнца и&nbsp;времени бумаги<span
class="red">&mdash;</span>руки, пальцы. Длинные ногти на&nbsp;левой руке.
Левша?  Он&nbsp;один, но&nbsp;не&nbsp;одинок. Тихо под нос бренчит песни
молодости.  Нам&nbsp;бы дожить до&nbsp;такой старости.</p>

<figure class="imagecentre">
  <img src="{{ site.url }}/assets/photo/bcn-la-rambla.jpg" alt="Лотки цветочников на Ла Рамбле">
  <figcaption><cite>
    Лотки цветочников на&nbsp;Ла&nbsp;Рамбле, 2019&nbsp;г.
  </cite></figcaption>
</figure>

<p class="ru">Самое интересное на&nbsp;Ла&nbsp;Рамбле&mdash;это продавцы цветов.
Они занимают обе стороны улицы. За&nbsp;лотками и&nbsp;в&nbsp;киосках женщины
ловко собирают букеты из&nbsp;бордовых роз и&nbsp;нежно-зелёных колосьев ржи.
Глубокий и&nbsp;низкий бордовый. На&nbsp;днях праздник Святого Георгия.
В&nbsp;этот день мужчины дарят сестрам, матерям и&nbsp;любимым цветы.
А&nbsp;в&nbsp;замен получают книги. Завтра и&nbsp;на&nbsp;улицах,
и&nbsp;в&nbsp;метро, повсюду женщины будут с&nbsp;розами, с&nbsp;цветочками,
с&nbsp;букетами светиться.</p>
