---
layout:      post
title:      "88 дней"
subtitle:   "эссе о романе Гайто Газданова «Ночные Дороги»"
date:        2019-10-27 10:54:00 +0000
alpha2:      gb
location:   "Лондон, Великобритания"
categories: [Газданов, Ночные дороги, эссе]
---

<figure class="image" style="float: right">
  <a href="{{ site.url }}/assets/photo/gazdanov-portrait.jpg">
    <img src="{{ site.url }}/assets/photo/gazdanov-portrait.jpg" alt="Гайто Газданов, портрет">
  </a>
  <figcaption><cite>Гайто Газданов, портрет</cite></figcaption>
</figure>

<p class="ru">Он&nbsp;ещё молод. Маленький, сутулый, крепко сбитый и&nbsp;чем-то похожий
на&nbsp;нахохлившегося воробья, на&nbsp;боксёра. Серая кепка блином, сигареты
на&nbsp;приборной доске, перчатки на&nbsp;руках, кожа изношена,
и&nbsp;в&nbsp;любую погоду на&nbsp;нём серый пиджак с&nbsp;заплатами
на&nbsp;рукавах и&nbsp;чёрная бесформенная куртка на&nbsp;несколько размеров
больше. У&nbsp;одного из&nbsp;первых появились у&nbsp;него наручные часы.</p>

<!--more-->

<p class="ru">Главное в&nbsp;романе&mdash;герой, шофёр, иммигрант. Всё
остальное&mdash;дым, как в&nbsp;серии Моне &laquo;Вокзал Сен-Лазар&raquo;,
декорация, приведения на&nbsp;фоне тёмных, мокрых дорог. Главное
в&nbsp;герое&mdash;глаза, узкие от&nbsp;азиатской крови, серые
от&nbsp;парижского неба. Лицо ещё молодое, но&nbsp;заметно усталое, бледное,
желтоватое от&nbsp;недостатка света, от&nbsp;недостатка сна,
от&nbsp;бесконечной езды, от&nbsp;нелюбви. Мозоли на&nbsp;ладонях несмотря
на&nbsp;перчатки, крупные фаланги, ногти. Главное в&nbsp;глазах&mdash;взгляд.
Изначально добрый, весёлый, освещаемый искрой света, смеха, шутки над самим
собой, над своим положением. От&nbsp;них морщинки у&nbsp;глаз. Но&nbsp;если
вглядеться внимательнее&mdash;надломленный, недоверчивый, будто долго
не&nbsp;заживающий шрам, рана от&nbsp;пережитого потрясения. </p>

<p class="ru">Быстро проходит очарование и&nbsp;романтика ночных дорог&mdash;дорог
в&nbsp;жёлтом свете, в&nbsp;радужных лужицах бензина, и&nbsp;вязкого масла,
и&nbsp;осенних листьев. Листья повсюду: на&nbsp;обочинах
и&nbsp;в&nbsp;реке.</p>

<p class="ru">Наша жизнь&mdash;словно поездка в&nbsp;такси: короткие мимолётные встречи
и&nbsp;разговоры искусственные, чаще поверхностные, чем вдумчивые, неожиданно
откровенные, глубокие. Жалость и&nbsp;сострадание атрофируются
со&nbsp;временем, как ненужный балласт. Пассажиры чаще вызывают отторжение
и&nbsp;неприязнь, чем сострадание и&nbsp;любовь. Это искатели приключений,
путаны, бандиты, предприниматели и&nbsp;клиенты несчётных борделей.</p>

<p class="ru">Прохожие ночного Парижа&mdash;разношёрстные калеки, бродяги, нищие,
опускающиеся интеллигенты, рабски тянущие лямку крестьяне и&nbsp;рабочие
с&nbsp;затянутыми невидимой пеленой глазами.</p>

<p class="ru">Вопреки обычному <i>русскому</i> романтическому представлению Париж
ночной&mdash;это огромный чёрный паук, раскинувший сети ночных дорог
во&nbsp;все стороны. Это город окраин мрачных и&nbsp;смрадных,
с&nbsp;жителями&ndash;рабами годами, поколениями не&nbsp;покидающими привычных
насиженных мест, проторенных дорог.</p>

<figure class="imagecentre">
  <a href="{{ site.url }}/assets/photo/gazdanov-collected-works.jpg">
    <img src="{{ site.url }}/assets/photo/gazdanov-collected-works.jpg"
         alt="Книги Гайто Газданова в библиотеке манчестерского университета">
  </a>
  <figcaption><cite>
    Книги Гайто Газданова в библиотеке манчестерского университета, 2020&nbsp;г.
  </cite></figcaption>
</figure>

<p class="ru">Маяками чёрного моря светят витрины ночных кафе. Светляками на&nbsp;них
собираются жители ночного города. Алкоголь&mdash;здесь средство побега
от&nbsp;невыносимой реальности, способ выжить. Удел философов, удел слабых. Наш
герой &laquo;думает о&nbsp;смерти, никого не&nbsp;любит, и&nbsp;презирает свою красоту&raquo;.
Он&nbsp;и&nbsp;сам с&nbsp;годами почти превратился в&nbsp;железного человека,
человека с&nbsp;железным сердцем. Повседневность, как бытовая химия, почти
вытравила в&nbsp;нём свет детства, человечность, вкус мечты. Он&mdash;ковбой,
купающийся в&nbsp;своём и&nbsp;чужом одиночествах. Есть сила в&nbsp;его руках,
но&nbsp;не&nbsp;ясно, куда идти и&nbsp;на&nbsp;что её&nbsp;применить.
Он&mdash;современный лирический герой, герой нашего времени. Один
из&nbsp;миллиона людей, выброшенных на&nbsp;берег революцией. Иммигранты
люди&ndash;рыбы, задыхающиеся в&nbsp;чужой стране, задыхающиеся
от&nbsp;неумения перестроиться, от&nbsp;невозможности применить себя. Эта книга
приоткрывает завесу на&nbsp;жизнь наших соотечественников в&nbsp;Париже.
Её&nbsp;мы&nbsp;тоже по&nbsp;привычке часто идеализируем. Разве может быть
трудно в&nbsp;Париже? Как это можно до&nbsp;сих пор не&nbsp;выучиться
по&nbsp;французски? И&nbsp;это после стольких лет...</p>

<blockquote>
<p class="ru">Они сидели друг против друга, за&nbsp;столиком этого маленького
ресторана, после обеда, стоившего каждому из&nbsp;них около восьми франков, оба
плохо одетые, в&nbsp;потрёпанных пиджаках, в&nbsp;рубашках не&nbsp;первой
свежести, в&nbsp;штанах с&nbsp;трагической бахромой внизу, и&nbsp;спорили
о&nbsp;государстве, гражданами которого они не&nbsp;состояли, о&nbsp;деньгах,
которых у&nbsp;них не&nbsp;было, об&nbsp;оружии, которого у&nbsp;них
не&nbsp;было, о&nbsp;правах, которых они не&nbsp;имели,
и&nbsp;о&nbsp;баррикадах, которых они не&nbsp;построили&nbsp;бы. И,
в&nbsp;конце концов, почти все посетители этого ресторана жили так&nbsp;же, как
Иван Петрович, или Иван Николаевич, в&nbsp;воображаемых мирах,
и&nbsp;чего&nbsp;бы речь ни&nbsp;коснулась, прошлого и&nbsp;будущего,
у&nbsp;них были готовые представления об&nbsp;этом, мечтательные и&nbsp;нелепые
и&nbsp;всегда идеально далёкие от&nbsp;действительности. Это были бесконечные
и&nbsp;никогда не&nbsp;существовавшие имения, сорок человек за&nbsp;столом,
великолепие прежней жизни, французские повара, гувернантки, поездки
в&nbsp;Париж или, опять-таки воображаемые, права в&nbsp;воображаемой будущей
России или вообще почти бесформенные полунадежды, полуощущения&mdash;вот приеду
и&nbsp;прямо скажу: ребята, теперь довольно. Я&nbsp;против вас зла
не&nbsp;питаю... Европа, в&nbsp;которой они жили, их&nbsp;совершенно
не&nbsp;интересовала, они не&nbsp;знали, что в&nbsp;ней происходит:
и&nbsp;лучшие из&nbsp;них становились мечтателями, избегавшими думать
о&nbsp;действительности, так как она им&nbsp;мешала; худшие,
то&nbsp;есть&nbsp;те, у&nbsp;кого воображение было меньше развито, говорили
о&nbsp;своей жизни со&nbsp;слезами в&nbsp;голосе и&nbsp;постепенно спивались.
И&nbsp;были, наконец, немногие, преуспевавшие в&nbsp;том, что они делали, так
называемые здравомыслящие люди в&nbsp;европейском смысле слова, но&nbsp;они
были наименее интересными и&nbsp;наименее русскими и&nbsp;о&nbsp;них мечтатели
говорили обычно с&nbsp;презрением и&nbsp;завистью. Разница между этими
русскими, попавшими сюда, и&nbsp;европейцами вообще, французами
в&nbsp;особенности, заключалась в&nbsp;том, что русские существовали
в&nbsp;бесформенном и&nbsp;хаотическом, часто меняющемся мире, которые они
чуть&nbsp;ли не&nbsp;ежедневно строили и&nbsp;создавали, в&nbsp;то&nbsp;время
как европейцы жили в&nbsp;мире реальном и&nbsp;действительном, давно
установившемся и&nbsp;приобретшем мертвенную и&nbsp;трагическую неподвижность,
неподвижность умирания или смерти. Это объяснялось не&nbsp;только тем, что
мечтатели были деклассированными людьми, добровольно покидавшими
действительность, которая их&nbsp;не&nbsp;удовлетворяла: в&nbsp;этом была ещё
чисто славянская готовность в&nbsp;любое утро, в&nbsp;любой день, в&nbsp;любой
час своего существования отказаться от&nbsp;всего и&nbsp;всё начать снова, так,
точно этому ничто не&nbsp;предшествовало,&mdash;та варварская свобода мышления,
которая показалась&nbsp;бы оскорбительной каждому европейцу. Даже любовь
мечтателей к&nbsp;прошлому, к&nbsp;прежней прекрасной жизни, к&nbsp;прежней
прекрасной России, тоже была обязана своим возникновением вольному движению
фантазии, так как&nbsp;то, что они описывали с&nbsp;бескорыстным
и&nbsp;искренним умилением, существовало, чаще всего, только
в&nbsp;их&nbsp;воображении.</p>
</blockquote>

<p class="ru">Но&nbsp;наш герой&mdash;избранный счастливец. У&nbsp;него помимо
редкостного дара замечать мельчайшие подробности, интонации, изменения
в&nbsp;голосе, в&nbsp;облике, в&nbsp;движениях, есть ещё одно редкое
сокровище&mdash;он обладатель другого параллельного мира, в&nbsp;котором
он&mdash;писатель в&nbsp;тихой гавани туалетного столика у кровати. Ему есть
куда скрыться от&nbsp;вездесущей темноты ночных дорог. Этот стол, тетради,
книги, разложенные неровными стопками по&nbsp;краям и&nbsp;есть тот остров, тот
необходимый каждому человеку остов, на&nbsp;котором он&nbsp;держится, свет
на&nbsp;который идёт. В&nbsp;сущности, человеческая жизнь&mdash;это комплексное
число, и&nbsp;у&nbsp;каждого для полноценной жизни помимо вещественной
обыденной части, должно быть что-то сокровенное, согревающее, вымышленное,
будь&nbsp;то игра на&nbsp;гитаре, отпуск на&nbsp;море, изучение испанского два
раза в&nbsp;неделю в&nbsp;институте Сервантеса, столярничание по выходным или
десять минут рисования по&nbsp;утрам, перед работой.</p>

<figure class="imagecentre">
  <a href="{{ site.url }}/assets/photo/dressing-table.jpg">
    <img src="{{ site.url }}/assets/photo/dressing-table.jpg" alt="Письменный столик">
  </a>
  <figcaption><cite>Письменный столик</cite></figcaption>
</figure>

<p class="ru">Нам всем нужен воздух, спонтанность, возможность проснуться ночью
и, выпив стакан воды, выйти босиком на&nbsp;балкон, вдохнуть полной грудью,
чтобы хоть на&nbsp;секунду запрокинуть голову и&nbsp;нырнуть в&nbsp;этот
бездонный звёздный мир.</p>

<blockquote>
<p class="ru"><p>Иногда, раз в&nbsp;несколько лет, среди этого каменного
пейзажа бывали вечера и&nbsp;ночи, полные того тревожного весеннего очарования,
которое я&nbsp;почти забыл с&nbsp;тех пор, что уехал из&nbsp;России,
и&nbsp;которому соответствовала особенная, прозрачная печаль моих чувств, так
резко отличная от&nbsp;моей постоянной густой тоски, смешанной
с&nbsp;отвращением. Всё менялось тогда, точно перенастроенный рояль,
и&nbsp;вместо грубых и&nbsp;сильных чувств, которые мучили меня обычно,
неутолённое и&nbsp;длительное желание, от&nbsp;которого тяжелели
и&nbsp;наливались кровью мускулы, или слепая страсть, в&nbsp;которой
я&nbsp;не&nbsp;узнавал своего лица, когда мой взгляд падал в&nbsp;эти минуты
на&nbsp;зеркало, или непобедимое, непрекращающееся сожаление оттого, что всё
не&nbsp;так, как должно было&nbsp;бы быть, и&nbsp;ещё это постоянное ощущение
рядом с&nbsp;собой чьей-то чужой смерти,&mdash;и я&nbsp;входил, не&nbsp;зная,
как и почему, в&nbsp;иной мир, лёгкий и&nbsp;стеклянный, где всё было звонко
и&nbsp;далеко и&nbsp;где&nbsp;я, наконец, дышал этим удивительным весенним
воздухом, от&nbsp;полного отсутствия которого я&nbsp;бы, кажется, задохнулся.
И&nbsp;в&nbsp;такие дни и&nbsp;вечера я&nbsp;с&nbsp;особенной силой ощущал
те&nbsp;вещи, которые всегда смутно сознавал и&nbsp;о&nbsp;которых очень редко
думал,&mdash;именно, что мне трудно было дышать, как почти всем нам,
в&nbsp;этом европейском воздухе, где не&nbsp;было ни&nbsp;ледяной чистоты зимы,
ни&nbsp;бесконечных запахов и&nbsp;звуков северной весны, ни&nbsp;огромных
пространств моей родины.</p>
</blockquote>

<p class="ru">Каждый вечер он&nbsp;гасит лампу, громко щёлкая выключателем, в
наступивших сизых сумерках, снимает с&nbsp;крючка в&nbsp;прихожей кепку блином
и крепко-накрепко задраивая люки, как на&nbsp;подводной лодке, переступает
порог, превращаясь в&nbsp;профессионального водителя. Он&nbsp;снова будет
говорить на&nbsp;арго и пережидать часы затишья в&nbsp;кафе, попивая тёплое
молоко у&nbsp;стойки.</p>

<blockquote>
<p class="ru">И&nbsp;через два часа после этого свидания, поужинав дома
и&nbsp;покинув с сожалением мою комнату, мой стол и&nbsp;диван, я&nbsp;снова
сидел за&nbsp;рулём своей машины и медленно ехал по&nbsp;городу, оставив
на&nbsp;несколько вечерних и&nbsp;ночных часов&nbsp;то, в&nbsp;чём
я&nbsp;обычно жил&mdash;воспоминания, мысли, мечты, любимые книги, последние
впечатления вчерашнего дня, последний разговор о&nbsp;том, что мне в&nbsp;тот
период моей жизни казалось самым важным. Я&nbsp;знал по&nbsp;долгому опыту, что
работать с&nbsp;какой-нибудь пользой можно было, только забыв обо всём этом
и&nbsp;превратившись в профессионального шофёра.</p>

<p class="ru">...</p>

<p class="ru">В&nbsp;первое время я&nbsp;ещё пытался брать с&nbsp;собой книги
для чтения, но потом решительно отказался от&nbsp;этого; они слишком мешали
мне, создавая недопустимую двойственность бытия, совершенно неприемлемую
в&nbsp;этих условиях.</p>
</blockquote>

<figure class="image" style="float: right">
  <a href="{{ site.url }}/assets/photo/gazdanov-night-roads.jpg">
    <img src="{{ site.url }}/assets/photo/gazdanov-night-roads.jpg"
	 alt="Текст романа Гайто Газданова &laquo;Ночные дороги&raquo;, первая страница.">
  </a>
  <figcaption>
    <cite>Текст романа Гайто Газданова &laquo;Ночные дороги&raquo;, первая страница, 2020&nbsp;г.</cite>
  </figcaption>
</figure>

<p class="ru">На обратном пути из&nbsp;Риги в&nbsp;Манчестер рядом со&nbsp;мной
в&nbsp;узкое самолётное кресло тяжело опустился человек в&nbsp;пеплом покрытых
коротких жёстких волосах. От&nbsp;него, как и&nbsp;от&nbsp;газдановского
Платона, сильно пахло спиртным. Он&nbsp;звонил кому-то и&nbsp;на ломанном
английском объяснял, что всё в&nbsp;порядке, что он&nbsp;уже
вылетает&mdash;ждите. А потом по&nbsp;невнимательности пристегнулся моим ремнём
и&nbsp;позвонил домой. Джазовый голос. Приглушённый свет. Он&nbsp;кивает
и&nbsp;всё сильнее сгибается в&nbsp;кресле: &laquo;Ничего страшного. Я&nbsp;уже
скоро вернусь.  Ты&nbsp;и&nbsp;не&nbsp;заметишь. Вот увидишь.  Осталось
88&nbsp;дней. Всего 88&nbsp;дней...&raquo;<p>

<p class="ru">Это мы&nbsp;такими&nbsp;же ковбоями бороздим просторы чужих городов
в&nbsp;поисках смысла, счастья, лучшей доли, любви. Это мы&nbsp;в&nbsp;вакууме
и&nbsp;без друзей. Это мы&nbsp;один на&nbsp;один сами с&nbsp;собой&mdash;серые
глаза и&nbsp;переносица в&nbsp;зеркале заднего вида.</p>
