---
layout:      post
title:      "Барселона"
subtitle:   "часть первая"
date:        2019-05-03 07:48:00 +0200
alpha2:      es
location:   "Гранада, Испания"
categories: [Барселона, дневник, путешествия]
---

<script type="text/javascript">
<!--
  function toggle_visibility(id) {
    var e = document.getElementById(id);
    if (e.style.display == 'block')
      e.style.display = 'none';
    else
      e.style.display = 'block';
  }
//-->
</script>

<figure class="epigraph">
<p>Сорвем ерунду пиджаков и&nbsp;манжет,</br>
крахмальные груди раскрасим под панцирь,</br>
загнем рукоять на&nbsp;столовом ноже,</br>
и&nbsp;будем все хоть на&nbsp;день, да&nbsp;испанцы<a href="#poem" onclick="toggle_visibility('poem');">...&nbsp;<i style="text-indent: 0" class="fa fa-angle-double-right" aria-hidden="true"></i>
</a></p>

<div id="poem" style="display: none;">
<p>Мокрая, будто ее&nbsp;облизали,</br>
толпа.</br>
Прокисший воздух плесенью веет.</br>
Эй!</br>
Россия,</br>
нельзя&nbsp;ли</br>
чего поновее?</p>

<p>Блажен, кто хоть раз смог,</br>
хотя&nbsp;бы закрыв глаза,</br>
забыть вас,</br>
ненужных, как насморк,</br>
и&nbsp;трезвых,</br>
как нарзан.</p>

<p>Вы&nbsp;все такие скучные, точно</br>
во&nbsp;всей вселенной нету Капри.</br>
А&nbsp;Капри есть.</br>
От&nbsp;сияний цветочных</br>
весь остров, как женщина в&nbsp;розовом капоре.</p>

<p>Помчим поезда к&nbsp;берегам, а&nbsp;берег</br>
забудем, качая тела в&nbsp;пароходах.</br>
Наоткрываем десятки Америк.</br>
В&nbsp;неведомых полюсах вынежим отдых.</p>

<p>Смотри, какой ты&nbsp;ловкий,</br>
а&nbsp;я &mdash;</br>
вон у&nbsp;меня рука груба как.</br>
Быть может, в&nbsp;турнирах,</br>
быть может, в&nbsp;боях</br>
я&nbsp;был&nbsp;бы самый искусный рубака.</p>

<p>Как весело, сделав удачный удар,</br>
смотреть, растопырил ноги как.</br>
И&nbsp;вот врага, где предки,</br>
туда</br>
отправила шпаги логика.</p>

<p>А&nbsp;после в&nbsp;огне раззолоченных зал,</br>
забыв привычку спанья,</br>
всю ночь напролет провести,</br>
глаза</br>
уткнув в&nbsp;желтоглазый коньяк.</p>

<p>И, наконец, ощетинясь, как&nbsp;еж,</br>
с&nbsp;похмелья придя поутру,</br>
неверной любимой грозить, что убьешь</br>
и&nbsp;в&nbsp;море выбросишь труп.</p>

<p>Сорвем ерунду пиджаков и&nbsp;манжет,</br>
крахмальные груди раскрасим под панцирь,</br>
загнем рукоять на&nbsp;столовом ноже,</br>
и&nbsp;будем все хоть на&nbsp;день, да&nbsp;испанцы.</p>

<p>Чтоб все, забыв свой северный&nbsp;ум,</br>
любились, дрались, волновались.</br>
Эй!</br>
Человек,</br>
землю саму</br>
зови на&nbsp;вальс!</p>

<p>Возьми и&nbsp;небо заново вышей,</br>
новые звезды придумай и&nbsp;выставь,</br>
чтоб, исступленно царапая крыши,</br>
в&nbsp;небо карабкались души артистов.</p>
</div>
<figcaption align="right"><cite>Эй! Владимир Маяковский&nbsp;(1916)</cite></figcaption>
</figure>

<p class="ru">Неделя в&nbsp;городе счастья&mdash;Барселоне. Встречает она
угрюмо: дождём, низким небом стальным и&nbsp;могучими волнами в&nbsp;мраморных
нитях. Волны катятся размеренно и&nbsp;обрушивают всю свою силу
на&nbsp;прибрежные волнорезы, на&nbsp;крупный песок. Закалённые, просоленные
бегуны не&nbsp;сдаются и&nbsp;семенят по&nbsp;променаду. Я&nbsp;бегу
им&nbsp;навстречу, закрываю лицо от&nbsp;крупных капель, которые становятся
похожи на&nbsp;град. Море живое, каждый день оно новое: то&nbsp;бушующее,
то&nbsp;ласковое, лижет плоскими языками берег, то&nbsp;совсем тихое,
затаившееся на&nbsp;время застывшее серебро. Оно то&nbsp;набирает полную грудь
воздуха и&nbsp;кричит в&nbsp;гневе, то&nbsp;ищет ласки, как любимая женщина,
как верный пёс.</p>

<!--more-->

<p class="ru">По&nbsp;утрам на&nbsp;променаде рыбаки со&nbsp;своими
велосипедами, удочками, снастями. Говорят вполголоса. Лишь далеко забрасывают
поплавки и&nbsp;ждут. Ждут&mdash;руки в&nbsp;карманах, закрывают глаза
от&nbsp;солнца тыльной стороной ладони. Бородачи выгуливают собак: кидают
в&nbsp;море палку, а&nbsp;сами заваливаются на&nbsp;песок, и, подложив под
голову руку, что-то читают в&nbsp;телефоне, фотографируют заливаемый солнцем
пейзаж. Уборщики разгоняют песочную жёлтую пыль, поднимая за&nbsp;собой целый
хвост. Бегом, задерживая дыхание.</p>

<figure class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/_EoqEm4E5dE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</figure>

<p class="ru">К&nbsp;одиннадцати пляж и&nbsp;променад полны туристами
рассевшимися на&nbsp;холодных бетонных лавочках, полусидящими
на&nbsp;разноцветных покрывалах, играющими в&nbsp;карты, кормящими детей.
Цветастые пледы и&nbsp;шали продают здесь&nbsp;же негры. Выкрики разносчиков
мохито. Звонки велорикш. Они будут ехать за&nbsp;тобой и&nbsp;уговаривать:
&laquo;Ты&nbsp;только послушай, дружище...&raquo; Большую часть времени они
стоят без дела. Сбиваются в&nbsp;стайки, затормаживают движение, сидят
с&nbsp;ногами на&nbsp;задних сидениях, громко слушают ритмичные азиатские
мотивы и&nbsp;горделиво оглядывают публику в&nbsp;поисках клиентов. Форма
одежды&mdash;спортивный костюм и&nbsp;солнцезащитные очки.
Небритость&mdash;лёгкая. Барселона&mdash;рай для настоящих спортсменов. Здесь
всё<span class="red">&mdash;</span>движение. Велосипедисты всех уровней
и&nbsp;мастей, скейтбордисты, подростки на&nbsp;роликах и&nbsp;самокатах,
крепыши на&nbsp;пляжных турниках, со&nbsp;старинными пузатыми пудовыми
гантелями.</p>

<p class="ru">В&nbsp;выходные променад превращается в&nbsp;непроходимую живую
реку людей. А&nbsp;пляж в&nbsp;огромную спорт-площадку: здесь разыгрываются
нешуточные матчи по&nbsp;волейболу, футболу, пляжному теннису. Красуются
в&nbsp;море белоснежные яхты, стройные парусники, одинокие катамараны. Ноги
в&nbsp;воде, лёгкие платья, вино...</p>
