---
layout:      post
title:      "О приезде матери"
date:        2019-08-19 11:14:00 +0000
alpha2:      lv
location:   "Юрмала, Латвия"
categories: [Набоков, Дар, цитата, мать, приезд, встреча]
---

<blockquote>
<p class="ru">Она тогда приехала к&nbsp;нему на&nbsp;две недели после
трёхлетней разлуки, и&nbsp;в&nbsp;первое мгновение, когда, до&nbsp;смертельной
бледности напудренная, в&nbsp;чёрных перчатках и&nbsp;чёрных чулках,
в&nbsp;распахнутой старой котиковой шубке, она сошла по&nbsp;железным
ступенькам вагона, посматривая одинаково быстро то&nbsp;себе под ноги,
то&nbsp;на&nbsp;него, и&nbsp;вдруг, с&nbsp;лицом искажённым мукой счастья,
припала к&nbsp;нему, блаженно мыча, целуя его в&nbsp;ухо, в&nbsp;шею, ему
показалось, что красота, которой он&nbsp;так гордился, выцвела,
но&nbsp;по&nbsp;мере того, как его зрение приспособлялось к&nbsp;сумеркам
настоящего, столь сначала отличным от&nbsp;далёкого отставшего света памяти,
он&nbsp;опять узнавал в&nbsp;ней всё, что любил: чистый очерк лица,
суживающийся к&nbsp;подбородку, изменчивую игру зелёных, карих, жёлтых
восхитительных глаз под бархатными бровями, лёгкую длинную поступь, жадность,
с&nbsp;которой она закурила в&nbsp;такси, внимание, с&nbsp;которым вдруг
посмотрела&nbsp;&mdash; не&nbsp;ослепнув, значит, от&nbsp;волнения встречи, как
ослепла&nbsp;бы всякая&nbsp;&mdash; на&nbsp;обоими замеченный гротеск:
невозмутимый мотоциклист провёз в&nbsp;прицепной каретке бюст Вагнера;
и&nbsp;уже, когда приблизились к&nbsp;дому, прошлый свет догнал настоящее,
пропитал его до&nbsp;насыщения, и&nbsp;всё стало таким, каким бывало
в&nbsp;этом&nbsp;же Берлине три года назад, как бывало когда-то в&nbsp;России,
как бывало и&nbsp;будет всегда.</p>
</blockquote>

<figcaption align="right">
  <cite><a href="https://ru.wikipedia.org/wiki/Набоков,_Владимир_Владимирович">
    Владимир Владимирович Набоков</a>,&nbsp;
  <a href="https://ru.wikipedia.org/wiki/Дар_(роман)">
    Дар</a>, гл.&nbsp;2 (1937)</cite>
</figcaption>
