---
layout:      post
title:      "Гранада"
subtitle:   "часть вторая"
date:        2019-05-19 10:49:00 +0200
alpha2:      es
location:   "Гранада, Испания"
categories: [Гранада, дневник, лето, путешествия]
---

<p class="ru">Испания&mdash;это праздник который всегда с&nbsp;тобой. Недавно
за&nbsp;ленчем меня вдруг осенило, что я&nbsp;живу жизнью знаменитого писателя.
Я&nbsp;встаю во&nbsp;сколько мне хочется, делаю зарядку, читаю, завтракаю
хлебом и&nbsp;кофе в&nbsp;студенческой столовой, учу испанский
по&nbsp;видео-уроками, пишу, и&nbsp;иду на&nbsp;работу. На&nbsp;работе
я&nbsp;занимаюсь любимым делом, своей темой, которую я&nbsp;предложил.
И&nbsp;у&nbsp;меня получается. Не&nbsp;каждый день одинаково хорошо,
но&nbsp;работа движется.</p>

<!--more-->

<p class="ru">На&nbsp;ленч я&nbsp;повадился ходить в&nbsp;международное
молодёжное кафе под названием &laquo;Мимими&raquo;. За&nbsp;9,80&euro;
я&nbsp;беру порцию салата из&nbsp;свежих листьев и&nbsp;авокадо, горячий
бутерброд с&nbsp;оливками и&nbsp;под конец капучино. Маленький деревянный
столик на улице, в&nbsp;тени.  И&nbsp;пока готовится ленч я&nbsp;читаю
&laquo;Идиота&raquo; Фёдора Достоевского. И радуюсь всем сердцем за&nbsp;князя
Мышкина за&nbsp;его хрупкое прозрачное счастье. И&nbsp;там тоже лето, террасы,
разговоры за&nbsp;полночь, чай, прогулки в&nbsp;саду, музыка в вокзале, зелёная
скамейка... И&nbsp;сам я&nbsp;потихоньку начинаю думать, делать как&nbsp;он.
Однажды в&nbsp;понедельник я&nbsp;чуть позже пришёл в&nbsp;Мимими, но&nbsp;кафе
было уже закрыто.  Сиеста? Тогда я&nbsp;решился пообедать в&nbsp;соседнем баре
для настоящих испанцев.  Самыми простыми словами я&nbsp;объяснил дородной
хозяйке за&nbsp;прилавком, что я вегетарианец, что прошу у&nbsp;неё что-нибудь
небольшое на&nbsp;обед. Через минуту передо мной очутилась глиняная тарелка
с&nbsp;рисом, густо политым томатным соусом, увенчанная яичницей.
Я&nbsp;смотрел на&nbsp;еду и&nbsp;думал словами Мышкина: &laquo;Ну,
что&nbsp;же, и это тоже еда. Стало быть нужно есть&raquo;. После ленча
я&nbsp;работаю ещё несколько часов, а&nbsp;потом мы&nbsp;идём
на&nbsp;пятичасовой кофе и&nbsp;чай. Сидим с&nbsp;коллегами на&nbsp;улице
за&nbsp;белыми пластмассовыми столиками. Качаются над нами сосны, липы, купают
нас в прохладной тени. И&nbsp;я&nbsp;восторженно всем рассказываю, что
я&nbsp;попал в&nbsp;рай, что живу мечтой, что веду себя как знаменитый
писатель. Главное, что мне хватило внутреннего мира, развития, чтобы это так
вдруг осознать, чтобы это ценить.</p>

<p class="ru">Гранада и&nbsp;жизнь моя здесь&mdash;это подарок небес! Как
всегда в&nbsp;такие моменты мне хочется поделиться всем этим с&nbsp;родными
и&nbsp;близкими.  Я&nbsp;мысленно вспоминаю их всех, разговариваю с&nbsp;ними,
расспрашиваю об&nbsp;их&nbsp;жизни, рассказываю о&nbsp;том, как скучаю
по&nbsp;ним, говорю об&nbsp;Испании. Помимо семьи, это и&nbsp;армянский
профессор, который обязательно, должен выздороветь и&nbsp;несмотря
ни&nbsp;на&nbsp;что, ни&nbsp;на&nbsp;занятость, ни&nbsp;на&nbsp;упадок сил,
написать лучший учебник по&nbsp;геометрии классической и&nbsp;римановой
(С&nbsp;какой радостью я&nbsp;ходил на&nbsp;эти лекции!), это и&nbsp;режиссёр,
которому мы раздобудем устройство для записи DVD-дисков, чтобы он&nbsp;смог
аккуратно переписать всю свою видео-коллекцию для потомства, это Вадим&nbsp;К.
со&nbsp;своими бесконечными техническими экспериментами, это Вадим&nbsp;А.
в&nbsp;полутумане головной боли, это Вадим Д. в&nbsp;работе, в&nbsp;делах,
в&nbsp;книгах.</p>

<p class="ru">Как хорошо, как радостно, что совсем незаметно, &laquo;тихими
стопами&raquo; к&nbsp;нам снова пришло лето. И&nbsp;по&nbsp;утрам мы&nbsp;будем
бегать по&nbsp;взморью, гулять и&nbsp;купаться, и&nbsp;читать любимые книги,
и&nbsp;писать свои, и&nbsp;работать&ndash;работать&ndash;работать с&nbsp;новыми
силами!</p>
