---
layout:      post
title:      "Барселона"
subtitle:   "часть вторая"
date:        2019-05-04 09:09:00 +0200
alpha2:      es
location:   "Гранада, Испания"
categories: [Барселона, дневник, путешествия]
---

<p class="ru">Двухуровневый барселонский променад&mdash;старший брат
тель-авивского.  Тель-Авив&mdash;единственный город, который может
посоревноваться с&nbsp;Барселоной.  Каждый вечер я&nbsp;прогуливаюсь
по&nbsp;верхнему уровню сплошь усеянному кафе, ресторанами и&nbsp;ночными
клубами. В&nbsp;середине разворачивает свои крылья огромная проржавевшая
скульптура железной бабочки. Прямо на&nbsp;море выходит корпус морской больницы
и&nbsp;здание казино. На&nbsp;взморье есть всё. Приятно в&nbsp;часы посещений
выйти на&nbsp;улицу и&nbsp;посидеть прямо в&nbsp;пижаме на&nbsp;скамеечке.
Свежий воздух обвевает лицо.  Неубранные волосы и&nbsp;в&nbsp;бумажном
стаканчике кофе. Перед бабочкой в&nbsp;прямоугольной нише пришвартованы тысячи
яхт от&nbsp;самых маленьких до&nbsp;огромных великанов. Они еле заметно
покачиваются, постукивают снастями, изредка звонят колокольчиками. И
если&nbsp;бы я&nbsp;был художником, я&nbsp;бы нарисовал этот удивительный
синий, зеркальный цвет моря в&nbsp;проходах между судами, отражения лодок
в&nbsp;сверкающей воде. Но&nbsp;я, как импрессионист, рисую крупными яркими
мазками слов.</p>

<!--more-->

<figure class="imagecentre">
  <img src="{{ site.url }}/assets/photo/bcn-beach.jpg" alt="Пляж в Барселоне">
  <figcaption><cite>
    Пляж Новой Икарии в Барселоне, 2019&nbsp;г.
  </cite></figcaption>
</figure>

<p class="ru">Море заряжает бодростью и&nbsp;хочется рано вставать, делать
зарядку, бежать, ехать. С&nbsp;самого утра по&nbsp;выходным выстраиваются
очереди в&nbsp;яхт-клубы и&nbsp;школы сёрфинга.  Родители, приводят детей
на&nbsp;занятия. Дети осваивают первые шаги навигации, а родители тёплый кофе
с&nbsp;молоком, маленькими глотками. Спят ещё скульпторы из песка. Спят
их&nbsp;скульптуры. Затухает ночной огонь в&nbsp;пасти песчаного дракона,
внутри песочных вигвамов. В&nbsp;Барселоньетте на&nbsp;пляже стоят колонны из
поставленных друг на&nbsp;друга железных кубов&mdash;шаткие здания неправильной
формы. Это памятники отказникам, изгоям, пионерам и&nbsp;переселенцам. Так
и&nbsp;написано: &laquo;Барселона&mdash;город переселенцев.&raquo;
На&nbsp;нижних кубах рассаживается и&nbsp;щебечет молодёжь, ещё
не&nbsp;ложившаяся со&nbsp;вчерашней ночи. Парни снимают майки
и&nbsp;в&nbsp;одних штанах хлещут друг друга по&nbsp;голым спинам и&nbsp;полным
бокам, подзадоривают друг друга, борются на&nbsp;песке, как тысячу лет
назад.</p>

<figure class="imagecentre">
  <img src="{{ site.url }}/assets/photo/bcn-marina.jpg" alt="Барселонская гавань">
  <figcaption><cite>
    Барселонская гавань, 2019&nbsp;г.
  </cite></figcaption>
</figure>

<p class="ru">Приезжих, охотников за удачей, лучшей жизнью много. Вот они разостлали
свой нехитрый товар на&nbsp;тротуарах: солнцезащитные очки, дамские сумочки,
пляжные покрывала, майки, кроссовки, часы... Их&nbsp;много
и&nbsp;на&nbsp;Ла&nbsp;Рамбле, главной пешеходной улице города. Они и индийские
зазывалы с&nbsp;мокрыми чёрными волосами на&nbsp;пробор, ждущие вас за столиками
кафе, и разукрашенные в&nbsp;серебряный, бронзовый цвет люди-памятники, замирающие
на&nbsp;потеху туристам. Другие подбрасывают в&nbsp;воздух светящиеся
безделушки, переливающиеся огоньками, плавно спускающиеся обратно к&nbsp;земле.
Третьи, завидев приезжую молодёжь, предлагают сильнейшее курево.</p>
