---
layout:      post
title:      "Гранада"
subtitle:   "часть первая"
date:        2019-05-13 09:49:00 +0200
alpha2:      es
location:   "Гранада, Испания"
categories: [Гранада, дневник, путешествия]
---

<p class="ru">Гранада&mdash;старинный средневековый город. Здесь всё
о&nbsp;стихах и&nbsp;поэзии. И&nbsp;даже странно, что Лорка&mdash;единственный
знаменитый поэт вышедший из&nbsp;этих стен. Город расположен в&nbsp;долине,
окружённой со&nbsp;всех сторон холмами и&nbsp;горами. Многие жилые районы
по&nbsp;холмам спускаются вниз к&nbsp;центру Гранады. И&nbsp;всё это сильно
напоминает Вупперталь. Вчера, впервые за&nbsp;две недели, я&nbsp;прошёл
по&nbsp;туристической тропе и&nbsp;взобрался на&nbsp;западный холм под
названием Альбайсин. По&nbsp;холму до&nbsp;самой вершины извиваются дорожки
и&nbsp;узенькие тропинки, аккуратно выложенные булыжником, плиткой. Ютятся
домики, сильно прижавшись друг к&nbsp;другу, словно от&nbsp;холода. Через
каждые сто&ndash;двести метров подъёма вас ждёт уютная маленькая площадь или сквер,
откуда открывается чистый вид на&nbsp;просыпающийся утренний город.</p>

<!--more-->

<p class="ru">В&nbsp;центре площади сидит на&nbsp;каменном парапете гитарист и&nbsp;медленно
перебирает струны в&nbsp;стиле фламенко. А&nbsp;потом вдруг разойдётся
и&nbsp;начнёт петь высоким голосом с&nbsp;подвыванием. Именно так
по&nbsp;традиции нужно петь фламенко.  Фламенко<span
class="red">&mdash;</span>это цыганские песни и&nbsp;цыганский танец. Женщина
в&nbsp;длинном красно-чёрном платье до&nbsp;пола, в&nbsp;ботиках
на&nbsp;высоких и&nbsp;крепких каблуках. Танцует крутя кистями, отбивает
чечётку в&nbsp;ритм гитаре, песне. Хочется, чтобы это была молоденькая девочка,
настоящая танцовщица. Но&nbsp;обычно это женщина в&nbsp;годах,
в&nbsp;татуировках.  (Сигареты, пиво, искусственный красный цветок
в&nbsp;волосах). Медленно и&nbsp;лениво крутит она боками в&nbsp;такт мелодии.
А&nbsp;от&nbsp;фламенко хочется совсем другого.</p>
