---
layout:      post
title:      "Планы 2020"
date:        2020-03-17 09:39:00 +0000
alpha2:      gb
location:   "Манчестер, Великобритания"
categories: [2020, планы]
---

<ul>
  <li>Прослушать <a href="https://www.coursera.org/learn/machine-learning">курс по&nbsp;Машинному обучению&nbsp;(Стенфорд)</a>.</li>
  <li>Прослушать <a href="https://www.futurelearn.com/courses/functional-programming-haskell">курс по&nbsp;Гаскеллу&nbsp;(Глазго)</a>.</li>
  <li>Написать книгу (девять глав) (работать по полчаса в&nbsp;день).</li>
  <li>Прочитать «Введение в&nbsp;Линейную алгебру» Гельфанда.</li>
  <li>Пробежать пять и десять километров и полумарафон.</li>
</ul>

  <!--more-->

<ul>
  <li>Подтягиваться двадцать пять раз.</li>
  <li>Сесть на&nbsp;шпагат.</li>
  <li>Ежедневно читать журналы <a href="https://spectrum.ieee.org">IEEE&nbsp;Spectrum</a>.</li>
  <li>Создать сайт для маминой компании.</li>
  <li><a href="{{ site.url }}">Личный сайт</a>: обновить фотографию и освежить информацию о&nbsp;<a href="{{ site.url }}/bio/">CV</a>, <a href="{{ site.url }}/pub/">публикациях</a> и <a href="{{ site.url }}/research/">проектах</a>.</li>
  <li>Закончить эксперименты и написать статью о&nbsp;2DRMP+PLASMA.</li>
  <li>Написать программу для параллельного перечисления лиандров.</li>
  <li>Написать калькулятор использующий <a href="https://ru.wikipedia.org/wiki/Обратная_польская_запись">обратную бесскобочную запись</a>.</li>
  <li>Собрать велосипед.</li>
  <li>Доделать шкафчик с&nbsp;выдвижными ящиками.</li>
  <li>Летом жить в&nbsp;Барселоне и кататься на&nbsp;роликах.</li>
  <li>Научиться вставать в&nbsp;пять утра.</li>
  <li>Выучить идиш на&nbsp;начальном уровне.</li>
  <li>Пройти <a href="https://www.youtube.com/watch?v=OIenGV8b3XM&t=14s">курс Дмитрия Петрова (полиглота) по&nbsp;испанскому языку</a>.</li>
  <li>КквМ.</li>
  <li>Переселиться на лето в&nbsp;Формби.</li>
  <li>Переехать в&nbsp;Уоррингтон или окрестности, чтобы жить на&nbsp;природе.</li>
  <li>Играть на&nbsp;гитаре (по&nbsp;полчаса в&nbsp;день).</li>
  <li>Подать статью на&nbsp;конференцию <a href="https://www.eucap2020.org">EuCAP</a> или <a href="https://2020apsursi.org">APS/URSI</a>.</li>
  <li>Установить литые диски на&nbsp;машину, обернуть руль и заклеить царапину на&nbsp;обшивке.</li>
  <li>Навестить бабушку во&nbsp;Франкфурте.</li>
  <li>Читать художественную литературу&nbsp;(по-немецки).</li>
  <li>Собрать механическую клавиатуру, радиоприёмник и усилитель для электрогитары.</li>
  <li>Нениж.</li>
  <li>Оформить британское гражданство.</li>
  <li>Писать по&nbsp;одному рассказу в&nbsp;месяц.</li>
  <li>Оживить блог, добавляя по&nbsp;заметке в&nbsp;неделю.</li>
  <li>Освоить нотную грамоту для игры на гитаре.</li>
</ul>
