---
layout:      post
title:      "Сентябрь"
date:        2020-09-14 20:39:00 +0000
alpha2:      lv
location:   "Юрмала, Латвия"
categories: [дневник]
---

<p class="ru">Скучаю по&nbsp;живой русской литературе, по&nbsp;свободным и&nbsp;свежим мыслям, по&nbsp;искусству и&nbsp;разговорам с&nbsp;друзьями. Кажется, &laquo;за&nbsp;долгой и&nbsp;честной работой&raquo; теряю нить жизни, задыхаюсь от&nbsp;часто меняющихся проектов, видео-совещаний, сжатых сроков. Всё нужно успеть. Трудно работать вдумчиво и&nbsp;качественно. В&nbsp;школе нашу жизнь обогащали учителя и&nbsp;разноцветное расписание. Тогда мы&nbsp;этого не&nbsp;ценили. Сейчас в&nbsp;расписании мало пробелов. Оно однотонное. Ты&nbsp;сам должен позаботиться о&nbsp;красках, оставить время на&nbsp;воздух, мысли, литературу и&nbsp;спорт. По&nbsp;совету армянского профессора я&nbsp;стараюсь ставить перед собой сложные задачи: читать книги и&nbsp;слушать музыку, которую я&nbsp;высоко ценю, но&nbsp;пока не&nbsp;могу осознать, понять, ощутить. Я&nbsp;читаю Блока по&nbsp;школьной антологии 1975 года и&nbsp;слушаю пятую симфонию Малера (в&nbsp;исполнении Симфонического оркестра Московского радио под руководством Геннадия Рождественского, 1973). Но&nbsp;даже эти начальные задания мне тяжело выполнить.</p>

<!--more-->

<p class="ru">Очень хочется работать с&nbsp;бодростью и&nbsp;оптимизмом, как в&nbsp;первые дни по&nbsp;возвращении в&nbsp;Манчестер, возобновить занятия математикой, написание статей и&nbsp;чтение учебника Гельфанда, изучение языков, и&nbsp;летние чтения Ремарка на&nbsp;немецком на&nbsp;зелёной траве в&nbsp;тишине, хочется начать своё дело, пить cappuccino по&nbsp;утрам, придумывать новые идеи и&nbsp;самому планировать время. Как вместить их&nbsp;в&nbsp;сегодняшний график?</p>

<p class="ru">В&nbsp;эти дни я&nbsp;многое переосмысливаю и&nbsp;переоцениваю, особенно свою жизнь за&nbsp;границей. Эмиграция, Манчестер, Англия, Университет теряют свою роль и&nbsp;значение.</p>
