---
layout:      post
title:      "Итоги 2019"
date:        2020-01-07 11:30:00 +0000
alpha2:      eg
location:   "Шарм-эш-Шейх, Египет"
categories: [2019, итоги]
---

<ul>
  <li>В этом году мы много путешествовали. Мы посетили Индию (Дели, Агру, Джайпур, Барейли и заповедник имени Джима Корбета).</li>
  <li>Я был на семинаре в тихом сказочном Нижнем Новгороде, и на обратном пути останавливался в Москве, посетил могилу Льва Толстого в Ясной поляне и музей самоваров в Туле.</li>
  <li>Зимой мы ездили на <a href="https://www.limmudfsu.org">Лимуд</a> в Санкт-Петербурге, а весной&mdash;в Москву.</li>
  <li>Выйграл грант <a href="http://www.hpc-europa.eu">HPC-Europa3</a> и семь недель работал в солнечной Барселоне и Гранаде над своими исследовательскими проектами.</li>
  <li>Вышла наша статья о <a href="https://bitbucket.org/icl/plasma/src/default/">PLASMA</a> для которой я написал главы о <a href="https://ru.wikipedia.org/wiki/Разложение_Холецкого">разложениях Холецкого</a> и <a href="https://ru.wikipedia.org/wiki/LU-разложение">LU</a>.</li>
</ul>

  <!--more-->

<ul>
  <li>Зимой с испанскими коллегами мы подали статью в <a href="https://journals.plos.org/plosone">PLOS ONE</a> о параллельном <a href="https://ru.wikipedia.org/wiki/Метод_конечных_разностей_во_временной_области">методе конечных разностей</a>.</li>
  <li>Провалил два технических интервью с <a href="https://intel.com">Intel</a> и <a href="https://www.arm.com">ARM</a>.</li>
  <li>Посетил брата в Берлине и два долгих летних месяца прожил в Юрмале. Отпуск удался!</li>
  <li>Устроился на работу в <a href="http://www.stfc.ac.uk">STFC</a> программистом по исследовательскому программному обеспечению.</li>

<figure class="imagecentre">
  <a href="{{ site.url }}/assets/photo/yankee.jpg">
    <img src="{{ site.url }}/assets/photo/yankee.jpg"
         alt="Янки">
  </a>
  <figcaption><cite>
    Янки, 2019&nbsp;г.
  </cite></figcaption>
</figure>

  <li>За неделю купил автомобиль <a href="https://ru.wikipedia.org/wiki/Volkswagen_Golf_VII">Golf&nbsp;Mk7</a>.</li>
  <li>Написал рассказ и первую главу романа.</li>
  <li>Прошёл краткий курс игры <a href="https://ru.wikipedia.org/wiki/Фламенко">Фламенко</a> на гитаре.</li>
  <li>Учил испанский по <a href="https://www.youtube.com/watch?v=OIenGV8b3XM">видео-урокам</a> полиглота <a href="http://centerpetrova.ru">Дмитрия Петрова</a>.</li>
  <li>Прослушал импрессионистский курс лекций <a href="http://www.khudian.net">Оганнеса Худавердяна</a> по квантовой механике.</li>
  <li>Отметил день рождения в Санкт-Петербурге.</li>
  <li>Несмотря на серьёзную подготовку провалил грант по Лиандрам.</li>
  <li>Разочаровался в системе высшего образования в Англии после многочисленных безуспешных попыток устроиться на постоянное место работы в университете.</li>
  <li>Пять дней гостил в Тель-Авиве у Моти.</li>
  <li>Отошёл от дел русского Манчестера, <a href="http://www.totaldict.ru">Тотального диктанта</a> и книжного клуба.</li>
  <li>Много читал: &laquo;Кадетов&raquo; Куприна, &laquo;Идиота&raquo; Достоевского, &laquo;Войну и мир&raquo; Толстого, &laquo;Дар&raquo; Набокова и &laquo;Ночные дороги&raquo; Газданова.</li>
  <li>Три раза брался за учебник по линейной алгебре <a href="https://ru.wikipedia.org/wiki/Гельфанд,_Израиль_Моисеевич">Гельфанда</a>, и все три раза бросал. Пока мне не удалось дойти дальше 100 страницы.</li>
  <li>Из-за напряжённой дороги на работу перестал ходить на занятия по Тай-Чи, по гитаре и редко появляюсь в синагоге в шаббат.</li>
  <li>Покрасил все оставшиеся части нового велосипеда.</li>
  <li>Пережил сильный приступ аллергии.</li>
</ul>
