---
layout:      post
title:      "Далеко домой..."
date:        2022-03-06 11:49:00 +0000
alpha2:      gb
location:   "Манчестер, Великобритания"
categories: [ковид, война, Perl, кризис среднего возраста, сорокалетие, дневник]
---

<p class="ru">Слишком много всего произошло за последние месяцы. Прошлым летом я случайно открыл для себя язык программирования Perl. Всё началось с того, что я написал бисекцию на bash, но в bash очень сложно производить арифметические вычисления с вещественными числами. Каждый раз нужно пропускать вычисление через внешний калькулятор bc. В поисках более элегантного решения я открыл Perl. Я переписал метод бисекции и начал читать учебник Шварца, фоя и Феникса. Учебник написан очень доступным языком с многочисленными примерами и задачами. После каждой новой главы открываются всё более и более элегантные стороны языка. Недаром Ларри Уолл, создатель языка, лингвист. Во время чтения я делал заметки, которые со временем превратились в краткий конспект. На прошлой неделе, после недолгого перерыва я начал осваивать вторую книгу серии&mdash;&ldquo;Intermediate Perl&rdquo;. Но конспект по первой части ещё сырой и требует внимания и работы.</p>

<!--more-->

<p class="ru">После долгой подготовки, ежедневного написания и редактирования коротких параграфов мотивационного письма и резюме, верстки портфолио технических проектов на сайте, подготовительного и настоящего интервью меня повысили в должности. Через два с половиной года в центре я сделался старшим программистом. Всю жизнь я избегал названия программист, я звал себя исследователем, математиком, а теперь я настоящий программист, я придумываю и пишу алгоритмы по шесть часов в день. Я читаю статьи и учебники по языкам программирования. Да, здравствует игра в бисер! Сказать по правде, я всё ещё сильно скучаю по университету, по академической среде, по людям, которые были вокруг меня тогда, по преподаванию, по воздуху, по возможности заниматься своими исследованиями, по гармонии и умиротворению, которые охватывали меня при занятии математикой. Жизнь больше, чем любая научная степень превращает нас в философов. Стремишься к чему-то десять лет, страстно хочешь этого добиться и не получаешь&mdash;зачем это нужно? Я до сих пор не могу этого объяснить. Может быть, поражение и отказ учат нас гораздо больше победы и успеха? Первого апреля я перехожу в другую команду, в надежде что там я буду чуть-чуть ближе к математике, исследованиям и параллельному программированию.</p>

<p class="ru">Девятнадцатого декабря умер Олег Георгиевич Смолянов, а с ним ушла целая эпоха советской математики, функционального и бесконечномерного анализа. У меня стоят два его учебника в зелёных обложках, но читать их невероятно сложно. Всё кажется, что время для них ещё не пришло, но надо собираться с силами и читать маленькими порциями, хотя бы по несколько страниц в день. Иначе время может никогда не придти.</p>

<p class="ru">В начале января мы по традиции выбрались в Египет. В этот раз мы остановились в Хургаде на западном берегу Красного моря. Три гостиницы соединённые вместе, фойе в арабском стиле: с фонтаном, стенами в красном бархате и тонкими колоннами в узорах, башенками и мраморными полами. Гостиница&mdash;это оазис посреди пустыни. Зимой в Египте ещё холодно, но радостно и солнечно. Днём северные туристы загорают и купаются, а местные служащие ходят в лёгких курточках и поёживаются от взгляда на обнажённые бледные тела. В первые дни озабоченность и напряжённость сменяются полной расслабленностью и пугающей пустотой и лёгкостью в голове. В один из дней мы едем в Луксор, посмотреть на знаменитые храмы и гробницы фараонских времён. Дорога в одну сторону занимает четыре часа, и на обратном пути от солнца, обезвоживания и духоты у меня сильно болит голова. Больше всего мне понравился Нил&mdash;широкая река с бирюзовой водой испещрённая маленькими катерами. На престижной стороне реки гордо выстраиваются дворцы и гостиницы песочных, бежевых цветов.</p>

<p class="ru">На каникулах я прослушал десятидневный курс &laquo;Самодисциплины&raquo; Александра Молчанова. У меня получалось писать по две трети страницы в день. Но я чувствую, что книге нужны сильные исследования: о городе, об Олимпиаде, о плавании. Нужно писать так, будто ты действительно там был, всё видел, всё прочувствовал, будто ты настоящий профессионал. Пока так писать не выходит. Я немного программировал на Perl. Но реальная жизнь, с работой, напряжением, ежедневными нервами, срывами быстро выбила меня из колеи, и я снова оказался в клетке &laquo;Старт&raquo;.</p>

<p class="ru">Кризис среднего возраста идёт уже давно. Иногда его не заметно. Но я вижу, что стал более нервным, дёрганным, вспыльчивым. И где моё понимание, мудрость, всепрощение и доброта? Половина жизни пройдена. Мысленно подводишь итоги: с чем-то смиряешься, но чаще&mdash;нет. Нет, мы ещё не сдаёмся. Но надо делать скидку на здоровье, усталость и частые головные боли. Главная дилемма: не хватает сил и энергии на то, чтобы всё делать достойно и хорошо. Или нужно делать меньше, или большую часть нужно делать не так достойно и не так хорошо, по среднему стандарту, или становиться философом и принимать жизнь такой какая она есть и себя в ней, таким каким ты есть. Сорок лет, в это не возможно поверить.</p>

<p class="ru">Я хорошо помню позапрошлую пятницу: всё начиналось, как лёгкая простуда, недомогание и слабость. Вот ты уже не можешь работать. Последующей ночью сильнейшая температура, боли в пояснице и виске, бледный отсутствующий вид, сумасшедшие глаза. Ковид экспериментально доказал мне, что он существует. Я уже выздоровел, но продолжаю жить, как Обломов&mdash;чаще в полулежачем или полусидячем положении.</p>

<p class="ru">И эта непостижимая, бессмысленная, братоубийственная война идёт как отголосок болезненного бреда. Кажется, вот стоит тебе выздороветь, и всё сразу закончится. Это всё температура и жар. Война идёт с двадцать четвёртого числа. Огромная страна в одночасье превратилась в агрессора и зверя безжалосно сметающего всё на своём пути. Страна на которую мы всегда оглядывались и жалели повернулась спиной к своим жителям. Действия правительства очень сложно понять и объяснить. Никаким новостям нельзя верить. Сытые самоуверенные лица громко вещают с экранов и сеют глупость, низость, злость. И даже язык, русский язык, любимые русские слова, звуки&mdash;всё приобрело другой оттенок, вкус, цвет. И снова кажется, всё это вирус, это от вируса пропали обоняние и вкус.</p>

<p class="ru">Мы все ждём весны, мира, солнца, выздоровления, чтобы можно было опять поехать в Киев, жить на проспекте Победы и любоваться улыбчивыми, безобидными и жизнерадостными студентами, врачами, рабочими, беспечными туристами на Крещатике и в парке Шевченко.</p>

<p class="ru">По вечерам вместо обычных сериалов, мы читаем Войну и мир Толстого на английском. Толстой звучит по-английски, в переводе Эйлмера и Луизы Мод он не потерял своей музыки и волшебства.</p>
