---
layout:      post
title:      "Искра жизни"
date:        2023-10-08 12:06:00 +0000
alpha2:      gb
location:   "Оксфорд, Великобритания"
categories: [Rust, Zip, Оксфорд, вело-прогулка, письмо, "Вуди Аллен", офис]
---

<p class="ru">В&nbsp;четверг я&nbsp;осмелился занять офис для личного состава (для управляющих). Работать в&nbsp;нём одно удовольствие&mdash;три открывающихся окна, широкий подоконник, модная стеклянная доска для письма, и&nbsp;главное дверь. Закрываешь&mdash;и шум сразу стихает. Проходя мимо бодрой походкой личный состав бросает на&nbsp;меня вопрошающие взгляды. А&nbsp;мне всё нипочём. Главное&mdash;это тишина и&nbsp;возможность сосредоточиться.</p>

<!--more-->

<figure class="image" style="float: right">
  <a href="{{ site.url }}/assets/photo/a_rainy_day_in_new_york.jpg">
    <img src="{{ site.url }}/assets/photo/a_rainy_day_in_new_york.jpg"
	 alt="Дождливый день в Нью-Йорке, плакат фильма">
  </a>
  <figcaption>
    <cite>Дождливый день в Нью-Йорке, плакат фильма</cite>
  </figcaption>
</figure>

<p class="ru">Я&nbsp;сильно продвинулся в&nbsp;программировании на&nbsp;Rust. Я&nbsp;разобрался с&nbsp;&laquo;видами&raquo; многомерных массивов и&nbsp;научился обновлять значения параллельной функцией Zip. Осталось освоить копирование в&nbsp;этих видах для вычисления граничных значений. Надо потихоньку сворачивать свой экскурс и&nbsp;начинать готовиться к&nbsp;лекциям. Посвящать время двум другим проектам. В&nbsp;идеале, надо постараться дополнить свой метод работой с&nbsp;распределённой памятью.</p>

<p class="ru">Вчера я&nbsp;был в&nbsp;синагоге. Пешая прогулка до&nbsp;центра занимает семьдесят пять минут, поэтому, нарушая субботние правила, я&nbsp;еду на&nbsp;велосипеде. Жизнь на&nbsp;реке кипит. Новые студенты бросились заниматься греблей, вся река полна любителями в&nbsp;пёстрых костюмах, решившими попробовать себя в&nbsp;спорте. К&nbsp;следующим выходным из&nbsp;них останутся только десять процентов. Бедный велосипед скрипит, тихонько жужжит, но&nbsp;едет. Город великолепен и&nbsp;днём, и&nbsp;вечером. Катишь по&nbsp;новому гладкому асфальту, мимо старинных фасадов с&nbsp;высокими окнами аркой. Кроны деревьев, как шевелюры маститых музыкантов. Жилистые стволы, идеальные газоны, библиотеки в&nbsp;каждом окне, пикники, американские туристы в&nbsp;не&nbsp;по&nbsp;сезону лёгких брюках и&nbsp;не&nbsp;по&nbsp;месту широким акцентом и&nbsp;громким голосом. Нужно уделить внимание тормозам, педалям, сидению, ржавчине проявляющейся на&nbsp;изгибах рамы. Займёмся этим тёмными зимними вечерами. Будем готовить выездную карету зимой. Или взять и&nbsp;наконец-то купить нового железного коня?</p>

<p class="ru">В&nbsp;обед мы&nbsp;ездим по&nbsp;городу в&nbsp;поисках подходящего места для званого праздника. Идеального места пока нет. В&nbsp;одном не&nbsp;хватает пространства, в&nbsp;другом завышена цена, и&nbsp;почти во&nbsp;всех персонал не&nbsp;сильно заинтересован в&nbsp;проведении большого мероприятия. Это или накопленная за&nbsp;летний сезон усталость, или общая безразличность к&nbsp;ведению дел.</p>

<p class="ru">Редкими моментами проглядывает сквозь толстую завесу повседневности искра жизни: хочется писать легко, метко в&nbsp;стиле Вуди Аллена. Оксфордские особняки местами напоминают зажиточные районы Нью-Йорка. Кажется, что за&nbsp;каждым углом скрываются герои романа или вот они идут тебе навстречу. Даже сама мысль о&nbsp;письме согревает душу и&nbsp;даёт заряд бодрости и&nbsp;хорошего настроения. До&nbsp;литературного письма руки у&nbsp;меня не&nbsp;доходят. Но&nbsp;сами эти мысли уже чудесны. А&nbsp;где ещё как ни&nbsp;в&nbsp;академической столице страны развернуться событиям нового великого Гэтсби или героя нашего времени?</p>

<p class="ru">На&nbsp;днях с&nbsp;большим удовольствием мы&nbsp;посмотрели &laquo;Дождливый день в&nbsp;Нью-Йорке&raquo;. Это один из&nbsp;новых фильмов Вуди Аллена. Игра актёров, находки сценариста и&nbsp;размеренный джаз превращают это кино в&nbsp;шедевр. Кто из&nbsp;героев понравился мне больше всего? Конечно, главный герой. Когда-то и&nbsp;я&nbsp;и&nbsp;все мы&nbsp;были такими&nbsp;же беззаботными романтиками и&nbsp;смелыми мечтателями. Куда подевалась эта смелость? И&nbsp;как часто нам всем не&nbsp;хватает её&nbsp;в&nbsp;жизни!</p>
