---
layout:      post
title:      "Новая..."
date:        2023-11-05 19:52:00 +0000
alpha2:      gb
location:   "Манчестер, Великобритания"
categories: [церемония, сырость, Глазго, Эдинбург, Манчестер]
---

<p class="ru">У нас было немного гостей, но все как на подбор. Восемнадцать человек. Кто-то прилетел из Калифорнии, кто-то из Ирландии, а кто-то из Манчестера. Мы не сильно нервничали. Церемония прошла быстро. Лепестки в воздухе, фотографии на ступеньках. Все в костюмах, как в журнале мод. Шампанское из тонконогих бокалов. Лёгкая сырость, свежесть в воздухе. Идёшь по городу и все оборачиваются, кто-то улыбнётся и украдкой сфотографирует, кто-то скромно поздравит. Автобусы останавливаются, чтобы нас пропустить. Фотограф датчанин, оксфордские домики, площади, колледжи, туристы тянутся, чтобы попасть в кадр. Лёгкое головокружение, и кажется, что это только кино, это только роль.</p>

<p class="ru">Тихий джаз в ресторане, несколько скромных тостов. Стая гусей на воде у пришвартованных на зиму лодок. Листья на воде. Головы деревьев готовые сбросить оранжевые листья. Вкус еды не замечаешь. Вино не пробуешь. Замечаешь, что кого-то нужно подбодрить и с кем-то поговорить. Только косметологи и парикмахеры подкачали.</p>

<!--more-->

<p class="ru">Вечером и на следующий день праздники дома, бесконечный поток чая, кофе, вина, виски, закусок. Разговоры в коридоре. Самодельный диван---плед наброшенный на коробки с паркетом. Концерт Оэфио в одну мелодию. Улыбки и белый пол. Все следующие дни пасмурно, но не дождливо. Сама природа отдыхает вместе с нами после праздников. Мы конечно сильно устали. Но времени на отдых и путешествия нет. Понедельник стучит в двери и зовёт на работу.</p>

<p class="ru">Клуб любителей ранних подъёмов, холодный дождь, мокрые ручки такси, складные зонты, непроглядная темнота. Далеко на горизонте в жёлтом ореоле Лондон. Мы толкаемся в очереди на контроль безопасности. Дважды едет по ленте конвейера мой рюкзак. А всё из-за того, что я забыл вынуть свою походную клавиатуру. Настроение в самолёте нерабочее, но я всё-таки собрался и дочитал первую часть учебника по Перлу. Это не учебник, это философский трактат и учиться по нему я не буду. Решение принято, а книгу можно стирать с планшета.</p>

<p class="ru">Глазго встречает сквозь слёзы. Мрачно и грозно выглядят университетские здания из почерневшего известняка. Башенки церквей и факультетов. Мы в сотне лучших университетов мира, мы четвёртые из старейших университетов Великой Британии гласят рекламные плакаты зазывающие будущих студентов. Мы забрались в студенческое кафе и работаем у сильно растопленного калорифера. Студенты прибывают и отбывают волнами. В перерывах между парами, в обед, ближе к вечеру. Как ни крути мы совсем выросли из студенческой формы. И её уже никак не подкроить и не подправить. Нам здесь не место.</p>

<p class="ru">Вечером конференция по 6G, по шестому поколению беспроводных телекоммуникаций. В фокусе энергосбережение будущих радиосистем. Эффективность современных радиоустановок всего лишь 10%. Мы пробуем итальянское вино на званом ужине и обсуждаем рецепты китайской кухни, чересчур завышенные ожидания китайских родителей от достижений своих отпрысков. Совсем поздно по извилистым ночным дорогам мы летим в Эдинбург. Сон крепко сжимает объятия. Спать хочется так сильно, что не удержать в руках телефон с навигатором.</p>

<p class="ru">И в шотландской столице сырость, туман, хлябь. Наш номер в превосходной гостинице на Королевской террасе. Раньше на террасах были трёхэтажные городские квартиры зажиточных граждан. Сюда приезжали в холодное время года, осенью и зимой, чтобы развлекаться в высшем обществе, ходить на балы и в театр, знакомить молоденьких барышень с женихами, и составлять партии. Из окна открывается чудесный вид на город. Терраса расположена на вершине холма, внизу на подножии ширится сказочный город. А за городом на горизонте море незаметно переходящее в облака.</p>

<p class="ru">К сожалению, мы уже так устали, что бродить по городу и очаровываться удивительными домами и закоулочками нет никаких сил. Днём я остаюсь дома, чтобы работать, но работа движется вяло, слабо, словно под водой. Мы не пошли ни в Национальную Портретную Галерею, ни в Музей Изобразительного Искусства.</p>

<p class="ru">В полудрёме поздним полупустым поездом мы прибываем в Манчестер. Несмотря на время и дождь жизнь здесь не прекращается. Утром мы вялые медленно просыпаемся и знакомой Оксфордской дорогой идём в центр. Нам на встречу часто попадаются палестинцы с флагами, в чёрно-белых платках. Они возвращаются с демонстрации. Площадь оцеплена шестью-семью микроавтобусами полиции. Окна машин в решётках, полицейские в броне. Меня эта обстановка совершенно не радует. Думаю, что она не радует и местных англичан. Но Великобритания свободная страна, и никому не воспрещается митинговать. Через время демонстранты рассеиваются, разбредаются по городу, оседают в кафе. Мы встречаем друзей за чаем, за вьетнамским супом, за китайскими десертами---снежный лёд. Так называется знаменитое полусладкое полусливочное мороженое на зелёном чае и чёрном сезаме.</p>

<p class="ru">Сегодня мы дошли до своей старой квартиры. На окнах жалюзи, а в самом красивом месте в окне эркером стоит вешалка с плащами, зонтами. Всё чужое, мне кажется, Манчестер от меня отвернулся, да и я к нему больше ничего не чувствую. Завтра понедельник, и с новыми силами "мы снова будем делать эту страну великой". Я намереваюсь встать пораньше и занять парту в Университетской библиотеке у окна с красивым видом.</p>
