---
layout:      post
title:      "Лето..."
date:        2023-07-02 18:58:00 +0000
alpha2:      gb
location:   "Оксфорд, Великобритания"
categories: [Оксфорд, Набоков отец, Аросьев, лето, дневник]
---

<p class="ru">Сегодня впервые за долгое время я много читал. Книга Григория Аросьева посвящена Владимиру Дмитриевичу Набокову, отцу знаменитого писателя Владимира Набокова. Новая книга пахнет свежей типографской краской, а её обложка кожей. Я сижу на постели, читаю по несколько страниц, спускаюсь на кухню, пью чай, спокойно думаю, осмысливаю и снова возвращаюсь к неспокойным двадцатым годам двадцатого века. Мастерски легко, изящно и ярко пишет Аросьев. Перед глазами встают картины Петербурга, Крыма, путешествия из Севастополя в Лондон, русский Берлин с Шарлоттенградом, ежедневник Руль, а за ними и статный уверенный в себе великолепно образованный, насмешливый и заносчивый с чужими, добрый и снисходительный со своими Владимир Набоков старший. Постепенно рассеивается туман знаний, которым окутан великий писатель. Складываются частички мозаики его детства и юности, семьи сада, в котором вырос талантливый писатель и разносторонней и красочной личности садовника отца.</p>

<!--more-->

<p class="ru"></p>

<p class="ru"></p>

<p class="ru"></p>

<p class="ru"></p>

<p class="ru"></p>

<p class="ru"></p>

<p class="ru"></p>

<p class="ru"></p>
