---
layout:      post
title:      "Лето промчалось, как красочный пейзаж за окном автомобиля..."
date:        2023-10-01 11:53:00 +0000
alpha2:      gb
location:   "Оксфорд, Великобритания"
categories: [Rust, Perl, статьи, исследования, математика, парение, чтение, новый офис, Оксфорд]
---

<p class="ru">Лето промчалось, как красочный пейзаж за&nbsp;окном автомобиля. Был и&nbsp;короткий отпуск в&nbsp;Грузии, и&nbsp;дни жаркого палящего солнца. Но&nbsp;всё проносится мимо, как кадры фильма, и&nbsp;даже не&nbsp;успеваешь почувствовать себя актёром. Занятия, которые обычно приносят радость, делаешь как робот, без осознания, осмысления. Не&nbsp;хватает воздуха, свободного времени, парения в&nbsp;высоте, когда можно ничего не&nbsp;делать, только читать, думать. Когда можно ехать не&nbsp;за рулём, а&nbsp;рядом, в&nbsp;пассажирском сидении. Оказывается, быть пассажиром тоже очень важно. Подсознание работает сильнее, в&nbsp;такие моменты, когда можно просто быть. Но&nbsp;жизнь заставляет садиться за&nbsp;баранку и&nbsp;крутить изо всех сил рулевое колесо. Я&nbsp;сильно скучаю по&nbsp;математике, по&nbsp;формулам, по&nbsp;вычислениям в&nbsp;тишине или под музыку Шопена, как было когда-то в&nbsp;Унивеситете. На&nbsp;днях я&nbsp;листал свою жёлтую исследовательскую тетрадь, в&nbsp;ней есть несколько скрытых идей достойных публикации. Я&nbsp;попробовал воплотить одну из&nbsp;них на&nbsp;Расте. Но&nbsp;Раст, не&nbsp;Фортран, и&nbsp;мыслить на&nbsp;нём нужно по&nbsp;иному. Срок подачи статей 13&nbsp;октября. Очень хочется написать хоть две страницы, чтобы не&nbsp;ехать на&nbsp;конференцию с&nbsp;пустыми руками. Надо ещё полистать свой жёлтый журнал...</p>

<!--more-->

<figure class="image" style="float: right">
  <a href="{{ site.url }}/assets/photo/riga-keldisha-b.jpg">
    <img src="{{ site.url }}/assets/photo/riga-keldisha-b.jpg"
	 alt="Рига, Плявниеки, дом моего друга">
  </a>
  <figcaption>
    <cite>Рига, Плявниеки, дом моего друга, 2023&nbsp;г.</cite>
  </figcaption>
</figure>

<p class="ru">Я&nbsp;потихоньку готовлюсь вести однодневный курс лекций по&nbsp;Расту, новому языку программирования. Пока я&nbsp;и&nbsp;сам в&nbsp;нём плаваю и&nbsp;плохо ориентируюсь. С&nbsp;трудом даются новые понятия такие как одалживание, черты и&nbsp;обобщения. Первое издание учебника Блэнди и&nbsp;Орендорфа я&nbsp;дочитал до&nbsp;19-ой главы&nbsp;и, как&nbsp;бы не&nbsp;старался, не&nbsp;могу продвинуться дальше. Остались три главы о&nbsp;параллелизме, макрокомандах и&nbsp;небезопасном коде. Надо собраться и&nbsp;по&nbsp;пятнадцать минут в&nbsp;день дочитать эту книгу. Из&nbsp;хороших новостей&mdash;я уже написал три полноценные увесистые программы и&nbsp;чувствую, что потихоньку начинаю разбираться в&nbsp;языке. Последняя из&nbsp;них это метод конечных разностей.</p>

<p class="ru">Во&nbsp;время нескольких летних перелётов я&nbsp;решил взяться за&nbsp;основополагающую книгу о&nbsp;Перле, но&nbsp;вопреки ожиданиям, она оказалась бесцветной и&nbsp;безвкусной. Это малоупорядоченное собрание тем о&nbsp;Перле, почти философия, почти эссе. Всё возвышенно, но&nbsp;учиться по&nbsp;такому учебнику очень сложно. Я&nbsp;решил пробраться ко&nbsp;второй части, и&nbsp;только после этого делать вывод&mdash;читать&nbsp;ли её&nbsp;дальше. Пока для настоящего изучения Перла лучше трилогии брайана&nbsp;д. фоя нет.</p>

<p class="ru">Этим летом мы&nbsp;с&nbsp;мамой месяц потратили на&nbsp;разбор вещей в&nbsp;нашей старой квартире. Двадцать лет в&nbsp;ней почти никто не&nbsp;жил, и&nbsp;она заснула, превратилась в&nbsp;склад забытых вещей. По&nbsp;винтику, по&nbsp;болтику, до&nbsp;последнего конверта мы&nbsp;разобрали абсолютно всё. В&nbsp;грязи и&nbsp;пыли, без плиты и&nbsp;человеческого туалета. Что-то мы&nbsp;отдали коллегам, родственникам, домам престарелых, малообеспеченных. Очень много вещей в&nbsp;банановых ящиках отвезли на&nbsp;новую квартиру. Теперь они там, как в&nbsp;чистилище, ждут своей участи, когда семья соберётся на&nbsp;зимние праздники и&nbsp;их&nbsp;разберёт. Я&nbsp;встретил друзей своего детства, которые давно уехали из&nbsp;Плявниеков и&nbsp;редко возвращаются, и&nbsp;других&mdash;которые никуда не&nbsp;уезжали и&nbsp;так и&nbsp;живут в&nbsp;своих детских квартирах. Культурный уровень района сильно упал, на&nbsp;скамеечках по&nbsp;вечерам сидят несознательные личности, курят, пьют, ругаются и&nbsp;делятся подвигами ушедшей юности. Ругаются и&nbsp;в&nbsp;квартирах, и&nbsp;этот крик разносится по&nbsp;всему двору, отражается по&nbsp;всей душе.</p>

<figure class="imagecentre">
  <a href="{{ site.url }}/assets/photo/riga-keldisha-a.jpg">
    <img src="{{ site.url }}/assets/photo/riga-keldisha-a.jpg"
         alt="Рига, Плявниеки, вид из окна">
  </a>
  <figcaption><cite>
    Рига, Плявниеки, вид из окна, 2023&nbsp;г.
  </cite></figcaption>
</figure>

<p class="ru">Всё также сильно я&nbsp;устаю после работы. Это заметно и&nbsp;по&nbsp;выходным&mdash;походил, покрутился, поделал что-то и&nbsp;потратил все силы, весь заряд, весь воздух. Надо всерьёз заняться здоровьем, взяться за&nbsp;спорт, подтягивания и&nbsp;холодный душ, и&nbsp;может быть хотя&nbsp;бы раз в&nbsp;неделю есть рыбу.</p>

<p class="ru">После переезда всё ещё в&nbsp;коробках и&nbsp;вверх дном. Я&nbsp;до&nbsp;сих пор не&nbsp;установил свои компьютеры и&nbsp;мониторы. Работаю в&nbsp;уголке стола за&nbsp;ноутбуком. В&nbsp;новом офисе я&nbsp;тоже не&nbsp;чувствую себя в&nbsp;своей тарелке. Это целый этаж без перегородок и&nbsp;стен. Длинные ряды парт для троих, четверых человек. У&nbsp;тебя нет постоянного места. Новый день&mdash;новое место. Мне даже негде поставить свой рабочий компьютер. И&nbsp;опять я&nbsp;работаю в&nbsp;уголке стола, изо всех сил отфильтровывая вездесущий шум. Повсюду ходьба, громкие разговоры, смех, отголоски деловых совещаний. А&nbsp;мне нужна библиотечная тишина. Ошибся в&nbsp;знаке&mdash;и будешь искать ошибку три дня. Я&nbsp;всерьёз начинаю подумывать о&nbsp;шумопоглощающих наушниках&mdash;одел и&nbsp;отключил от&nbsp;себя это дивный шумный мир. Другой вариант&mdash;не стесняться и&nbsp;занимать угловой кабинет для руководителей. Это комната с&nbsp;настоящими стенами, дверью и&nbsp;несколькими окнами.</p>

<p class="ru">По утрам, по вечерам, я сижу в походном кентукском кресле и по чуть-чуть задом наперёд от конца к началу читаю рассказы Бунина.</p>
