---
layout:      post
title:      "Жизнь идёт своим чередом..."
date:        2023-03-12 19:30:00 +0000
alpha2:      gb
location:   "Манчестер, Великобритания"
categories: [Париж, работа, бизнес, Дудь, Кремниевая долина, Толстой, дневник]
---

<p class="ru">Жизнь идёт своим чередом. На&nbsp;прошлой неделе мы&nbsp;были
в&nbsp;Париже.  Погода стояла замечательная&mdash;ярко играло красками солнце,
отражалось в тёмных очках туристов. Путешественников немного,
и&nbsp;от&nbsp;этого город кажется полупустым. Зато сколько воздуха
и&nbsp;свободы! Но&nbsp;солнце обманчиво, и&nbsp;свежий ветерок
у&nbsp;набережной навеял простуду. Мы&nbsp;не&nbsp;сдавались и&nbsp;несмотря
ни&nbsp;на&nbsp;что гуляли по&nbsp;французской столице. Повсюду идёт энергичная
подготовка к&nbsp;летнему наплыву гостей: высаживаются свежие клумбы,
освежаются фонтаны и&nbsp;роются новые пруды. Гуляя по&nbsp;саду Тюильри
мы&nbsp;наткнулись на&nbsp;огромный белый куб&mdash;павильон с&nbsp;большими
золотыми буквами DIOR. Модели и&nbsp;модельеры отмечали неделю высокой моды.
Со&nbsp;всего мира съехались кутюрье, красавицы и&nbsp;красавцы. Мы&nbsp;стояли
в&nbsp;толпе и&nbsp;фотографировали знаменитостей, которых
мы&nbsp;не&nbsp;знаем.</p>

<!--more-->

<p class="ru">Елисейские поля купаются в&nbsp;весеннем свете. Многие уже сидят
за столиками на&nbsp;улице, пьют кофе из&nbsp;миниатюрных чашечек
и&nbsp;смотрят на&nbsp;проходящую публику, на&nbsp;покупателей газет
и&nbsp;журналов в&nbsp;городских киосках, на&nbsp;одежды модников из&nbsp;самых
разных уголков мира. Мы&nbsp;жили в&nbsp;крохотной двухэтажной студии напротив
Центра Помпиду. Она настолько маленькая, что в&nbsp;ней не&nbsp;было
ни&nbsp;стола, ни&nbsp;стула, ни&nbsp;вешалок для одежды. Зато хозяин носится
на&nbsp;мотороллере, варит в больших жбанах пиво, играет на&nbsp;синтезаторе
и&nbsp;на&nbsp;электрогитаре, а&nbsp;по&nbsp;вечерам слушает пластинки
на&nbsp;новом японском проигрывателе. В&nbsp;квартиру ведёт крутая узкая
лестница. Она рифмуется с&nbsp;винтовой лестницей в&nbsp;студии.</p>

<p class="ru">Собор Парижской богоматери всё ещё в&nbsp;лесах, чинят сгоревшую
несколько лет назад деревянную крышу. Музей Орсе всё так&nbsp;же манит
импрессионистами, но&nbsp;не&nbsp;стоит на&nbsp;месте: в&nbsp;длинных коридорах
первого этажа появились новые экспозиции&mdash;европейские художники начала XIX
века рассказывают о&nbsp;загадочной природе и&nbsp;быте Африки. Изнывают
от&nbsp;жары туземцы в тюрбанах, восседают на&nbsp;тронах азиатские цари.
На&nbsp;втором этаже новая выставка мебели периода модерн&mdash;изгибаются как
стволы молодых деревьев ножки столов и&nbsp;стульев. Мы&nbsp;долго сидели под
часами в&nbsp;кафе музея и&nbsp;нам не&nbsp;хватило времени
на&nbsp;импрессионистов. Наспех в&nbsp;последние полчаса мы&nbsp;оббежали залы
с картинами Моне и&nbsp;его последователей. Этого не&nbsp;хватило,
но&nbsp;мы&nbsp;не&nbsp;стали повторять свой поход на&nbsp;следующий день.</p>

<p class="ru">Сильно подскочили цены на&nbsp;напитки, закуски, еду в&nbsp;кафе
и ресторанах. Средняя цена чашечки капучино&mdash;пять евро,
но&nbsp;к&nbsp;моему удивлению культура молочных кофейных напитков до&nbsp;сих
пор не&nbsp;пришла во&nbsp;Францию. Латте-арт почти не&nbsp;существует,
а&nbsp;подогретое молоко в&nbsp;мелких пузырях. Мы&nbsp;дошли до Монмартра.
Мёсье Телемак, мой любимый парижский художник, всё ещё рисует. Но видно что
он&nbsp;медленно сдаёт. Рука теряет свою сноровку, и&nbsp;формы становятся
размытыми, узнавать знакомые места на&nbsp;картинах труднее. Свою лучшую работу
он не&nbsp;захотел продавать ни&nbsp;за&nbsp;сто, ни&nbsp;за&nbsp;сто двадцать
пять, ни&nbsp;за&nbsp;сто пятьдесят евро. А&nbsp;на&nbsp;цену в&nbsp;двести
не&nbsp;решились&nbsp;мы.</p>

<p class="ru">Дома всё по&nbsp;старому. Я&nbsp;стал реже появляться
в&nbsp;офисе. В&nbsp;помещении уже двенадцать парт. Места и&nbsp;спокойствия
становится меньше. Мой сложный проект с&nbsp;ливерпульским университетом
подходит к&nbsp;концу. Несмотря на&nbsp;все мои усилия, мне не&nbsp;удалось
перенести ключевые процедуры на&nbsp;видеопроцессор. Решили возобновить работу
над параллельными вычислениями с&nbsp;общей памятью. Но&nbsp;и&nbsp;здесь
на&nbsp;моём пути стоят высокие преграды. Я&nbsp;запрограммировал свою
библиотеку для контроля OpenMP.  Но&nbsp;даже с&nbsp;её&nbsp;помощью мне
не&nbsp;создать ленты для автоматического дифференциатора.  Каждому потоку
требуется своя лента.</p>

<p class="ru">Катастрофически не&nbsp;хватает времени,
ни&nbsp;на&nbsp;литературное письмо, ни на&nbsp;игру на&nbsp;гитаре,
ни&nbsp;на&nbsp;изучение Перла и&nbsp;Раста, ни&nbsp;на&nbsp;подготовку
к&nbsp;экзамену по натурализации. А&nbsp;главное, не&nbsp;хватает спокойствия,
ясности ума, гармонии, чувства лета. Они были в&nbsp;Университете
и&nbsp;испарились сейчас. Должен быть какой-то выход, какая-то идея, система.
Нужно регулярно заниматься этими самыми осмысленными, самыми важными для меня
делами. Повсюду слабость, с&nbsp;которой нужно бороться физкультурой
и&nbsp;закаливанием. Большой задел здоровью даёт спорт, которым
мы&nbsp;с&nbsp;братом занимаемся летом.</p>

<p class="ru">Сегодня я&nbsp;стою на&nbsp;перекрёстке и&nbsp;нужно решить:
оставаться&nbsp;ли на техническом направлении или плавно переходить
к&nbsp;управлению. Я&nbsp;люблю программировать. Но&nbsp;жизнь зовёт покорять
новые вершины. В&nbsp;последние недели я рьяно встречаюсь со&nbsp;своими
бывшими коллегами, рассказываю, убеждаю, пишу короткие заявки на&nbsp;гранты.
Пока это похоже на&nbsp;бурю в&nbsp;стакане.</p>

<p class="ru">Одним из&nbsp;последних я&nbsp;посмотрел серию интервью Дудя
о&nbsp;Кремниевой долине. Дудь и&nbsp;его команда большие молодцы! Главное, что
им&nbsp;удалось передать положительную энергию и&nbsp;заряд этого места
и&nbsp;наших ребят, у&nbsp;которых получилось основать свои успешные компании.
Теперь и&nbsp;я&nbsp;всерьёз стал думать о предпринимательстве.</p>

<p class="ru">А&nbsp;по&nbsp;вечерам маленькими порциями, по&nbsp;одной,
по&nbsp;две главы, мы читаем &laquo;Войну и&nbsp;мир&raquo; на&nbsp;английском.
В&nbsp;переводе Луизы и&nbsp;Эйлмера Моде роман прекрасно звучит
и&nbsp;на&nbsp;другом языке.</p>
