---
layout: page
permalink: /howto/a2ps/
---

<h1>HowTo: Pretty print with <a href="https://www.gnu.org/software/a2ps/">a2ps</a></h1>

<ol type="a">
  <li>Print regular text files:</br>
    <pre>a2ps --columns=1 --header="" --left-footer="" --right-footer="" \
     -s 2 -f 10 -R -E file.txt -o file.ps</pre>
  </li>

  <li>Print Java source code:</br>
    <pre>a2ps -R --columns=1 --header="" --pretty-print=java file.java -o file.ps</pre>
  </li>

  <li>Print Fortran 90 source code:</br>
    <pre>a2ps --borders=no --header= --footer= --verbose --portrait --font-size=8.5 \
     --pretty-print=fortran --columns=1 file.F90 -o file.ps</pre>
  </li>
</ol>
