---
layout: page
permalink: /howto/zypper/
---

<h1>HowTo: Use <a href="https://en.opensuse.org/Main_Page">OpenSUSE</a> package manager <a href="https://en.opensuse.org/Portal:Zypper">zypper</a></h1>

<ol type="a">
  <li>Add repository:</br>
    <pre>zypper ar -f <URL> <alias></pre>
  </li>

  <li>Find out what package provides given file:</br>
    <pre>zypper wp <filename></pre>
  </li>

  <li>View installation history:</br>
    <pre>more /var/log/zypp/history | grep 2014-02-26</pre>
  </li>

  <li>Force reinstallation of package:</br>
    <pre>zypper in -f <package></pre>
  </li>
</ol>
