---
layout:      post
title:      "Барселонета"
date:        2019-06-18 12:30:00 +0200
alpha2:      de
location:   "Дюссельдорф, Германия"
categories: [рассказ]
---

<figure class="epigraph">
<p>Двое сидели на&nbsp;берегу&mdash;но если мы&nbsp;станем тонуть?</p>
<figcaption align="right"><cite>На&nbsp;берегу, Аарон Финкельмайер</cite></figcaption>
</figure>

<figure class="epigraph">
<p>У&nbsp;ней следы проказы на&nbsp;руках,<br/>
У&nbsp;ней татуированные знаки...<br/>
И&nbsp;вечерами джигу в&nbsp;кабаках...<br/>
Танцует девушка из&nbsp;Нагасаки.</p>

<p>У&nbsp;ней такая маленькая грудь,</br>
И&nbsp;губы, губы алые, как маки.</p>
<figcaption align="right"><cite>Девушка из&nbsp;Нагасаки, Владимир Высоцкий</cite></figcaption>
</figure>

<p class="ru">Лето&mdash;это маленький прыжок в&nbsp;детство, в&nbsp;мечту
с&nbsp;дымчатыми краями, в&nbsp;жизнь искрящуюся счастьем, как море
в&nbsp;искрящейся солнечной плёнке. Она готовилась к этому весь предыдущий год,
продавала дедушкину обстановку, массивную, с&nbsp;места не&nbsp;сдвинуть,
довоенную, неподвижную.  Ташкентскую квартиру сдала как &laquo;жилище
художницы&raquo;.  А&nbsp;московскую, папину, пришлось продать, чтобы хватило
денег. К&nbsp;маю дети переехали к&nbsp;маме. А&nbsp;она сделала прыжок
и&nbsp;приземлилась уже в&nbsp;Барселоне. &laquo;Я хочу здесь жить!&mdash;смело
заявляет она.  &mdash;А&nbsp;вам разве Барселона не&nbsp;нравится? Как?
Я&nbsp;здесь всего три дня, а&nbsp;уже где только не&nbsp;жила. А&nbsp;вчера
шла по&nbsp;морю и разрыдалась от&nbsp;собственного бессилия! Всё здесь ужасно
дорого, и&nbsp;я&nbsp;пока ещё никого не&nbsp;знаю. Но&nbsp;ничего поплакала
в&nbsp;очках, чтобы никто не&nbsp;видел. Слёзки вытерла и&nbsp;пошла дальше.
Комнаты, да. Я&nbsp;и&nbsp;снимаю комнаты. Я&nbsp;уже на&nbsp;таких окраинах
была. И&nbsp;эта сумка тяжёлая страшно. Я&nbsp;уже думаю, хоть&nbsp;бы
кто-нибудь у меня её&nbsp;ночью украл!&raquo;</p>

<!--more-->

<p class="ru">На&nbsp;ногах у&nbsp;неё крылья, как у&nbsp;Гермеса, маленькие,
на&nbsp;щиколотках&mdash;это чтобы быстрее бегать, на&nbsp;правом
локте&mdash;акула, тотем. &laquo;Однажды в&nbsp;море я&nbsp;повстречалась
с&nbsp;акулой, и&nbsp;представляете, она меня не&nbsp;тронула.
А&nbsp;вы&nbsp;знаете, какие здесь в Барселоне акулы? Я&nbsp;точно знаю,&mdash;
и&nbsp;назовёт вам и&nbsp;вид и&nbsp;подвид. &mdash;А&nbsp;главное, она зубами
делает вот так&raquo;,&mdash;и в&nbsp;разные стороны поворачиваются
её&nbsp;кисти. Хамса, на счастье, на&nbsp;левом локте. На&nbsp;голени фрагмент
портрета, а&nbsp;между хрупких лопаток скрипичный ключ, похожий
на&nbsp;индийские свадебные рисунки хной. &laquo;Есть ещё одна на&nbsp;спине,
на&nbsp;пояснице, но&nbsp;мне сказали, что делать там
татуировку&mdash;невежливо. И&nbsp;я&nbsp;её&nbsp;никому не&nbsp;показываю.
Я&nbsp;же не&nbsp;знала! Сама-то я&nbsp;её&nbsp;не&nbsp;вижу. И&nbsp;ещё
эти&raquo;,&mdash;она сгибает средний палец на&nbsp;левой руке,
и&nbsp;появляются три маленьких вертикальных точки. &laquo;Меня ташкентские
таксисты постоянно спрашивают: &bdquo;А&nbsp;что они означают?&ldquo;&raquo;
&laquo;А&nbsp;правда, что они означают?&raquo; &mdash; она вдруг взглядывает
презрительно, весело. &laquo;Можно закрыть кольцом&raquo;. &laquo;Да, лучше
надеть большое кольцо, чтобы не&nbsp;было лишних вопросов&raquo;.</p>

<p class="ru">Если в&nbsp;жидкий изумруд бросить щедрую щепотку турмерика
и&nbsp;долго без устали растирать, размешивать&mdash;получишь цвет
её&nbsp;глаз. Волосы у&nbsp;неё короткие, густые, маслянисто-чёрные, будто она
только что вышла из&nbsp;воды, еле достают до&nbsp;плеч, а концами чуть тянутся
вверх. Тонкими розовыми полосками губы без помады. И&nbsp;всё лицо без макияжа,
духов. Или он&nbsp;так мастерски невидимо наложен, что неискушённому взгляду
и&nbsp;не&nbsp;разглядеть. Она часто улыбается и&nbsp;смеётся всем телом,
щеками, руками, животом... Кожа бронзовая, как на&nbsp;итальянских иконах
XII-го века. А&nbsp;взгляд словно направлен в&nbsp;себя. При этом она всё
видит, всё подмечает.</p>

<p class="ru">&laquo;Маклеры из&nbsp;Технокасы ужасные! Вы&nbsp;их&nbsp;видели?
Приезжают двое на&nbsp;мотороллерах.  Пиджаки на&nbsp;два размера больше,
а&nbsp;локти засаленные. Остановились за&nbsp;квартал, и один другому галстуки
поправляют.  У&nbsp;них тонкие зелёные галстуки. Селёдкой, фирменные. Думают,
я&nbsp;не&nbsp;вижу. А&nbsp;я-то всё вижу! Они и&nbsp;глаза на&nbsp;рекламных
проспектах своим агентам в&nbsp;зелёный подкрашивают. Вы&nbsp;представляете?
А&nbsp;квартира была чудовищная! Какой-то полуподвал с&nbsp;окнами-бойницами
под потолком. И&nbsp;этот гадёныш кружится вокруг меня, интересуется:
&bdquo;Ну, как вам? Что вы&nbsp;скажете?&ldquo; А&nbsp;я ему знаками показываю.
(По-английски они не&nbsp;понимают). Объясняю ему, что мне мол нужно время. Мне
нужно подумать.  А&nbsp;потом выпаливаю ему главное испанское слово:
&bdquo;ma&ntilde;ana&ldquo; &mdash; завтра ему позвоню. Здесь завтра означает
никогда&raquo;.</p>

<p class="ru">По&nbsp;утрам в&nbsp;комнате на&nbsp;La&nbsp;Sagrera солнечные
зайчики в&nbsp;вуалях занавесной тени, запах старости, катышки от&nbsp;одеяла.
В&nbsp;квартире бакинской хозяйки, у&nbsp;которой Юнга снимает комнату,
не&nbsp;идут не&nbsp;одни часы. Время остановилось. За&nbsp;окнами стволы
платанов и&nbsp;клёнов в&nbsp;леопардовых одеяниях, и&nbsp;трепещут, как
наконечники копий, листья головками вниз. &laquo;Я&nbsp;говорю:
&bdquo;У&nbsp;нас душ сломался! Протекает&mdash;смотрите! А&nbsp;ведь
это&nbsp;же расход воды!&ldquo; А&nbsp;она мне: &bdquo;Ты&nbsp;что? Даже не
вздумай трогать! Это мужское дело. Вот пусть мужик и&nbsp;берётся&ldquo;.
А&nbsp;где&nbsp;он, мужик? Где его взять? У&nbsp;вас есть такой? У&nbsp;меня
вот нету!&raquo; &mdash; и вдруг больно кольнуло что-то в&nbsp;левом боку,
повеяло холодом из&nbsp;застывавшей уже несколько лет трещины. &laquo;Что?
Взяла карандаш, измерила диаметр и&nbsp;вот, &mdash; протягивает мне новенький
шланг в&nbsp;упаковке. &mdash;Китаец меня спас. В&nbsp;его магазинчике
на&nbsp;Poblenou есть всё! Вечером буду прикручивать. Если останутся
силы&raquo;.</p>

<p class="ru">Летели дни: до&nbsp;обеда Юнга взбиралась по&nbsp;холмам
Барселоны, да&nbsp;узким улочкам, зажатым между домов, как пассажиры метро
в&nbsp;час-пик.  Деревянные подоконники снаружи, сплошь уставленные горшками
с&nbsp;вечнозелёными ростками, со&nbsp;стариками, седыми одинокими
привидениями. Взмахнёшь им&nbsp;рукой&mdash;Hola! А&nbsp;они лишь улыбнутся
глазами в&nbsp;ответ. Руку поднять&mdash;сил нет. Днём она спала
в&nbsp;парковой тени на свежей наивной травке, или листала альбом
о&nbsp;венском музее (удачно купленный в метро), вглядывалась
в&nbsp;фотографии, или перекусывала сочными персиками и клубникой
с&nbsp;мягким, прохладным сыром Бри в&nbsp;корочке-шубке. Вела пальцем по
картине, следуя за&nbsp;мазком художника, и&nbsp;всё глубже и&nbsp;глубже
внутрь смотрели её глаза. Трещина затягивалась. Вечера принадлежали морю.
На&nbsp;пляже среди молодёжи на&nbsp;лоскутных покрывалах, с&nbsp;кальяном,
в&nbsp;дредах, с&nbsp;гитарами, с&nbsp;перевёрнутыми колёсами вверх
велосипедами, мыслями, песнями... Юнга сидит чуть в&nbsp;стороне, от всех
независимо. Сангрия в&nbsp;пластмассовой бутылочке, сигареты&mdash;тонкие
проводники медленной смерти. Она не&nbsp;любит страшных фотографий
на&nbsp;пачках и долго выбирает, ищет, пока не&nbsp;выхватит что-то
с&nbsp;надписью на&nbsp;ещё загадочном языке &laquo;Fumar mata&raquo;.</p>

<p class="ru">А&nbsp;на&nbsp;пляже бездари снимают кино: с&nbsp;разбегу
бросаются в&nbsp;холодное море, и&nbsp;с фырканьем, с&nbsp;брызгами,
с&nbsp;головами над водой, растопыря руки в&nbsp;разные стороны в десятый раз
шумно плывут друг за&nbsp;другом. &laquo;А&nbsp;я&nbsp;их&nbsp;сценарий уже
наизусть знаю!&raquo; То&nbsp;зайдут в&nbsp;воду по&nbsp;пояс и&nbsp;станут
вдруг фотографировать море. Море стальное, с серебряными полосами, колышется
переливами.  &laquo;Вы&nbsp;заметили, в&nbsp;Барселоне никогда не&nbsp;видно
горизонт,&mdash; и&nbsp;вдруг, &mdash;Не&nbsp;оборачивайтесь! За&nbsp;вами
стоит какой-то гадёныш и&nbsp;делает неприличные знаки! Кажется, он&nbsp;принял
что-то здорово веселящее. И&nbsp;вообще, пока я&nbsp;здесь сидела, ко&nbsp;мне
привязался один... разносчик покрывал. &bdquo;Хотите, &mdash; говорит, &mdash;
вот это, цветастое или другое со&nbsp;слоном? Хотите, выберете сами, &mdash;
а&nbsp;потом: &mdash; Давайте, я&nbsp;приглашу вас в&nbsp;ресторан?&ldquo;
Покрывало и ресторан, каково?  Я&nbsp;ему вежливо втолковала, что не&nbsp;надо
ни&nbsp;покрывала, ни ресторана&raquo;.</p>

<p class="ru">Воздушная... Юнга не&nbsp;живёт, она чайкой плывёт, покачиваясь
на&nbsp;волнах дней. А&nbsp;дни пробегают, как пальцы гитариста в&nbsp;тремоло,
и&nbsp;гулким ритмом отбиваются на&nbsp;кахоне выходные:
&laquo;Ба-дам!&raquo;</p>

<p class="ru">С&nbsp;детьми она разговаривает на&nbsp;ходу,
но&nbsp;и&nbsp;голос и&nbsp;взгляд её&nbsp;тут&nbsp;же меняются. Она
переносится в&nbsp;другой мир, где существуют только они&mdash;дети
и&nbsp;больше ничего: &laquo;Мишель уже уснула? А&nbsp;ты? Ведь поздно
у&nbsp;вас уже. Да, ложись. Не&nbsp;ждите меня сегодня. А&nbsp;завтра
я&nbsp;вам все новые фотографии пришлю. И&nbsp;кактусы. Обязательно. Да,
я&nbsp;все твои задания выполнила&raquo;.</p>

<p class="ru">Солнечные бабочки на&nbsp;шкафу в&nbsp;вуалях занавесных теней,
запах старости в&nbsp;этой заставленной, редко проветриваемой квартире, где
никто не&nbsp;смеётся.</p>

<p class="ru">Или сидит в&nbsp;парке Гуэля, обняв согнутую в&nbsp;колене ногу,
и&nbsp;смотрит. Долго смотрит на&nbsp;спускающийся к&nbsp;морю песочный,
бежевый, белый город.</p>

<p class="ru">Квартира&mdash;это оплот, это порт, это гавань. Ей&nbsp;очень
хочется с&nbsp;плеском бросить якорь. &laquo;Вы&nbsp;понимаете, это была
чудестная квартира: две комнатки, малюсенькие.  А&nbsp;из&nbsp;окна, сильно
сбоку, если высунуться увидишь собор Гауди. А&nbsp;с&nbsp;другой стороны почти
живая скала.  Скала в&nbsp;городе. Вы&nbsp;представляете? В&nbsp;зелёных
островках с&nbsp;колючими лапами кактусов, попугаями. А&nbsp;потолки невысокие
в&nbsp;толстых морёных балках. Это была такая <i>моя</i> квартира! Я&nbsp;бы
смогла там жить. И&nbsp;если&nbsp;бы ещё кто-то тихонько так на&nbsp;гитаре
струны перебирал, или разучивал что-то негромко на&nbsp;саксофоне...&raquo;
&laquo;На&nbsp;гитаре я&nbsp;умею&raquo;, &mdash; вдруг охрипшим голосом сказал
я.</p>

<p class="ru">Она любит Гауди и&nbsp;Ле&nbsp;Корбюзье, Дюрера, Ван Гога, Дали,
автора психомагии и&nbsp;других проходимцев в&nbsp;искусстве. Она любит ходить
пешком и&nbsp;аккуратно складывать вещи.  &laquo;А&nbsp;знаете, один мой
знакомый, тот самый, кто помогает сдавать мне &bdquo;жилище художницы&ldquo;,
сегодня сказал, что я&nbsp;теперь по&nbsp;праву могу называться
Барселонетой&mdash;жительницей Барселоны. А&nbsp;вы&nbsp;как считаете?&raquo;
&laquo;Тогда я&nbsp;буду Барселонето?&raquo; &laquo;Я&nbsp;вчера ездила
в&nbsp;Жирону, встречалась с&nbsp;маклером и&nbsp;одним товарищем, который весь
год вёл меня и&nbsp;вдохновлял на&nbsp;эту поездку. И&nbsp;вот я отправляюсь
его поблагодарить и&nbsp;показать, что я&nbsp;это сделала, что вот
я&nbsp;здесь, в&nbsp;Барселоне. Мы&nbsp;пьём кофе&mdash;столик на&nbsp;воздухе,
булыжная мостовая, в&nbsp;подворотнях сушится бельё, колеблются, как флаги,
маркизы...  И&nbsp;вдруг этот гадё... товарищ начинает меня стращать:
&bdquo;Юнга, будьте осторожны, вы&nbsp;совсем одна, вы&nbsp;ещё ведь
не&nbsp;понимаете, как всё здесь устроено, никому не&nbsp;доверяйте, особенно
нашим!&ldquo; Разбила меня эта поездка окончательно. Хоть за&nbsp;окошком
поезда всё так радостно: поля, лошади, тракторы и&nbsp;иногда мельком радует
глаз синее море. Ты предупреждай, подготавливай, но&nbsp;сбивать настрой!
По-моему, это нечестно! И&nbsp;так мне стало тоскливо на&nbsp;душе, что
пришлось лечиться ананасом. Знаете, нарезанный уже, в&nbsp;дольках,
с&nbsp;прозрачной ложечкой. И&nbsp;вот, &mdash;она помахала полупустой
бутылкой сангрии. &mdash;Я&nbsp;хоть и&nbsp;экономлю, но&nbsp;без
фанатизма&raquo;.</p>

<p class="ru">Виски седые, а&nbsp;сам: &laquo;Юночка, разве можно было вот так,
безрассудно...&raquo;</p>

<p class="ru">Иногда вдруг богатое синее покрывало моря.</p>

<p class="ru">День лимонный по&nbsp;цвету и&nbsp;запаху, тип погоды первый, особо
благопрятный, на душе солнечно, и&nbsp;она отправляется на&nbsp;Монсеррат
стоять в&nbsp;очереди в&nbsp;три ряда, подниматься по&nbsp;мраморным ступеням
к&nbsp;статуе Богоматери с&nbsp;чёрным от&nbsp;страданий или пожара вытянутым
лицом, дотрагиваться до&nbsp;шара в&nbsp;её&nbsp;руках и&nbsp;страстно просить,
загадывать желание. &laquo;Ведь это вселенная у&nbsp;неё в&nbsp;руках.
Вы&nbsp;поняли, да?&raquo; &laquo;Не&nbsp;знаю: вселенная или нет,
но&nbsp;сегодня мы&nbsp;прикоснулись к&nbsp;тысячам человеческих желаний.
А&nbsp;это такая сила, энергия. Это чего-нибудь, да&nbsp;значит&raquo;.
&laquo;А&nbsp;интересно, что вы&nbsp;загадали?&raquo; &laquo;А&nbsp;вы?&raquo;
Я&nbsp;говорю: &laquo;Юнга, у&nbsp;вас всё обязательно получится. У&nbsp;вас
должно получиться!&raquo;</p>

<p class="ru">Дни проносятся, как окошки подземного поезда. И&nbsp;даже между окон двух
вагонов&nbsp;я вижу её&nbsp;на&nbsp;другой стороне платформы и&nbsp;слышу:
&laquo;Здесь испанский как-то удивительно ложится. Как это вы&nbsp;говорили:
&bdquo;Mirame... Escuchame...&ldquo;&raquo; И&nbsp;слава Богу у&nbsp;неё
хватило мудрости, выдержки не&nbsp;растратить все деньги, не&nbsp;расплескать
и&nbsp;уехать через неделю. В&nbsp;Барселону она больше никогда
не&nbsp;вернётся. Анечка, когда вырастет, станет такой.</p>
