---
layout: default
---
<article class="page">

  <header class="page-header">
    <h2 class="page-title">{{ page.title | escape }}</h2>
  </header>

  <div class="page-content">
    {{ content }}
  </div>

  <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

</article>
