---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h2 class="title" itemprop="name headline">{{ page.title | escape }}</h2>
      <!-- Display post subtitle -->
      {% if page.subtitle %}
        <h4 class="subtitle">{{ page.subtitle | escape }}</h4>
      {% endif %}
      <!-- Display post author -->
      <!-- {% if page.author %}
        <p class="post-meta"> • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span></p>
	{% endif %} -->
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <footer class="post-footer">
    <p class="post-meta">
      <!-- Display post location -->
      {% if page.alpha2 %}
        <span class="flag-icon flag-icon-{{ page.alpha2 }}"></span>
      {% endif %}
      <!-- Display post location -->
      {% if page.location %}
        {{ page.location }}</br>
      {% endif %}
      <!-- Display post date -->
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished"></time>
	{{ page.date | date: "%-d" }}
        {% assign month = page.date | date: "%-m" %}
        {% case month %}
          {% when '1' %}января
          {% when '2' %}февраля
          {% when '3' %}марта
          {% when '4' %}апреля
          {% when '5' %}мая
          {% when '6' %}июня
          {% when '7' %}июля
          {% when '8' %}августа
          {% when '9' %}сентября
          {% when '10' %}октября
          {% when '11' %}ноября
          {% when '12' %}декабря
        {% endcase %}
	{{ page.date | date: "%Y" }}
    </p>
  </footer>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
